.calendar-modal-component {
  max-width: 600px;
  overflow-x: hidden;

  .d-flex {
    display: flex;

    &.d-flex-row {
      flex-direction: row;
    }

    &.d-valign {
      align-items: center;
    }

    .d-flex-grow {
      flex-grow: 1;
    }
  }

  .w-100 {
    width: 100%;
  }

  .webcal-url-container {
    display: flex;
    align-items: center;
  }
  
  .webcal-options-card {
    margin-top: 1em;
    box-shadow: none;
    padding: 0;
  }
}
