.calendar-modal-component {
  max-width: 600px;
  overflow-x: hidden;

  .webcal-progress-spinner {
    margin: 0 auto;
  }

  .webcal-url-container {
    display: flex;
    align-items: center;
  }

  .webcal-options-card {
    margin-top: 1em;
    box-shadow: none;
    padding: 0;
  }

  .webcal-options-inclusions {
    padding: 0.8em 0 0.4em 0;
  }

  .webcal-options-inclusions-chips {
    padding-bottom: 1em;
  }
}
