@import "src/styles/mixins/flex-center";
//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
// $screen-xs:                  480px !default;
// //** Deprecated `$screen-xs-min` as of v3.2.0
// $screen-xs-min:              $screen-xs !default;
// //** Deprecated `$screen-phone` as of v3.0.1
// $screen-phone:               $screen-xs-min !default;

// // Small screen / tablet
// //** Deprecated `$screen-sm` as of v3.0.1
// $screen-sm:                  768px !default;
// $screen-sm-min:              $screen-sm !default;
// //** Deprecated `$screen-tablet` as of v3.0.1
// $screen-tablet:              $screen-sm-min !default;

// // Medium screen / desktop
// //** Deprecated `$screen-md` as of v3.0.1
// $screen-md:                  992px !default;
// $screen-md-min:              $screen-md !default;
// //** Deprecated `$screen-desktop` as of v3.0.1
// $screen-desktop:             $screen-md-min !default;

// // Large screen / wide desktop
// //** Deprecated `$screen-lg` as of v3.0.1
// $screen-lg:                  1200px !default;
// $screen-lg-min:              $screen-lg !default;
// //** Deprecated `$screen-lg-desktop` as of v3.0.1
// $screen-lg-desktop:          $screen-lg-min !default;

// // So media queries don't overlap when required, provide a maximum
// $screen-xs-max:              ($screen-sm-min - 1) !default;
// $screen-sm-max:              ($screen-md-min - 1) !default;
// $screen-md-max:              ($screen-lg-min - 1) !default;

.submission-wrap {
  height: 100%;
  display: flex;
}

.submission-main {
  flex: 1;
  display: flex;
  width: 100%;
}

@media (max-width: 992px) {
  .submission-main {
    flex-direction: column;
  }
}

.submission-sidenav, .submisson-result {
  overflow-y: scroll;
  padding: 1em 1em 0 1em;
}

mat-list.list-group {
  overflow-y: scroll;
}

.terminal-output {
  padding: 10px;
  margin: 1em 0 0 0;
  // margin-bottom: 0;
}

.submission-sidenav {
  flex: 1;
  width: 100%;
  padding: 0;
  display: inline-block;
  line-height: 1;
}

.submission-sidenav.panel.panel-primary{
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .submission-sidenav.panel.panel-primary{
    margin-bottom: 2em;
  }
}

.submission-sidenav .panel-heading {
  line-height: 2;
}

.submisson-result {
  flex: 3;
  height: 100%;
  padding-top: 0;

  padding-right: 0;
}
@media (max-width: 992px) {
  .submisson-result {
    padding-left: 0;
  }
}

.panel-heading.panel-title.submission-heading {
  position: sticky;
  top: 0;
  z-index: 2;
}

pre{
  white-space: pre-wrap;
}

mat-list, mat-nav-list{
  padding-top: 0;
  border-bottom-width: 1px;
  padding-bottom: 1px;
}

mat-tab-header.mat-tab-header {
  margin-bottom: 5px;
  position: sticky;
  top: 0;
  z-index: 2;
  background: white;
}


mat-tab-body.mat-tab-body.mat-tab-body-active {
  z-index: 1;
}

.submission-heading {
  border-radius: 0;
  background-color: #337ab7;
  color: white;
}

@mixin custom-box-shadow($color) {
  box-shadow: -15px 0 $color inset;
}

mat-list-item {
  border-bottom-width: 1px !important;
  border-color: #f5f5f5;
  transition: all 200ms ease-out;
  transition-property: box-shadow, padding-right;
  display: flex;
  &:hover, &:focus {
    cursor: pointer;
    text-decoration: none;
    background-color: #F5F5F5;
    @include custom-box-shadow(lighten(#0079D8, 15%));
  }
  &.selected {
    background-color: rgb(231, 231, 231);
    @include custom-box-shadow(#0079D8);
  }
}

.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-color: #f5f5f5;
  border-style: solid;
  border-radius: 0;
}

.panel .panel-heading {
  margin-bottom: 0;
  padding: 6px 15px;
}
