<div class="">
  <div class="flex">
    <div class="w-[300px]">
      <div class="">Submissions</div>
      <mat-list class="">
        @for (tab of tabs; track tab) {
          <mat-list-item
            [class.selected]="tab.timestampString === selectedTab.timestampString"
            (click)="openSubmission(tab)"
          >
            <div class="flex gap-3 justify-between items-center">
              <div>
                {{ tab.timestamp | humanizedDate }}
              </div>
              @if (tab.status === 'pre_queued') {
                <mat-icon>schedule</mat-icon>
              } @else {
                <status-icon [status]="tab.taskStatus"></status-icon>
              }
            </div>
          </mat-list-item>
        }
      </mat-list>
    </div>
    <div class="w-full">
      <mat-tab-group dynamicHeight>
        @for (selTab of selectedTab.content; track selTab) {
          <mat-tab label="{{ selTab.label }}">
            <pre class="terminal-output">{{ selTab.result }} </pre>
            <button
              mat-button
              mat-flat-button
              [hidden]="selTab.label !== 'Error'"
              (click)="triggerOverseer(selectedTab)"
            >
              Run Again
            </button>
          </mat-tab>
        }
      </mat-tab-group>
    </div>
  </div>
</div>
