<div class="activity-type-list-container">
  <div class="header">
    <div>
      <h3>Activities</h3>
      <p>Add new activities or modify existing ones</p>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortTableData($event)" class="mat-elevation-z3">

    <!-- Name Column -->
    <ng-container [formGroup]="formData" matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let activityType">
        <div *ngIf="!editing(activityType) else edit">
          {{activityType.name}}
        </div>
        <ng-template #edit>
          <mat-form-field class="data-entry">
            <input matInput required formControlName="name" placeholder="Name">
          </mat-form-field>
        </ng-template>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field class="data-entry">
          <input matInput required formControlName="name" placeholder="Name">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Abbreviation Column -->
    <ng-container [formGroup]="formData" matColumnDef="abbreviation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Abbreviation </th>
      <td mat-cell *matCellDef="let activityType">
        <div *ngIf="!editing(activityType) else edit">
          {{activityType.abbreviation}}
        </div>
        <ng-template #edit>
          <mat-form-field class="data-entry">
            <input matInput required formControlName="abbreviation" placeholder="Abbreviation">
          </mat-form-field>
        </ng-template>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field class="data-entry">
          <input matInput required formControlName="abbreviation" placeholder="Abbreviation">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Options Column -->
    <ng-container matColumnDef="options" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let activityType">
        <div class="right" *ngIf="!editing(activityType) else edit">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="flagEdit(activityType)">
              <mat-icon color="primary">edit</mat-icon>
              <span>Edit</span>
            </button>
          </mat-menu>
        </div>
        <ng-template #edit>
          <div class="edit-actions right">
            <span>
              <button mat-icon-button color="warn" (click)="cancelEdit()">
                <mat-icon>cancel</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="submit()">
                <mat-icon>save</mat-icon>
              </button>
            </span>
          </div>
        </ng-template>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <div class="edit-actions right">
          <button mat-icon-button (click)="submit()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    <tr [hidden]="selected" mat-footer-row *matFooterRowDef="columns"></tr>
  </table>
</div>
