<mat-card appearance="outlined">
  <mat-card-header class="flex w-full items-center justify-between">
    <mat-card-title class="w-full">
      {{ taskDefinition.abbreviation }} {{ taskDefinition.name }}
    </mat-card-title>
    <status-icon [status]="taskDefinition.projectTask(project).status"></status-icon>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle class="py-3"
      >Task Description:
      <p>{{ taskDefinition.description }}</p></mat-card-subtitle
    >
    <f-task-prerequisites-card
      [task]="task"
      [taskDefinition]="taskDefinition"
    ></f-task-prerequisites-card>
    @if (!task.hasPrerequisiteTasks()) {
      <div class="w-full p-3 text-center text-gray-400">This task has no prerequisites.</div>
    }
    <mat-divider class="my-3"></mat-divider>
    @if (dependents.length) {
      <mat-card appearance="outlined" class="mt-3">
        <mat-card-header>
          <mat-card-title>Required by</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-card-subtitle class="mb-2.5">
            <strong>{{ taskDefinition.abbreviation }} {{ taskDefinition.name }}</strong> is a
            prerequisite for the following tasks. In some cases,
            <strong>{{ taskDefinition.abbreviation }} {{ taskDefinition.name }}</strong> needs to
            reach the <strong>Discuss</strong> or <strong>Complete</strong> status, which requires
            tutor feedback. Plan ahead to avoid being locked out of submission.
          </mat-card-subtitle>
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="task-definition">
              <th *matHeaderCellDef mat-header-cell>Task</th>
              <td *matCellDef="let link" mat-cell>
                {{ link.taskDefinition?.abbreviation }} {{ link.taskDefinition?.name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="current-status">
              <th *matHeaderCellDef mat-header-cell>Submission Open</th>
              <td *matCellDef="let link" mat-cell>
                @if (link.taskDefinition.projectTask(project).blockedByPrerequisiteTasks()) {
                  <mat-icon>block_outlined</mat-icon>
                } @else {
                  <mat-icon>check_circle</mat-icon>
                }
                <!-- <status-icon
                matBadgePosition="before"
                [status]="link.taskDefinition?.projectTask(task?.project)?.status ?? 'not_started'"
              ></status-icon> -->
              </td>
            </ng-container>

            <ng-container matColumnDef="required-status">
              <th *matHeaderCellDef class="whitespace-nowrap" mat-header-cell>Required Status</th>
              <td *matCellDef="let link" mat-cell>
                <status-icon
                  matBadgePosition="before"
                  matTooltip=""
                  [status]="link.taskStatus ?? 'complete'"
                ></status-icon>
              </td>
            </ng-container>
            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
          </table>
        </mat-card-content>
      </mat-card>
    } @else {
      <div class="w-full p-3 text-center text-gray-400">
        This task is not a prerequisite for any other tasks.
      </div>
    }
  </mat-card-content>
</mat-card>
