<div class="flex flex-row gap-2.5">
  <div class="flex basis-1/2 flex-col">
    <f-file-drop
      mode="event"
      (filesDropped)="uploadTaskSheet($event)"
      accept="application/pdf"
      [desiredFileName]="'Task ' + taskDefinition.abbreviation + ' pdf'"
    />
    @if (taskDefinition.hasTaskSheet) {
      <div class="flex flex-row gap-2.5 pt-2.5">
        <button mat-flat-button color="warn" (click)="removeTaskSheet()" class="me-4 flex-grow">
          Delete Task Sheet
        </button>
        <button mat-flat-button color="accent" (click)="downloadTaskSheet()" class="ms-4 flex-grow">
          Download Task Sheet
        </button>
      </div>
    }
  </div>
  <div class="flex basis-1/2 flex-col">
    <f-file-drop
      mode="event"
      (filesDropped)="uploadTaskResources($event)"
      accept="application/zip,application/x-zip-compressed"
      [desiredFileName]="'Task ' + taskDefinition.abbreviation + ' zip'"
    />
    @if (taskDefinition.hasTaskResources) {
      <div class="flex flex-row gap-2.5 pt-2.5">
        <button mat-flat-button color="warn" (click)="removeTaskResources()" class="me-4 flex-grow">
          Delete Task Zip
        </button>
        <button
          mat-flat-button
          color="accent"
          (click)="downloadTaskResources()"
          class="ms-4 flex-grow"
        >
          Download Task Zip
        </button>
      </div>
    }
  </div>
</div>
