.unit-student-portfolio-list {
  .select-portfolio-grade.btn-group {
    @media (min-width: $screen-sm-max) {
      margin: auto 1.2ex;
    }
    label.btn {
      padding: 4px 7px;
      font-size: 0.9em;
      height: 34px;
    }
  }
}
