<div class="mx-auto max-w-[90vw]">
  @if (unit) {
    <mat-tab-group
      class="mx-auto mb-6 max-w-fit"
      dynamicHeight
      [selectedIndex]="currentIndex"
      (selectedTabChange)="onTabChange($event)"
    >
      @for (tab of tabs; track tab.routeSegment) {
        <mat-tab [disabled]="tab.requiresProject && !selectedProject" [label]="tab.label"></mat-tab>
      }
    </mat-tab-group>

    <div class="min-h-0 flex-1">
      @switch (currentTab.routeSegment) {
        @case ('select') {
          <f-portfolios-list
            [loading]="loadingStudents"
            [unit]="unit"
            (studentSelected)="studentSelected($event)"
          ></f-portfolios-list>
        }
        @case ('progress') {
          @if (selectedProject) {
            <f-portfolios-project-progress
              [project]="selectedProject"
              [project$]="selectedProject$"
              [taskSelectionUrlBase]="progressTaskSelectionUrlBase"
              [unit]="unit"
            ></f-portfolios-project-progress>
          }
        }
        @case ('staff-notes') {
          @if (selectedProject) {
            <f-staff-notes class="h-screen" [project]="selectedProject"></f-staff-notes>
          }
        }
        @case ('portfolio') {
          @if (selectedProject) {
            <f-portfolios-portfolio-view [project]="selectedProject"></f-portfolios-portfolio-view>
          }
        }
        @case ('assessment') {
          @if (selectedProject) {
            <f-portfolios-assessment
              [project]="selectedProject"
              [unit]="unit"
            ></f-portfolios-assessment>
          }
        }
      }
    </div>
  }
</div>
