.unit-student-portfolio-list {
  .select-portfolio-grade.btn-group {
    @media (min-width: $screen-sm-max) {
      margin: auto 1.2ex;
    }
    label.btn {
      padding: 4px 7px;
      font-size: 0.9em;
      height: 34px;
    }
  }
}

.grade-icon {
  color: #fff;
  font-size: 1em;
  border-radius: 100%;
  width: 2.25em;
  height: 2.25em;
  font-weight: 100;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
}
