<div class="rounded-xl border border-gray-200 bg-white p-3.5 shadow">
  <div class="mb-0.5">
    <h4 class="text-base font-bold text-gray-900">Edit Feedback Templates for Outcome</h4>

    <div class="flex flex-col gap-5">
      <table
        #templateTable
        class="f-table selectable flex-grow"
        mat-table
        matSort
        [dataSource]="templateSource"
        (matSortChange)="sortTemplateData($event)"
      >
        <ng-container matColumnDef="icon" sticky>
          <th *matHeaderCellDef mat-header-cell></th>
          <td
            *matCellDef="let feedbackTemplate"
            class="pr-0"
            mat-cell
            (click)="selectFeedbackTemplate(feedbackTemplate)"
          >
            @if (feedbackTemplate.type === 'group') {
              <mat-icon>folder</mat-icon>
            }
            @if (feedbackTemplate.type === 'template') {
              <mat-icon>description</mat-icon>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="parent" sticky>
          <th *matHeaderCellDef mat-header-cell>Parent</th>
          <td
            *matCellDef="let feedbackTemplate"
            mat-cell
            (click)="selectFeedbackTemplate(feedbackTemplate)"
          >
            {{ getParentChipText(feedbackTemplate.parentChipId) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="chipText" sticky>
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Chip Text</th>
          <td
            *matCellDef="let feedbackTemplate"
            mat-cell
            (click)="selectFeedbackTemplate(feedbackTemplate)"
          >
            {{ feedbackTemplate.chipText }}
          </td>
        </ng-container>
        <ng-container matColumnDef="description" sticky>
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Description</th>
          <td
            *matCellDef="let feedbackTemplate"
            mat-cell
            (click)="selectFeedbackTemplate(feedbackTemplate)"
          >
            {{ feedbackTemplate.description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="commentText" sticky>
          <th *matHeaderCellDef mat-header-cell>Comment Text</th>
          <td
            *matCellDef="let feedbackTemplate"
            mat-cell
            (click)="selectFeedbackTemplate(feedbackTemplate)"
          >
            {{ feedbackTemplate.commentText }}
          </td>
        </ng-container>
        <ng-container matColumnDef="summaryText" sticky>
          <th *matHeaderCellDef mat-header-cell>Summary Text</th>
          <td
            *matCellDef="let feedbackTemplate"
            mat-cell
            (click)="selectFeedbackTemplate(feedbackTemplate)"
          >
            {{ feedbackTemplate.type === 'group' ? '' : feedbackTemplate.summaryText }}
          </td>
        </ng-container>
        <ng-container matColumnDef="taskStatus" sticky>
          <th *matHeaderCellDef mat-header-cell>Task Status</th>
          <td
            *matCellDef="let feedbackTemplate"
            mat-cell
            (click)="selectFeedbackTemplate(feedbackTemplate)"
          >
            @if (feedbackTemplate.taskStatus) {
              <mat-chip>
                <mat-icon matChipAvatar>
                  {{ taskService.statusData(feedbackTemplate.taskStatus).materialIcon }}
                </mat-icon>
                {{ taskService.statusData(feedbackTemplate.taskStatus).label }}
              </mat-chip>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="feedbackTemplateAction" sticky>
          <th *matHeaderCellDef mat-header-cell></th>
          <td
            *matCellDef="let feedbackTemplate"
            mat-cell
            (click)="selectFeedbackTemplate(feedbackTemplate)"
          >
            @if (feedbackTemplateHasChanges(feedbackTemplate)) {
              <button
                aria-label="save feedback template"
                color="primary"
                mat-icon-button
                (click)="saveFeedbackTemplate(feedbackTemplate)"
              >
                <mat-icon>save</mat-icon>
              </button>
            }
            <button
              aria-label="delete feedback template"
              color="warn"
              mat-icon-button
              (click)="deleteFeedbackTemplate(feedbackTemplate)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="templateColumns" mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: templateColumns"
          mat-row
          [style.background]="selectedTemplate === row ? 'lightblue' : ''"
        ></tr>
      </table>

      <span class="flex items-center">
        <div class="h-12">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Filter" (keyup)="applyFilter($event.target.value)" />
          </mat-form-field>
        </div>
        <mat-paginator
          class="mat-elevation-z0"
          [pageSizeOptions]="[5, 10, 25, 100]"
        ></mat-paginator>
        <span class="flex-grow"></span>
        @if (context) {
          <label>Feedback CSV</label>
          <button mat-icon-button (click)="downloadCsv()">
            <mat-icon>download</mat-icon>
          </button>
          <button mat-icon-button (click)="uploadCsv()">
            <mat-icon>upload_file</mat-icon>
          </button>
          <span class="flex-grow"></span>
        }
        <button color="primary" mat-raised-button (click)="createFeedbackTemplate()">
          Add Template
        </button>
      </span>

      @if (selectedTemplate) {
        <div>
          <h4 class="mt-0.5 text-base font-bold text-gray-900">Edit Template</h4>

          <div class="flex flex-row gap-2.5">
            @if (selectedTemplate.isNew) {
              <mat-form-field appearance="outline" class="basis-1/5">
                <mat-label>Type</mat-label>
                <mat-select
                  required
                  [value]="selectedTemplate.type"
                  (selectionChange)="onTemplateTypeChange($event)"
                >
                  <mat-option [value]="'group'">Group</mat-option>
                  <mat-option [value]="'template'">Template</mat-option>
                </mat-select>
              </mat-form-field>
            }

            <mat-form-field appearance="outline" class="basis-1/5">
              <mat-label>Parent</mat-label>
              <mat-select [(ngModel)]="selectedTemplate.parentChipId">
                @for (parent of getPossibleParents(); track parent) {
                  <mat-option [value]="parent.id">
                    {{ parent.chipText }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="basis-1/5">
              <mat-label>Chip Text</mat-label>
              <input
                matInput
                maxlength="20"
                pattern=".*\S.*"
                placeholder="Short text shown on the chip"
                required
                [(ngModel)]="selectedTemplate.chipText"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex-grow">
              <mat-label>Description</mat-label>
              <input
                matInput
                maxlength="116"
                pattern=".*\S.*"
                placeholder="Description of the feedback template"
                required
                [(ngModel)]="selectedTemplate.description"
              />
            </mat-form-field>
          </div>

          @if (selectedTemplate.type === 'template') {
            <mat-form-field appearance="outline" class="flex flex-grow">
              <mat-label>Comment Text</mat-label>
              <textarea
                matInput
                pattern=".*\S.*"
                placeholder="Feedback text that is added to the comment area"
                required
                [(ngModel)]="selectedTemplate.commentText"
              >
              </textarea>
            </mat-form-field>

            <div class="flex flex-row gap-2.5">
              <mat-form-field appearance="outline" class="flex-grow">
                <mat-label>Summary Text</mat-label>
                <input
                  matInput
                  pattern=".*\S.*"
                  placeholder="Summary of the feedback"
                  required
                  [(ngModel)]="selectedTemplate.summaryText"
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="basis-1/3">
                <mat-label>Task Status</mat-label>
                <mat-select [(ngModel)]="selectedTemplate.taskStatus">
                  <mat-option [value]="null"></mat-option>
                  @for (status of taskService.feedbackTemplateStatuses; track status) {
                    <mat-option [value]="status">
                      {{ taskService.statusData(status).label }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          }

          <div class="flex">
            <span class="flex-grow"></span>
            <button
              color="primary"
              mat-raised-button
              (click)="saveFeedbackTemplate(selectedTemplate)"
            >
              Save Template
            </button>
          </div>
        </div>
      }
    </div>
  </div>
</div>
