<div class="bg-white border border-gray-200 rounded-xl shadow p-6">
  <div class="mb-1">
    <h4 class="font-bold text-2xl text-gray-900">Edit Feedback Templates for Outcome</h4>

    <div class="flex flex-col gap-8">
      <table
        #templateTable
        class="flex-grow f-table selectable"
        mat-table
        [dataSource]="templateSource"
        matSort
        (matSortChange)="sortTemplateData($event)"
      >
        <ng-container matColumnDef="icon" sticky>
          <th mat-header-cell *matHeaderCellDef></th>
          <td
            mat-cell
            *matCellDef="let feedbackTemplate"
            (click)="selectFeedbackTemplate(feedbackTemplate)"
            class="pr-0"
          >
            <ng-container *ngIf="feedbackTemplate.type === 'group'">
              <mat-icon>folder</mat-icon>
            </ng-container>
            <ng-container *ngIf="feedbackTemplate.type === 'template'">
              <mat-icon>description</mat-icon>
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="parent" sticky>
          <th mat-header-cell *matHeaderCellDef>Parent</th>
          <td
            mat-cell
            *matCellDef="let feedbackTemplate"
            (click)="selectFeedbackTemplate(feedbackTemplate)"
          >
            {{ getParentChipText(feedbackTemplate.parentChipId) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="chipText" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Chip Text</th>
          <td
            mat-cell
            *matCellDef="let feedbackTemplate"
            (click)="selectFeedbackTemplate(feedbackTemplate)"
          >
            {{ feedbackTemplate.chipText }}
          </td>
        </ng-container>
        <ng-container matColumnDef="description" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td
            mat-cell
            *matCellDef="let feedbackTemplate"
            (click)="selectFeedbackTemplate(feedbackTemplate)"
          >
            {{ feedbackTemplate.description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="commentText" sticky>
          <th mat-header-cell *matHeaderCellDef>Comment Text</th>
          <td
            mat-cell
            *matCellDef="let feedbackTemplate"
            (click)="selectFeedbackTemplate(feedbackTemplate)"
          >
            {{ feedbackTemplate.commentText }}
          </td>
        </ng-container>
        <ng-container matColumnDef="summaryText" sticky>
          <th mat-header-cell *matHeaderCellDef>Summary Text</th>
          <td
            mat-cell
            *matCellDef="let feedbackTemplate"
            (click)="selectFeedbackTemplate(feedbackTemplate)"
          >
            {{ feedbackTemplate.type === 'group' ? '' : feedbackTemplate.summaryText }}
          </td>
        </ng-container>
        <ng-container matColumnDef="taskStatus" sticky>
          <th mat-header-cell *matHeaderCellDef>Task Status</th>
          <td
            mat-cell
            *matCellDef="let feedbackTemplate"
            (click)="selectFeedbackTemplate(feedbackTemplate)"
          >
            @if (feedbackTemplate.taskStatus) {
              <mat-chip>
                <i class="fa {{ taskService.statusData(feedbackTemplate.taskStatus).icon }}"></i>
                {{ taskService.statusData(feedbackTemplate.taskStatus).label }}
              </mat-chip>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="feedbackTemplateAction" sticky>
          <th mat-header-cell *matHeaderCellDef></th>
          <td
            mat-cell
            *matCellDef="let feedbackTemplate"
            (click)="selectFeedbackTemplate(feedbackTemplate)"
          >
            @if (feedbackTemplateHasChanges(feedbackTemplate)) {
              <button
                mat-icon-button
                aria-label="save feedback template"
                color="primary"
                (click)="saveFeedbackTemplate(feedbackTemplate)"
              >
                <mat-icon>save</mat-icon>
              </button>
            }
            <button
              mat-icon-button
              aria-label="delete feedback template"
              color="warn"
              (click)="deleteFeedbackTemplate(feedbackTemplate)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="templateColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: templateColumns"
          [style.background]="selectedTemplate === row ? 'lightblue' : ''"
        ></tr>
      </table>

      <span class="flex items-center">
        <div class="h-20">
          <mat-form-field appearance="outline">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
          </mat-form-field>
        </div>
        <mat-paginator
          class="mat-elevation-z0"
          [pageSizeOptions]="[5, 10, 25, 100]"
        ></mat-paginator>
        <span class="flex-grow"></span>
        @if (context) {
          <label>Feedback CSV</label>
          <button mat-icon-button (click)="downloadCsv()">
            <mat-icon>download</mat-icon>
          </button>
          <button mat-icon-button (click)="uploadCsv()">
            <mat-icon>upload_file</mat-icon>
          </button>
          <span class="flex-grow"></span>
        }
        <button mat-raised-button color="primary" (click)="createFeedbackTemplate()">
          Add Template
        </button>
      </span>

      @if (selectedTemplate) {
        <div>
          <h4 class="mt-1 font-bold text-2xl text-gray-900">Edit Template</h4>

          <div class="flex flex-row gap-4">
            @if (selectedTemplate.isNew) {
              <mat-form-field appearance="outline" class="basis-1/5">
                <mat-label>Type</mat-label>
                <mat-select
                  required
                  [value]="selectedTemplate.type"
                  (selectionChange)="onTemplateTypeChange($event)"
                >
                  <mat-option [value]="'group'">Group</mat-option>
                  <mat-option [value]="'template'">Template</mat-option>
                </mat-select>
              </mat-form-field>
            }

            <mat-form-field appearance="outline" class="basis-1/5">
              <mat-label>Parent</mat-label>
              <mat-select [(ngModel)]="selectedTemplate.parentChipId">
                <mat-option *ngFor="let parent of getPossibleParents()" [value]="parent.id">
                  {{ parent.chipText }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="basis-1/5">
              <mat-label>Chip Text</mat-label>
              <input
                matInput
                required
                pattern=".*\S.*"
                [(ngModel)]="selectedTemplate.chipText"
                maxlength="20"
                placeholder="Short text shown on the chip"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex-grow">
              <mat-label>Description</mat-label>
              <input
                matInput
                required
                pattern=".*\S.*"
                [(ngModel)]="selectedTemplate.description"
                maxlength="116"
                placeholder="Description of the feedback template"
              />
            </mat-form-field>
          </div>

          @if (selectedTemplate.type === 'template') {
            <mat-form-field appearance="outline" class="flex flex-grow">
              <mat-label>Comment Text</mat-label>
              <textarea
                matInput
                required
                pattern=".*\S.*"
                [(ngModel)]="selectedTemplate.commentText"
                placeholder="Feedback text that is added to the comment area"
              >
              </textarea>
            </mat-form-field>

            <div class="flex flex-row gap-4">
              <mat-form-field appearance="outline" class="flex-grow">
                <mat-label>Summary Text</mat-label>
                <input
                  matInput
                  required
                  pattern=".*\S.*"
                  [(ngModel)]="selectedTemplate.summaryText"
                  placeholder="Summary of the feedback"
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="basis-1/3">
                <mat-label>Task Status</mat-label>
                <mat-select [(ngModel)]="selectedTemplate.taskStatus">
                  <mat-option [value]="null"></mat-option>
                  <mat-option
                    *ngFor="let status of taskService.feedbackTemplateStatuses"
                    [value]="status"
                  >
                    {{ taskService.statusData(status).label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          }

          <div class="flex">
            <span class="flex-grow"></span>
            <button
              mat-raised-button
              color="primary"
              (click)="saveFeedbackTemplate(selectedTemplate)"
            >
              Save Template
            </button>
          </div>
        </div>
      }
    </div>
  </div>
</div>
