<ul class="breadcrumb">
    <li><a href="#/home">Home</a></li>
    <li>Administrator</li>
    <li class="active">Manage Units</li>
</ul>
<div class="root-view" id="admin-units">
  <div class="col-sm-8 col-sm-offset-2">
  	<div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">Units</h4>
        Modify units registered with Doubtfire
      </div>
      <div class="panel-body">
        <div class="callout callout-info" ng-hide="units.length > 0">No units have been registered with Doubtfire yet</div>
        <table ng-show="units.length > 0" class="table table-condensed table-hover table-pointer">
         <thead>
           <tr>
             <th>Code</th>
             <th>Name</th>
             <th>Start Date</th>
             <th>End Date</th>
             <th>Active</th>
           </tr>
         </thead>
         <tbody>
         <tr ng-repeat="unit in units" ng-click="showUnit(unit)" >
           <td>{{unit.code}}</td>
           <td>{{unit.name}}</td>
           <td>{{unit.start_date | date: short }}</td>
           <td>{{unit.end_date | date: short }}</td>
           <td>
             <i ng-show="unit.active" class="fa fa-check"></i>
             <i ng-hide="unit.active" class="fa fa-times"></i>
           </td>
         </tr>
         </tbody>
        </table>
      </div>
      <div class="panel-footer clearfix">
        <button class="btn btn-success pull-right" ng-click="createUnit()">
          <i class="fa fa-university"></i>
          <i class="fa fa-plus"></i>
           Create Unit
        </button>
      </div>
    </div>
  </div>
</div>
