<div>
  	<ul class="breadcrumb">
      	<li><a href="#/home">Units</a></li>
      	<li class="active">{{unitRole.unit_name}} {{unitRole.role}}</li>
  	</ul>
  	<div class="col-md-offset-2 col-md-8" ng-if="unitRole.role != 'Student'">
      <h2>{{unit.name}} <small>{{unit.code}}</small><p class="lead"> Teacher View</p></h2>
      <tabset ng-if="unitLoaded">
        <tab heading="My Students" ng-click="closeAllStudents()">
          <tutor-student-list unit-role="unitRole" unit="unit" unit-loaded="unitLoaded" student-filter="'myStudents'"></tutor-student-list>
        </tab>
        <tab heading="All Students" ng-click="closeAllStudents()">
      		<tutor-student-list unit-role="unitRole" unit="unit" unit-loaded="unitLoaded" student-filter="'allStudents'"></tutor-student-list>
        </tab>
        <tab heading="Groups" ng-if="unit.group_sets.length > 0">
          <tutor-group-tab></tutor-group-tab>
        </tab>
        <tab heading="Marking">
          <tutor-marking-context></tutor-marking-context>
        </tab>
        <tab heading="Portfolios">
          <unit-portfolios></unit-portfolios>
        </tab>
        <tab heading="Plagiarism">
          <unit-plagiarism-tab></unit-plagiarism-tab>
        </tab>
        <tab heading="Task Stats">
          <task-summary-stats unit="unit"></task-summary-stats>
        </tab>
      </tabset>
  	</div>
</div>