<div ng-if="unitRole.role != 'Student'">
  <ul class="breadcrumb">
      <li><a href="#/home">Units</a></li>
      <li class="active">{{unitRole.unit_name}} {{unitRole.role}}</li>
  </ul><!--breadcrumbs-->
  <div class="root-view">
    <h2>{{unit.name}} <small>{{unit.code}}</small><p class="lead"> Teacher View</p></h2>
    <tabset class="tabset-icon" justified="true" ng-if="unitLoaded">
      <tab ng-repeat="tab in tabs | toArray | orderBy: seq" active="tab.active" ng-click="setActiveTab(tab)">
        <tab-heading>
          <i class="fa fa-2x {{tab.icon}}"></i> {{tab.title}}
        </tab-heading>
      </tab>
    </tabset><!--tabs-->
    <div ng-if="unitLoaded">
      <tutor-marking-context  ng-if="activeTab === tabs.feedbackTab"></tutor-marking-context>
      <tutor-student-list  ng-if="activeTab === tabs.studentsTab" unit-role="unitRole" unit="unit" unit-loaded="unitLoaded"></tutor-student-list>
      <tutor-task-feedback-view  ng-if="activeTab === tabs.tasksTab" unit="unit" context="'task'" assessing-unit-role="assessingUnitRole"></tutor-task-feedback-view>
      <tutor-group-tab ng-if="activeTab === tabs.groupsTab"></tutor-group-tab>
      <unit-plagiarism-tab  ng-if="activeTab === tabs.plagiarismTab"></unit-plagiarism-tab>
      <unit-analytics  ng-if="activeTab === tabs.analyticsTab"></unit-analytics>
      <portfolio-marking-context ng-if="activeTab === tabs.gradingTab"></portfolio-marking-context>
    </div><!--content-->
  </div>
</div>
