<ul class="breadcrumb">
    <li><a href="#/home">Home</a></li>
    <li>Administrator</li>
    <li><a href="#/admin/units">Manage Units</a></li>
    <li class="active">{{unit.id == -1 ? 'New Unit' : unit.name}}</li>
</ul>
<div class="root-view" id="unit">
  <div ng-hide="unit.id == -1">
    <h3>Edit {{unit.name}}</h3>
  </div>
  <div ng-show="unit.id == -1">
    <h3>Create Unit</h3>
  </div>
  <tabset justified="true" class="tabset-icon">
    <tab>
      <tab-heading>
        <i class="fa fa-university fa-2x"></i> Unit
      </tab-heading>
      <admin-unit-context unit="unit"></admin-unit-context>
    </tab>
    <tab>
      <tab-heading>
        <i class="fa fa-graduation-cap fa-2x"></i> Learning Outcomes
      </tab-heading>
      <admin-unit-ilos></admin-unit-ilos>
    </tab>
    <tab>
      <tab-heading>
        <i class="fa fa-male fa-2x"></i> Staff
      </tab-heading>
      <staff-admin-unit-context></staff-admin-unit-context>
    </tab>
    <tab>
      <tab-heading>
        <i class="fa fa-pencil fa-2x"></i> Tutorials
      </tab-heading>
      <tutorial-unit-context></tutorial-unit-context>
    </tab>
    <tab>
      <tab-heading>
        <i class="fa fa-user fa-2x"></i> Users
      </tab-heading>
      <enrol-students-context></enrol-students-context>
    </tab>
    <tab>
      <tab-heading>
        <i class="fa fa-tasks fa-2x"></i> Tasks
      </tab-heading>
      <task-admin-unit-context ng-if="unit"></task-admin-unit-context>
    </tab>
    <tab>
      <tab-heading>
        <i class="fa fa-users fa-2x"></i> Groups
      </tab-heading>
      <unit-admin-groupset-tab ng-if="unit"></unit-admin-groupset-tab>
    </tab>
  </tabset>
</div>
