<ul class="breadcrumb">
    <li><a href="#/home">Home</a></li>
    <li>Administrator</li>
    <li><a href="#/admin/units">Manage Units</a></li>
    <li class="active">{{unit.id == -1 ? 'New Unit' : unit.name}}</li>
</ul>
<div class="root-view" id="unit">
  <div ng-hide="unit.id == -1">
    <h3>Edit {{unit.name}}</h3>
  </div>
  <div ng-show="unit.id == -1">
    <h3>Create Unit</h3>
  </div>
  <tabset>
    <tab heading="Unit">
      <admin-unit-context unit="unit"></admin-unit-context>
    </tab>
    <tab heading="ILOs">
      <admin-unit-ilos></admin-unit-ilos>
    </tab>
    <tab heading="Staff">
      <staff-admin-unit-context></staff-admin-unit-context>
    </tab>
    <tab heading="Tutorials">
      <tutorial-unit-context></tutorial-unit-context>
    </tab>
    <tab heading="Students">
      <enrol-students-context></enrol-students-context>
    </tab>
    <tab heading="Tasks">
      <task-admin-unit-context ng-if="unit"></task-admin-unit-context>
    </tab>
    <tab heading="Groups">
      <unit-admin-groupset-tab ng-if="unit"></unit-admin-groupset-tab>
    </tab>
  </tabset>
</div>
