<div class="h-[calc(100%-154px)] p-2.5">
  <div class="flex items-center">
    <mat-icon class="mr-1">comment</mat-icon>
    <h1 class="mat-headline m-0">Moderation Notes for {{ unitRole?.user?.name }}</h1>
  </div>
  @if (task) {
    <p>
      {{ task.definition.abbreviation }} {{ task.definition.name }} ({{
        task.project.student.name
      }})
    </p>
  }
  <p>
    Notes left here are for staff-only discussion about the feedback given to the student. Use this
    space to question, clarify, or discuss the tutor’s feedback. These notes are visible to
    {{ unitRole?.user?.name }} and other convenors.
  </p>

  <f-tutor-notes [task]="task" [unitRole]="unitRole"></f-tutor-notes>
</div>
