.project-portfolio-wizard .panel-body .portfolio-tasks-step {
  // override with !important to override mixins in project-portfolio-wizard.scss
  margin: 0 auto !important;
  width: 90% !important;
  float: none !important;
}
