.project-portfolio-wizard .panel-body .portfolio-review-step {
  &.expanded {
    // override with !important to override mixins in project-portfolio-wizard.scss
    margin: 0 auto !important;
    width: 100% !important;
    float: none !important;
    padding: 0 !important;
  }

  .pdf-viewer-panel {
    border-top: 1px solid $brand-primary;
    border-bottom: 1px solid $brand-primary;
    margin-top: 2em;
  }

  .portfolio-tool-buttons {
    margin-top: 2em;
  }
}
