<div class="modal-complete">
  <mat-card-header class="modal-heading-container">
    <mat-card-title class="modal-heading">Create Unit</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="modal-content-container">
      <div class="modal-container">
        <div>
          <p>Name</p>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput type="text" [(ngModel)]="unit.name" />
        </mat-form-field>
      </div>
      <div class="modal-container">
        <div>
          <p>Code</p>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Code</mat-label>
          <input matInput type="text" [(ngModel)]="unit.code" />
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="card-actions">
    <input
      type="button"
      class="btn btn-primary"
      value="Save"
      (click)="saveUnit()"
      [disabled]="unit.name === null || unit.code === null"
    />
  </mat-card-actions>
</div>
