.mat-icon {
  color: black;
  overflow: initial;
}

.task-dropdown-heading {
  font-family: 'Grotesk';
  // light font
  font-size: 14px;
  padding-left: 16px;
  padding-top: 6px;
  margin-bottom: 0;
}

.mat-icon.f-breadcrumb {
  color: rgb(221, 221, 221);
}
