<div fxLayout="row" fxLayoutAlign=" center">
  <span
    fxLayout="row"
    fxLayoutAlign=" center"
    *ngIf="currentView === 'PROJECT' && currentProject !== null && currentUnit.currentUserIsStaff"
  >
    <div style="color: rgb(216, 216, 216)">/</div>
    <button #menuState="matMenuTrigger" mat-button [matMenuTriggerFor]="menu">
      Staff Tasks <mat-icon>{{ menuState.menuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }} </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button uiSref="units/tasks/inbox" [uiParams]="{ unitId: currentUnit.id }" mat-menu-item>
        <mat-icon aria-hidden="false" aria-label="Inbox icon" fontIcon="inbox"></mat-icon> Inbox
      </button>
      <button mat-menu-item uiSref="units/tasks/definition" [uiParams]="{ unitId: currentUnit.id }">
        <mat-icon aria-hidden="false" aria-label="Task Explorer Icon" fontIcon="pageview"></mat-icon> Explorer
      </button>
      <button mat-menu-item uiSref="units/tasks/viewer" [uiParams]="{ unitId: currentUnit.id }">
        <mat-icon aria-hidden="false" aria-label="Task list icon" fontIcon="list_alt"></mat-icon> Tasks
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item uiSref="units/students/list" [uiParams]="{ unitId: currentUnit.id }">
        <mat-icon aria-hidden="false" aria-label="Students list" fontIcon="group"></mat-icon> Students
      </button>
      <button mat-menu-item uiSref="units/students/groups" [uiParams]="{ unitId: currentUnit.id }">
        <mat-icon aria-hidden="false" aria-label="Student Groups" fontIcon="groups"></mat-icon> Groups
      </button>
      <button mat-menu-item uiSref="units/students/plagiarism" [uiParams]="{ unitId: currentUnit.id }">
        <mat-icon aria-hidden="false" aria-label="Student similarity icon" fontIcon="crisis_alert"></mat-icon>
        Similarities
      </button>
      <button mat-menu-item uiSref="units/students/portfolios" [uiParams]="{ unitId: currentUnit.id }">
        <mat-icon aria-hidden="false" aria-label="Student portfolios icon" fontIcon="collections_bookmark"></mat-icon>
        Portfolios
      </button>
      <span>
        <mat-divider></mat-divider>
        <button mat-menu-item uiSref="units/analytics" [uiParams]="{ unitId: currentUnit.id }">
          <mat-icon aria-hidden="false" aria-label="Unit Analytics icon" fontIcon="insights"></mat-icon>Analytics
        </button>
        <button
          *ngIf="currentUnit.currentUserIsConvenor"
          mat-menu-item
          uiSref="units/admin"
          [uiParams]="{ unitId: currentUnit.id }"
        >
          <mat-icon aria-hidden="false" aria-label="Unit Administration" fontIcon="admin_panel_settings"></mat-icon>
          Administration
        </button>
      </span>
    </mat-menu>
  </span>

  <ng-container *ngIf="currentActivity">
    <span style="color: rgb(216, 216, 216)">/</span>
    <button mat-button [matMenuTriggerFor]="menu2" #menuState="matMenuTrigger">
      {{ menuText }} <mat-icon>{{ menuState.menuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }} </mat-icon>
    </button>
    <mat-menu #menu2="matMenu">
      <ng-container *ngIf="currentProject !== null && currentView === 'PROJECT'">
        <button uiSref="projects/dashboard" [uiParams]="{ projectId: currentProject.id, taskAbbr: '' }" mat-menu-item>
          <mat-icon aria-hidden="false" aria-label="Dashboard icon" fontIcon="dashboard"></mat-icon> Dashboard
        </button>
        <mat-divider></mat-divider>
        <button uiSref="projects/outcomes" [uiParams]="{ projectId: currentProject.id, taskAbbr: '' }" mat-menu-item>
          <mat-icon aria-hidden="false" aria-label="learning outcomes icon" fontIcon="flag"></mat-icon> Learning
          Outcomes
        </button>
        <button uiSref="projects/portfolio" [uiParams]="{ projectId: currentProject.id, taskAbbr: '' }" mat-menu-item>
          <mat-icon aria-hidden="false" aria-label="Portfolio creation icon" fontIcon="auto_stories"></mat-icon>
          Portfolio Creation
        </button>
        <mat-divider></mat-divider>
        <button uiSref="projects/groups" [uiParams]="{ projectId: currentProject.id, taskAbbr: '' }" mat-menu-item>
          <mat-icon aria-hidden="false" aria-label="Groups list icon" fontIcon="groups"></mat-icon> Groups List
        </button>
        <button uiSref="projects/tutorials" [uiParams]="{ projectId: currentProject.id, taskAbbr: '' }" mat-menu-item>
          <mat-icon aria-hidden="false" aria-label="Tutorial List icon" fontIcon="meeting_room"></mat-icon> Tutorial
          List
        </button>
      </ng-container>
      <ng-container *ngIf="unitRole && currentView === 'UNIT'">
        <!-- <p class="task-dropdown-heading">Tasks</p> -->
        <button
          uiSref="units/tasks/inbox"
          [uiParams]="{ unitId: unitRole.unit.id }"
          mat-menu-item
          *ngIf="unitRole.role !== 'Admin'"
        >
          <mat-icon aria-hidden="false" aria-label="Inbox icon" fontIcon="inbox"></mat-icon> Inbox
        </button>
        <button
          uiSref="units/tasks/definition"
          [uiParams]="{ unitId: unitRole.unit.id }"
          mat-menu-item
          *ngIf="unitRole.role !== 'Admin'"
        >
          <mat-icon aria-hidden="false" aria-label="Task Explorer Icon" fontIcon="pageview"></mat-icon> Explorer
        </button>
        <button
          uiSref="units/tasks/viewer"
          [uiParams]="{ unitId: unitRole.unit.id }"
          mat-menu-item
          *ngIf="unitRole.role !== 'Admin'"
        >
          <mat-icon aria-hidden="false" aria-label="Task list icon" fontIcon="list_alt"></mat-icon> Tasks
        </button>
        <mat-divider *ngIf="unitRole.role !== 'Admin'"></mat-divider>
        <!-- <p class="task-dropdown-heading">Students</p> -->
        <button
          uiSref="units/students/list"
          [uiParams]="{ unitId: unitRole.unit.id }"
          mat-menu-item
          *ngIf="unitRole.role !== 'Admin'"
        >
          <mat-icon aria-hidden="false" aria-label="Students list" fontIcon="group"></mat-icon> Students
        </button>
        <button
          uiSref="units/students/groups"
          [uiParams]="{ unitId: unitRole.unit.id }"
          mat-menu-item
          *ngIf="unitRole.role !== 'Admin'"
        >
          <mat-icon aria-hidden="false" aria-label="Student Groups" fontIcon="groups"></mat-icon> Groups
        </button>
        <button
          uiSref="units/students/plagiarism"
          [uiParams]="{ unitId: unitRole.unit.id }"
          mat-menu-item
          *ngIf="unitRole.role !== 'Admin'"
        >
          <mat-icon aria-hidden="false" aria-label="Student similarity icon" fontIcon="crisis_alert"></mat-icon>
          Similarities
        </button>
        <button
          uiSref="units/students/portfolios"
          [uiParams]="{ unitId: unitRole.unit.id }"
          mat-menu-item
          *ngIf="unitRole.role !== 'Admin'"
        >
          <mat-icon aria-hidden="false" aria-label="Student portfolios icon" fontIcon="collections_bookmark"></mat-icon>
          Portfolios
        </button>

        <mat-divider *ngIf="unitRole.role !== 'Admin'"></mat-divider>
        <!-- <p class="task-dropdown-heading">Unit</p> -->
        <button
          uiSref="units/analytics"
          [uiParams]="{ unitId: unitRole.unit.id }"
          mat-menu-item
          *ngIf="unitRole.role !== 'Admin'"
        >
          <mat-icon aria-hidden="false" aria-label="Unit Analytics icon" fontIcon="insights"></mat-icon>Analytics
        </button>
        <button
          uiSref="units/admin"
          [uiParams]="{ unitId: unitRole.unit.id }"
          *ngIf="unitRole.role === 'Convenor' || unitRole.role === 'Admin'"
          mat-menu-item
        >
          <mat-icon aria-hidden="false" aria-label="Unit Administration" fontIcon="admin_panel_settings"></mat-icon>
          Administration
        </button>
      </ng-container>
    </mat-menu>
  </ng-container>
</div>
