<div fxLayout="row" fxLayoutAlign=" center">
  <span
    fxLayout="row"
    fxLayoutAlign=" center"
    *ngIf="currentView === 'PROJECT' && currentUnitOrProject !== null && data.isTutor === true"
  >
    <div style="color: rgb(216, 216, 216)">/</div>
    <button #menuState="matMenuTrigger" mat-button [matMenuTriggerFor]="menu">
      Staff Tasks <mat-icon>{{ menuState.menuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }} </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button uiSref="units/tasks/inbox" [uiParams]="{ unitId: currentUnitOrProject.unit_id }" mat-menu-item>
        Task Inbox
      </button>
      <button mat-menu-item uiSref="units/tasks/definition" [uiParams]="{ unitId: currentUnitOrProject.unit_id }">
        Mark By Definition
      </button>
      <button mat-menu-item uiSref="units/tasks/offline" [uiParams]="{ unitId: currentUnitOrProject.unit_id }">
        Mark Tasks Offline
      </button>
      <button mat-menu-item uiSref="units/tasks/viewer" [uiParams]="{ unitId: currentUnitOrProject.unit_id }">
        Task List
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item uiSref="units/students/list" [uiParams]="{ unitId: currentUnitOrProject.unit_id }">
        Student List
      </button>
      <button mat-menu-item uiSref="units/students/groups" [uiParams]="{ unitId: currentUnitOrProject.unit_id }">
        Student Groups
      </button>
      <button mat-menu-item uiSref="units/students/plagiarism" [uiParams]="{ unitId: currentUnitOrProject.unit_id }">
        Student Plagiarism
      </button>
      <button mat-menu-item uiSref="units/students/portfolios" [uiParams]="{ unitId: currentUnitOrProject.unit_id }">
        Student Portfolios
      </button>
      <span>
        <mat-divider></mat-divider>
        <button mat-menu-item uiSref="units/analytics" [uiParams]="{ unitId: currentUnitOrProject.unit_id }">
          Unit Analytics
        </button>
        <button
          *ngIf="unit?.role === 'Convenor' || unit?.role === 'Admin'"
          mat-menu-item
          uiSref="units/admin"
          [uiParams]="{ unitId: currentUnitOrProject.unit_id }"
        >
          Unit Administration
        </button>
      </span>
    </mat-menu>
  </span>

  <ng-container *ngIf="currentActivity">
    <span style="color: rgb(216, 216, 216)">/</span>
    <button mat-button [matMenuTriggerFor]="menu2" #menuState="matMenuTrigger">
      {{ currentActivity }} <mat-icon>{{ menuState.menuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }} </mat-icon>
    </button>
    <mat-menu #menu2="matMenu">
      <ng-container *ngIf="currentUnitOrProject !== null && currentView === 'PROJECT'">
        <button
          uiSref="projects/dashboard"
          [uiParams]="{ projectId: currentUnitOrProject.project_id, taskAbbr: '' }"
          mat-menu-item
        >
          Dashboard
        </button>
        <mat-divider></mat-divider>
        <button
          uiSref="projects/outcomes"
          [uiParams]="{ projectId: currentUnitOrProject.project_id, taskAbbr: '' }"
          mat-menu-item
        >
          Learning Outcomes
        </button>
        <button
          uiSref="projects/portfolio"
          [uiParams]="{ projectId: currentUnitOrProject.project_id, taskAbbr: '' }"
          mat-menu-item
        >
          Portfolio Creation
        </button>
        <mat-divider></mat-divider>
        <button
          uiSref="projects/groups"
          [uiParams]="{ projectId: currentUnitOrProject.project_id, taskAbbr: '' }"
          mat-menu-item
        >
          Groups List
        </button>
        <button
          uiSref="projects/tutorials"
          [uiParams]="{ projectId: currentUnitOrProject.project_id, taskAbbr: '' }"
          mat-menu-item
        >
          Tutorial List
        </button>
      </ng-container>
      <ng-container *ngIf="unitRole && currentView === 'UNIT'">
        <button
          uiSref="units/tasks/inbox"
          [uiParams]="{ unitId: unitRole.unit_id }"
          mat-menu-item
          *ngIf="unitRole.role !== 'Admin'"
        >
          Task Inbox
        </button>
        <button
          uiSref="units/tasks/definition"
          [uiParams]="{ unitId: unitRole.unit_id }"
          mat-menu-item
          *ngIf="unitRole.role !== 'Admin'"
        >
          Mark By Definition
        </button>
        <button
          uiSref="units/tasks/offline"
          [uiParams]="{ unitId: unitRole.unit_id }"
          mat-menu-item
          *ngIf="unitRole.role !== 'Admin'"
        >
          Mark Tasks Offline
        </button>
        <button
          uiSref="units/tasks/viewer"
          [uiParams]="{ unitId: unitRole.unit_id }"
          mat-menu-item
          *ngIf="unitRole.role !== 'Admin'"
        >
          Task List
        </button>
        <mat-divider *ngIf="unitRole.role !== 'Admin'"></mat-divider>
        <button
          uiSref="units/students/list"
          [uiParams]="{ unitId: unitRole.unit_id }"
          mat-menu-item
          *ngIf="unitRole.role !== 'Admin'"
        >
          Student List
        </button>
        <button
          uiSref="units/students/groups"
          [uiParams]="{ unitId: unitRole.unit_id }"
          mat-menu-item
          *ngIf="unitRole.role !== 'Admin'"
        >
          Student Groups
        </button>
        <button
          uiSref="units/students/plagiarism"
          [uiParams]="{ unitId: unitRole.unit_id }"
          mat-menu-item
          *ngIf="unitRole.role !== 'Admin'"
        >
          Student Plagiarism
        </button>
        <button
          uiSref="units/students/portfolios"
          [uiParams]="{ unitId: unitRole.unit_id }"
          mat-menu-item
          *ngIf="unitRole.role !== 'Admin'"
        >
          Student Portfolios
        </button>

        <mat-divider *ngIf="unitRole.role !== 'Admin'"></mat-divider>
        <button
          uiSref="units/analytics"
          [uiParams]="{ unitId: unitRole.unit_id }"
          mat-menu-item
          *ngIf="unitRole.role !== 'Admin'"
        >
          Unit Analytics
        </button>
        <button
          uiSref="units/admin"
          [uiParams]="{ unitId: unitRole.unit_id }"
          *ngIf="unitRole.role === 'Convenor' || unitRole.role === 'Admin'"
          mat-menu-item
        >
          Unit Administration
        </button>
      </ng-container>
    </mat-menu>
  </ng-container>
</div>
