.mat-icon {
  color: black;
  margin-right: 0;
  transform: scale(0.8);
}

.task-dropdown-heading {
  font-family: 'Grotesk';
  // light font
  font-size: 14px;
  padding-left: 16px;
  padding-top: 6px;
  margin-bottom: 0;
}
