<mat-form-field appearance="outline" *ngIf="unit.hasGroupwork()" class="flex flex-grow">
  <mat-label>Is this an individual or group task? Select group that submits</mat-label>
  <mat-select required [(value)]="taskDefinition.groupSet">
    <mat-option *ngFor="let gs of unit.groupSets" [value]="gs">{{ gs.name }}</mat-option>
    <mat-option value="null">None - Individual Submission</mat-option>
  </mat-select>
</mat-form-field>

<div class="flex flex-row gap-10">
  <mat-form-field appearance="outline" class="basis-1/2">
    <mat-label>Tutorial Stream - Which tutor provides feedback?</mat-label>
    <mat-select required [(value)]="taskDefinition.tutorialStream">
      <mat-option *ngFor="let stream of unit.tutorialStreams" [value]="stream">{{ stream.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <span class="flex-grow">
    <strong class="">Related tutorials</strong>
    <ul>
      <li *ngFor="let tutorial of taskDefinition.tutorialStream?.tutorialsIn(unit)">
        {{ tutorial.abbreviation }} {{ tutorial.tutor.name }}
      </li>
    </ul>
  </span>
</div>
