@if (unit.hasGroupwork()) {
  <mat-form-field appearance="outline" class="flex flex-grow">
    <mat-label>Is this an individual or group task? Select group that submits</mat-label>
    <mat-select required [(value)]="taskDefinition.groupSet">
      @for (gs of unit.groupSets; track gs) {
        <mat-option [value]="gs">{{ gs.name }}</mat-option>
      }
      <mat-option value="null">None - Individual Submission</mat-option>
    </mat-select>
  </mat-form-field>
}

<div class="flex flex-row gap-6">
  <mat-form-field appearance="outline" class="basis-1/2">
    <mat-label>Tutorial Stream - Which tutor provides feedback?</mat-label>
    <mat-select
      required
      [(value)]="taskDefinition.tutorialStream"
      (selectionChange)="onTutorialStreamChange()"
    >
      @for (stream of unit.tutorialStreams; track stream) {
        <mat-option [value]="stream">{{ stream.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <span class="flex-grow">
    <strong class="">Related tutorials</strong>
    <ul>
      @for (
        tutorial of $safeNavigationMigration(taskDefinition.tutorialStream?.tutorialsIn(unit))
          | slice: 0 : (showAllTutorials ? undefined : 3);
        track tutorial
      ) {
        <li>{{ tutorial?.abbreviation }} {{ tutorial.tutor?.name }}</li>
      }

      @if (!showAllTutorials && taskDefinition.tutorialStream?.tutorialsIn(unit)?.length > 3) {
        <li class="mt-0.5">
          +{{ taskDefinition.tutorialStream.tutorialsIn(unit).length - 3 }} more tutorials
        </li>
      }
      @if (taskDefinition.tutorialStream?.tutorialsIn(unit).length > 3) {
        <div class="mt-2.5">
          @if (!showAllTutorials) {
            <button color="primary" mat-button (click)="showAllTutorials = true">
              View all tutorials
            </button>
          } @else {
            <button color="warn" mat-button (click)="showAllTutorials = false">
              Collapse list
            </button>
          }
        </div>
      }
    </ul>
  </span>
</div>

<div>
  <mat-slide-toggle [(ngModel)]="taskDefinition.lockAssessmentsToTutorialStream"
    >Only allow tutors in this tutorial stream to assess this task</mat-slide-toggle
  >
</div>
