<div class="flex flex-col gap-2.5">
  <f-setting-toggle label="Enable test for task" [(checked)]="taskDefinition.scormEnabled">
    Students complete a SCORM test as part of this task.
  </f-setting-toggle>

  @if (taskDefinition.scormEnabled) {
    <f-file-drop
      accept="application/zip"
      mode="event"
      [desiredFileName]="'SCORM zip'"
      (filesDropped)="uploadScormData($event)"
    />
    @if (taskDefinition.hasScormData) {
      <div class="flex flex-row gap-2.5 pt-2.5">
        <button class="me-4 flex-grow" color="warn" mat-flat-button (click)="removeScormData()">
          Delete SCORM Zip
        </button>
        <button class="mx-4 flex-grow" color="accent" mat-flat-button (click)="downloadScormData()">
          Download SCORM Zip
        </button>
        <button class="me-4 flex-grow" color="accent" mat-flat-button (click)="previewScormTest()">
          Preview SCORM Test
        </button>
      </div>
    }

    <div class="flex flex-col pt-2.5">
      <f-setting-toggle
        label="Allow students to review completed test attempt"
        [(checked)]="taskDefinition.scormAllowReview"
      />

      <f-setting-toggle
        class="border-t border-gray-200"
        label="Allow file upload regardless of test pass status"
        [(checked)]="taskDefinition.scormBypassTest"
      />

      <f-setting-toggle
        class="border-t border-gray-200"
        label="Enable incremental time delays between test attempts"
        [disabled]="true"
        [(checked)]="taskDefinition.scormTimeDelayEnabled"
      >
        The first 2 attempts can be completed immediately. After that a delay is added, increasing
        by 2 hours with every attempt made.
      </f-setting-toggle>

      <div class="border-t border-gray-200 px-2 py-3">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Attempt limit</mat-label>
          <input
            matInput
            max="100"
            min="0"
            type="number"
            [(ngModel)]="taskDefinition.scormAttemptLimit"
          />
          <mat-hint>0 is unlimited.</mat-hint>
        </mat-form-field>
      </div>
    </div>
  }
</div>
