<div class="flex flex-col gap-2.5">
  <mat-checkbox matInput required [(ngModel)]="taskDefinition.scormEnabled">
    Enable test for task
  </mat-checkbox>

  @if (taskDefinition.scormEnabled) {
    <f-file-drop
      accept="application/zip"
      mode="event"
      [desiredFileName]="'SCORM zip'"
      (filesDropped)="uploadScormData($event)"
    />
    @if (taskDefinition.hasScormData) {
      <div class="flex flex-row gap-2.5 pt-2.5">
        <button class="me-4 flex-grow" color="warn" mat-flat-button (click)="removeScormData()">
          Delete SCORM Zip
        </button>
        <button class="mx-4 flex-grow" color="accent" mat-flat-button (click)="downloadScormData()">
          Download SCORM Zip
        </button>
        <button class="me-4 flex-grow" color="accent" mat-flat-button (click)="previewScormTest()">
          Preview SCORM Test
        </button>
      </div>
    }

    <div class="flex flex-grow flex-row gap-2.5 pt-2.5">
      <div class="basis-1/2">
        <mat-checkbox matInput required [(ngModel)]="taskDefinition.scormAllowReview">
          Allow students to review completed test attempt
        </mat-checkbox>
        <mat-checkbox matInput required [(ngModel)]="taskDefinition.scormBypassTest">
          Allow file upload regardless of test pass status
        </mat-checkbox>
      </div>
      <mat-form-field appearance="outline" class="basis-1/2">
        <mat-label>Limit to this number of attempts - 0 is unlimited</mat-label>
        <input
          matInput
          max="100"
          min="0"
          type="number"
          [(ngModel)]="taskDefinition.scormAttemptLimit"
        />
      </mat-form-field>
    </div>

    <div class="flex flex-grow flex-row gap-2.5 pt-2.5">
      <mat-checkbox
        class="basis-1/2"
        disabled
        matInput
        required
        [(ngModel)]="taskDefinition.scormTimeDelayEnabled"
      >
        Enable incremental time delays between test attempts
      </mat-checkbox>
      <span class="basis-1/2" disabled
        >If enabled, first 2 attempts can be completed immediately. Subsequently, a time delay will
        be added, increasing by 2 hours every attempt made.</span
      >
    </div>
  }
</div>
