<div class="task-ilo-alignment-rater" matTooltip="{{labels[alignment.rating]}}" matTooltipPosition="above">
    <mat-slider [hidden]="compact" (input)="changeValue($event)"
    thumbLabel [displayWith]="formatLabel" value={{alignment.rating}} tickInterval="1" min="0" max="5" [disabled]="readonly"></mat-slider>
    <div [hidden]="!showLabels" class="text-center">
        <span class="label-{{alignment.rating}} badge">{{labels[alignment.rating]}}</span>
    </div>
    <div [hidden]="!compact"  class="compact-rating-{{alignment.rating}}">
        {{alignment.rating}}
    </div>
</div>