.task-ilo-alignment-rater {
  &.colorful {
    $base-color: #101010;
    // Defining colors
    $rating_colors_map: ('1': '#F7F6CA', '2': '#E2E095', '3': '#EDEB4C', '4': '#FFDF00', '5': '#FFD700');
    // Generates colors for 0..5 stars
    @each $rating, $rating_color in $rating_colors_map {
      .rating-static-tooltip .badge.rating-1, .compact-rating.rating-1 {
        background-color: #{$rating_color} !important;
        color: white;
      }
      .rating-area {
        i:nth-of-type(#{$rating}) { color: #{$rating_color}; }
      }
    }
  }
  .compact-rating {
    border-radius: 2em;
    font-size: 2em;
    text-align: center;
    width: 1.5em;
    cursor: pointer;
    margin: 0 auto;
    border-color: black;
  }
  .rating-area {
    & + *:not(.ng-hide) {
      margin-top: 10px;
    }
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    &:focus {
      outline: none;
    }
    i {
      cursor: pointer;
      padding: 0 10px;
    }
  }
}
