<mat-card
  class="bg-white rounded-lg border border-gray-300 shadow-none flex flex-col w-[338px] h-[423px]"
>
  <mat-tab-group (selectedTabChange)="scrollToSection($event)" class="category-tab-group">
    @for (category of categories; track category) {
      <mat-tab [label]="category"></mat-tab>
    }
  </mat-tab-group>

  <mat-form-field appearance="outline" class="template-search w-full pt-1 pr-1 pl-1">
    <input
      matInput
      placeholder="Search templates"
      (input)="onSearchTermChange($event.target.value)"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <div class="overflow-y-auto flex-grow pr-2.5 pl-2.5 pb-3 pt-0">
    <div class="template-category mt-1 mb-1">
      <div class="template-grid flex flex-wrap gap-1 mt-3">
        @for (template of genTemplates$ | async; track template) {
          <mat-chip
            (mouseenter)="onHoverTemplate(template)"
            (mouseleave)="onHoverTemplate(null)"
            (click)="selectTemplate(template)"
            class="px-1 py-0.5 rounded-full cursor-pointer hover:shadow-lg transition-shadow duration-200"
            [ngStyle]="isTemplateSelected(template) ? {'border': '1px solid'} : {}"
            [hidden]="template.chipText === 'Summarise feedback' && selectedTemplates.length < 1"
          >
            @if (isTemplateSelected(template)) {
              <mat-icon matChipAvatar>check_circle</mat-icon>
            }
            {{ template.chipText }}
          </mat-chip>
        }
      </div>
    </div>

    <div #tloSection class="template-category mt-1 mb-1">
      @for (item of tlos$ | async; track item) {
        <div class="outcome-section mt-2.5">
          <h5 class="text-formatif-blue font-extrabold">
            {{ item.outcome.abbreviation }} - {{ item.outcome.shortDescription }}
          </h5>
          <div class="template-grid flex flex-wrap gap-1 mt-0.5">
            @for (template of item.templates; track template) {
              <mat-chip
                (mouseenter)="onHoverTemplate(template)"
                (mouseleave)="onHoverTemplate(null)"
                (click)="selectTemplate(template)"
                class="px-1 py-0.5 rounded-full cursor-pointer hover:shadow-lg transition-shadow duration-200"
                [ngStyle]="isTemplateSelected(template) ? {'border': '1px solid'} : {}"
              >
                @if (isTemplateSelected(template)) {
                  <mat-icon matChipAvatar>check_circle</mat-icon>
                }
                @if (!isTemplateSelected(template) && template.taskStatus) {
                  <mat-icon matChipAvatar>{{ taskService.statusData(template.taskStatus).materialIcon }}</mat-icon>
                }
                @if (template.type === 'group' && !isGroupExpanded(template)) {
                  <mat-icon matChipAvatar>folder</mat-icon>
                }
                @if (template.type === 'group' && isGroupExpanded(template)) {
                  <mat-icon matChipAvatar>chevron_right</mat-icon>
                }
                {{ template.chipText }}
              </mat-chip>
            }
          </div>
        </div>
      }
    </div>

    <div #uloSection class="template-category mt-1 mb-1">
      @for (item of ulos$ | async; track item) {
        <div class="outcome-section mt-2.5">
          <h5 class="text-formatif-blue font-extrabold">
            {{ item.outcome.abbreviation }} - {{ item.outcome.shortDescription }}
          </h5>
          <div class="template-grid flex flex-wrap gap-1 mt-0.5">
            @for (template of item.templates; track template) {
              <mat-chip
                (mouseenter)="onHoverTemplate(template)"
                (mouseleave)="onHoverTemplate(null)"
                (click)="selectTemplate(template)"
                class="px-1 py-0.5 rounded-full cursor-pointer hover:shadow-lg transition-shadow duration-200"
                [ngStyle]="isTemplateSelected(template) ? {'border': '1px solid'} : {}"
              >
                @if (isTemplateSelected(template)) {
                  <mat-icon matChipAvatar>check_circle</mat-icon>
                }
                @if (!isTemplateSelected(template) && template.taskStatus) {
                  <mat-icon matChipAvatar>{{ taskService.statusData(template.taskStatus).materialIcon }}</mat-icon>
                }
                @if (template.type === 'group' && !isGroupExpanded(template)) {
                  <mat-icon matChipAvatar>folder</mat-icon>
                }
                @if (template.type === 'group' && isGroupExpanded(template)) {
                  <mat-icon matChipAvatar>chevron_right</mat-icon>
                }
                {{ template.chipText }}
              </mat-chip>
            }
          </div>
        </div>
      }
    </div>

    <div #gloSection class="template-category mt-1 mb-1">
      @for (item of glos$ | async; track item) {
        <div class="outcome-section mt-2.5">
          <h5 class="text-formatif-blue font-extrabold">
            {{ item.outcome.abbreviation }} - {{ item.outcome.shortDescription }}
          </h5>
          <div class="template-grid flex flex-wrap gap-1 mt-0.5">
            @for (template of item.templates; track template) {
              <mat-chip
                (mouseenter)="onHoverTemplate(template)"
                (mouseleave)="onHoverTemplate(null)"
                (click)="selectTemplate(template)"
                class="px-1 py-0.5 rounded-full cursor-pointer hover:shadow-lg transition-shadow duration-200"
                [ngStyle]="isTemplateSelected(template) ? {'border': '1px solid'} : {}"
              >
                @if (isTemplateSelected(template)) {
                  <mat-icon matChipAvatar>check_circle</mat-icon>
                }
                @if (!isTemplateSelected(template) && template.taskStatus) {
                  <mat-icon matChipAvatar>{{ taskService.statusData(template.taskStatus).materialIcon }}</mat-icon>
                }
                @if (template.type === 'group' && !isGroupExpanded(template)) {
                  <mat-icon matChipAvatar>folder</mat-icon>
                }
                @if (template.type === 'group' && isGroupExpanded(template)) {
                  <mat-icon matChipAvatar>chevron_right</mat-icon>
                }
                {{ template.chipText }}
              </mat-chip>
            }
          </div>
        </div>
      }
    </div>
  </div>

  <div class="border-t border-gray-300 p-3 flex items-center">
    <mat-icon class="text-2xl mr-2 flex-shrink-0">{{
      hoveredTemplate?.type === 'group' ? 'folder' : 'description'
    }}</mat-icon>
    <div class="flex flex-col">
      <p class="font-semibold text-xs mb-0">
        {{ hoveredTemplate?.chipText || 'Select a feedback chip' }}
      </p>
      <p class="text-gray-500 text-xs mb-0">
        {{ hoveredTemplate?.description || 'This will populate the comment area with feedback.' }}
      </p>
    </div>
  </div>
</mat-card>
