<div class="groupset-manage-view">
  <div class="group-listings col-sm-6">
    <div class="info-area col-sm-12">
      <div class="col-sm-8 pull-left">
        <h4>
          <strong>{{selectedGroupset.name}}</strong> Groups
        </h4>
        <p class="help-block">
          Total of {{groups.length}} Group{{groups.length == 1 ? '' : 's'}}
        </p>
      </div>
      <div class="pull-right col-sm-4 text-right multi-group-actions">
        <p class="btn-group">
          <label class="btn btn-primary" ng-model="staffFilter" btn-radio="'all'">
            <i class="fa fa-university" tooltip="Show groups from every tutorial"></i>
          </label>
          <label class="btn btn-primary" ng-model="staffFilter" btn-radio="'mine'">
            <i class="fa fa-pencil" tooltip="Show groups from only my tutorials"></i>
          </label>
        </p>
      </div>
    </div>
    <div class="col-sm-12">
      <group-selector></group-selector>
    </div>
  </div>
  <div class="group-memberships col-sm-6" ng-show="selectedGroup">
    <h4>Members of <strong>{{selectedGroup.name}}</strong></h4>
    <form name="addStudentForm" ng-submit="addSelectedStudent(selectedStudent)" class="col-sm-12 input-group" ng-show="selectedGroup">
      <input class="form-control" id="students" placeholder="Add Student" ng-model="selectedStudent" typeahead="student as studentDetails(student) for student in unit.students | studentsForGroup:selectedGroupset:selectedGroup:members | filter:$viewValue | limitTo:8" typeahead-wait-ms="200">

      <span class="input-group-btn">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-plus"></i>
        </button>
      </span>
    </form>
    <group-member-list></group-member-list>
  </div>
<div>