<div>
  <div class="clearfix task-header-info">
    <div class="pull-left">
      <groupset-selector></groupset-selector>
    </div>
    <h3 class="col-sm-5 pull-left">
      <span ng-show="selectedGroup">
        <a editable-text="selectedGroup.name" ng-show="selectedGroupset.allow_students_to_manage_groups" onbeforesave="updateGroup($data)">{{selectedGroup.name}}</a>
        <a editable-text="selectedGroup.name" ng-hide="selectedGroupset.allow_students_to_manage_groups">{{selectedGroup.name}}</a>
      </span>
      <span ng-hide="selectedGroup">No Group</span>
    </h3>
  </div>
  <hr>
  <div class="col-md-10 pull-right">
    <div class="panel panel-default">
      <div class="panel-heading row-fluid">
        <h3 class="panel-title">
          {{ selectedGroup ? "Group Members" : "Join a Group" }}
        </h3>
      </div>
      <div ng-show="selectedGroup">
        <group-member-list></group-member-list>
      </div>
      <div ng-hide="selectedGroup">
        <group-selector ng-show="selectedGroupset.allow_students_to_manage_groups"></group-selector>
        <span ng-hide="selectedGroupset.allow_students_to_manage_groups">Talk to your tutor or convenor and ask them to add you to a group!</span>
      </div>
    </div><!-- End of right panel -->
  </div>
</div>