<div fxLayout="row" fxLayoutAlign="start start">
  <a (click)="!unselected ? goToStudent() : null" style="display: flex">
    <user-icon
      size="40"
      [unselected]="unselected"
      [user]="selectedTask?.project.student"
      style="margin-right: 8px"
    ></user-icon>
  </a>
  <div
    fxLayout="column"
    fxLayoutAlign="center start"
    style="line-height: 0.5em; font-family: 'Grotesk'; margin-top: 4px"
  >
    <div style="margin-top: 6px" id="placeholder1" [hidden]="!unselected"></div>
    <div id="placeholder2" [hidden]="!unselected"></div>
    <a (click)="!unselected ? goToStudent() : null" style="display: flex">
      <h4 style="margin-bottom: 1px" class="mat-h4">
        {{ selectedTask?.project.student.firstName }} {{ selectedTask?.project.student.lastName }}
      </h4>
    </a>
    <a (click)="!unselected ? goToStudentTask() : null" style="display: flex">
      <p class="mat-caption">{{ selectedTask?.definition.name }}</p>
    </a>
  </div>
</div>
