<div class="flex-row justify-start items-start content-start">
  <div class="icon-and-text">
    <a (click)="!unselected ? goToStudent() : null" class="icon-container">
      <user-icon
        size="40"
        [unselected]="unselected"
        [user]="selectedTask?.project.student"
        style="margin-right: 8px"
      ></user-icon>
    </a>
    <div class="text-container flex-col justify-center items-start content-start">
      <div style="margin-top: 6px" id="placeholder1" [hidden]="!unselected"></div>
      <div id="placeholder2" [hidden]="!unselected"></div>
      <a (click)="!unselected ? goToStudent() : null">
        <h4 style="margin-bottom: 1px" class="mat-h4">
          {{ selectedTask?.project.student.firstName }} {{ selectedTask?.project.student.lastName }}
        </h4>
      </a>
      <a (click)="!unselected ? goToStudentTask() : null">
        <p class="mat-caption">{{ selectedTask?.definition.name }}</p>
      </a>
    </div>
  </div>
</div>
