<div id="useIconWrapper">
  <svg style="border-radius: 50%;" [attr.height]="size" [attr.width]="size">
    <circle
      [attr.cx]="size/2"
      [attr.cy]="size/2"
      [attr.r]="size / 2"
      stroke-width="2"
      stroke="white"
      fill="gray"
    />

    <text
      fill="white"
      x="50%"
      y="50%"
      text-anchor="middle"
      alignment-baseline="middle"
    >
      {{initials}}
    </text>
    <image
      [attr.href]="backgroundUrl"
      [attr.height]="size"
      [attr.width]="size"
    ></image>
  </svg>
</div>
