.modal-audio {
    .audio-comment-container {
        padding: 1ex;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    #comment-player {
        padding: 1ex;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
  }