//
// Styles for the Doubtfire Logo
//

h1.logo {
  @include logo-font-rendering;
  font-size: 4em;
}
i.logo {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url('/assets/images/logo.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.welcome-to-doubtfire {
  margin-top: 6em;
  margin-bottom: 3em;
  h1, p {
    @include logo-font-rendering;
    font-family: "Grotesk";
  }
  p.lead {
    color: #000;
  }
  i.logo {
    width: 10em;
    height: 10em;
  }
}
