/**
 * TODO: REMOVE DEPRECATED FILE UPLOADER CSS
 * Remove this CSS when we replace all file uploaders with the
 * new custom-made directive file-uploader
 */


.well.drop {
  border: 3px #bbb dotted;
  font-size: larger;
  font-weight: bold;
  color: #aaa;
  text-align: center;
}

.well.drop.file-over-hover {
  border-color: #3276b1;
  color: #3276b1;
}

.well.drop.file-over-reject {
  border-color: #C82506;
  color: #C82506;
}

/* END TODO */
