//
// Styling for tab headers with icons in them
//
.tabset-icon tab-heading {
  text-align: center;
  i {
    display: block;
    width: 100%;
    padding-bottom: 5px;
  }
  i:not(:last-child) {
    margin-right: 1ex;
  }
  i:not(:last-child), i + i:last-child {
    display: inline-block;
    width: inherit;
  }
}
