//
// Styling for all task status classes
//
.task-status {
  &.ready-to-mark     { @include task-status-color-ready-to-mark;     }
  &.not-started       { @include task-status-color-not-started;       }
  &.working-on-it     { @include task-status-color-working-on-it;     }
  &.need-help         { @include task-status-color-need-help;         }
  &.fix-and-resubmit  { @include task-status-color-fix-and-resubmit;  }
  &.do-not-resubmit   { @include task-status-color-do-not-resubmit;   }
  &.fail              { @include task-status-color-fail;              }
  &.redo              { @include task-status-color-redo;              }
  &.discuss           { @include task-status-color-discuss;           }
  &.demonstrate       { @include task-status-color-demonstrate;       }
  &.complete          { @include task-status-color-complete;          }

  &.ready-to-mark:hover     { background: task-status-color('ready-to-mark', dark); }
  &.not-started:hover       { background: task-status-color('not-started', dark); }
  &.working-on-it:hover     { background: task-status-color('working-on-it', dark); }
  &.need-help:hover         { background: task-status-color('need-help', dark); }
  &.fix-and-resubmit:hover  { background: task-status-color('fix-and-resubmit', dark); }
  &.do-not-resubmit:hover   { background: task-status-color('do-not-resubmit', dark); }
  &.fail:hover              { background: task-status-color('fail', dark); }
  &.redo:hover              { background: task-status-color('redo', dark); }
  &.discuss:hover           { background: task-status-color('discuss', dark); }
  &.demonstrate:hover       { background: task-status-color('demonstrate', dark); }
  &.complete:hover          { background: task-status-color('complete', dark); }
}

.task-status {
  & > .ready-to-mark,
  & > .not-started,
  & > .working-on-it,
  & > .need-help,
  & > .fix-and-resubmit,
  & > .do-not-resubmit,
  & > .fail,
  & > .redo,
  & > .discuss,
  & > .demonstrate,
  & > .complete { background-color: #F8F8F8; }

  .ready-to-mark.active     { @include task-status-color-ready-to-mark;     }
  .not-started.active       { @include task-status-color-not-started;       }
  .working-on-it.active     { @include task-status-color-working-on-it;     }
  .need-help.active         { @include task-status-color-need-help;         }
  .fix-and-resubmit.active  { @include task-status-color-fix-and-resubmit;  }
  .do-not-resubmit.active   { @include task-status-color-do-not-resubmit;   }
  .fail.active              { @include task-status-color-fail;              }
  .redo.active              { @include task-status-color-redo;              }
  .discuss.active           { @include task-status-color-discuss;           }
  .demonstrate.active       { @include task-status-color-demonstrate;       }
  .complete.active          { @include task-status-color-complete;          }
}

i.task-status-icon {
  display: block;
  margin-bottom: 7px;
}
