//
// Grow animation from 0 scale to 1 scale
//
@keyframes animation-grow {
  0% {
    opacity: 0;
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}

@mixin animation-grow($time: 0.5s) {
  animation-name: animation-grow;
  animation-duration: $time;
  animation-fill-mode: both;
}
