div {
  width: 100%;
}

p {
  color: #2c2c2c;
  text-align: center;
}

hr {
  width: 100%;
}

.hr-fade {
  background: linear-gradient(to right, transparent, #9696969d, transparent);
  width: 100%;
}

.fade-text {
  color: #9696969d;
  opacity: 0.8;
}

.hr-text {
  margin: 0;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.8;
  &:before {
    content: "";
    background: linear-gradient(to right, transparent, #9696969d, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 0.5em;
    line-height: 1.5em;

    color: #9696969d;
    background-color: #fff;
  }
}
