<div class="flex flex-row items-center justify-evenly">
  @if (comment.assessed) {
    <div class="flex flex-col items-center justify-around">
      <hr class="hr-text" [attr.data-content]="message" />
      <p class="fade-text"><strong> reason:</strong> {{ comment.text }}</p>
    </div>
  }

  @if (!comment.assessed) {
    <div class="flex flex-col items-center justify-around">
      <hr class="hr-fade" />
      <p>
        {{ message }} <br />
        <strong> reason:</strong> {{ comment.text }}
      </p>
      @if (isNotStudent) {
        <div class="flex flex-row items-center justify-evenly">
          <button
            color="primary"
            mat-flat-button
            style="background-color: #43a047"
            (click)="grantExtension()"
          >
            Grant
          </button>
          <button color="warn" mat-flat-button (click)="denyExtension()">Deny</button>
        </div>
      }
      <hr class="hr-fade" />
    </div>
  }
</div>
