<div class="unit-tasks-editor row">
  <div ng-if="unit">
    <div class="col-md-9">
      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <div class="pull-left">
            <h3 class="panel-title">
              Task List
            </h3>
            Summary of tasks added as work for this unit
          </div>
          <form role="search" class="col-sm-4 form-horizontal pull-right">
            <input id="searchbar" class="input-md form-control" placeholder="Search..." type="search" ng-model="taskAdminPager.search" autofocus />
            <p ng-show="filteredTaskDefs.length < allTaskDefs.length && filteredTaskDefs.length != 0">Showing {{filteredTaskDefs.length}} of {{unit.task_definitions.length}} tasks.</p>
          </form>
        </div>
        <div class="panel-body tasks-overview">
          <div class="callout callout-info" ng-hide="unit.task_definitions.length > 0">
            This unit has no tasks
          </div>
          <table ng-show="unit.task_definitions.length > 0" class="table table-condensed table-hover table-pointer">
            <thead>
              <tr>
                <th>
                  <a ng-click="taskAdminPager.sortOrder='abbreviation'; taskAdminPager.reverse=!taskAdminPager.reverse">
                    Name <i ng-show="taskAdminPager.sortOrder=='abbreviation'" class="fa fa-caret-{{taskAdminPager.reverse ? 'down' : 'up'}}"></i>
                  </a>
                </th>
                <th>
                  <a ng-click="taskAdminPager.sortOrder='target_grade'; taskAdminPager.reverse=!taskAdminPager.reverse">
                    Grade <i ng-show="taskAdminPager.sortOrder=='target_grade'" class="fa fa-caret-{{taskAdminPager.reverse ? 'down' : 'up'}}"></i>
                  </a>
                </th>
                <th>
                  <a ng-click="taskAdminPager.sortOrder='start_date'; taskAdminPager.reverse=!taskAdminPager.reverse">
                    Start Date <i ng-show="taskAdminPager.sortOrder=='start_date'" class="fa fa-caret-{{taskAdminPager.reverse ? 'down' : 'up'}}"></i>
                  </a>
                </th>
                <th>
                  <a ng-click="taskAdminPager.sortOrder='target_date'; taskAdminPager.reverse=!taskAdminPager.reverse">
                    Due Date <i ng-show="taskAdminPager.sortOrder=='target_date'" class="fa fa-caret-{{taskAdminPager.reverse ? 'down' : 'up'}}"></i>
                  </a>
                </th>
                <th>
                  <a ng-click="taskAdminPager.sortOrder='due_date'; taskAdminPager.reverse=!taskAdminPager.reverse">
                    Deadline <i ng-show="taskAdminPager.sortOrder=='due_date'" class="fa fa-caret-{{taskAdminPager.reverse ? 'down' : 'up'}}"></i>
                  </a>
                </th>
                <th>
                  <a ng-click="taskAdminPager.sortOrder='tutorial_stream'; taskAdminPager.reverse=!taskAdminPager.reverse">
                    Stream <i ng-show="taskAdminPager.sortOrder=='tutorial_stream'" class="fa fa-caret-{{taskAdminPager.reverse ? 'down' : 'up'}}"></i>
                  </a>
                </th>
                <th ng-show="unit.hasGroupwork()">
                  <a ng-click="taskAdminPager.sortOrder='group_set_id'; taskAdminPager.reverse=!taskAdminPager.reverse">
                    Group Set <i ng-show="taskAdminPager.sortOrder=='group_set_id'" class="fa fa-caret-{{taskAdminPager.reverse ? 'down' : 'up'}}"></i>
                  </a>
                </th>
                <th ng-show="unit.hasStreams()">
                  <a ng-click="taskAdminPager.sortOrder='upload_requirements.length'; taskAdminPager.reverse=!taskAdminPager.reverse">
                    <i class="fa fa-upload" tooltip="The number of files the student needs to submit."></i> <i ng-show="taskAdminPager.sortOrder=='upload_requirements.length'" class="fa fa-caret-{{taskAdminPager.reverse ? 'down' : 'up'}}"></i>
                  </a>
                </th>
                <th>
                  <a ng-click="taskAdminPager.sortOrder='hasPlagiarismCheck()'; taskAdminPager.reverse=!taskAdminPager.reverse">
                    <i class="fa fa-eye" tooltip="Is plagiarism checked?"></i> <i ng-show="taskAdminPager.sortOrder=='hasPlagiarismCheck()'" class="fa fa-caret-{{taskAdminPager.reverse ? 'down' : 'up'}}"></i>
                  </a>
                </th>
                <th>
                  <a ng-click="taskAdminPager.sortOrder='restrict_status_updates'; taskAdminPager.reverse=!taskAdminPager.reverse">
                    <i class="fa fa-lock" tooltip="Are status updated locked to staff only?"></i> <i ng-show="taskAdminPager.sortOrder=='restrict_status_updates'" class="fa fa-caret-{{taskAdminPager.reverse ? 'down' : 'up'}}"></i>
                  </a>
                </th>
                <th>
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="taskDef in filteredTaskDefs = (allTaskDefs = ( unit.task_definitions ) | filter:taskAdminPager.search) | orderBy:taskAdminPager.sortOrder:taskAdminPager.reverse | startFrom:(taskAdminPager.currentPage - 1) * taskAdminPager.pageSize | limitTo: taskAdminPager.pageSize" ng-click="editTask(taskDef)" ng-class="{'info': taskAdminData.selectedTask == taskDef}">
                <td><strong>{{taskDef.abbreviation}}</strong> - {{taskDef.name}}</td>
                <td>{{grades[taskDef.target_grade]}}</td>
                <td>{{taskDef.start_date | date : 'EEE d MMM' : '+0000'}}</td>
                <td>{{taskDef.target_date | date : 'EEE d MMM' : '+0000'}}</td>
                <td><span ng-show="taskDef.due_date">{{taskDef.due_date | date : 'EEE d MMM' : '+0000'}}</span><span ng-hide="taskDef.due_date">None</span></td>
                <td ng-show="unit.hasGroupwork()">{{groupSetName(taskDef.group_set_id)}}</td>
                <td ng-show="unit.hasStreams()">{{taskDef.tutorial_stream}}</td>
                <td>{{taskDef.upload_requirements.length}}</td>
                <td><i ng-show="taskDef.hasPlagiarismCheck()" class="fa fa-check"></i><i ng-hide="taskDef.hasPlagiarismCheck()" class="fa fa-times"></i></td>
                <td><i ng-show="taskDef.restrict_status_updates" class="fa fa-check"></i><i ng-hide="taskDef.restrict_status_updates" class="fa fa-times"></i></td>
                <td>
                  <button class="btn btn-danger" ng-click="deleteTask(taskDef)">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table><!--/task-table-->
        </div>
        <div class="panel-footer clearfix">
          <pagination  ng-show="filteredTaskDefs.length > taskAdminPager.pageSize" total-items="filteredTaskDefs.length" ng-model="taskAdminPager.currentPage" items-per-page="taskAdminPager.pageSize" max-size="taskAdminPager.maxSize" class="pagination-sm pull-left" boundary-links="true" rotate="false"></pagination>
          <button class="btn btn-success pull-right" ng-click="createTask()">
            <i class="fa fa-file"></i>
            <i class="fa fa-plus"></i> Add Task
          </button>
        </div>
      </div><!--/tasks-overview-->
      <task-definition-editor
        unit="unit"
        task="taskAdminData.selectedTask"
        is-new="taskAdminData.isNew"></task-definition-editor>
    </div>
    <div class="col-md-3">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">Batch Upload Task Definitions</h4>
                  <p>Batch upload task definitions with a CSV containing: name, abbreviation, description, weighting, target_grade, restrict_status_updates, upload_requirements, target_week, target_day, due_week, due_day, is graded, and max quality points.</p><p>Note: Upload_requirements should be an escaped-JSON-formatted string an array of objects containing a "key",  "name" and "type". Target and due weeks should be the number of weeks from the unit start, and the day should be a short text (eg "Tue").</p>
              </div>
              <div class="panel-body">
                  <file-uploader
                    files="batchFiles"
                    url="batchTaskUrl()"
                    on-success="onBatchTaskSuccess"></file-uploader>
              </div><!--batch-withdraw-->
              <div class="panel-heading">
                  <h4 class="panel-title">Download Tasks</h4>
                  Download all tasks for the unit.
              </div>
              <div class="panel-body text-center">
                <div class="btn-group col-sm-12">
                  <a tooltip="Download a CSV with details of all tasks" tooltip-append-to-body="true" target="_blank" ng-href="{{batchTaskUrl()}}" class="btn btn-primary col-sm-6">
                    <i class="fa fa-download"></i> <i class="fa fa-file-excel-o"></i> CSV
                  </a>
                  <a tooltip="Download task resources and task sheets for all tasks" tooltip-append-to-body="true" target="_blank" ng-href="{{allResourceUrl()}}" class="btn btn-info col-sm-6">
                    <i class="fa fa-download"></i> <i class="fa fa-file-zip-o"></i> Zip
                  </a>
                </div>
              </div>
              <div class="panel-heading">
                  <h4 class="panel-title">Upload All Task PDFs</h4>
                  Upload PDFs of tasks such that they are viewable for students under the relevant task. Upload a ZIP containing PDFs and ZIP file resources. Name each with task abbreviation.
              </div>
              <div class="panel-body">
                <file-uploader
                  files="taskFiles"
                  url="taskUploadUrl"
                  on-success="onTaskPDFSuccess"></file-uploader>
                  <table ng-show="filesUploaded" class="table table-condensed table-hover">
                    <thead>
                      <tr>
                        <th>Filename</th>
                        <th>Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="file in filesUploaded.ignored_files">
                        <td>{{file.name}}</td><td>Ignored</td>
                      </tr>
                      <tr ng-repeat="file in filesUploaded.added_files">
                        <td>{{file.name}}</td><td>Added</td>
                      </tr>
                    </tbody>
                </table>
              </div><!--batch-enrol-->
          </div>
      </div>
  </div>
</div>
