{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "quoteProps": "preserve",
  "endOfLine": "lf",
  "trailingComma": "all",
  "bracketSpacing": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@angular/(.*)$", "^rxjs$", "^rxjs/(.*)$", "^src/app/(.*)$", "^[./]"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
