@import "../../../styles/common/grade-colors.scss";
.grade-icon1 {
    color: #fff;
    background-color: #333;
    border-radius: 100%;
    width: 2.25em;
    height: 2.25em;
    font-weight: 100;
    font-size: 1em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
