<mat-card appearance="outlined" class="max-w-[1100px] mx-auto">
  <mat-card-header>
    <mat-card-title>Upload Other Files</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="py-3">
      Now is your chance to upload any extra files to include in your portfolio. They'll appear at
      the very top of your portfolio, before your tasks.
    </p>
    <div class="pb-3">
      <ol>
        @for (file of extraFiles; track file) {
          <li class="flex items-center py-1 justify-between border-b-gray-100 border-b-2">
            <div class="flex items-center justify-between gap-1">
              <mat-icon>{{ icons[file.kind] }}</mat-icon>
              {{ file.name }}
            </div>
            <button mat-button (click)="deleteFileFromPortfolio(file)" color="primary">
              Remove
            </button>
          </li>
        } @empty {
          <p>If you do not have any files to add, you can skip this step.</p>
        }
      </ol>
    </div>
    <div class="flex justify-center items-center">
      <mat-form-field appearance="outline" class="w-full max-w-2xl">
        <mat-label>Select type of file:</mat-label>
        <mat-select [(ngModel)]="uploadType" (selectionChange)="onTypeChange($event)">
          <mat-option value="document">Document File</mat-option>
          <mat-option value="code">Code File</mat-option>
          <mat-option value="image">Image File</mat-option>
          <mat-option value="zip">ZIP File</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <f-file-uploader
      [showName]="false"
      [files]="uploadFileType"
      [payload]="uploadFilePayload"
      [isUploading]="isUploading"
      [url]="project.portfolioUrl()"
      [onSuccess]="addNewFilesToPortfolio.bind(this)"
    >
    </f-file-uploader>
  </mat-card-content>
  <mat-card-footer class="w-full flex justify-between p-3">
    <button mat-raised-button (click)="advanceActiveTab(-1)">Back</button>
    <button mat-raised-button (click)="advanceActiveTab(1)" color="primary">Next</button>
  </mat-card-footer>
</mat-card>
