<div class="root-units-state">
  <ul class="breadcrumb">
      <li>
        <a ui-sref="home">Home</a>
      </li><!--/home-->
      <li>
        <div class="btn-group" dropdown>
          <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
            <label class="label label-unit">
              {{(selectedUnitRole || selectedProject).unit_code}}
            </label>
            <span class="unit-name">{{(selectedUnitRole || selectedProject).unit_name}}</span>
            <span class="caret"></span>
          </button>
          <unit-dropdown></unit-dropdown>
        </div>
      </li><!--/selected-unit-->
      <li>
        <div class="btn-group" dropdown>
          <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
            {{taskDropdownTitle}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-tasks dropdown-tasks-" dropdown-menu ng-if="selectedProject">
            <li>
              <a ui-sref="projects#dashboard({projectId: selectedProject.id})">Dashboard</a>
            </li>
          </ul><!--/student-tasks-->
          <ul class="dropdown-menu dropdown-tasks dropdown-tasks-" dropdown-menu ng-if="selectedUnitRole">
            <li>
              <a ui-sref="units#feedback({unitId: selectedUnitRole.unit_id})">Give Student Feedback</a>
            </li>
            <li if-role="Admin Convenor">
              <a ui-sref="admin/units#edit({unitId: selectedUnitRole.unit_id})">Modify Unit Details</a>
            </li>
          </ul><!--/teacher-tasks-->
        </div>
      </li><!--/tasks-->
  </ul><!--breadcrumbs-->
  <div ng-hide="unitLoaded" class="large-notice-block">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
    <p>Loading unit details...</p>
  </div><!--/loading-->
  <div ui-view="unitIndex"></div>
</div>
