<div style="min-width: 600px; min-height: 600px flex flex-col" class="pr-12 pl-12 pt-12 pb-12">
  <mat-tab-group class="mb-8">
    <mat-tab label="Edit Teaching Period"> <ng-template [ngTemplateOutlet]="EditTeachingPeriod"></ng-template></mat-tab>
    <mat-tab [disabled]="!newOrSelectedTeachingPeriod.id" label="Edit Breaks">
      <ng-template [ngTemplateOutlet]="EditBreaks"></ng-template>
    </mat-tab>
    <!-- TODO: Write rollover -->
    <!-- <mat-tab [disabled]="!newOrSelectedTeachingPeriod.id" label="Import Units">
      <ng-template [ngTemplateOutlet]="ImportUnits"></ng-template>
    </mat-tab> -->
  </mat-tab-group>
  <div class="flex justify-end self-end space-x-4 bottom-6">
    <button mat-stroked-button class="" mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" class="ml-4" (click)="submitTeachingPeriod()">
      {{ newOrSelectedTeachingPeriod.id ? 'Save' : 'Create' }}
    </button>
  </div>
</div>

<ng-template #EditTeachingPeriod>
  <form class="teaching-period-form flex flex-col ml-6 mr-6 pt-12 overflow-hidden">
    <mat-form-field appearance="outline">
      <mat-label>Teaching Period Name</mat-label>
      <input type="text" matInput [(ngModel)]="newOrSelectedTeachingPeriod.period" name="name" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Teaching Period Year</mat-label>
      <input type="number" matInput [(ngModel)]="newOrSelectedTeachingPeriod.year" name="year" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Start and end date</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          placeholder="Start date"
          [(ngModel)]="newOrSelectedTeachingPeriod.startDate"
          name="startDate"
          required
        />
        <input
          matEndDate
          placeholder="End date"
          [(ngModel)]="newOrSelectedTeachingPeriod.endDate"
          name="endDate"
          required
        />
      </mat-date-range-input>

      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Active Until</mat-label>
      <input
        matInput
        [matDatepicker]="activeUntilPicker"
        [(ngModel)]="newOrSelectedTeachingPeriod.activeUntil"
        name="activeUntil"
        required
      />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="activeUntilPicker"></mat-datepicker-toggle>
      <mat-datepicker #activeUntilPicker></mat-datepicker>
    </mat-form-field>
  </form>
</ng-template>

<ng-template #EditBreaks>
  <h4 class="pt-8">Teaching Breaks for {{ newOrSelectedTeachingPeriod.name }}</h4>
  <mat-list>
    @for (break of newOrSelectedTeachingPeriod.breaksCache.values | async; track break) {
    <mat-list-item>
      <span class="flex items-center">
        <span>
          <span matListItemTitle>{{ break.startDate | date }}</span>
          <span matListItemLine>{{ break.numberOfWeeks }} week(s)</span>
        </span>
        <span class="grow"></span>
        <button mat-icon-button (click)="deleteBreak(newOrSelectedTeachingPeriod, break)">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </mat-list-item>
    }
  </mat-list>

  <form class="ml-6 mr-6 pt-12 overflow-hidden">
    <span class="flex items-center gap-6">
      <mat-form-field appearance="outline">
        <mat-label>Break Start Date</mat-label>
        <input
          matInput
          [matDatepicker]="breakStartDatePicker"
          [(ngModel)]="tempBreak.startDate"
          name="breakStartDate"
          required
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="breakStartDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #breakStartDatePicker></mat-datepicker>
      </mat-form-field>

      <!-- <span class="grow"></span> -->
      <mat-form-field appearance="outline">
        <mat-label>Number of weeks</mat-label>
        <input type="number" matInput [(ngModel)]="tempBreak.numberOfWeeks" name="breakNumWeeks" required />
      </mat-form-field>

      <button
        [disabled]="!(tempBreak.startDate && tempBreak.numberOfWeeks)"
        class="self-start"
        mat-icon-button
        (click)="addTeachingBreak()"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
    </span>
  </form>
</ng-template>
<ng-template #ImportUnits></ng-template>
