<div class="p-7" style="min-width: 600px; min-height: 600px flex flex-col">
  <mat-tab-group class="mb-5">
    <mat-tab label="Edit Teaching Period">
      <ng-template [ngTemplateOutlet]="EditTeachingPeriod"></ng-template
    ></mat-tab>
    <mat-tab label="Edit Breaks" [disabled]="!newOrSelectedTeachingPeriod.id">
      <ng-template [ngTemplateOutlet]="EditBreaks"></ng-template>
    </mat-tab>
    <!-- TODO: Write rollover -->
    <!-- <mat-tab [disabled]="!newOrSelectedTeachingPeriod.id" label="Import Units">
      <ng-template [ngTemplateOutlet]="ImportUnits"></ng-template>
    </mat-tab> -->
  </mat-tab-group>
  <div class="bottom-3.5 flex justify-end space-x-2.5 self-end">
    <button class="" mat-dialog-close mat-stroked-button>Cancel</button>
    <button class="ml-2.5" color="primary" mat-flat-button (click)="submitTeachingPeriod()">
      {{ newOrSelectedTeachingPeriod.id ? 'Save' : 'Create' }}
    </button>
  </div>
</div>

<ng-template #EditTeachingPeriod>
  <form class="teaching-period-form mx-3.5 flex flex-col overflow-hidden pt-7">
    <mat-form-field appearance="outline">
      <mat-label>Teaching Period Name</mat-label>
      <input
        matInput
        name="name"
        required
        type="text"
        [(ngModel)]="newOrSelectedTeachingPeriod.period"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Teaching Period Year</mat-label>
      <input
        matInput
        name="year"
        required
        type="number"
        [(ngModel)]="newOrSelectedTeachingPeriod.year"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Start and end date</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          name="startDate"
          placeholder="Start date"
          required
          [(ngModel)]="newOrSelectedTeachingPeriod.startDate"
        />
        <input
          matEndDate
          name="endDate"
          placeholder="End date"
          required
          [(ngModel)]="newOrSelectedTeachingPeriod.endDate"
        />
      </mat-date-range-input>

      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Active Until</mat-label>
      <input
        matInput
        name="activeUntil"
        required
        [matDatepicker]="activeUntilPicker"
        [(ngModel)]="newOrSelectedTeachingPeriod.activeUntil"
      />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="activeUntilPicker"></mat-datepicker-toggle>
      <mat-datepicker #activeUntilPicker></mat-datepicker>
    </mat-form-field>
  </form>
</ng-template>

<ng-template #EditBreaks>
  <h4 class="pt-5">Teaching Breaks for {{ newOrSelectedTeachingPeriod.name }}</h4>
  <mat-list>
    @for (break of teachingBreaks$ | async; track break) {
      <mat-list-item>
        <span class="flex items-center">
          <span>
            <span matListItemTitle>{{ break.startDate | date }}</span>
            <span matListItemLine>{{ break.numberOfWeeks }} week(s)</span>
          </span>
          <span class="grow"></span>
          <button mat-icon-button (click)="deleteBreak(newOrSelectedTeachingPeriod, break)">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </mat-list-item>
    }
  </mat-list>

  <form class="mx-3.5 overflow-hidden pt-7">
    <span class="flex items-center gap-3.5">
      <mat-form-field appearance="outline">
        <mat-label>Break Start Date</mat-label>
        <input
          matInput
          name="breakStartDate"
          required
          [matDatepicker]="breakStartDatePicker"
          [(ngModel)]="tempBreak.startDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="breakStartDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #breakStartDatePicker></mat-datepicker>
      </mat-form-field>

      <!-- <span class="grow"></span> -->
      <mat-form-field appearance="outline">
        <mat-label>Number of weeks</mat-label>
        <input
          matInput
          name="breakNumWeeks"
          required
          type="number"
          [(ngModel)]="tempBreak.numberOfWeeks"
        />
      </mat-form-field>

      <button
        class="self-start"
        mat-icon-button
        [disabled]="!(tempBreak.startDate && tempBreak.numberOfWeeks)"
        (click)="addTeachingBreak()"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
    </span>
  </form>
</ng-template>
<ng-template #ImportUnits></ng-template>
