<div class="teaching-period-list-container">
    <div class="header">
        <div>
            <h3>Teaching Periods</h3>
            <p>Add or Modify Teaching Periods registered with OnTrack</p>
        </div>
        <div class="spacer"></div>
        <div class="filter">
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" />
            </mat-form-field>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortTableData($event)" class="mat-elevation-z3">
        <!-- Name Column -->
        <ng-container [formGroup]="formData" matColumnDef="period">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let teachingPeriod">{{ teachingPeriod.period }}</td>
            <td mat-footer-cell *matFooterCellDef>
                <mat-form-field class="data-entry">
                    <input matInput required formControlName="period" placeholder="Name" />
                </mat-form-field>
            </td>
        </ng-container>
        <!--Year Column -->
        <ng-container [formGroup]="formData" matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
            <td mat-cell *matCellDef="let teachingPeriod">{{ teachingPeriod.year }}</td>
            <td mat-footer-cell *matFooterCellDef>
                <mat-form-field class="data-entry">
                    <input matInput required formControlName="year" placeholder="Year" />
                </mat-form-field>
            </td>
        </ng-container>
        <!-- Start Date Column -->
        <ng-container [formGroup]="formData" matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
            <td mat-cell *matCellDef="let teachingPeriod">{{ teachingPeriod.startDate | date: 'EEE d MMM' }}</td>
            <td mat-footer-cell *matFooterCellDef>
                <mat-form-field class="data-entry">
                    <input matInput required [matDatepicker]="start_date_picker" formControlName="start_date"
                        placeholder="Start Date" (click)="start_date_picker.open()" />
                    <mat-datepicker-toggle matSuffix [for]="start_date_picker"></mat-datepicker-toggle>
                    <mat-datepicker #start_date_picker></mat-datepicker>
                </mat-form-field>
            </td>
        </ng-container>
        <!-- End Date Column -->
        <ng-container [formGroup]="formData" matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
            <td mat-cell *matCellDef="let teachingPeriod">{{ teachingPeriod.endDate | date: 'EEE d MMM' }}</td>
            <td mat-footer-cell *matFooterCellDef>
                <mat-form-field class="data-entry">
                    <input matInput required [matDatepicker]="end_date_picker" formControlName="end_date"
                        placeholder="End Date" (click)="end_date_picker.open()" />
                    <mat-datepicker-toggle matSuffix [for]="end_date_picker"></mat-datepicker-toggle>
                    <mat-datepicker #end_date_picker></mat-datepicker>
                </mat-form-field>
            </td>
        </ng-container>
        <!-- Active Until Column -->
        <ng-container [formGroup]="formData" matColumnDef="activeUntil">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Active Until</th>
            <td mat-cell *matCellDef="let teachingPeriod">{{ teachingPeriod.activeUntil | date: 'EEE d MMM' }}</td>
            <td mat-footer-cell *matFooterCellDef>
                <mat-form-field class="data-entry">
                    <input matInput required [matDatepicker]="active_until_picker" formControlName="active_until"
                        placeholder="Active Until" (click)="active_until_picker.open()" />
                    <mat-datepicker-toggle matSuffix [for]="active_until_picker"></mat-datepicker-toggle>
                    <mat-datepicker #active_until_picker></mat-datepicker>
                </mat-form-field>
            </td>
        </ng-container>
        <!-- Options Column -->
        <ng-container matColumnDef="options" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let teachingPeriod">
                <button mat-button target="_blank" uiSref="teachingPeriodDetail" 
                [uiParams]="{ id: teachingPeriod.id }">
                    <i class="fa fa-share"></i>
                </button>

            </td>
            <td mat-footer-cell *matFooterCellDef>
                <div class="edit-actions right">
                    <button mat-icon-button (click)="submit()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
        <tr [hidden]="selected" mat-footer-row *matFooterRowDef="columns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons aria-label="Select page of teaching periods">
    </mat-paginator>
</div>