<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading clearfix">
      <div class="pull-left">
        <h4 class="panel-title">Teaching Periods</h4>
        Modify Teaching Periods registered with {{externalName.value}}
      </div>
      <form role="search" class="pull-right form-horizontal">
        <input id="searchbar" class="input-md form-control" placeholder="Search for teaching periods..." type="search" ng-model="search.$" typeahead="teachingperiod.period for teachingperiod in teachingPeriods | filter:$viewValue | limitTo:8" />
      </form>
    </div>
    <div class="panel-body">
      <div class="callout callout-info" ng-hide="teachingPeriods.length > 0">No teaching periods have been registered with {{externalName.value}} yet</div>
        <table ng-show="teachingPeriods.length > 0" class="table table-hover table-pointer">
          <thead>
            <tr>
              <th><a ng-click="sortOrder='teachingperiod.name()'; reverse=!reverse">Name <i ng-show="sortOrder=='period'" class="fa fa-caret-{{reverse ? 'down' : 'up'}}"></i></a></th>
              <th><a ng-click="sortOrder='startDate'; reverse=!reverse">Start Date <i ng-show="sortOrder=='startDate'" class="fa fa-caret-{{reverse ? 'down' : 'up'}}"></i></a></th>
              <th><a ng-click="sortOrder='endDate'; reverse=!reverse">End Date <i ng-show="sortOrder=='endDate'" class="fa fa-caret-{{reverse ? 'down' : 'up'}}"></i></a></th>
              <th><a ng-click="sortOrder='activeUntil'; reverse=!reverse">Active Until <i ng-show="sortOrder=='activeUntil'" class="fa fa-caret-{{reverse ? 'down' : 'up'}}"></i></a></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="teachingperiod in filteredTeachingPeriods = (teachingPeriods | filter:search) | orderBy:sortOrder:reverse | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize" ui-sref="admin/teachingperiods/edit({teachingPeriodId: teachingperiod.id})" >
              <td>{{teachingperiod.name()}}</td>
              <td>{{teachingperiod.startDate | date: 'EEE d MMM'}}</td>
              <td>{{teachingperiod.endDate | date: 'EEE d MMM'}}</td>
              <td>{{teachingperiod.activeUntil | date: 'EEE d MMM'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer clearfix">
        <a href class="btn btn-success pull-right" ng-click="showTeachingPeriodModal()">
          <i class="fa fa-calendar"></i>
          <i class="fa fa-plus"></i>
          Add New Teaching Period
        </a>
        <pagination ng-show="filteredTeachingPeriods.length > pageSize" total-items="filteredTeachingPeriods.length" ng-model="currentPage" items-per-page="pageSize" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" rotate="false"></pagination>
      </div>
    </div>
  </div>
</div>
