.teaching-periods-table {
//   width: 80%;
  background-color: white;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgb(245, 245, 245);
}
