<div class="teaching-periods-container">
  <div class="my-6 flex items-center">
    <h1 class="my-0">Teaching periods</h1>
    <span class="grow"></span>
    <button color="primary" mat-flat-button (click)="addTeachingPeriod()">
      Add new teaching period
    </button>
  </div>
  <table
    #table
    class=""
    mat-table
    matSort
    matSortActive="startDate"
    matSortDirection="desc"
    [dataSource]="dataSource"
    (matSortChange)="sortTableData($event)"
  >
    <ng-container matColumnDef="active">
      <th *matHeaderCellDef mat-header-cell>Active</th>
      <td *matCellDef="let element" mat-cell>
        <mat-checkbox color="primary" disabled [checked]="element.active"> </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
      <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Start Date</th>
      <td *matCellDef="let element" mat-cell>{{ element.startDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>End date</th>
      <td *matCellDef="let element" mat-cell>{{ element.endDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="activeUntil">
      <th *matHeaderCellDef mat-header-cell>Active until</th>
      <td *matCellDef="let element" mat-cell>{{ element.activeUntil | date }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>Actions</th>
      <td *matCellDef="let element" mat-cell>
        <div class="edit-actions right">
          <span>
            <button aria-label="import units" mat-icon-button (click)="importUnits(element)">
              <mat-icon>input</mat-icon>
            </button>
            <button
              aria-label="select teaching period"
              mat-icon-button
              (click)="selectTeachingPeriod(element)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </span>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
  <mat-paginator
    aria-label="Select page of teaching periods"
    [pageSizeOptions]="[10, 25, 100]"
  ></mat-paginator>
</div>
