.modal-complete {
  width: 500px;
}

.modal-heading-container {
  margin-bottom: 16px;
}

.modal-heading {
  font-size: 24px;
}

.modal-content-container {
  margin-top: 16px;
}

.modal-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-actions {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
}
