<div class="unit-student-enrolment-modal">
  <div class="modal-header">
    <h3>Enrol Student</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group" required>
        <label class="col-sm-3 control-label">Student ID</label>
        <div class="col-sm-7">
          <input type="input" class="form-control" placeholder="Student ID" ng-model="student_id">
        </div>
      </div>
      <div class="form-group" required>
        <label class="col-sm-3 control-label">Tutorial</label>
        <div class="col-sm-7">
          <input id="searchbar" class="form-control" placeholder="Tutorial Code" type="search" ng-model="tutorial" typeahead="tutorial as tutorial.abbreviation for tutorial in unit.tutorials"
          typeahead-select-on-exact="true"
          typeahead-editable="false"
          autocomplete="off"/>
        </div>
      </div>
      <p class="help-block" style="padding-left: 5em" ng-show="tutorial.trim().length == 0">Student will be enrolled without a tutorial assigned.</p>
    </form>
  </div>
  <div class="modal-footer text-right">
    <input ng-disabled="tutorial.trim().length == 0" type="button" ng-click="enrolStudent(student_id, tutorial)" class="btn btn-primary" value="Save" />
  </div>
</div>
