<mat-card class="modal-complete">
  <mat-card-header class="modal-heading-container">
    <mat-card-title class="modal-heading">Enrol Student</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="modal-content-container">
      <div class="modal-container">
        <div>
          <p>Student</p>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Student ID or Email</mat-label>
          <input matInput type="text" [(ngModel)]="studentIdOrEmail" />
        </mat-form-field>
      </div>
      <div class="modal-container">
        <div>
          <p>Campus</p>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Select Campus</mat-label>
          <mat-select [(ngModel)]="selectedCampus">
            <mat-option *ngFor="let campus of campuses" [value]="campus">{{ campus.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="card-actions">
    <input type="button" (click)="enrolStudent(studentIdOrEmail, selectedCampus)" class="btn btn-primary" value="Save" />
  </mat-card-actions>
</mat-card>
