.modal-comment {
    /*.image-comment-container {
        padding: 1ex;
        display: block;
        margin-left: auto;
        margin-right: auto;
     
    }*/
    .image-comment {
        width: 100%;
        height: 100%;
        align-content: center;
    }
  }