.modal-comment {
  .image-comment {
      width: 100%;
      height: 100%;
      align-content: center;
      border-radius: 5px;
      padding: 0;
      border: none;
  }
  .pdf-comment {
    width: 100%;
    height: 80vh;
    align-content: center;
  }
}