//
// Extensions for bootstrap that fix a container's width only at
// a specified column size
//

@media (min-width: $screen-xs-min) {
  .container-fixed-xs{
    width: $screen-xs;
    margin: 0 auto;
  }
}
@media (min-width: $screen-sm-min) {
  .container-fixed-sm,
  .container-fixed-xs {
    width: $screen-sm;
    margin: 0 auto;
  }
}
@media (min-width: $screen-md-min) {
  .container-fixed-md,
  .container-fixed-sm,
  .container-fixed-xs {
    width: $screen-md;
    margin: 0 auto;
  }
}
@media (min-width: $screen-lg-min) {
  .container-fixed-lg,
  .container-fixed-md,
  .container-fixed-sm,
  .container-fixed-xs {
    width: $screen-lg;
    margin: 0 auto;
  }
}
@media (min-width: $screen-xl-min) {
  .container-fixed-xl,
  .container-fixed-lg,
  .container-fixed-md,
  .container-fixed-sm,
  .container-fixed-xs {
    width: $screen-lg;
    margin: 0 auto;
  }
}
