<div class="flex flex-col gap-8">
  <div class="flex flex-col">
    <div class="flex flex-row gap-4">
      <mat-icon class="basis-auto">star</mat-icon>
      <h3 class="flex-grow">Name the task and indicate its target grade</h3>
    </div>
    <f-task-definition-general [taskDefinition]="taskDefinition"></f-task-definition-general>
  </div>

  <div class="flex flex-col">
    <div class="flex flex-row gap-4">
      <mat-icon class="basis-auto">school</mat-icon>
      <h3 class="flex-grow">Who assesses and submits this task?</h3>
    </div>
    <f-task-definition-who [taskDefinition]="taskDefinition"></f-task-definition-who>
  </div>

  <div class="flex flex-col">
    <div class="flex flex-row gap-4">
      <mat-icon class="basis-auto">date_range</mat-icon>
      <h3 class="flex-grow">Indicate when this task is due</h3>
    </div>
    <f-task-definition-dates [taskDefinition]="taskDefinition"></f-task-definition-dates>
  </div>

  <div class="flex flex-col">
    <div class="flex flex-row gap-4">
      <mat-icon class="basis-auto">upload-file</mat-icon>
      <h3 class="flex-grow">Specify what students need to upload</h3>
    </div>
    <f-task-definition-upload [taskDefinition]="taskDefinition"></f-task-definition-upload>
  </div>

  <div class="flex flex-col">
    <div class="flex flex-row gap-4">
      <mat-icon class="basis-auto">description</mat-icon>
      <h3 class="flex-grow">Upload instructions and resources for this task</h3>
    </div>
    <f-task-definition-resources [taskDefinition]="taskDefinition"></f-task-definition-resources>
  </div>

  <div class="flex flex-col">
    <div class="flex flex-row gap-4">
      <mat-icon class="basis-auto">smart_toy</mat-icon>
      <h3 class="flex-grow">Configure Overseer for automated assessment</h3>
    </div>
    <f-task-definition-overseer [taskDefinition]="taskDefinition"></f-task-definition-overseer>
  </div>

  <div class="flex flex-col">
    <div class="flex flex-row gap-4">
      <mat-icon class="basis-auto">settings</mat-icon>
      <h3 class="flex-grow">Configure optional settings</h3>
    </div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Options </mat-panel-title>
        </mat-expansion-panel-header>
        <f-task-definition-options [taskDefinition]="taskDefinition"></f-task-definition-options>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<mat-toolbar>
  <mat-toolbar-row class="flex flex-row">
    <span class="flex-grow"></span>
    <button mat-button mat-raised-button color="primary" (click)="save()"><mat-icon>save</mat-icon>Save</button>
  </mat-toolbar-row>
</mat-toolbar>

