<div id="task-def-head" class="w-full sticky top-0">
  <h3>Details for {{ taskDefinition.abbreviation }} - {{ taskDefinition.name }}</h3>
  <mat-divider></mat-divider>
</div>

<mat-stepper orientation="vertical" #stepper>
  <mat-step>
    <ng-template matStepLabel matStepperIcon="1">Task Details</ng-template>
    <div class="pt-[12px]">
      <p class="font-normal text-gray-500 pb-2">Name the task and set target grade</p>
      <f-task-definition-general [taskDefinition]="taskDefinition"></f-task-definition-general>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Task Learning Outcomes</ng-template>
    <div class="pt-[12px]">
      <p class="font-normal text-gray-500 pb-2">Add learning outcomes for this task</p>
      <f-learning-outcome-editor [context]="taskDefinition"></f-learning-outcome-editor>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Inbox</ng-template>
    <div class="pt-[12px]">
      <p class="font-normal text-gray-500 pb-2">
        Who assesses {{ unit.hasGroupwork() ? 'and submits ' : '' }}this task?
      </p>
      <f-task-definition-who [taskDefinition]="taskDefinition"></f-task-definition-who>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Due Dates</ng-template>
    <div class="pt-[12px]">
      <p class="font-normal text-gray-500 pb-2">When is the task due?</p>
      <f-task-definition-dates [taskDefinition]="taskDefinition"></f-task-definition-dates>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Upload Requirements</ng-template>
    <div class="pt-[12px]">
      <p class="font-normal text-gray-500 pb-2">What do students need to upload?</p>
      <f-task-definition-upload [taskDefinition]="taskDefinition"></f-task-definition-upload>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Task Resources</ng-template>
    <div class="pt-[12px]">
      <p class="font-normal text-gray-500 pb-2">Upload task descriptions and resources</p>
      <f-task-definition-resources [taskDefinition]="taskDefinition"></f-task-definition-resources>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Prerequisite Tasks</ng-template>
    <div class="pt-[12px]">
      <p class="font-normal text-gray-500 pb-2">
        Select which tasks need to be submitted before
        <span class="font-bold">{{ taskDefinition.abbreviation }} {{ taskDefinition.name }}</span>
        can be submitted
      </p>

      <f-task-definition-prerequisites [taskDefinition]="taskDefinition" [staffView]="true">
      </f-task-definition-prerequisites>
    </div>
  </mat-step>

  @if (overseerEnabled) {
    <mat-step>
      <ng-template matStepLabel>Task Assessment Automation</ng-template>
      <div class="pt-[12px]">
        <p class="font-normal text-gray-500 pb-2">Configure automated assessment</p>
        <f-task-definition-overseer [taskDefinition]="taskDefinition"></f-task-definition-overseer>
      </div>
    </mat-step>
  }

  <mat-step>
    <ng-template matStepLabel>SCORM Test</ng-template>
    <div class="pt-[12px]">
      <p class="font-normal text-gray-500 pb-2">
        Upload the corresponding SCORM 2004 test (e.g. Numbas)
      </p>
      <f-task-definition-scorm [taskDefinition]="taskDefinition"></f-task-definition-scorm>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Optional Settings</ng-template>
    <div class="pt-[12px]">
      <p class="font-normal text-gray-500 pb-2">Apply other options</p>
      <f-task-definition-options [taskDefinition]="taskDefinition"></f-task-definition-options>
    </div>
  </mat-step>
</mat-stepper>
<div class="flex w-full justify-end place-content-end mb-5">
  <div class="sticky bottom-16">
    <button mat-fab color="primary" (click)="save()">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</div>
