task-status-card .card .card-heading {
  &.task-trigger-dropdown {
    padding: 12px 20px;
    .form-control {
      font-size: 18px;
      i {
        margin-right: 0.75ex;
        margin-left: 0.5ex;
      }
    }
    .task-status.dropdown {
      a {
        padding-top: 8px;
        padding-bottom: 8px;
      }
      ul {
        margin-top: -1px;
      }
      ul li a {
        line-height: 250%;
      }
    }
  }
  &.static-task-status > status-icon {
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    .status-icon-bubble {
      border-radius: 100%;
    }
  }
}
