<!-- <div class="flex justify-center py-1">Tutor: {{ task.tutor?.user.name }}</div> -->
<span class="center-buttons mx-3 flex justify-around gap-3">
  @if (task.moderationType === 'random_sample' || task.moderationType === 'first_feedback') {
    <button
      [disabled]="task === undefined || isModerated(task)"
      mat-icon-button
      matTooltip="Show more from this tutor"
      matTooltipPosition="above"
      aria-label=""
      class="button"
      (click)="showMore()"
    >
      <mat-icon>flag</mat-icon>
    </button>
    <button
      [disabled]="task === undefined || isModerated(task)"
      mat-icon-button
      matTooltip="Snooze task"
      matTooltipPosition="above"
      aria-label=""
      class="button large-button"
      (click)="snooze()"
    >
      <mat-icon>snooze</mat-icon>
    </button>
    <button
      [disabled]="task === undefined || isModerated(task)"
      mat-icon-button
      matTooltip="Dismiss moderation task"
      matTooltipPosition="above"
      aria-label=""
      class="button large-button"
      (click)="dismiss()"
    >
      <mat-icon>archive</mat-icon>
    </button>
    <button
      [disabled]="task === undefined || isModerated(task)"
      mat-icon-button
      matTooltip="Show less from this tutor"
      matTooltipPosition="above"
      aria-label=""
      class="button"
      (click)="showLess()"
    >
      <mat-icon>thumb_up</mat-icon>
    </button>
  } @else if (task.moderationType === 'escalation') {
    <button
      [disabled]="task === undefined || isModerated(task)"
      mat-icon-button
      matTooltip="Overturn"
      matTooltipPosition="above"
      aria-label=""
      class="button"
      (click)="overturn()"
    >
      <!-- <mat-icon>flag</mat-icon> -->
      <mat-icon>gavel</mat-icon>
    </button>

    <button
      [disabled]="task === undefined || isModerated(task)"
      mat-icon-button
      matTooltip="Upheld"
      matTooltipPosition="above"
      aria-label=""
      class="button"
      (click)="upheld()"
    >
      <!-- <mat-icon>thumb_up</mat-icon> -->
      <mat-icon>verified</mat-icon>
    </button>
  }
</span>
