<mat-card>
    <mat-card-title>Portfolio Preparation</mat-card-title>
    <mat-card-content>
        <p>Preparing your portfolio involves 5 steps:</p>
        <ol>
            <li>Select your <strong>Grade</strong> you are applying for</li>
            <li>Upload your <strong>Learning Summary Report</strong></li>
            <li>Select the <strong>Tasks</strong> you want included</li>
            <li>Upload any <strong>Other Resources</strong> you want to add</li>
            <li><strong>Compile</strong> your resources into your portfolio and review</li>
        </ol>
        <p>
            Once you have completed all of these steps, your portfolio will be prepared by {{externalName.value}} and
            you will be notified when it is ready. You can then check your work, and if you want to make any corrections
            repeat these steps to create a new version
            of your portfolio.
        </p>
        <!--/welcome-step-->
    </mat-card-content>
    <mat-card-footer class="card-footer">
        <mat-card-actions class="card-actions" align="end">
            <button mat-flat-button (click)="advanceActiveTab(1)" class="button-next">Next<mat-icon>arrow_forward
                </mat-icon></button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card> 