@use 'sass:map';
@use '@angular/material' as mat;

@import '../../../../../../../theme.scss';
@import '../../../../../../../styles/mixins/task-list.scss';
@import '../../../../../../../styles/mixins/scrollable.scss';

$my-palette: mat.define-palette($md-formatif);

:host {
  --background-gray: rgba(0, 0, 0, 0.04);
  padding-right: 8px;
}

::ng-deep .cdk-virtual-scroll-content-wrapper {
  width: 100%;
}

.unit-task-list {
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 8px;
  min-width: 60px;
  width: 100%;
  height: 100%;

  &.mobile {
      max-width: 100%;
      width: 100%;
      padding: 0px;
  }

  .inbox-entry {
    padding-right: 8px;
    padding-left: 6px;
    width: 100%;
    height: 100%;
  }
}

.scrollable {
  height: 100%;
  @include scrollable();
}

.omnisearch {
  background-color: var(--background-gray);
  font-size: 15px;
  padding-right: 10px;
  text-align: left;

  &.expanded {
    height: 100%;
  }

  .search {
    background-color: transparent;
    border: hidden;
    outline: none;
  }

  .mdc-icon-button {
    display: flex;
  }
}

.full-width {
  width: 100%;
}

.task-list-data {
  margin-top: 0px;

  .task-title {
    font-size: 15px;
    margin-bottom: -2px;
    margin-top: 8px;
  }

  .task-details {
    margin-bottom: 0px;
    font-size: 12px;
  }
}


.mat-mdc-list-item .item-content {
  height: 60px;
  border-radius: 20px;
}

.mat-mdc-list-item .item-content:hover {
  cursor: pointer;
}

.mat-mdc-list-item .item-content.selected {
  background-color: var(--background-gray);
}

.task-inbox.narrow-width .mat-mdc-list-item .item-content.selected {
  margin-right: 12px;
}


.tasks-viewport {
  height: 100%;
}
