<div class="col-sm-3 well nav nav-stacked" id="sidebar">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h4 class="panel-title">Units You Teach</h4>
	  </div>
	  <div class="panel-body">
		<div ng-repeat="unitRole in unitRoles | filter:isConvenor">
			<a href="#/units?unitRole={{unitRole.id}}">{{unitRole.unit_name}}</a> {{unitRole.role}}
		</div>
		<div ng-repeat="unitRole in unitRoles | filter:isTutor">
			<a href="#/units?unitRole={{unitRole.id}}">{{unitRole.unit_name}}</a> {{unitRole.role}}
		</div>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h4 class="panel-title">Units You Study</h4>
	  </div>
	  <div class="panel-body">
		<div ng-repeat="unitRole in unitRoles | filter:isStudent">
			<a href="#/units?unitRole={{unitRole.id}}">{{unitRole.unit_name}}</a>
		</div>
	  </div>
	</div>


	<div class="panel panel-default" if-role="admin">
	  <div class="panel-heading">
	    <h4 class="panel-title">Administration</h4>
	  </div>
	  <div class="panel-body">
			<a href="#/admin/units" if-role="admin">Manage Units</a>
		</div>
	</div>
</div>
