<div class="task-data">
  <h4 class="list-group-item-heading">
    {{ task.definition.name }}
  </h4>
  <p class="list-group-item-text">
    @if (task.isGroupTask()) {
      <mat-icon aria-hidden="true" inline matTooltip="Group Task">groups</mat-icon>
    }
    @if (!task.isGroupTask()) {
      <mat-icon aria-hidden="true" inline matTooltip="Individual Task">person</mat-icon>
    }
    {{ task.definition.abbreviation }} - {{ gradeNames[task.definition.targetGrade] }} Task
    @if (task.isBeforeStartDate() && !task.inSubmittedState()) {
      <span class="due-time" matTooltip="Start task in {{ task.timeToStart() }}">
        <mat-icon inline>hourglass_empty</mat-icon> {{ task.timeToStart() }}
      </span>
    }
    @if (!task.isBeforeStartDate() && !task.inSubmittedState()) {
      <span
        class="due-time"
        matTooltip="{{
          task.isOverdue() ? 'Task Overdue!' : 'Complete task in ' + task.timeToDue()
        }}"
      >
        <mat-icon inline>hourglass_bottom</mat-icon> {{ task.timeToDue() }}
      </span>
    }
  </p>
</div>
<!--/task-data-->
<div class="task-badges">
  <status-icon [status]="task.status"></status-icon>

  <div class="task-superscript-badges">
    <span
      class="task-superscript-badge new-comments-badge"
      matTooltip="{{ task.numNewComments }} new {{
        task.numNewComments > 1 ? 'comments' : 'comment'
      }}"
      [hidden]="task.numNewComments <= 0"
    >
      {{ task.numNewComments }}
    </span>
    <span
      class="task-superscript-badge plagiarism-detected-badge"
      matTooltip="Plagiarism detected"
      [hidden]="!task.similaritiesDetected"
    >
      <mat-icon inline>visibility</mat-icon>
    </span>
  </div>

  <div class="task-subscript-badges">
    <span class="task-subscript-badge grade-badge" [hidden]="!task.hasGrade()">
      {{ task.gradeDesc() }}
    </span>
    <span class="task-subscript-badge quality-badge" [hidden]="!task.hasQualityPoints()">
      <sup>{{ task.qualityPts }}</sup
      >&frasl;<sub>{{ task.definition.maxQualityPts }}</sub>
    </span>
    <span
      class="task-subscript-badge soon-badge"
      [hidden]="!(task.isDueSoon() && !task.inFinalState())"
    >
      <mat-icon inline>schedule</mat-icon>
    </span>
    <span
      class="task-subscript-badge due-badge"
      [hidden]="
        !(task.betweenDueDateAndDeadlineDate() && !task.isPastDeadline() && !task.inFinalState())
      "
    >
      <mat-icon inline>schedule</mat-icon>
    </span>
    <span
      class="task-subscript-badge due-badge"
      [hidden]="!(task.isPastDeadline() && !task.inFinalState())"
    >
      <mat-icon inline>schedule</mat-icon><strong>!</strong>
    </span>
  </div>
</div>
<!--/badges-->

<!--/task-->
