<div class="task-data">
  <h4 class="list-group-item-heading">
    {{ task.definition.name }}
  </h4>
  <p class="list-group-item-text">
    <i class="fa fa-users" matTooltip="Group Task" aria-hidden="true" *ngIf="task.isGroupTask()"></i>
    <i class="fa fa-user" matTooltip="Individual Task" aria-hidden="true" *ngIf="!task.isGroupTask()"></i>
    {{ task.definition.abbreviation }} - {{ gradeNames[task.definition.targetGrade] }} Task

    <span
      class="due-time"
      *ngIf="task.isBeforeStartDate() && !task.inSubmittedState()"
      matTooltip="Start task in {{ task.timeToStart() }}"
    >
      <i class="fa fa-hourglass-start"></i> {{ task.timeToStart() }}
    </span>

    <span
      class="due-time"
      *ngIf="!task.isBeforeStartDate() && !task.inSubmittedState()"
      matTooltip="{{ task.isOverdue() ? 'Task Overdue!' : 'Complete task in ' + task.timeToDue() }}"
    >
      <i class="fa fa-hourglass-end"></i> {{ task.timeToDue() }}
    </span>
  </p>
</div>
<!--/task-data-->
<div class="task-badges">
  <status-icon [status]="task.status"></status-icon>

  <div class="task-superscript-badges">
    <span
      class="task-superscript-badge new-comments-badge"
      [hidden]="task.numNewComments <= 0"
      matTooltip="{{ task.numNewComments }} new {{ task.numNewComments > 1 ? 'comments' : 'comment' }}"
    >
      {{ task.numNewComments }}
    </span>
    <span
      class="task-superscript-badge plagiarism-detected-badge"
      [hidden]="!task.plagiarismDetected()"
      matTooltip="Plagiarism detected"
    >
      <i class="fa fa-eye"></i>
    </span>
  </div>

  <div class="task-subscript-badges">
    <span class="task-subscript-badge grade-badge" [hidden]="!task.hasGrade()">
      {{ task.gradeDesc() }}
    </span>
    <span class="task-subscript-badge quality-badge" [hidden]="!task.hasQualityPoints()">
      <sup>{{ task.qualityPts }}</sup
      >&frasl;<sub>{{ task.definition.maxQualityPts }}</sub>
    </span>
    <span class="task-subscript-badge soon-badge" [hidden]="!(task.isDueSoon() && !task.inFinalState())">
      <i class="fa fa-clock-o"></i>
    </span>
    <span
      class="task-subscript-badge due-badge"
      [hidden]="!(task.betweenDueDateAndDeadlineDate() && !task.isPastDeadline() && !task.inFinalState())"
    >
      <i class="fa fa-clock-o"></i>
    </span>
    <span class="task-subscript-badge due-badge" [hidden]="!(task.isPastDeadline() && !task.inFinalState())">
      <i class="fa fa-clock-o"></i><strong>!</strong>
    </span>
  </div>
</div>
<!--/badges-->

<!--/task-->
