<div class="p-4">
  <div class="flex items-center">
    <mat-icon class="mr-2">crisis_alert</mat-icon>
    <h1 class="mat-headline m-0">Similarities</h1>
    <span class="grow"></span>
    <div class="example-action-buttons">
      <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div>
  </div>

  <mat-accordion multi>
    <ng-container *ngFor="let similarity of task?.similarityCache.values | async">
      <h1 class="mat-headline"></h1>
      <mat-expansion-panel
        *ngFor="let part of similarity.parts; let i = index"
        hideToggle
        (opened)="part.panelOpenState = true"
        (closed)="part.panelOpenState = false"
      >
        <mat-expansion-panel-header [ngClass]="{ flagged: similarity.flagged }">
          <mat-panel-title>
            {{ similarity.friendlyTypeName }}
          </mat-panel-title>
          <mat-panel-description> {{ part.description }} </mat-panel-description>
          <button
            *ngIf="i === 0"
            [matTooltip]="similarity.flagged ? 'Unflag similarity' : 'Flag similarity'"
            mat-icon-button
            aria-label="Flag similarities"
            (click)="toggleFlag($event, similarity)"
          >
            <mat-icon [color]="similarity.flagged ? 'warn' : ''">{{
              similarity.flagged ? 'flag_circle' : 'check_circle'
            }}</mat-icon>
          </button>
        </mat-expansion-panel-header>
        <f-file-viewer
          *ngIf="part.panelOpenState"
          [fileType]="part.format"
          [src]="similarity.fileUrl(part.idx)"
        ></f-file-viewer>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>
