<form
  #form="ngForm"
  fxLayout="column"
  fxLayoutAlign="center start"
  [ngClass]="{'p-10': modal}"
  (ngSubmit)="submit()"
>
  <div class="main-container flex w-full flex-row items-start justify-center">
    <div class="main flex w-full flex-col items-start justify-start">
      <!-- avatar -->
      <div class="mb-[25px] flex w-full flex-row items-center justify-between">
        <div class="flex flex-row items-center justify-between">
          <a class="ml-[20px]" href="https://gravatar.com/connect/?source=_signup/" target="_blank">
            <user-icon style="margin-right: 25px" [size]="80" [user]="user"></user-icon
          ></a>

          <div>
            <h1>{{ user?.firstName }}</h1>
            Set up your {{ externalName.value }} profile
          </div>
        </div>
      </div>

      <div fxFlexFill fxLayout="row">
        <!-- <mat-form-field fxFlex="25" fxFlexAlign="start" appearance="outline">
          <mat-label>Pronouns</mat-label>
          <mat-select [(ngModel)]="formPronouns.pronouns" name="pronouns">
            <mat-option value="">Do not show</mat-option>
            <mat-option value="He/Him">He/Him</mat-option>
            <mat-option value="She/Her">She/Her</mat-option>
            <mat-option value="They/Them">They/Them</mat-option>
            <mat-option value="__customPronouns">Custom</mat-option>
          </mat-select>
        </mat-form-field>
        <div fxFlex="3"></div> -->
        <mat-form-field appearance="outline" fxFlexFill>
          <mat-label>Username</mat-label>
          <input matInput name="username" [disabled]="!newUser" [(ngModel)]="user.username" />
        </mat-form-field>
      </div>

      <div fxFlexFill fxLayout="row">
        <mat-form-field appearance="outline" fxFlex="48" fxFlexAlign="start">
          <mat-label>First Name</mat-label>
          <input class="outline-none" matInput name="first" required [(ngModel)]="user.firstName" />
        </mat-form-field>

        <div fxFlex></div>

        <mat-form-field appearance="outline" fxFlex="48" fxFlexAlign="end">
          <mat-label>Second Name</mat-label>
          <input matInput name="last" required [(ngModel)]="user.lastName" />
        </mat-form-field>
      </div>

      <div fxFlexFill fxLayout="row">
        <!-- <mat-form-field fxFlex="25" fxFlexAlign="start" appearance="outline">
          <mat-label>Pronouns</mat-label>
          <mat-select [(ngModel)]="formPronouns.pronouns" name="pronouns">
            <mat-option value="">Do not show</mat-option>
            <mat-option value="He/Him">He/Him</mat-option>
            <mat-option value="She/Her">She/Her</mat-option>
            <mat-option value="They/Them">They/Them</mat-option>
            <mat-option value="__customPronouns">Custom</mat-option>
          </mat-select>
        </mat-form-field>
        <div fxFlex="3"></div> -->
        <mat-form-field appearance="outline" fxFlexFill>
          <mat-label>Preferred Name</mat-label>
          <input matInput name="preferred_name" [(ngModel)]="user.nickname" />
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" fxFlexFill [hidden]="!customPronouns">
        <mat-label>Custom Pronouns</mat-label>
        <input
          matInput
          maxlength="25"
          name="custom_pronouns"
          type="text"
          [required]="customPronouns"
          [(ngModel)]="user.pronouns"
        />
      </mat-form-field>

      @if (user.systemRole === 'Student') {
        <mat-form-field appearance="outline" fxFlexFill>
          <mat-label>Student ID</mat-label>
          <input matInput name="student_id" required [(ngModel)]="user.studentId" />
        </mat-form-field>
      }

      <mat-form-field appearance="outline" fxFlexFill>
        <mat-label>Email</mat-label>
        <input matInput name="email" required type="email" [(ngModel)]="user.email" />
      </mat-form-field>

      @if (canSeeSystemRole) {
        <mat-form-field appearance="outline" fxFlexFill>
          <mat-label>System Role</mat-label>
          <mat-select
            name="systemRole"
            [disabled]="!canEditSystemRole"
            [(ngModel)]="user.systemRole"
          >
            <mat-option value="Admin">Administrator</mat-option>
            <mat-option value="Convenor">Convenor</mat-option>
            <mat-option value="Tutor">Tutor</mat-option>
            <mat-option value="Student">Student</mat-option>
            <mat-option value="Auditor">Auditor</mat-option>
          </mat-select>
        </mat-form-field>
      }

      <section fxFlexFill fxLayout="column" fxLayoutAlign="center start">
        <mat-checkbox
          class=""
          color="primary"
          name="feedback_n"
          [(ngModel)]="user.receiveFeedbackNotifications"
          >Receive notifications for new messages</mat-checkbox
        >
        <div fxFlex></div>
        <mat-checkbox
          color="primary"
          name="portfolio_n"
          [(ngModel)]="user.receivePortfolioNotifications"
          >Receive notifications when your portfolio is ready</mat-checkbox
        >
        <div fxFlex></div>
        <mat-checkbox
          color="primary"
          fxFlex
          name="task_n"
          [(ngModel)]="user.receiveTaskNotifications"
          >Receive notifications when new tasks are available</mat-checkbox
        >
      </section>
      <section fxFlexFill fxLayout="row" fxLayoutAlign="start center">
        <mat-checkbox color="primary" name="optin" [(ngModel)]="user.optInToResearch"
          >Send anonymous research statistics
        </mat-checkbox>
      </section>

      @if (tiiEnabled) {
        <section fxFlexFill fxLayout="row" fxLayoutAlign="start center">
          <mat-checkbox
            color="primary"
            disabled
            name="acceptedTiiEula"
            [disableRipple]="true"
            [(ngModel)]="user.acceptedTiiEula"
            (click)="$event.preventDefault()"
            >Accepted TurnItIn EULA
          </mat-checkbox>
        </section>
      }
      <div fxFlexFill fxLayout="row" style="padding-top: 12px">
        <button
          fxFlexAlign="start"
          mat-stroked-button
          type="button"
          [hidden]="mode === 'edit' || mode === 'new'"
          (click)="signOut()"
        >
          Sign Out
        </button>
        <div fxFlex></div>
        @if (mode === 'create') {
          <button
            color="primary"
            fxFlexAlign="end"
            mat-flat-button
            type="submit"
            [disabled]="form.invalid"
          >
            Confirm Account
          </button>
        }
        @if (mode === 'edit') {
          <button
            color="primary"
            fxFlexAlign="end"
            mat-flat-button
            type="button"
            [disabled]="form.invalid"
            (click)="submit()"
          >
            Save Profile
          </button>
        }
      </div>
    </div>
  </div>
</form>
