<div
  [hidden]="!scanningQr"
  class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-screen h-screen z-40 bg-gray-500/50 backdrop-blur"
>
  <!-- bg-gray-500 -->
  <!-- <video id="qr-reader" class="w-full h-full"></video> -->
  @if (loadingStudentData) {
    <mat-spinner
      color="blue"
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50"
    ></mat-spinner>
  }
  <div class="w-full h-full flex flex-col justify-around">
    <div class="w-full text-center text-white px-10 py-5 text-md font-bold">
      Scan a student's QR code to instantly load their project and mark submissions.
    </div>
    <div id="qr-reader" class=""></div>
    <button
      mat-raised-button
      color="secondary"
      (click)="scanningQr = false"
      class="max-w-md my-5 mx-auto"
    >
      <!-- TODO: if user clicks on 'Exit', take them back to Home.-->
      <!-- TODO: 'Cancel' closes the camera and displays the previously scanned project  -->
      {{ project ? 'Cancel' : 'Exit' }}
    </button>
  </div>
</div>

<div class="w-full flex flex-col h-[calc(100vh-140px)]">
  <div class="task-inbox flex flex-col flex-1 justify-normal items-center full-width">
    <div class="flex justify-between w-full relative">
      @if (project && project?.student) {
        <div></div>
        <div class="absolute left-1/2 transform -translate-x-1/2 text-center">
          <div class="text-center">
            {{ project?.student?.firstName }} {{ project?.student?.lastName }}
          </div>
          <div class="text-center">
            Target Grade: {{ getTargetTradeString(project?.targetGrade) }}
          </div>
        </div>
        <button mat-icon-button color="primary" (click)="scanQrCode()">
          <mat-icon>qr_code</mat-icon>
        </button>
      }
    </div>

    <mat-selection-list class="m-0 p-0 h-min" #tasks>
      @for (task of filteredTasks; track task) {
        <mat-list-option
          [value]="task"
          class="clearfix w-full"
          style="padding: 0; height: 60px"
          togglePosition="before"
          [selected]="true"
        >
          @if (task) {
            <div (click)="selectTask(task)" class="w-full" id="{{ task.id }}">
              <div
                class="inbox-entry flex items-center"
                [ngClass]="{hover: task.hover}"
                (mouseover)="task.hover = allowHover"
                (mouseout)="task.hover = task.optionsOpened"
              >
                <span
                  class="notification"
                  [ngClass]="{
                    active: task.numNewComments > 0 || task.similaritiesDetected,
                    similarities: task.similaritiesDetected
                  }"
                ></span>
                <user-icon class="self-center" [user]="project?.student" [size]="30"> </user-icon>
                <div class="task-list-data truncate flex-1" [hidden]="isNarrow">
                  <h4 class="student-name">{{ task.definition.name }}</h4>
                  <div class="task-details truncate">
                    {{ task.definition.abbreviation }} -
                    {{ getTargetTradeString(task.definition.targetGrade) }} Task
                  </div>
                </div>
                @if (task.hasGrade()) {
                  <div matTooltip="The grade assigned to the submission" matTooltipPosition="above">
                    <mat-chip-option style="margin-right: 6px" [hidden]="isNarrow"
                      >{{ task.gradeDesc() }}
                    </mat-chip-option>
                  </div>
                }
                <status-icon
                  [hidden]="isNarrow"
                  matBadge="{{ task.qualityPts }}/{{ task.definition.maxQualityPts }}"
                  [matBadgeHidden]="!task.hasQualityPoints() || !task.qualityPts"
                  matBadgePosition="before"
                  [status]="task.status"
                  class="ml-3"
                ></status-icon>
                @if (!isTaskDefMode) {
                  <div class="overflow" [hidden]="isNarrow">
                    <button [hidden]="task.hover" mat-icon-button aria-label="task-overflow">
                      <!-- <mat-icon class="warn-icon" *ngIf="task.similaritiesDetected">remove_red_eye</mat-icon> -->

                      @if (task.pinned) {
                        <div class="pin-container">
                          <mat-icon>push_pin</mat-icon>
                        </div>
                      }
                    </button>
                    <button
                      [hidden]="!task.hover"
                      mat-icon-button
                      aria-label="task overflow"
                      [matMenuTriggerFor]="overflowMenu"
                      (menuOpened)="setSelectedTask(task); task.optionsOpened = true"
                      (menuClosed)="task.hover = false; task.optionsOpened = false"
                      matTooltip="Submission options"
                      matTooltipPosition="right"
                      matTooltipShowDelay="400"
                    >
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #overflowMenu="matMenu" yPosition="below">
                      <button mat-menu-item (click)="togglePin(task)" class="flex items-center">
                        <mat-icon class="mr-0">
                          {{ task.pinned ? 'remove_circle' : 'add_alert' }}
                        </mat-icon>
                        <span class="ml-5"
                          >{{ task.pinned ? 'Unpin from inbox' : 'Pin to inbox' }}
                        </span>
                      </button>
                    </mat-menu>
                  </div>
                }
              </div>
              <!--/badges-->
            </div>
          }
        </mat-list-option>
      }

      <!--/task-->
    </mat-selection-list>
    @if (project && filteredTasks.length) {
      <!-- TODO: if filteredtasks && there are more tasks to load.. -->
      <div class="w-full flex justify-center mt-4">
        <button mat-button color="primary" (click)="loadAllTasks()">Load all tasks</button>
      </div>
    }

    <!-- </cdk-virtual-scroll-viewport> -->
  </div>

  @if (project) {
    <div class="mt-2">
      <div class="w-full flex justify-center items-center my-3 gap-5">
        <button
          class="bg-gray-100 medium-icon-button"
          mat-fab
          color="secondary"
          [disabled]="!tasks.selectedOptions.selected.length"
          (click)="setSelectedTasksStatus('fix_and_resubmit')"
        >
          <!-- Redo -->
          <mat-icon>construction</mat-icon>
        </button>
        <button
          class="bg-green-400 medium-icon-button"
          mat-fab
          [disabled]="!tasks.selectedOptions.selected.length"
          (click)="setSelectedTasksStatus('complete')"
        >
          <!-- Mark as Complete -->
          <mat-icon>done</mat-icon>
          <!-- <mat-icon class="text-2xl leading-none m-0">done</mat-icon> -->
        </button>
      </div>
    </div>
  }

  @if (selectedTask && project) {
    <div #commentspanel class="task-comment-panel inbox-panel w-full flex-1">
      <!-- <div class="w-full text-center py-4">{{ selectedTask?.definition.name }}</div> -->

      <task-comments-viewer
        style="background: white; border-radius: 12px"
        [task]="selectedTask"
        [project]="project"
        class="h-full"
        refocus-on-task-change="true"
        ng-if="selectedTask"
        style="padding: 0 8px 0 12px"
      >
      </task-comments-viewer>
    </div>
  }
</div>
