table {
  width: 100%;
}
.sync-options,
table {
  margin-bottom: 2rem;
}
td.mat-column-options {
  width: 84px;
  button {
    float: right;
  }
  span {
    display: inline;
  }
}
.header {
  display: flex;
  margin-bottom: 4px;
  .interactions {
    margin-left: auto;
    margin-top: auto;
  }
  .interactions > * {
    padding-left: 20px;
  }
  div {
    width: 100%;
    h4 {
      display: inline-block;
    }
    button {
      float: right;
    }
  }
}
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 0px;
}

.mat-column-abbreviation,
.mat-column-campus,
.mat-column-day {
  max-width: 120px;
}

.mat-column-location,
.mat-column-time {
  max-width: 110px;
}

.mat-column-capacity {
  max-width: 80px;
}

.edit-actions {
  display: flex;
  flex-direction: column;
  button {
    margin-left: auto;
  }
}
.data-entry {
  padding: 1rem 1rem 1rem 0;
  width: 95%;
}
