<div>
  <div class="header">
    @if (stream) {
      <div>
        @if (!editingStream) {
          <div>
            <h4>{{ stream.name }} - {{ stream.abbreviation }}</h4>
            <button mat-icon-button (click)="setEditStream(true)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        } @else {
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="stream.name" />
          </mat-form-field>
          <span>-</span>
          <mat-form-field appearance="outline">
            <mat-label>Abbreviation</mat-label>
            <input matInput [(ngModel)]="stream.abbreviation" />
          </mat-form-field>

          <button doStreamEdit mat-icon-button (click)="setEditStream(false)">
            <mat-icon color="warn">cancel</mat-icon>
          </button>
          <button mat-icon-button (click)="saveStream()">
            <mat-icon color="warn">save</mat-icon>
          </button>
          <button color="warn" mat-icon-button (click)="deleteStream()">
            <mat-icon>delete</mat-icon>
          </button>
        }
      </div>
    } @else {
      <h4>Tutorials without a stream</h4>
    }
  </div>

  <table
    class="f-table"
    mat-table
    matSort
    [dataSource]="dataSource"
    (matSortChange)="sortTableData($event)"
  >
    <!-- Abbreviation Column -->
    <ng-container matColumnDef="abbreviation" sticky [formGroup]="formData">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Abbreviation</th>
      <td *matCellDef="let tutorial" mat-cell>
        @if (!editing(tutorial)) {
          <div>
            {{ tutorial.abbreviation }}
          </div>
        } @else {
          <mat-form-field appearance="outline" class="data-entry">
            <input formControlName="abbreviation" matInput placeholder="Abbreviation" required />
          </mat-form-field>
        }
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <mat-form-field appearance="outline" class="data-entry">
          <input formControlName="abbreviation" matInput placeholder="Abbreviation" required />
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Campus Column -->
    <ng-container matColumnDef="campus" [formGroup]="formData">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Campus</th>
      <td *matCellDef="let tutorial" mat-cell>
        @if (!editing(tutorial)) {
          <div>
            {{ tutorial.campus ? tutorial.campus.name : '' }}
          </div>
        } @else {
          <mat-form-field appearance="outline" class="data-entry">
            <mat-label>Campus</mat-label>
            <mat-select formControlName="campus" [compareWith]="compareSelection">
              <mat-option [value]="null">Not Specified</mat-option>
              @for (campus of campuses; track campus) {
                <mat-option [value]="campus">
                  {{ campus.name }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <mat-form-field appearance="outline" class="data-entry">
          <mat-label>Campus</mat-label>
          <mat-select formControlName="campus">
            <mat-option [value]="null">Not Specified</mat-option>
            @for (campus of campuses; track campus) {
              <mat-option [value]="campus">
                {{ campus.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location" sticky [formGroup]="formData">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Location</th>
      <td *matCellDef="let tutorial" mat-cell>
        @if (!editing(tutorial)) {
          <div>
            {{ tutorial.meetingLocation }}
          </div>
        } @else {
          <mat-form-field appearance="outline" class="data-entry">
            <input formControlName="meetingLocation" matInput placeholder="Location" required />
          </mat-form-field>
        }
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <mat-form-field appearance="outline" class="data-entry">
          <input formControlName="meetingLocation" matInput placeholder="Location" required />
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Day Column -->
    <ng-container matColumnDef="day" [formGroup]="formData">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Day</th>
      <td *matCellDef="let tutorial" mat-cell>
        @if (!editing(tutorial)) {
          <div>
            {{ tutorial.meetingDay }}
          </div>
        } @else {
          <mat-form-field appearance="outline" class="data-entry">
            <mat-label>Day</mat-label>
            <mat-select formControlName="meetingDay" required>
              @for (day of days; track day) {
                <mat-option [value]="day">
                  {{ day }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <mat-form-field appearance="outline" class="data-entry">
          <mat-label>Day</mat-label>
          <mat-select formControlName="meetingDay" required>
            @for (day of days; track day) {
              <mat-option [value]="day">
                {{ day }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time" sticky [formGroup]="formData">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Time</th>
      <td *matCellDef="let tutorial" mat-cell>
        @if (!editing(tutorial)) {
          <div>
            {{ tutorial.meetingTime }}
          </div>
        } @else {
          <mat-form-field appearance="outline" class="data-entry">
            <input
              formControlName="meetingTime"
              matInput
              placeholder="Time"
              required
              [value]="formData.get('meetingTime').value"
            />
          </mat-form-field>
        }
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <mat-form-field appearance="outline" class="data-entry">
          <input formControlName="meetingTime" matInput placeholder="Time" required />
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Tutor Column -->
    <ng-container matColumnDef="tutor" [formGroup]="formData">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Tutor</th>
      <td *matCellDef="let tutorial" mat-cell>
        @if (!editing(tutorial)) {
          <div>
            {{ tutorial.tutor?.name }}
          </div>
        } @else {
          <mat-form-field appearance="outline" class="data-entry">
            <mat-label>Tutor</mat-label>
            <mat-select formControlName="tutor" required [compareWith]="compareSelection">
              @for (tutor of unit.staffUsers; track tutor) {
                <mat-option [value]="tutor">
                  {{ tutor.name }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <mat-form-field appearance="outline" class="data-entry">
          <mat-label>Tutor</mat-label>
          <mat-select formControlName="tutor" required>
            @for (tutor of unit.staffUsers; track tutor) {
              <mat-option [value]="tutor">
                {{ tutor.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Capacity Column -->
    <ng-container matColumnDef="capacity" sticky [formGroup]="formData">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Capacity</th>
      <td *matCellDef="let tutorial" mat-cell>
        @if (!editing(tutorial)) {
          <div>{{ tutorial.numStudents }} / {{ tutorial.capacity }}</div>
        } @else {
          <mat-form-field appearance="outline" class="data-entry">
            <input formControlName="capacity" matInput placeholder="Capacity" required />
          </mat-form-field>
        }
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <mat-form-field appearance="outline" class="data-entry">
          <input formControlName="capacity" matInput placeholder="Capacity" required />
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Options Column -->
    <ng-container matColumnDef="options" stickyEnd>
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let tutorial" mat-cell>
        @if (!editing(tutorial)) {
          <div class="right mr-3">
            <button mat-icon-button (click)="flagEdit(tutorial)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        } @else {
          <div class="edit-actions right mr-3">
            <button color="primary" mat-icon-button (click)="submit()">
              <mat-icon>save</mat-icon>
            </button>
            <button color="warn" mat-icon-button (click)="cancelEdit()">
              <mat-icon>cancel</mat-icon>
            </button>
            <button color="warn" mat-icon-button (click)="deleteTutorial(tutorial)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        }
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <div class="edit-actions right">
          <button class="mr-3 mb-[22px]" mat-icon-button (click)="submit()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="columns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columns" mat-row></tr>
    <tr *matFooterRowDef="columns" mat-footer-row [hidden]="selected"></tr>
  </table>
</div>
