<!-- <div class="flex items-center hover:cursor-pointer">
  <input
    type="file"
    class="text-md text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-md file:font-semibold file:bg-violet-50 file:text-violet-700 hover:file:bg-violet-100"
  />

  <button *ngIf="isUploadMode" class="self-end" mat-icon-button (click)="upload()" aria-label="upload file">
    <mat-icon>upload</mat-icon>
  </button>
</div> -->

<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload file</label>
<input
  class="block w-full text-md text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
  aria-describedby="file_input_help"
  id="file_input"
  type="file"
/>
<p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>
