<input
  type="file"
  class="hidden"
  [accept]="accept"
  [multiple]="multiple"
  (change)="onFileSelected($event)"
  #fileUpload
/>

<div class="flex items-center w-full" appDragDrop (fileDropped)="onFileDragOver($event)">
  <button
    mat-flat-button
    class="h-[52px] rounded-r-none border-r-0 rounded-lg shrink-0"
    color="primary"
    (click)="fileUpload.click()"
    [disabled]="uploadProgress"
  >
    <mat-spinner *ngIf="uploadProgress" [diameter]="18" [strokeWidth]="0.5" mode="indeterminate"></mat-spinner>
    <span *ngIf="!uploadProgress">Choose file</span>
  </button>
  <div class="f-inner-border flex grow items-center rounded-lg rounded-l-none bg-white">
    <div class="flex flex-col w-full">
      <div class="flex ml-4 h-[48px] items-center">
        <mat-icon class="mr-2" *ngIf="file?.name">upload_file</mat-icon>
        <span class="truncate grow max-w-xs mt-[4px]"> {{ file?.name || message }} </span>
        {{ uploadProgress }}
        <button
          [disabled]="!file?.name"
          class="ml-auto"
          mat-icon-button
          (click)="uploadProgress ? cancelUpload() : upload()"
        >
          <mat-icon *ngIf="!uploadProgress">upload</mat-icon>
          <mat-icon *ngIf="uploadProgress">cancel</mat-icon>
        </button>
      </div>
      <mat-progress-bar *ngIf="uploadProgress" mode="determinate" [value]="uploadProgress"> </mat-progress-bar>
      <span *ngIf="!uploadProgress" class="h-[4px]"></span>
    </div>
  </div>
</div>
