<div
  [matTooltip]="
    selectedTask.claimedByUnitRoleId
      ? selectedTask.claimedByUnitRoleId === currentUnitRole.id
        ? 'You have claimed this task.'
        : 'Another tutor has temporarily acquired this task and is currently providing feedback.'
      : 'Claim this task from the overflow marking queue.'
  "
>
  <button
    class="ml-3"
    color="primary"
    mat-raised-button
    [disabled]="
      !selectedTask || selectedTask.loadingSubmissionDetails || selectedTask.claimedByUnitRoleId
    "
    (click)="claimTask(selectedTask)"
  >
    <div class="flex items-center gap-0.5">
      @if (selectedTask.claimedByUnitRoleId) {
        @if (selectedTask.claimedByUnitRoleId === currentUnitRole.id) {
          <mat-icon class="scale-80">check_circle</mat-icon>
          Claimed by you
        } @else {
          <mat-icon class="scale-80">event_busy</mat-icon>
          Claimed by tutor
        }
      } @else {
        <mat-icon>sync_lock</mat-icon>
        Claim Task
      }
    </div>
  </button>
</div>
