microphone-tester {

  h1 {
    font-size: 12pt;
  }
  .btn-circle-xl {
    user-select: none;
    background-color: #f03d25;
    border-radius: 72px;
    color: #fff;
    height: 72px;
    transition: width 0.1s, height 0.1s;
    width: 72px;
    border: none;
    outline: none;
    position: inherit;
    left: 50%;
    top: 50%;

    p {
      font-family: "Helvetica Neue", "Segoe UI", "Helvetica", "Arial", "sans-serif";
      text-rendering: optimizeLegibility;
      line-height: 1.3;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
      text-align: center;
      transform: translate(20%, -50%);
      position: absolute;
    }
    i {
      font-size: 24px;
    }
  }

  mat-spinner.send-audio-spinner {
    position: absolute !important;
    left: 37%;
    top: 25%;
  }

  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: #f03d25;
  }

  .btn-circle {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    padding: 6px 0px;
    background-color: transparent;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    border: 1px solid #bdbdbd;
    box-shadow: 0.5px 0.5px 1px #bdbdbd;
  }

  .btn-circle:disabled {
    opacity: 0.2;
    border: none;
  }

  .btn-circle:active {
    box-shadow: 0px 0px 0px #bdbdbd;
  }

  .btn-circle:focus {
    outline: 0;
  }

  #button-wrapper {
    position: initial;
  }

  #audio-recorder-visualiser.audio-visualiser {
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 10px;
    left: 24px;
  }
}
