<div class="campus-list-container">
  <div class="header">
    <div class="mt-6">
      <h1 class="mb-0.5">Campuses</h1>
      <p>Add new campuses or modify existing ones</p>
    </div>
  </div>
  <table
    #table
    class=""
    mat-table
    matSort
    [dataSource]="dataSource"
    (matSortChange)="sortTableData($event)"
  >
    <!-- Name Column -->
    <ng-container matColumnDef="name" [formGroup]="formData">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
      <td *matCellDef="let campus" mat-cell>
        @if (!editing(campus)) {
          <div>
            {{ campus.name }}
          </div>
        } @else {
          <mat-form-field appearance="outline" class="data-entry">
            <input formControlName="name" matInput placeholder="Name" required />
          </mat-form-field>
        }
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <mat-form-field appearance="outline" class="data-entry">
          <input formControlName="name" matInput placeholder="Name" required />
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Abbreviation Column -->
    <ng-container matColumnDef="abbreviation" [formGroup]="formData">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Abbreviation</th>
      <td *matCellDef="let campus" mat-cell>
        @if (!editing(campus)) {
          <div>
            {{ campus.abbreviation }}
          </div>
        } @else {
          <mat-form-field appearance="outline" class="data-entry">
            <input formControlName="abbreviation" matInput placeholder="Abbreviation" required />
          </mat-form-field>
        }
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <mat-form-field appearance="outline" class="data-entry">
          <input formControlName="abbreviation" matInput placeholder="Abbreviation" required />
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Mode Column -->
    <ng-container matColumnDef="mode" [formGroup]="formData">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Default Sync Mode</th>
      <td *matCellDef="let campus" mat-cell>
        @if (!editing(campus)) {
          <div>
            {{ campus.mode | titlecase }}
          </div>
        } @else {
          <mat-form-field appearance="outline" class="data-entry">
            <mat-label>Default Sync Mode</mat-label>
            <mat-select formControlName="mode" required>
              @for (mode of syncModes; track mode) {
                <mat-option [value]="mode">
                  {{ mode | titlecase }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <mat-form-field appearance="outline" class="data-entry">
          <mat-label>Default Sync Mode</mat-label>
          <mat-select formControlName="mode" required>
            @for (mode of syncModes; track mode) {
              <mat-option [value]="mode">
                {{ mode | titlecase }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Timezone Column -->
    <ng-container matColumnDef="timezone" [formGroup]="formData">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Timezone</th>
      <td *matCellDef="let campus" mat-cell>
        @if (!editing(campus)) {
          <div>
            {{ campus.timezone }}
          </div>
        } @else {
          <mat-form-field appearance="outline" class="data-entry">
            <mat-label>Timezone</mat-label>

            <input formControlName="timezone" matInput />
          </mat-form-field>
        }
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <mat-form-field appearance="outline" class="data-entry">
          <mat-label>Timezone</mat-label>
          <input formControlName="timezone" matInput placeholder="Eg. Australia/Melbourne" />
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Active Column -->
    <ng-container matColumnDef="active" [formGroup]="formData">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Active</th>
      <td *matCellDef="let campus" mat-cell>
        @if (!editing(campus)) {
          <div>
            <mat-checkbox disabled [checked]="campus.active"> </mat-checkbox>
          </div>
        } @else {
          <mat-checkbox formControlName="active" [checked]="campus.active"> </mat-checkbox>
        }
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <mat-checkbox formControlName="active"> </mat-checkbox>
      </td>
    </ng-container>

    <!-- Options Column -->
    <ng-container matColumnDef="options" stickyEnd>
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let campus" mat-cell>
        @if (!editing(campus)) {
          <div class="right">
            <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button> -->
            <!-- <mat-menu #menu="matMenu"> -->
            <button aria-label="edit campus" mat-icon-button (click)="flagEdit(campus)">
              <mat-icon>edit</mat-icon>
            </button>
            <!-- </mat-menu> -->
          </div>
        } @else {
          <div class="edit-actions right">
            <span>
              <button aria-label="cancel edit" color="warn" mat-icon-button (click)="cancelEdit()">
                <mat-icon>cancel</mat-icon>
              </button>
              <button
                aria-label="submit changes"
                color="primary"
                mat-icon-button
                (click)="submit()"
              >
                <mat-icon>save</mat-icon>
              </button>
              <button
                aria-label="delete campus"
                color="warn"
                mat-icon-button
                (click)="deleteCampus(campus)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </span>
          </div>
        }
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <div class="edit-actions right">
          <button mat-icon-button (click)="submit()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="columns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columns" mat-row></tr>
    <tr *matFooterRowDef="columns" mat-footer-row [hidden]="selected"></tr>
  </table>
</div>
