<div id="students-list" class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="input-group">
        <input
          class="form-control input-lg"
          placeholder="Search for students or tutors..."
          type="search"
          ng-model="searchText"
          ng-change="searchTextChanged()"
          typeahead-on-select="searchTextChanged()"
          typeahead="text for text in
            unit.studentFilterTypeAheadData |
            filter:$viewValue |
            limitTo:8"
          typeahead-wait-ms="200"
          autofocus><!--/search-text-->
          <span class="input-group-btn">
            <button class="btn btn-default btn-lg" type="button" ng-model="showSearchOptions" btn-checkbox>
              <i class="fa fa-chevron-{{showSearchOptions ? 'up' : 'down'}}"></i>
            </button>
          </span><!--/search-options-toggle-->
        </div>
      </h4>
    </div><!--/search-header-->
    <form class="panel-body panel-collapseable search-options" ng-show="showSearchOptions">
      <div class="form-group staff-filter">
        <label>Show Students From...</label>
        <div class="input-group">
          <div class="btn-group">
            <button class="btn btn-default col-sm-6" ng-model="staffFilter" ng-click="staffFilterChanged('all')" btn-radio="'all'">
              <i class="fa fa-university"></i> All Tutorials
            </button>
            <button class="btn btn-default col-sm-6" ng-model="staffFilter" ng-click="staffFilterChanged('mine')" btn-radio="'mine'">
              <i class="fa fa-pencil"></i> My Tutorials
            </button>
          </div>
        </div>
      </div><!--/staff-filter-button-group-->
      <div class="form-group flag-sort">
        <label>Sort Flags By...</label>
        <div class="input-group">
          <div class="btn-group">
            <button class="btn btn-default" ng-model="tableSort.order" ng-click="sortTableBy('targetGrade')" btn-radio="'targetGrade'">
              <i class="fa fa-check"></i> Grade
            </button>
            <button class="btn btn-default" ng-model="tableSort.order" ng-click="sortTableBy('similarityFlag')" btn-radio="'similarityFlag'">
              <i class="fa fa-eye"></i> Plagiarism
            </button>
            <button class="btn btn-default" ng-model="tableSort.order" ng-click="sortTableBy('portfolioStatus')" btn-radio="'portfolioStatus'">
              <i class="fa fa-book"></i> Portfolio Status
            </button>
          </div>
        </div>
        <p class="help-block">
          Click the button twice to reverse the sort ordering.
        </p>
      </div><!--/flag-sort-button-group-->
    </form><!--/search-options-->
    <div class="panel-body" ng-show="filteredProjects.length == 0">
      <div class="callout callout-primary">
        <h4>No students found</h4>
        <p>
          No students were found using the filters specified.
        </p>
      </div>
    </div><!--/no-students-found-->
    <table ng-show="filteredProjects.length > 0" class="table table-condensed table-hover table-pointer">
      <thead>
        <tr>
          <th class="avatar"></th>
          <th class="username">
            <a ng-click="sortTableBy('student.username')">
              Username <i ng-show="tableSort.order == 'student.username'" class="fa fa-caret-{{tableSort.reverse ? 'down' : 'up'}}"></i>
            </a>
          </th><!--/id-column-header-->
          <th class="name">
            <a ng-click="sortTableBy('student.name')">
              Name <i ng-show="tableSort.order == 'student.name'" class="fa fa-caret-{{tableSort.reverse ? 'down' : 'up'}}"></i>
            </a>
          </th><!--/name-column-header-->
          <th class="stats">
            <a ng-click="sortTableBy('orderScale')">
              Stats <i ng-show="tableSort.order == 'orderScale'" class="fa fa-caret-{{tableSort.reverse ? 'down' : 'up'}}"></i>
            </a>
          </th><!--/stats-column-header-->
          <th class="flags" style="text-align: center;">
            <a ng-click="sortTableBy('flags')">
              Flags
              <i ng-show="
                tableSort.order == 'similarityFlag' ||
                tableSort.order == 'targetGrade' ||
                tableSort.order == 'portfolioStatus'"
                class="ng-hide fa fa-caret-{{tableSort.reverse ? 'down' : 'up'}}"></i>
            </a>
          </th><!--/flags-column-header-->
          <th class="campus">
            <a ng-click="sortTableBy('campus.name')">
              Campus <i ng-show="tableSort.order == 'campus'" class="fa fa-caret-{{tableSort.reverse ? 'down' : 'up'}}"></i>
            </a>
          </th><!--/campus-column-header-->
          <th class="tutorial">
            <a ng-click="sortTableBy('tutorial.abbreviation')">
              Tutorial <i ng-show="tableSort.order == 'tutorial.abbreviation'" class="fa fa-caret-{{tableSort.reverse ? 'down' : 'up'}}"></i>
            </a>
          </th><!--/tutorial-column-header-->
        </tr><!--/column-headers-row-->
      </thead>
      <tbody>
        <tr class="task-progress-row pl-12" ng-repeat="project in filteredProjects">
          <td class="avatar pl-8" ng-click="viewStudent(project)">
            <user-icon [size]="30" [user]="project.student"></user-icon>
          </td>
          <td ng-click="viewStudent(project)">
            {{project.student.username || "N/A"}}
          </td><!--/username-column-->
          <td ng-click="viewStudent(project)">
            <span class="truncate">{{project.student.name}}</span>
          </td><!--/name-column-->
          <td ng-click="viewStudent(project)" class="task-progress-bar">
            <progress class="task-progress" animate="true">
              <bar
                ng-repeat="bar in project.taskStats"
                value="bar.value"
                type="{{statusClass(bar.key)}}">
                <span ng-hide="bar.value < 10">{{bar.value !== bar.value ? 'No Interaction' : (bar.value + '%')}}</span>
              </bar>
            </progress>
          </td><!--/progress-column-->
          <td class="text-left" ng-click="viewStudent(project)">
            <span class="flags">
              <span class="flag">
                <grade-icon [index]="project.targetGrade"></grade-icon>
              </span>
              <span ng-show="project.similarityFlag" class="flag">
                <i class="fa fa-eye fa-2x" ></i>
              </span>
              <span ng-show="project.hasPortfolio" class="flag">
                <i class="fa fa-book fa-2x" ng-class="{'text-muted': project.compilePortfolio}"></i>
              </span>
            </span>
          </td><!--/flags-column-->
          <td>
            <student-campus-select [unit]="unit" [student]="project" [update]="true"></student-campus-select>
          </td><!--/campus-column-->
          <td>
            <student-tutorial-select class="pr-8" [unit]="unit" [student]="project"></student-tutorial-select>
          </td><!--/tutorial-column-->
        </tr><!--/student-row-->
      </tbody>
    </table><!--/student-table-->
    <div class="panel-footer">
      <div class="pull-right">
        <button
          type="button"
          class="btn btn-default"
          ng-csv="getCSVData"
          lazy-load="true"
          csv-header="getCSVHeader()"
          filename="student-project-export.csv"
          target="_blank">
          <i class="fa fa-file-excel-o"></i>
          <i class="fa fa-download"></i> Export CSV
        </button>
        <button type="button" class="btn btn-default" ng-click="showEnrolModal()">
          <i class="fa fa-user"></i>
          <i class="fa fa-plus"></i> Enrol Student
        </button>
      </div><!--/export-buttons-->
      <pagination
        total-items="pagination.totalSize"
        ng-change="pagination.onChange()"
        ng-model="pagination.currentPage"
        items-per-page="pagination.pageSize"
        max-size="pagination.maxSize"
        class="pagination-sm"
        boundary-links="true"
        rotate="false">
      </pagination><!--/pagination-->
    </div><!--/panel-footer-->
  </div>
</div>
