staff-task-list {
  @include task-list();
}

.list-group-item-text-extended {
  margin-top: 0.5em;
  line-height: 1.3;
  p {
    margin-bottom: 0;
    padding: 0;
    color: $gray-light;
  }
}

#empty-task-inbox {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}
