<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="filters.studentName" ng-change="studentNameChanged()"
        placeholder="Search students...">
      <span class="input-group-btn">
        <button class="btn btn-default btn-search-opts-toggle" type="button" ng-model="showSearchOptions" btn-checkbox>
          <i class="fa fa-chevron-{{showSearchOptions ? 'up' : 'down'}}"></i>
        </button>
        <button class="btn btn-default" type="button" ng-click="refreshTasks()">
          <i class="fa fa-refresh"></i>
        </button>
      </span>
      <!--/search-options-toggle-->
    </div>
    <!--/search-->
  </div>
  <form class="panel-body panel-collapseable search-options" ng-show="showSearchOptions">
    <div class="form-group task-definition">
      <div class="dropdown" dropdown>
        <label>Task Definition</label>
        <i ng-if="isTaskDefMode" class="fa fa-download pull-right dropdown-toggle" style="cursor:pointer; padding-top: 8px; padding-right: 8px;"
          dropdown-toggle></i>
        <ul class="dropdown-menu pull-right">
          <li>
            <a ng-href="{{submissionsPdfsUrl}}">Bulk Export Submission PDFs</a>
          </li>
          <li>
            <a ng-href="{{submissionsUrl}}">Bulk Export Submission Files</a>
          </li>
        </ul>
      </div>
      <div class="input-group col-sm-12">
        <select ng-model="filters.taskDefinitionIdSelected" ng-options="td.id as (td.abbreviation + ' - ' + td.name) group by groupSetName(td.group_set_id) for td in unit.task_definitions | orderBy:'+seq'"
          ng-change="taskDefinitionIdChanged()" autofocus="{{autofocus.onTaskDefinitionSelect}}" class="form-control input-md">
          <option value="" ng-hide="isTaskDefMode">All task definitions</option>
        </select>
      </div>
      <p class="help-block">You can choose to display submissions of a specific task definition here.</p>
    </div>
    <!--/task-definition-->
    <div class="form-group tutorial">
      <label>Tutorials</label>
      <div class="input-group col-sm-12">
        <select ng-model="filters.tutorialIdSelected" ng-options="t.id as t.description for t in tutorials | orderBy:'abbreviation'"
          ng-change="tutorialIdChanged()" class="form-control input-md">
        </select>
      </div>
      <p class="help-block">You can choose to display submissions from all tutorials or just your tutorials.</p>
    </div>
    <!--/tutorial-->
  </form>
  <!--/search-options-->
  <ul class="list-group">
    <li class="list-group-item list-group-item-task clearfix {{task.statusClass()}}" id="{{task.taskKeyToIdString()}}"
      ng-click="setSelectedTask(task)" ng-class="{selected: isSelectedTask(task)}" ng-repeat="task in filteredTasks">
      <user-icon user="task.project()" email="task.project().student_email" size="50">
      </user-icon>
      <div class="task-data">
        <h4 class="list-group-item-heading">
          {{task.project().name}}
        </h4>
        <p class="list-group-item-text">
          {{task.definition.abbreviation}} - {{task.definition.name}}
        </p>
        <div class="list-group-item-text-extended" ng-show="isSelectedTask(task)">
          <p>
            {{task.project().shortTutorialDescription()}}
          </p>
          <p>
            Submitted {{showDate(task.submission_date)}}
          </p>
          <p ng-show="task.times_assessed > 0">
            Assessed {{task.times_assessed}} time{{task.times_assessed == 1 ? "" : "s"}}
          </p>
        </div>
      </div>
      <!--/task-data-->
      <div class="task-badges">
        <status-icon [status]="task.status"></status-icon>
        <div class="task-superscript-badges">
          <span class="task-superscript-badge new-comments-badge" ng-if="task.num_new_comments > 0">
            {{task.num_new_comments}}
          </span>
          <span class="task-superscript-badge plagiarism-detected-badge" ng-if="task.plagiarismDetected()">
            <i class="fa fa-eye"></i>
          </span>
        </div>
        <div class="task-subscript-badges">
          <span class="task-subscript-badge grade-badge" ng-if="task.hasGrade()">
            {{task.gradeDesc()}}
          </span>
          <span class="task-subscript-badge quality-badge" ng-if="task.hasQualityPoints()">
            <sup>{{task.quality_pts}}</sup>&frasl;<sub>{{task.definition.max_quality_pts}}</sub>
          </span>
        </div>
      </div>
      <!--/badges-->
    </li>
    <!--/task-->
    <li ng-show="filteredTasks.length == 0" class="list-group-item text-center text-muted">
      <div id="empty-task-inbox">
        <img src="/assets/images/empty_task_inbox.svg" alt="Empty task inbox">
        No tasks to display!
      </div>
    </li>
  </ul>
</div>
