<!-- The search bar template -->
<ng-template #OmnisearchTemplate let-collapsable="collapsable" let-mobile="mobile">
  <div
    class="omnisearch rounded-t-2xl md:rounded-2xl"
    [ngClass]="{expanded: showSearchOptions, mobile: mobile}"
  >
    <div class="flex items-center">
      <button mat-icon-button aria-label="Search Icon" disabled class="flex-none flex items-center">
        <mat-icon class="flex items-center" disabled>search</mat-icon>
      </button>

      <div class="grow">
        <input
          class="search w-full"
          autocomplete="off"
          spellcheck="false"
          type="text"
          placeholder="Search Inbox"
          [(ngModel)]="filters.studentName"
          (ngModelChange)="applyFilters()"
        />
      </div>
      @if (collapsable) {
        <button
          class="flex-none flex items-center"
          matTooltip="Filter options"
          matTooltipPosition="below"
          matTooltipShowDelay="400"
          mat-icon-button
          aria-label="Inbox search dropdown"
          (click)="showSearchOptions = !showSearchOptions"
        >
          <mat-icon>{{ showSearchOptions ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
        </button>
      }
      @if (!isTaskDefMode) {
        <button
          class="flex-none flex items-center"
          matTooltip="Refresh the task inbox"
          matTooltipPosition="below"
          matTooltipShowDelay="400"
          matTooltip
          mat-icon-button
          aria-label="Refresh Inbox"
          (click)="refreshTasks()"
        >
          <mat-icon>refresh</mat-icon>
        </button>
      }
      @if (isTaskDefMode) {
        <button
          class="flex items-center"
          mat-icon-button
          matTooltip="More options"
          matTooltipPosition="below"
          matTooltipShowDelay="400"
          [matMenuTriggerFor]="menu"
          aria-label="Menu to download submission files"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
      }
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          matTooltip="Refresh the task inbox"
          matTooltipPosition="above"
          aria-label="Refresh Inbox"
          (click)="refreshTasks()"
        >
          <mat-icon>refresh</mat-icon>
          <span>Refresh Tasks</span>
        </button>
        <button mat-menu-item (click)="downloadSubmissionPdfs()">
          <mat-icon>download</mat-icon>
          <span>Bulk Export Submission PDFs</span>
        </button>
        <button mat-menu-item (click)="downloadSubmissions()">
          <mat-icon>download</mat-icon>
          <span>Bulk Export Submission Files</span>
        </button>
      </mat-menu>
    </div>
    <mat-accordion>
      <mat-expansion-panel
        class="search-settings-panel mat-elevation-z0"
        disabled
        hideToggle
        [expanded]="!collapsable || showSearchOptions"
      >
        <form class="search-options">
          <div class="task-definition">
            <div class="flex flex-row justify-between items-center">
              <mat-form-field class="flex-1">
                <mat-label>Task</mat-label>
                <mat-select
                  [(ngModel)]="filters.taskDefinitionIdSelected"
                  name="taskDefID"
                  (selectionChange)="taskDefinitionIdChanged()"
                >
                  <mat-option value="" [hidden]="taskData.taskDefMode"
                    >All Task Definitions</mat-option
                  >
                  @for (td of unit.taskDefinitionCache.values | async; track td) {
                    <mat-option [value]="td.id">
                      <span class="truncate">{{ td.abbreviation + ' - ' + td.name }}</span>
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <button
                [disabled]="
                  filters.taskDefinitionIdSelected || !filters.taskDefinitionIdSelected === ''
                "
                mat-icon-button
                aria-label="Sort by task definition icon"
                (click)="toggleTaskDefSort()"
              >
                <mat-icon>{{ states[taskDefSort].icon }}</mat-icon>
              </button>
            </div>
          </div>
          <!--/task-definition-->
          <div class="flex flex-row justify-between items-center">
            <mat-form-field class="flex-1">
              <mat-label>Students</mat-label>
              <mat-select
                [(ngModel)]="filters.tutorialIdSelected"
                name="tutorial"
                (selectionChange)="tutorialIdChanged()"
              >
                @for (t of studentFilter; track t) {
                  <mat-option [value]="t.id">
                    <span class="truncate">{{ t.inboxDescription }}</span>
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <button
              disabled
              mat-icon-button
              aria-label="Sort by tutorial icon"
              (click)="toggleTutorialSort()"
            >
              <mat-icon>{{ states[tutorialSort].icon }}</mat-icon>
            </button>
          </div>
          <!--/students-->
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-template>

<!-- Narrow width search dialog template-->
<ng-template #searchDialog>
  <ng-container
    *ngTemplateOutlet="OmnisearchTemplate; context: {collapsable: false, mobile: true}"
  ></ng-container>
  <div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]>OK</button>
  </div>
</ng-template>

<!-- Actual task-inbox -->
<div
  class="task-inbox flex flex-col justify-normal"
  [ngClass]="isNarrow ? 'narrow-width' : 'full-width'"
>
  <div class="openSearchDialog" [hidden]="!isNarrow">
    <button mat-icon-button (click)="openDialog()" aria-label="Seach Button">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  @if (!isNarrow) {
    <div>
      <ng-container
        *ngTemplateOutlet="OmnisearchTemplate; context: {collapsable: true, mobile: false}"
      ></ng-container>
    </div>
  }

  <div class="center-task-list" [hidden]="!loading || isNarrow">
    <mat-icon>hourglass_bottom</mat-icon>
  </div>

  <div class="center-task-list" [hidden]="loading || filteredTasks?.length !== 0 || isNarrow">
    <mat-icon>done_all</mat-icon>
  </div>

  <!--/search-options-->
  @if (filteredTasks) {
    <cdk-virtual-scroll-viewport class="tasks-viewport scrollable" itemSize="60">
      <mat-list class="m-0 p-0">
        <mat-list-item
          class="clearfix"
          *cdkVirtualFor="let task of filteredTasks; templateCacheSize: 0"
          style="padding: 0; height: 60px"
        >
          @if (task) {
            <div
              class="w-full"
              id="{{ task.taskKeyToIdString() }}"
              [ngClass]="{
                selected: isSelectedTask(task),
                'item-content': task.statusClass(),
              }"
            >
              <div
                (click)="setSelectedTask(task)"
                class="inbox-entry flex items-center"
                [ngClass]="{hover: task.hover}"
                (mouseover)="task.hover = allowHover"
                (mouseout)="task.hover = task.optionsOpened"
              >
                <span
                  class="notification"
                  [ngClass]="{
                    active: task.numNewComments > 0 || task.similaritiesDetected,
                    similarities: task.similaritiesDetected,
                  }"
                ></span>
                <user-icon class="self-center" [user]="task.project.student" [size]="30">
                </user-icon>
                <div class="task-list-data truncate flex-1" [hidden]="isNarrow">
                  <h4 class="student-name">{{ task.project.student.name }}</h4>
                  <div class="task-details truncate">
                    {{ task.definition.abbreviation }} -
                    {{ task.definition.name }}
                  </div>
                  <!-- <div class="muted" [hidden]="!isSelectedTask(task)">
                <p class="mat-small">
                  {{ task.shortTutorialDescription() }}
                </p>
                <p class="mat-small" [hidden]="!task.inSubmittedState()">Submitted {{ task.submissionDate | humanizedDate }}</p>
                <p class="mat-small" [hidden]="!(task.timesAssessed > 0)">
                  Assessed {{ task.timesAssessed }} time{{ task.timesAssessed === 1 ? '' : 's' }}
                </p>
              </div> -->
                </div>
                @if (task.hasGrade()) {
                  <div matTooltip="The grade assigned to the submission" matTooltipPosition="above">
                    <mat-chip-option style="margin-right: 6px" [hidden]="isNarrow"
                      >{{ task.gradeDesc() }}
                    </mat-chip-option>
                  </div>
                }
                <status-icon
                  [hidden]="isNarrow"
                  matBadge="{{ task.qualityPts }}/{{ task.definition.maxQualityPts }}"
                  [matBadgeHidden]="!task.hasQualityPoints() || !task.qualityPts"
                  matBadgePosition="before"
                  [status]="task.status"
                  class="ml-3"
                ></status-icon>
                @if (!isTaskDefMode) {
                  <div class="overflow" [hidden]="isNarrow">
                    <button [hidden]="task.hover" mat-icon-button aria-label="task-overflow">
                      <!-- <mat-icon class="warn-icon" *ngIf="task.similaritiesDetected">remove_red_eye</mat-icon> -->

                      @if (task.pinned) {
                        <div class="pin-container">
                          <mat-icon>push_pin</mat-icon>
                        </div>
                      }
                    </button>
                    <button
                      [hidden]="!task.hover"
                      mat-icon-button
                      aria-label="task overflow"
                      [matMenuTriggerFor]="overflowMenu"
                      (menuOpened)="setSelectedTask(task); task.optionsOpened = true"
                      (menuClosed)="task.hover = false; task.optionsOpened = false"
                      matTooltip="Submission options"
                      matTooltipPosition="right"
                      matTooltipShowDelay="400"
                    >
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #overflowMenu="matMenu" yPosition="below">
                      <button mat-menu-item (click)="togglePin(task)" class="flex items-center">
                        <mat-icon class="mr-0">
                          {{ task.pinned ? 'remove_circle' : 'add_alert' }}
                        </mat-icon>
                        <span class="ml-5"
                          >{{ task.pinned ? 'Unpin from inbox' : 'Pin to inbox' }}
                        </span>
                      </button>
                    </mat-menu>
                  </div>
                }
              </div>
              <!--/badges-->
            </div>
          }
        </mat-list-item>

        <!--/task-->
      </mat-list>
    </cdk-virtual-scroll-viewport>
  }
</div>
