.omnisearch {
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.04);
  font-size: 15px;
  min-height: 36px;
  padding-right: 16px;
  text-align: left;

  mat-form-field {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

.full-width {
  width: 100%;
}

.search-settings-panel {
  background-color: transparent;
}

user-icon {
  margin-right: 10px;
}

.muted {
  color: rgba(0, 0, 0, 0.5);
}

.task-list-data {
  padding-top: 3px;
  h4 {
    margin-bottom: -5px;
  }
  p {
    margin-bottom: -5px;
  }
}

.mat-list-item {
  height: 60px;
  border-radius: 20px;
  border: none;
}
.mat-list-item:hover {
  cursor: pointer;
}

.mat-list-item.selected {
  background-color: rgba(0, 0, 0, 0.04);
  height: 100px;
}

:host {
  ::ng-deep.mat-pseudo-checkbox {
    display: none !important;
  }
}

.list-group-item-text-extended {
  margin-top: 0.5em;
  line-height: 1.3;
  p {
    margin-bottom: 0;
    padding: 0;
    color: gray;
  }
}

#empty-task-inbox {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}
