<div class="scrollable">
  <div class="omnisearch" [ngClass]="{ expanded: showSearchOptions }">
    <div fxLayout="row">
      <button mat-icon-button aria-label="Seach Icon" disabled>
        <mat-icon>search</mat-icon>
      </button>

      <mat-form-field
        appearance="none"
        style="width: 100%; margin-top: -0.4em; margin-bottom: -30px;"
        floatLabel="never"
      >
        <input
          matInput
          autocomplete="off"
          spellcheck="false"
          type="text"
          placeholder="Search Tasks"
          [(ngModel)]="filters.studentName"
          (ngModelChange)="applyFilters()"
        />
      </mat-form-field>
      <button
        matTooltip="Filter options"
        matTooltipPosition="above"
        mat-icon-button
        aria-label="Inbox search dropdown"
        (click)="showSearchOptions = !showSearchOptions"
      >
        <mat-icon>{{
          showSearchOptions ? "arrow_drop_up" : "arrow_drop_down"
        }}</mat-icon>
      </button>

      <button
        matTooltip="Refresh the task inbox"
        matTooltipPosition="above"
        mat-icon-button
        aria-label="Refresh Inbox"
        (click)="refreshTasks()"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </div>

    <mat-accordion>
      <mat-expansion-panel
        class="search-settings-panel mat-elevation-z0"
        disabled
        hideToggle
        [expanded]="showSearchOptions"
      >
        <form class="search-options">
          <div class="task-definition">
            <div class="dropdown" dropdown>
              <i
                *ngIf="isTaskDefMode"
                class="fa fa-download pull-right dropdown-toggle"
                style="cursor: pointer; padding-top: 8px; padding-right: 8px;"
                dropdown-toggle
              ></i>
              <ul class="dropdown-menu pull-right">
                <li>
                  <a [href]="submissionsPdfsUrl">Bulk Export Submission PDFs</a>
                </li>
                <li>
                  <a [href]="submissionsUrl">Bulk Export Submission Files</a>
                </li>
              </ul>
            </div>
            <mat-form-field class="full-width">
              <mat-label>Task Definition</mat-label>
              <mat-select
                [(ngModel)]="filters.taskDefinitionIdSelected"
                name="taskDefID"
                (selectionChange)="taskDefinitionIdChanged()"
              >
                <mat-option value="" [hidden]="isTaskDefMode"
                  >All Task Definitions</mat-option
                >
                <mat-option
                  *ngFor="let td of unit.task_definitions"
                  [value]="td"
                >
                  {{ td.abbreviation + " - " + td.name }}
                </mat-option>
              </mat-select>
              <mat-hint>
                Display submissions of a specific task definition.
              </mat-hint>
            </mat-form-field>
          </div>
          <!--/task-definition-->

          <mat-form-field class="full-width">
            <mat-label>Tutorials</mat-label>
            <mat-select
              [(ngModel)]="filters.tutorialIdSelected"
              name="tutorial"
              (selectionChange)="tutorialIdChanged()"
            >
              <mat-option *ngFor="let t of tutorials" [value]="t">
                {{ t.inbox_description }}
              </mat-option>
            </mat-select>
            <mat-hint>
              Display submissions from all tutorials or just your tutorials.
            </mat-hint>
          </mat-form-field>

          <!--/tutorial-->
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!--/search-options-->
  <mat-list>
    <mat-list-item
      class="list-group-item list-group-item-task clearfix {{
        task.statusClass()
      }}"
      id="{{ task.taskKeyToIdString() }}"
      (click)="setSelectedTask(task)"
      [ngClass]="{ selected: isSelectedTask(task) }"
      *ngFor="let task of filteredTasks"
      style="padding: 0;"
    >
      <div
        class="inbox-entry"
        fxLayout="row"
        fxLayoutAlign="start center"
        [ngClass]="{ hover: task.hover }"
        (mouseover)="task.hover = true"
        (mouseout)="task.hover = false"
      >
        <user-icon
          fxFlexAlign="center"
          [user]="task.project()"
          [email]="task.project().student_email"
          [size]="45"
        >
        </user-icon>
        <div class="task-list-data">
          <h4 class="mat-h4">{{ task.project().name }}</h4>
          <p class="mat-small">
            {{ task.definition.abbreviation }} - {{ task.definition.name }}
          </p>
          <div class="muted" [hidden]="!isSelectedTask(task)">
            <p class="mat-small">
              {{ task.project().shortTutorialDescription() }}
            </p>
            <p class="mat-small">
              Submitted {{ task.submission_date | humanizedDate }}
            </p>
            <p class="mat-small" [hidden]="!(task.times_assessed > 0)">
              Assessed {{ task.times_assessed }} time{{
                task.times_assessed == 1 ? "" : "s"
              }}
            </p>
          </div>
        </div>
        <span fxFlex></span>
        <!--/task-data-->
        <div class="task-badges">
          <status-icon [status]="task.status"></status-icon>
          <div class="task-subscript-badges">
            <span
              class="task-subscript-badge grade-badge"
              *ngIf="task.hasGrade()"
            >
              {{ task.gradeDesc() }}
            </span>
            <span
              class="task-subscript-badge quality-badge"
              *ngIf="task.hasQualityPoints()"
            >
              <sup>{{ task.quality_pts }}</sup
              >&frasl;<sub>{{ task.definition.max_quality_pts }}</sub>
            </span>
          </div>
        </div>
        <div class="overflow">
          <button
            [hidden]="task.hover"
            mat-icon-button
            aria-label="task-overflow"
          >
            <mat-icon class="warn-icon" *ngIf="task.plagiarismDetected()"
              >remove_red_eye</mat-icon
            >
            <div class="new_comments" *ngIf="(task.num_new_comments > 0) && !task.plagiarismDetected()">
              {{ task.num_new_comments }}
            </div>
          </button>
          <button
            [hidden]="!task.hover"
            mat-icon-button
            aria-label="task-overflow"
          >
            <mat-icon>more_horiz</mat-icon>
          </button>
        </div>
      </div>
      <!--/badges-->
    </mat-list-item>
    <!--/task-->
    <mat-list-item
      [hidden]="filteredTasks.length != 0"
      class="list-group-item text-center text-muted"
    >
      <div id="empty-task-inbox">
        <img src="/assets/images/empty_task_inbox.svg" alt="Empty task inbox" />
        No tasks to display!
      </div>
    </mat-list-item>
  </mat-list>
</div>
