<div class="unit-staff-editor">
  <script type="text/ng-template" id="staffAvatar.html">
    <a>
      <!-- This is where a user icon can go -->
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>
  </script>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Modify Unit Staff</h3>
      Add staff members to the unit, assigning them a convenor or tutor role.
    </div>
    <div class="panel-body">
      <div class="col-sm-12">
        <div class="callout callout-info" ng-hide="unit.staff.length > 0">This unit has no staff assigned</div>
        <div ng-show="unit.staff.length > 0">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th colspan="2">Name</th>
                <th>Role</th>
                <th>Main Convenor</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="staff in unit.staff">
                <td style="width: 35px">
                  <user-icon [size]="35" [user]="staff" email="staff.email"></user-icon>
                </td>
                <td>{{staff.name}}</td>
                <td>
                  <div class="btn-group">
                    <label
                      class="btn btn-default"
                      tooltip="Tutors deliver unit content."
                      ng-model="staff.role"
                      btn-radio="'Tutor'"
                      ng-click="changeRole(staff,2)"
                      >Tutor</label
                    >
                    <label
                      class="btn btn-default"
                      tooltip="Convenors manage the unit."
                      ng-model="staff.role"
                      btn-radio="'Convenor'"
                      ng-click="changeRole(staff,3)"
                      >Convenor</label
                    >
                  </div>
                </td>
                <td>
                  <button
                    ng-show="staff.role == 'Convenor'"
                    ng-disabled="staff.id == unit.main_convenor_id"
                    type="button"
                    class="btn btn-default"
                    ng-model="unit.main_convenor_id"
                    ng-click="changeMainConvenor(staff)"
                    btn-checkbox
                  >
                    <i class="fa fa-{{staff.id == unit.main_convenor_id ? 'check' : 'times'}}"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger" ng-click="removeStaff(staff)">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel-footer clearfix">
      <div class="input-group col-sm-12">
        <input
          class="form-control"
          id="convenors"
          placeholder="Staff Name"
          ng-model="selectedStaff"
          typeahead="staff as staff.full_name for staff in staff | filter: $viewValue | filter: filterStaff"
          autocomplete="off"
          typeahead-editable="false"
          typeahead-wait-ms="200"
          typeahead-template-url="staffAvatar.html"
          typeahead-select-on-exact="true"
          typeahead-on-select="addSelectedStaff()"
        />

        <span class="input-group-btn">
          <button class="btn btn-success pull-right" ng-click="addSelectedStaff()">
            <i class="fa fa-male"></i>
            <i class="fa fa-plus"></i> Add Staff
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
