<div>
  <div class="header">
    <h3>Unit Staff</h3>
    <p>Manage unit staff by adding members and assigning them as convenors or tutors.</p>
  </div>
  <table mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name</th>

      <td *matCellDef="let unitRole" mat-cell>
        <div class="flex items-center gap-3">
          <user-icon aria-hidden="true" [size]="30" [user]="unitRole.user"></user-icon
          >{{ unitRole.user.name }}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="role">
      <th *matHeaderCellDef mat-header-cell>Role</th>
      <td *matCellDef="let unitRole" mat-cell>
        <mat-button-toggle-group
          appearance="legacy"
          class="my-3"
          hideSingleSelectionIndicator
          name="role"
          [ngModel]="unitRole.role"
          (change)="onRoleChange(unitRole, $event)"
        >
          <mat-button-toggle
            matTooltip="Tutors deliver unit content"
            matTooltipPosition="above"
            matTooltipShowDelay="1000"
            value="Tutor"
            >Tutor</mat-button-toggle
          >
          <mat-button-toggle
            matTooltip="Convenors manage the unit"
            matTooltipPosition="above"
            matTooltipShowDelay="1000"
            value="Convenor"
            >Convenor</mat-button-toggle
          >
        </mat-button-toggle-group>
      </td>
    </ng-container>
    <ng-container matColumnDef="main-convenor">
      <th *matHeaderCellDef mat-header-cell>Main Convenor</th>
      <td *matCellDef="let unitRole" mat-cell>
        @if (unitRole?.role === 'Convenor') {
          <button
            aria-label="Make staff member the Main Convenor"
            mat-icon-button
            [disabled]="unitRole.id === unit?.mainConvenor?.id"
            (click)="changeMainConvenor(unitRole)"
          >
            <mat-icon aria-hidden="true">
              {{ unitRole.id === unit?.mainConvenor?.id ? 'check' : 'close' }}
            </mat-icon>
          </button>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="observer-only">
      <th *matHeaderCellDef mat-header-cell>Observer Only</th>
      <td *matCellDef="let unitRole" mat-cell>
        <mat-slide-toggle
          matTooltip="This staff member will have read-only access as an observer"
          matTooltipPosition="above"
          matTooltipShowDelay="1000"
          [checked]="unitRole.observerOnly"
          [disabled]="unitRole.id === unit.mainConvenor.id"
          (change)="toggleObserverOnly(unitRole)"
        ></mat-slide-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="overflow-marking">
      <th *matHeaderCellDef mat-header-cell>Overflow Marking</th>
      <td *matCellDef="let unitRole" mat-cell>
        <mat-slide-toggle
          matTooltip="This staff member can mark overflow tasks"
          matTooltipPosition="above"
          matTooltipShowDelay="1000"
          [checked]="unitRole.canMarkOverflowTasks"
          (change)="toggleCanOverflowMark(unitRole)"
        ></mat-slide-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="mentor">
      <th *matHeaderCellDef mat-header-cell>Mentor</th>
      <td *matCellDef="let unitRole" mat-cell>
        <mat-select
          class="w-full min-w-[140px]"
          [ngModel]="unitRole.mentorId"
          (selectionChange)="selectMentor(unitRole, $event)"
        >
          <mat-option value="">(None)</mat-option>
          @for (unitRole of unitStaff; track unitRole) {
            <mat-option class="w-full min-w-fit" [value]="unitRole.id">
              {{ unitRole.user.name }}</mat-option
            >
          }
        </mat-select>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>Actions</th>
      <td *matCellDef="let unitRole" mat-cell>
        <div class="flex gap-1">
          <button
            mat-icon-button
            matTooltip="View Moderation Notes"
            (click)="openTutorNotes(unitRole)"
          >
            <mat-icon>local_library</mat-icon>
          </button>
          <button color="warn" mat-icon-button (click)="removeStaff(unitRole)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
  <div class="mt-3 flex flex-col items-center gap-2 md:flex-row md:items-start">
    <mat-form-field appearance="outline" class="w-full">
      <input
        matInput
        placeholder="Staff Name"
        [matAutocomplete]="auto"
        [(ngModel)]="searchTerm"
        (ngModelChange)="filterStaffList()"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayStaffName"
        (optionSelected)="addSelectedStaff($event.option.value)"
      >
        @for (staff of filteredStaff; track staff) {
          <mat-option [value]="staff">
            {{ staff.name }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <button
      class="mt-[11px] min-w-fit"
      color="primary"
      mat-stroked-button
      type="button"
      (click)="openBulkImportModal()"
    >
      Bulk Import
    </button>
  </div>
</div>
