<div if-role="Admin Convenor Tutor">
  <ul class="breadcrumb">
      <li><a href="#/home">Home</a></li>
      <li class="active">{{unitRole.unit_name}} {{unitRole.role}}</li>
  </ul><!--breadcrumbs-->
  <div>
    <div ng-hide="unitLoaded" class="large-notice-block">
      <i class="fa fa-2x fa-spinner fa-pulse"></i>
      <p>Loading unit details...</p>
    </div><!--/loading-->
    <div ng-if="unitLoaded">
      <h2>{{unit.name}} <small>{{unit.code}}</small><p class="lead"> Teacher View</p></h2>
      <tabset class="tabset-icon" justified="true" ng-if="unitLoaded">
        <tab ng-repeat="tab in tabs | toArray | orderBy: 'seq'" active="tab.active" ng-click="setActiveTab(tab)">
          <tab-heading>
            <i class="fa fa-2x {{tab.icon}}"></i> {{tab.title}}
          </tab-heading>
        </tab>
      </tabset><!--tabs-->
      <task-feedback-assessor-list ng-if="activeTab === tabs.feedbackTab" unit="unit" context="'assess'" assessing-unit-role="assessingUnitRole"></task-feedback-assessor-list>
      <unit-student-list  ng-if="activeTab === tabs.studentsTab" unit-role="unitRole" unit="unit" unit-loaded="unitLoaded"></unit-student-list>
      <task-feedback-assessor-list  ng-if="activeTab === tabs.tasksTab" unit="unit" context="'task'" assessing-unit-role="assessingUnitRole"></task-feedback-assessor-list>
      <tutor-group-manager ng-if="activeTab === tabs.groupsTab"></tutor-group-manager>
      <unit-student-plagiarism-list  ng-if="activeTab === tabs.plagiarismTab"></unit-student-plagiarism-list>
      <unit-analytics-viewer  ng-if="activeTab === tabs.analyticsTab"></unit-analytics-viewer>
      <unit-student-portfolio-list ng-if="activeTab === tabs.gradingTab"></unit-student-portfolio-list>
    </div><!--content-->
  </div>
</div>
