<div class="container">
  <tabset class="tabset-icon">
    <tab ng-repeat="tab in tabs | toArray | orderBy: 'seq'" active="tab.active" ng-click="setActiveTab(tab)">
      <tab-heading>{{tab.title}}</tab-heading>
    </tab>
  </tabset><!--/tabs-->
  <unit-details-editor unit="unit" ng-if="activeTab === tabs.unitTab"></unit-details-editor>
  <unit-ilo-editor ng-if="activeTab === tabs.learningOutcomesTab"></unit-ilo-editor>
  <unit-staff-editor ng-if="activeTab === tabs.staffTab"></unit-staff-editor>
  <unit-tutorials-manager ng-if="activeTab === tabs.tutorialsTab" [unit]="unit"></unit-tutorials-manager>
  <unit-students-editor [unit]="unit" ng-if="activeTab === tabs.studentsTab"></unit-students-editor>
  <unit-tasks-editor ng-if="activeTab === tabs.tasksTab"></unit-tasks-editor>
  <task-ilo-alignment-editor show-csv="true" unit="unit" ng-if="activeTab === tabs.taskAlignmentTab"></task-ilo-alignment-editor>
  <unit-group-set-editor ng-if="activeTab === tabs.groupsTab"></unit-group-set-editor>
</div>
