.task-definition-editor {
  .submission-requirement, .plagiarism-check {
    &:not(:first-child) {
      border-top: 1px solid #ccc;
    }
    .btn.btn-danger {
      margin-right: 1ex;
    }
  }
  a:first-of-type {
    margin-top: 0;
  }
  a {
    margin-top: 1rem;
  }

}
