<div id="home" class="w-full h-screen px-20 justify-center items-center">
  <div class="flex flex-col gap-5 w-full max-w-2xl mx-auto justify-center h-screen items-center">
    <div class="flex justify-center items-center">
      <mat-icon
        svgIcon="formatif-logo"
        class="formatif-icon"
        aria-label="Formatif logo"
        class="w-[100px] h-[100px]"
      ></mat-icon>
      <h1 class="m-0 ml-5 text-6xl">OnTrack</h1>
    </div>

    @if (isLoading) {
      @if (unauthorised) {
        <div class="w-full bg-red-200 text-red-800 p-5 text-center font-semibold rounded-lg">
          An error occurred. Please refresh the page.
        </div>
      } @else {
        <!-- TODO: spinner -->
        <p>Loading...</p>
      }
    } @else {
      <div class="flex justify-center gap-5">
        @if (currentUser?.systemRole === 'Convenor' || currentUser?.systemRole === 'Admin') {
          <button
            mat-fab
            [disabled]="!linkedUnit"
            matTooltip="Sync enrolments"
            matTooltipPosition="above"
            aria-label=""
            class="w-[60px] h-[60px]"
            color="default"
            (click)="syncEnrolments()"
          >
            <mat-icon mat-icon-button>people</mat-icon>
          </button>
          <button
            mat-fab
            [disabled]="!linkedUnit"
            matTooltip="Sync grades"
            matTooltipPosition="above"
            aria-label=""
            class="w-[60px] h-[60px]"
            color="default"
            (click)="syncStudentsGrades()"
          >
            <mat-icon mat-icon-button>grade</mat-icon>
          </button>
        }
      </div>
      <button
        mat-fab
        extended
        color="primary"
        class="h-[50px] my-5 w-full max-w-lg"
        (click)="launchApplication()"
        target="_blank"
      >
        <mat-icon>rocket_launch</mat-icon>
        Launch {{ linkedUnit ? linkedUnit.code : 'OnTrack' }}
      </button>
      <div class="text-center text-gray-300 mt-4 w-full">
        @if (linkedUnit) {
          {{ linkedUnit.code }} &mdash; {{ linkedUnit.name }}
          @if (currentUser?.systemRole === 'Convenor' || currentUser?.systemRole === 'Admin') {
            <br />
            <button mat-button class="underline text-blue-400" (click)="removeLink()">
              Unlink
            </button>
          }
        } @else {
          This course has not yet been linked to an OnTrack Unit.

          @if (currentUser?.systemRole === 'Convenor' || currentUser?.systemRole === 'Admin') {
            <br />
            <button mat-button class="underline text-blue-400" (click)="goToLinkUnit()">
              Link it now
            </button>
          } @else {
            <br />
            Only OnTrack staff are permitted to link this course.
          }
        }
      </div>
    }
  </div>
</div>
