<div class="p-3">
  <h2>Grade for {{ project.student.name }}</h2>
  <p>Assign grade for this project.</p>
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Rationale</mat-label>
    <textarea matInput rows="5" [(ngModel)]="project.gradeRationale"></textarea>
  </mat-form-field>
  @for (group of gradeResults; track group) {
    <div class="mt-3 flex items-center justify-between gap-1">
      <div class="w-[200px]">
        <strong>{{ group.name }}</strong>
      </div>

      <div class="flex flex-1 justify-end gap-1">
        @for (score of group.scores; track score) {
          <button
            mat-raised-button
            [color]="project.grade === score ? 'primary' : 'default'"
            [disabled]="!project.gradeRationale"
            [style.flex]="'0 0 ' + 100 / maxScoresPerRow + '%'"
            [value]="score"
            (click)="project.assignGrade(score, project.gradeRationale)"
          >
            {{ score }}
          </button>
        }
      </div>
    </div>
  }
  <div class="mt-6 flex w-full justify-end">
    <button
      color="primary"
      mat-raised-button
      [disabled]="!project.gradeRationale"
      (click)="project.assignGrade(project.grade, project.gradeRationale)"
    >
      Save
    </button>
  </div>
</div>
