<div class="panel panel-info">
  <div class="panel-heading">Files Uploaded</div>
  <div class="panel-body">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Kind</th>
          <th>File</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="file in project.portfolio_files">
          <td>{{file.name}}</td>
          <td>
            <i tooltip="{{file.kind | ucfirst }}" class="fa fa-file-{{file.kind == 'document' ? 'pdf' : file.kind}}-o fa-2x"></i>
          </td>
          <td>
            <button class="btn btn-danger pull-right" ng-click="removeFile(file)"><i tooltip="Remove this file" class="fa fa-times"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>