<div id="panel" class="panel panel-default">
  <div class="panel-heading task-status row-fluid">
      <h3 class="panel-title">Step 4: Compile Portfolio</h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-12" ng-show="project.compile_portfolio">
      <div class="callout callout-info">
        <h4>Compile Scheduled</h4>
        <p>Your portfolio compilation is scheduled with Doubtfire. This process will take some time, check back soon to see if your portfolio is available. Alternatively, you can cancel the compile if you want to make changes.</p>
      </div>
    </div>
    <div class="col-xs-12">
      <p>Compiling your portfolio combines together your learning summary report, tasks, and other files into a single document.</p>
      <div ng-show="projectHasLearningSummaryReport()">
        <button class="btn btn-primary" ng-hide="project.compile_portfolio" ng-click="toggleCompileProject()">Schedule Compile</span></button>
        <button class="btn btn-danger" ng-show="project.compile_portfolio" ng-click="toggleCompileProject()">Cancel Compile</span></button>
      </div>
    </div>
    <div class="col-xs-12" ng-hide="projectHasLearningSummaryReport()">
      <div class="callout callout-danger">
        <h4>Learning Summary Report Required</h4>
        <p>Your portfolio must include a learning summary report. Upload this before you schedule your portfolio to be compiled.</p>
      </div>
    </div>
    <div class="col-xs-12" ng-show="projectHasLearningSummaryReport()">
      <div class="callout callout-warning">
        <h4>Processing Takes Time</h4>
        <p>Once you click Compile, the construction of your portfolio will be scheduled with Doubtfire. This process will take some time, and you will be emailed when your portfolio is ready to review.</p>
      </div>
    </div>
    <div class="pull-right">
      <button class="btn btn-primary" ng-click="currentView = 4">Step 5: Review Portfolio <span class="fa fa-angle-double-right fa-lg"></span></button>.
    </div>
  </div>
</div>
