<div id="panel" class="panel panel-primary">
  <div class="panel-heading task-status row-fluid">
    <h3 class="panel-title">Select Tasks</h3>
    Select tasks to include and showcase in your portfolio that demonstrates your
    understanding of each Indended Learning Outcome.
  </div>
  <div class="panel-body">
    <table class="table col-sm-12">
      <thead>
        <tr>
          <th></th>
          <th>Task</th>
          <th class="text-center" ng-repeat="ilo in unit.ilos | orderBy: 'abbreviation'" tooltip="{{ilo.name}}" tooltip-append-to-body="true">
            <label class="label label-info">{{ilo.abbreviation}}</label>
          </th>
          <th>Include</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in project.tasks | orderBy: 'definition.seq'">
          <td>
            <label class="label label-info">{{task.definition.abbreviation}}</label>
          </td>
          <td>
            {{task.definition.name}}
          </td>
          <td ng-repeat="ilo in unit.ilos | orderBy: 'abbreviation'" class="text-center">
            {{align = alignmentForTaskAndIlo(task, ilo); ''}}
            <outcome-alignment-rating ng-if="align" ng-model="align" compact="true"></outcome-alignment-rating>
            <i ng-hide="align" class="fa fa-circle-o fa-3x text-danger pointer" tooltip="You decided {{task.definition.abbreviation}} is not aligned to {{ilo.abbreviation}}"></i>
          </td>
          <td>
            <div
              tooltip-enable="disableInclude(task)"
              tooltip="You cannot select this task as it is not aligned to any ILOs"
              tooltip-placement="left"
              tooltip-append-to-body="true"
              class="col-sm-12">
              <button
                class="btn btn-sm btn-{{task.include_in_portfolio ? 'success' : 'default'}} col-sm-6 text-center"
                ng-click="includeTaskInPorfolio(task)"
                ng-if="!disableInclude(task)">
                <i class="fa fa-{{task.include_in_portfolio ? 'check' : 'times'}}"></i>
              </button>
              <button
                class="btn btn-sm btn-warning col-sm-6 text-center"
                ng-disabled="disableInclude(task)"
                ng-show="disableInclude(task)">
                <i class="fa fa-question"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer clearfix">
    <button class="btn btn-primary pull-left" ng-click="advanceActivePortfolioTab(-1)"><i class="fa fa-arrow-left"></i> Back</button>
    <button class="btn btn-primary pull-right" ng-disabled="noTasksSelected()" ng-click="advanceActivePortfolioTab(1)">Next <i class="fa fa-arrow-right"></i></button>
    <div class="help-block pull-right col-sm-4" ng-show="noTasksSelected()">
      You need to select at least one task that is aligned to an ILO, otherwise your portfolio will be consist of no tasks.
    </div>
  </div>
</div>
