<div id="panel" class="panel panel-default">
  <div class="panel-heading task-status row-fluid">
      <h3 class="panel-title">Add Extra Files</h3><!--/title-->
  </div>
  <div class="panel-body">
    <form ng-submit="submitOther()">
      <p>You can upload <i>other files</i> you want to include in your portfolio.</p>
      <h4>Upload New File</h4>
      <div class="dropdown" dropdown is-open="uploadDropdown.open">
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">Upload {{uploadType}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a ng-click="changeTo('code')">Code</a></li>
          <li><a ng-click="changeTo('document')">Document</a></li>
          <li><a ng-click="changeTo('image')">Image</a></li>
        </ul>
      </div>
      </p>

      <div ng-hide="fileUploader.isUploading">
        <input ng-hide="fileUploader.isHTML5" options="{ alias: 'file0' }" type="file" uploader="fileUploader" ng-required="!fileUploader.isHTML5" nv-file-select />
        <div uploader="fileUploader" ng-show="fileUploader.isHTML5 && fileUploader.queue.length == 0" class="drop well" over-class="file-over-hover" options="{ alias: 'file0' }" nv-file-drop nv-file-over filters="is_{{uploadType}}">
          <p class="fa fa-file-{{uploadType == 'document' ? 'pdf' : uploadType}}-o fa-3x"></p>
          <br/>
          Drop {{uploadType}} here
        </div>
        <p ng-show="fileUploader.queue.length == 1" class="form-control-static">{{fileUploader.queue[0].file.name}} <span class="glyphicon glyphicon-file"></span></p>
      </div>
      <div class="form-group">
        <input ng-hide="fileUploader.isUploading || fileUploader.queue.length != 1" type="submit" class="btn btn-primary form-control col-sm-4 col-sm-offset-8" value="Upload" />
        <br/>
        <div ng-show="fileUploader.isUploading">
          <progressbar class="progress-striped active" value="fileUploader.progress"></progressbar>
        </div>
      </form>

      <div class="callout callout-info" ng-show="project.portfolio_files.length < 2">
        <h4>No files to add?</h4>
        <p>If you do not have any files to add you can skip this step.</p>
      </div>
      <div class="callout callout-info" ng-show="project.portfolio_files.length >= 2">
        <h4>Adding Files</h4>
        <p>The files you add will appear in the portfolio in the order shown.</p>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary pull-left" ng-click="advancePorfolioActiveTab(-1)"><i class="fa fa-arrow-left"></i> Back</button>
    <div class="text-right">
      <button class="btn btn-primary" ng-click="advanceActivePortfolioTab(1)">Next <i class="fa fa-arrow-right"></i></button>
    </div>
  </div>
</div>
