<div ng-if="unitLoaded">
  <div class="row">
    <div class="col-lg-4 col-lg-push-8">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Target Grade</h3>
          </div>
          <div class="panel-body text-center">
            <div class="dropdown" dropdown is-open="status.isopen">
              <button id="targetGradeButton" type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                {{grades[project.target_grade]}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" style="left: 25%; right: 25%;" role="menu">
                <li ng-repeat="grade in grades" ng-click="chooseGrade($index); status.isopen=false"><a>{{grade}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading clearfix">
            <div class="pull-left">
              <h4 class="panel-title">Task List</h4>
              <div ng-hide="taskDetailsSelector.viewAll">The tasks you need to focus on now.</div>
              <div ng-show="taskDetailsSelector.viewAll">All of the tasks you need to complete to achieve a {{grades[project.target_grade]}}.</div>
            </div>
            <div class="pull-right">
              <div class="btn-group pull-right">
                <label class="btn btn-default" ng-model="taskDetailsSelector.viewAll" btn-radio="false">
                  <i tooltip="View the tasks to focus on now" class="fa fa-dashboard"></i>
                </label>
                <label class="btn btn-default" ng-model="taskDetailsSelector.viewAll" btn-radio="true">
                  <i tooltip="View all tasks" class="fa fa-list"></i>
                </label>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <student-unit-tasks project="project" on-change="updateBurndownChart" student-project-id="studentProjectId" task-def="taskDef" unit="unit" assessing-unit-role="assessingUnitRole" on-select="showTaskView" ng-if="taskDetailsSelector.viewAll"></student-unit-tasks>
            <project-top-tasks on-select="showTaskView" project="project" ng-hide="taskDetailsSelector.viewAll"></project-top-tasks>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-lg-pull-4">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Burndown Chart
              <br>
              <small>The Burndown chart shows how much work remains for you to achieve your target grade. Aim to keep your <i>Complete</i> line close to or ahead of the <i>Target</i> line to keep on track.</small>
            </h3>
          </div>
          <div class="panel-body">
            <div class="burndown-chart" ng-if="projectLoaded">
              <progress-burndown-chart project="project" unit="unit"></progress-burndown-chart>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Task Summary Chart
              <br>
              <small>Summary of each of your task statuses</small>
            </h3>
          </div>
          <div class="panel-body">
            <div ng-if="projectLoaded">
              <student-task-status-pie-chart project="project"></student-task-status-pie-chart>
            </div>
          </div>
          <div class="panel-footer text-center">
            You have completed <strong>{{taskStats.numberOfTasksCompleted}}</strong> tasks and have <strong>{{taskStats.numberOfTasksRemaining}}</strong> left to complete to achieve a <strong>{{grades[project.target_grade]}}</strong>.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
