<div ng-if="unitLoaded">
  <div class="row">
    <div class="col-lg-4 col-lg-push-8">
      <div class="col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading clearfix">
            <div class="pull-left">
              <h4 class="panel-title">Task List</h4>
              <div ng-hide="taskDetailsSelector.viewAll">The tasks you need to focus on now.</div>
              <div ng-show="taskDetailsSelector.viewAll">All of the tasks to achieve a {{grades[project.target_grade]}}.</div>
            </div>
            <div class="pull-right">
              <div class="btn-group pull-right">
                <label class="btn btn-default" ng-model="taskDetailsSelector.viewAll" btn-radio="false">
                  <i tooltip="View the tasks to focus on now" class="fa fa-dashboard"></i>
                </label>
                <label class="btn btn-default" ng-model="taskDetailsSelector.viewAll" btn-radio="true">
                  <i tooltip="View all tasks" class="fa fa-list"></i>
                </label>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <student-unit-tasks project="project" on-change="updateBurndownChart" student-project-id="studentProjectId" task-def="taskDef" unit="unit" assessing-unit-role="assessingUnitRole" on-select="showTaskView" ng-if="taskDetailsSelector.viewAll"></student-unit-tasks>
            <project-top-tasks on-select="showTaskView" project="project" ng-hide="taskDetailsSelector.viewAll"></project-top-tasks>
          </div>
        </div>
      </div><!--task-lists-->
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Target Grade</h3>
            Select the grade you with do achieve in the unit
          </div>
          <div class="panel-body text-center">
            <div class="btn-group col-sm-12">
              <label ng-repeat="grade in grades" ng-click="chooseGrade($index)" class="btn btn-default col-sm-3 text-center" ng-model="project.target_grade" btn-radio="{{$index}}">
                <grade-icon grade="grade" tooltip="Select a {{grade}} as your target grade" tooltip-append-to-body="true" class="text-{{$index == project.target_grade ? 'primary' : 'muted'}}"></grade-icon>
              </label>
            </div>
          </div>
        </div>
      </div><!--target-grade-->
    </div><!--right-hand-panel-->
    <div class="col-lg-8 col-lg-pull-4">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <div class="pull-left">
              <div ng-show="currentVisualisation == 'burndown'">
                <h3 class="panel-title">Burndown Chart</h3>
                The Burndown chart shows how much work remains for you to achieve your target grade.
              </div>
              <div ng-show="currentVisualisation == 'taskSummary'">
                <h3 class="panel-title">Task Summary Chart</h3>
                Summary of each of your task statuses
              </div>
            </div><!--/headings-->
            <div class="pull-right text-right">
              <div class="btn-group">
                <label class="btn btn-default text-center" btn-radio="'burndown'" ng-model="currentVisualisation">
                  <i class="fa fa-line-chart"></i>
                </label>
                <label class="btn btn-default text-center" btn-radio="'taskSummary'" ng-model="currentVisualisation">
                  <i class="fa fa-pie-chart"></i>
                </label>
              </div>
            </div><!--/button-switch-->
          </div>
          <div class="panel-body" ng-if="projectLoaded">
            <div class="burndown-chart" ng-if="currentVisualisation == 'burndown'">
              <progress-burndown-chart project="project" unit="unit"></progress-burndown-chart>
            </div>
            <div ng-if="currentVisualisation == 'taskSummary'">
              <student-task-status-pie-chart project="project"></student-task-status-pie-chart>
            </div>
          </div>
          <div class="panel-footer text-center">
            <div ng-show="currentVisualisation == 'taskSummary'">
              You have completed <strong>{{taskStats.numberOfTasksCompleted}}</strong> tasks and have <strong>{{taskStats.numberOfTasksRemaining}}</strong> left to complete to achieve a <strong>{{grades[project.target_grade]}}</strong>.
            </div>
            <div ng-show="currentVisualisation == 'burndown'">
              Aim to keep your <strong style="color: #e01b5d">Complete</strong> line close to or ahead of the <strong class="text-muted">Target</strong> line to keep on track.
            </div>
          </div>
        </div>
      </div>
    </div><!--primary-panel-->
  </div>
</div>
