<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 list-group">
      <a ng-class="{'active' : currentView == 0 }" class="list-group-item text-center" ng-click="currentView = 0">Summary <i class="fa fa-graduation-cap fa-lg"></i></a>
      <a ng-class="{'active' : currentView == 1 }" class="list-group-item text-center" ng-click="currentView = 1">Tasks <i class="fa fa-tasks fa-lg"></i></a>
      <a ng-class="{'active' : currentView == 2 }" class="list-group-item text-center" ng-click="currentView = 2">Other <i class="fa fa-plus fa-lg"></i></a>
      <a ng-class="{'active' : currentView == 3 }" class="list-group-item text-center" ng-click="currentView = 3">Compile <i class="fa fa-file-pdf-o fa-lg"></i></a>
      <a ng-class="{'active' : currentView == 4 }" class="list-group-item text-center" ng-click="currentView = 4">Review <i class="fa fa-search fa-lg"></i></a>
    </div>
    <div class="col-md-10">
      <div ng-show="currentView == -1">
        <div id="panel" class="panel panel-default">
          <div class="panel-heading task-status row-fluid">
              <h3 class="panel-title">Preparing Your Portfolio</h3>
          </div>
          <div class="panel-body">
            <div class="col-xs-12">
              <p>Preparing your portfolio involves 5 steps:</p>
              <ol>
                <li>Upload your <b>Learning Summary Report</b></li>
                <li>Select the <b>Tasks</b> you want included</li>
                <li>Upload any <b>Other Resources</b> you want to add</li>
                <li><b>Compile</b> your resources into your portfolio</li>
                <li><b>Review</b> your portfolio</li>
              </ol>
              <p>
                Once you have completed all of these steps, your portfolio will be prepared by Doubtfire and you will be notified when it is ready. You can then check your work, and if you want to make any corrections you can repeat these steps to create a new version of your portfolio.
              </p>
            </div>
            <div class="pull-right">
              <button class="btn btn-primary" ng-click="currentView = 0">Step 1: Learning Summary Report <span class="fa fa-angle-double-right fa-lg"></span></button>.
            </div>
          </div>
        </div>
      </div>
      <learning-summary-report ng-show="currentView == 0"></learning-summary-report>
      <portfolio-tasks ng-show="currentView == 1"></portfolio-tasks>
      <portfolio-other ng-show="currentView == 2"></portfolio-other>
      <portfolio-compile ng-show="currentView == 3"></portfolio-compile>
      <portfolio-review ng-show="currentView == 4"></portfolio-review>
      <div ng-show="project.portfolio_files.length > 0 && currentView < 3">
        <portfolio-files></portfolio-files>
      </div>
    </div>
  </div>
</div>