<div>
  <tabset class="task-feedback-tab-selector pull-left col-md-2" vertical="true" type="pills">
    <tab ng-click="selectTab('progress')">
      <tab-heading tooltip="View learning progress" tooltip-placement="right" tooltip-popup-delay="200">
        <div class="text-center">
          <i class="fa fa-2x fa-bar-chart" style="margin-right: 1ex"></i>
        </div>
      </tab-heading>
    </tab>
    <tab ng-click="selectTab('reflect')">
      <tab-heading tooltip="Reflect on learning" tooltip-placement="right" tooltip-popup-delay="200">
        <div class="text-center">
          <i class="fa fa-2x fa-balance-scale" style="margin-right: 1ex"></i>
        </div>
      </tab-heading>
    </tab>
  </tabset><!--/tab-selector-->
  <div class="col-md-10">
    <div ng-show="poaView.activeTab == 'progress'">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            Outcome Alignments
          </h3>
          Overall progress on outcome alignments are shown below
        </div>
        <div class="panel-body view-alignment" style="padding: 0px;">
          <view-alignment
            project="project"
            unit="unit"
            medians="medians"
            current-progress="currentProgress"
            summary-only="true"></view-alignment>
        </div>
      </div>
    </div>
    <div ng-show="poaView.activeTab == 'reflect'">
      <unit-outcome-alignment show-csv="false" unit="unit" project="project"></unit-outcome-alignment>
    </div>
  </div>
</div>