<div>
  <tabset class="task-feedback-tab-selector pull-left col-md-2" vertical="true" type="pills">
    <tab ng-click="poaView.activeTab = 'progress'">
      <tab-heading tooltip="View learning progress" tooltip-placement="right" tooltip-popup-delay="200">
        <div class="text-center">
          <i class="fa fa-2x fa-bar-chart" style="margin-right: 1ex"></i>
        </div>
      </tab-heading>
    </tab>
    <tab ng-click="poaView.activeTab = 'reflect'">
      <tab-heading tooltip="Reflect on learning" tooltip-placement="right" tooltip-popup-delay="200">
        <div class="text-center">
          <i class="fa fa-2x fa-balance-scale" style="margin-right: 1ex"></i>
        </div>
      </tab-heading>
    </tab>
  </tabset><!--/tab-selector-->
  <unit-outcome-alignment show-csv="false" unit="unit" project="project" ng-show="poaView.activeTab == 'reflect'"></unit-outcome-alignment>
</div>