<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <div class="btn-group">
        <button style="padding: 10px" ng-class="{'active' : currentView == welcomeStep }" class="btn btn-default text-center" ng-click="currentView = welcomeStep">
          <i class="fa fa-smile-o fa-2x"></i><br/>Welcome
        </button>
        <button style="padding: 10px" ng-class="{'active' : currentView == gradeStep }" class="btn btn-default text-center" ng-click="currentView = gradeStep">
          <i class="fa fa-trophy fa-2x"></i><br/>My Grade
        </button>
        <button style="padding: 10px" ng-class="{'active' : currentView == summaryStep }" class="btn btn-default text-center" ng-click="currentView = summaryStep">
          <i class="fa fa-graduation-cap fa-2x"></i><br/>My Report
        </button>
        <button style="padding: 10px" ng-class="{'active' : currentView == taskStep }" class="btn btn-default text-center" ng-click="currentView = taskStep">
          <i class="fa fa-tasks fa-2x"></i><br/>Select Tasks
        </button>
        <button style="padding: 10px" ng-class="{'active' : currentView == otherFilesStep }" class="btn btn-default text-center" ng-click="currentView = otherFilesStep">
          <i class="fa fa-plus fa-2x"></i><br/>Add Extra Files
        </button>
        <button style="padding: 10px" ng-class="{'active' : currentView == compileStep }" class="btn btn-default text-center" ng-click="currentView = compileStep">
          <i class="fa fa-file-pdf-o fa-2x"></i><br/>Compile
        </button>
        <button style="padding: 10px" ng-class="{'active' : currentView == reviewStep }" class="btn btn-default text-center" ng-click="currentView = reviewStep">
          <i class="fa fa-check fa-2x"></i><br/>Review
        </button>
      </div>
    </div>
    <hr/>
    <div class="col-md-12">
      <div ng-show="currentView == welcomeStep">
        <div id="panel" class="panel panel-default">
          <div class="panel-heading task-status row-fluid">
              <h3 class="panel-title">Preparing Your Portfolio</h3>
          </div>
          <div class="panel-body">
            <div class="col-xs-12">
              <p>Preparing your portfolio involves 6 steps:</p>
              <ol>
                <li>Select your <b>Grade</b> you are applying for</li>
                <li>Upload your <b>Learning Summary Report</b></li>
                <li>Select the <b>Tasks</b> you want included</li>
                <li>Upload any <b>Other Resources</b> you want to add</li>
                <li><b>Compile</b> your resources into your portfolio</li>
                <li><b>Review</b> your portfolio</li>
              </ol>
              <p>
                Once you have completed all of these steps, your portfolio will be prepared by Doubtfire and you will be notified when it is ready. You can then check your work, and if you want to make any corrections you can repeat these steps to create a new version of your portfolio.
              </p>
            </div>
          </div>
          <div class="panel-footer">
            <div class="text-right">
              <button class="btn btn-primary" ng-click="currentView = currentView + 1">Next <i class="fa fa-arrow-right"></i></button>
            </div>
          </div>
        </div>
      </div>
      <portfolio-grade-select ng-show="currentView == gradeStep"></portfolio-grade-select>
      <learning-summary-report ng-show="currentView == summaryStep"></learning-summary-report>
      <portfolio-tasks ng-show="currentView == taskStep"></portfolio-tasks>
      <portfolio-other ng-show="currentView == otherFilesStep"></portfolio-other>
      <portfolio-compile ng-show="currentView == compileStep"></portfolio-compile>
      <portfolio-review ng-show="currentView == reviewStep"></portfolio-review>
      <div ng-show="project.portfolio_files.length > 0 && currentView < reviewStep">
        <portfolio-files></portfolio-files>
      </div>
    </div>
  </div>
</div>