<div ng-init="foo()">
  <div class="pull-left list-group col-md-2">
    <a ng-repeat="task in submittedTasks" ng-class="{'active' : task == activeTask }" class="list-group-item text-center" ng-click="setActiveTask(task)">{{task.task_abbr}}</a>
  </div>

  <div class="col-md-10 pull-right">
    <div id="panel" class="panel panel-default">
      <div class="panel-heading task-status row-fluid">
          <h3 class="panel-title">{{activeTask.task_name}}</h3><!--/title-->
          <div class="pull-right">
            <div class="btn-group pdf-nav" ng-hide="shouldHideNav()">
              <button type="button" class="btn btn-default" ng-disabled="shouldDisableLeftNav()" ng-click="prevPage()">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </button>
              <button type="button" class="btn btn-default" ng-disabled="shouldDisableRightNav()" ng-click="nextPage()">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </button>
            </div><!--/page-nav-->
            
            <div class="well-sm task-status {{statusClass(activeTask.status)}}" tooltip-placement="right" tooltip="{{activeStatusData().label}}">
              <i class="{{activeStatusData().icon}} fa-2x"></i>
            </div><!--/status-->
          </div>
      </div>
      <div class="panel-body">
        <p class="lead text-center" ng-if="taskStillProcessing()">
          <br/>
          <i class="fa fa-clock-o fa-2x"></i>
          <br/>
          PDF is being processed. Come back soon.
        </p><!--/pdf-in-process-->
        <p class="lead text-center text-danger" ng-if="corruptPdf()">
          <br/>
          <i class="fa fa-exclamation-triangle fa-2x"></i>
          <br/>
          PDF preview cannot be rendered.
        </p><!--/corrupt-pdf-->
        <a href="{{activeTaskUrl()}}" ng-if="!corruptPdf() && !taskStillProcessing()">
          <canvas width="0" height="0" id="pdf"></canvas>
        </a><!--/pdf-->
      </div>
      <div ng-hide="taskStillProcessing()" class="panel-footer" style="height: 60px">
        <div class="pull-left text-muted">
          <strong>Note:</strong> {{activeTask.status != 'ready_to_mark' ? "Comments are viewable once PDF is downloaded" : "Comments will be available once your tutor has assessed your submission"}}
        </div>
        <div class="pull-right btn-group">
          <a href="{{activeTaskUrl()}}" class="btn btn-success">
            <span class="glyphicon glyphicon-cloud-download"></span>
          </a>
        </div>
      </div><!--/panel-footer-->
    </div>
  </div>

</div>