<div>
  <div class="pull-left list-group col-md-2">
    <a ng-repeat="task in submittedTasks" ng-class="{'active' : task == activeTask }" class="list-group-item text-center" ng-click="setActiveTask(task)">{{task.task_abbr}}</a>
  </div>
  <div class="pull-right col-md-10 well">
    <div class="col-md-7">
      <h3 class="lead">{{activeTask.task_name}}</h3>
    </div><!--/task-details-->
    
    <div class="pull-right text-center col-md-1 well-sm task-status {{statusClass(activeTask.status)}}" tooltip-placement="right" tooltip="{{activeStatusData().label}}">
      <i class="{{activeStatusData().icon}} fa-3x"></i>
    </div><!--/task-status-->

    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="height: 60px">
          <h4 class="pull-left">{{pageNo}} of {{pdf.numPages}}</h4>
          <div class="pull-right btn-group">
            <button type="button" class="btn btn-default" ng-disabled="pageNo == 1" ng-click="prevPage()">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            <button type="button" class="btn btn-default" ng-disabled="pageNo == pdf.numPages" ng-click="nextPage()">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
          </div>
        </div>
        <div class="panel-body">
          <a href="{{activeTaskUrl()}}">
            <canvas id="pdf"></canvas>
          </a>
        </div>
        <div class="panel-footer" style="height: 60px" ng-hide="activeTask.status == 'ready_to_mark'">
          <div class="pull-left text-muted">
            <strong>Note:</strong> Comments are viewable once PDF is downloaded {{activeTask.status}}
          </div>
          <div class="pull-right btn-group">
            <a href="{{activeTaskUrl()}}" class="btn btn-success">
              <span class="glyphicon glyphicon-cloud-download"></span>
            </a>
          </div>
        </div>
      </div>
    </div><!--/pdf-->

  </div>

</div>