<div ng-if="activeTask">
  <div class="feedback-float-toolbar well" if-role="Admin Convenor Tutor">
    <label>Actions</label>
    <button ng-click="transitionWeekEnd()" class="btn btn-info">
      <i class="fa fa-comment fa-2x"></i><br/>
      Discussed
    </button>
    <a href="#/units?unitRole={{assessingUnitRole.id}}" class="btn btn-default">
      <i class="fa fa-list fa-2x"></i><br/>
      Student List
    </a>
  </div><!--/feedback-float-toolbar-->

  <div>
    <div class="btn-group pull-left status-switcher" dropdown>
      <button class="btn task-status {{activeStatusData().class}} dropdown-toggle">
        <label>{{activeTask.task_abbr}}</label>
        <span class="caret"></span>
      </button><!--/dropdown-button-->
      <ul class="dropdown-menu project-task-bar" role="menu" >
        <li class="col-xs-4 col-sm-3 col-md-2 col-lg-4" ng-repeat="task in submittedTasks">
            <button type="button" class="col-xs-12 btn task-status {{statusClass(task.status)}}" ng-class="{'active' : task == activeTask}" ng-click="setActiveTask(task)" tooltip-popup-delay='200' tooltip-placement="bottom" tooltip="{{task.task_name}}: {{statusText(task.status)}}">
              {{task.task_abbr}}
            </button>
        </li>
      </ul>
    </div><!--/active-task-switcher-->

    <div tooltip-placement="right" tooltip="{{activeStatusData().label}}" class="btn-group pull-right status-switcher" dropdown>
      <button type="button" class="btn task-status {{statusClass(activeTask.status)}} dropdown-toggle">
        <i class="{{activeStatusData().icon}} fa-2x"></i>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu project-task-bar">
        <li if-role="Tutor Convenor Admin" class="col-xs-4 col-sm-3 col-md-2 col-lg-4" ng-repeat="action in taskEngagementConfig.tutorTriggers" >
          <button class="col-xs-12 btn task-status {{action.taskClass}}" ng-class="{'active' : activeTask.status == action.status}" ng-click="triggerTransition(action.status)" ng-model="activeTask.status" btn-radio="action.status" uncheckable>
            <i class="{{action.iconClass}} fa-2x task-engagement-icon"></i>
            <strong>{{action.label}}</strong>
          </button>
        </li><!--/tutor-statuses-->
        <li class="col-xs-4 col-sm-3 col-md-2 col-lg-4" ng-repeat="action in taskEngagementConfig.studentTriggers" >
          <button class="col-xs-12 btn task-status {{action.taskClass}}" ng-class="{'active' : activeTask.status == action.status}" ng-click="triggerTransition(action.status)" ng-model="activeTask.status" btn-radio="action.status" >
            <i class="{{action.iconClass}} fa-2x task-engagement-icon"></i>
            <strong>{{action.label}}</strong>
          </button>
        </li><!--/student-statuses-->
      </ul>
    </div><!--/active-task-status-switcher-->
    <div class="clearfix task-header-info">
      <div class="col-sm-6 pull-left">

        <h4>{{activeTask.task_name}}</h4>
        <p class="text-justify">
          {{activeTask.task_desc}}
        </p>
      </div>
      <div class="col-sm-2 date-info pull-right">
        <span class="item-info text-right">
          <label>Due Date:</label> {{activeTask.due_date | date:'EEE MMM d'}}
        </span>
        <span class="overdue label label-{{activeStatusData().daysOverdue > 5 ? 'danger' : 'warning'}} pull-right" ng-show="{{activeStatusData().daysOverdue}}">Overdue By <br/> {{activeStatusData().daysOverdue}} days</span>
      </div>
    </div><!--/task-header-info-->
  </div><!--/task-toolbar-->

  <hr>




  <div class="pull-left list-group col-md-2 task-status">
    <a ng-repeat="task in submittedTasks| orderBy:'seq'" ng-class="{'active' : task == activeTask }" class="list-group-item text-center " ng-click="setActiveTask(task)">{{task.task_abbr}} </i></a>
  </div>
  <div class="col-md-10 pull-right">
    <div class="comments-panel panel panel-default">
      <div class="panel-heading task-status row-fluid">
        <h3 class="panel-title">Comments</h3>
      </div>
      <div class="panel-body" style="max-height: 250px; overflow-y: scroll" >
        <div class="text-center" ng-show="(!activeTask.comments) || activeTask.comments.length == 0" style="margin: 30px">
          <i class="fa fa-2x fa-comments-o"></i><br/>
          No comments have yet been made.
        </div>
        <div class="comment" ng-repeat="comment in activeTask.comments">
          <div class="comment-details col-md-2">
            <span class="comment-by">
              {{comment.comment_by}}
            </span>
            <span class="comment-date">
              {{comment.created_at | date: 'd MMM yyyy'}}
            </span>
          </div>
          <div class="comment-text col-md-10">
            <div class="col-md-11">
              {{comment.comment}}
            </div>
            <div class="col-md-1 delete-comment text-right" ng-click="deleteComment(comment.id)">
              <i class="fa fa-times-circle"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <form class="input-group" ng-submit="addComment()" role="form">
          <textarea ng-keyup="checkCommentTextareaEnter()" ng-model="comment.text" class="form-control" style="height: 45px; resize: none;" placeholder="Make a comment on this submission..."></textarea>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary"  style="height: 45px" type="button" ng-disabled="comment.text.trim().length == 0">
              <i class="fa fa-plus fa-2x"></i>
            </button>
          </span>
        </form>
      </div>
    </div>

    <div id="panel" class="panel panel-default">
      <div class="panel-heading task-status row-fluid">
          <h3 class="panel-title">{{activeTask.task_name}}</h3><!--/title-->
          <div class="pull-right">
            <div class="btn-group pdf-nav" ng-hide="shouldHideNav()">
              <button type="button" class="btn btn-default" ng-disabled="shouldDisableLeftNav()" ng-click="prevPage()">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </button>
              <button type="button" class="btn btn-default" ng-disabled="shouldDisableRightNav()" ng-click="nextPage()">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </button>
            </div><!--/page-nav-->



          </div>
      </div>
      <div class="panel-body">
        <p class="lead text-center" ng-hide="notSubmitted() || taskStillProcessing() || corruptPdf() || readyToShowPDF()">
          <br/>
          <i class="fa fa-spinner fa-spin fa-2x"></i>
          <br/>
          PDF is rendering...
        </p><!--/pdf-loading-->
        <p class="lead text-center" ng-show="notSubmitted()">
          <br/>
          <i class="fa fa-cloud-upload fa-2x"></i>
          <br/>
          Upload task to generate PDF.
        </p><!--/no-pdf-->
        <p class="lead text-center" ng-show="taskStillProcessing()">
          <br/>
          <i class="fa fa-clock-o fa-2x"></i>
          <br/>
          PDF is being processed. Come back soon.
        </p><!--/pdf-in-process-->
        <p class="lead text-center text-danger" ng-show="corruptPdf()">
          <br/>
          <i class="fa fa-exclamation-triangle fa-2x"></i>
          <br/>
          PDF preview cannot be rendered.
        </p><!--/corrupt-pdf-->
        <a href="{{activeTaskUrl()}}" ng-show="readyToShowPDF()">
          <canvas width="0" height="0" id="pdf"></canvas>
        </a><!--/pdf-->
      </div>
      <div ng-hide="notSubmitted() || taskStillProcessing()" class="panel-footer" style="height: 60px">
        <div class="pull-left text-muted">
          <strong>Note:</strong> {{activeTask.status != 'ready_to_mark' ? "Annotated comments are viewable once PDF is downloaded" : "Comments will be available once your tutor has assessed your submission"}}
        </div>
        <div class="pull-right btn-group">
          <button class="btn btn-info" ng-click="recreatePDF()" tooltip-popup-delay='500' tooltip-placement="top" tooltip="Recreate the task's PDF">
            <span class="fa fa-recycle"></span>
          </button>
          <a href="{{activeTaskUrl()}}" class="btn btn-success">
            <span class="glyphicon glyphicon-cloud-download"></span>
          </a>
        </div>
      </div><!--/panel-footer-->
    </div>
  </div>

</div>