<div class="panel-body comment-panel">
  <div class="large-notice-block no-comments" ng-show="(!task.comments) || task.comments.length == 0">
    <i class="fa fa-2x fa-comments-o"></i>
    <p>No comments have yet been made</p>
  </div>
  <div class="comment col-sm-12 col-lg-8 col-lg-offset-2" ng-repeat="comment in task.comments">
    <div class="comment-details col-md-2">
      <span class="comment-by">
        {{comment.comment_by}}
      </span>
      <span class="comment-date">
        {{comment.created_at | date: 'd MMM yyyy'}}
      </span>
    </div>
    <div class="comment-text col-md-9">
      <div class="markdown-to-html col-md-11" ng-bind-html="comment.comment | markdown"></div>
      <div class="col-md-1 delete-comment text-right" ng-click="deleteComment(comment.id)" tooltip="Delete comment" tooltip-placement="right">
        <i class="fa fa-trash"></i>
      </div>
    </div>
  </div>
</div>
<div class="panel-footer">
  <form class="input-group comment-submitter" ng-submit="addComment()" role="form">
    <markdown-editor ng-model="comment.text" placeholder="Make a comment on this submission..." height="45"></markdown-editor>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary" type="button" ng-disabled="comment.text.trim().length == 0">
        <i class="fa fa-plus fa-2x"></i>
      </button>
    </span>
  </form>
</div>
