<ul class="breadcrumb">
  	<li><a href="#/home">Home</a></li>
  	<li>
      <a ng-if="assessingUnitRole" href="#/units?unitRole={{assessingUnitRole.id}}">{{unit.name}}</a>
      <span ng-if="!assessingUnitRole">{{unit.name}}</span>
    </li>
    <li class="active">{{project.student_name}}</li>
</ul>
<div class="feedback-float-toolbar well" ng-if="assessingUnitRole && project">
  <label>Tutor Actions</label>
  <button ng-click="transitionWeekEnd()" class="btn btn-info">
    <i class="fa fa-comment fa-2x"></i><br/>
    Discussed
  </button>
  <a href="#/units?unitRole={{assessingUnitRole.id}}" class="btn btn-default">
    <i class="fa fa-list fa-2x"></i><br/>
    Student List
  </a>
</div><!--/feedback-float-toolbar-->
<div class="root-view" id="projects-show">
  <student-project
    project-id="studentProjectId"
    show-task-id="showTaskId"
    unit-role="unitRole"
    project="project"
    unit="unit"
    assessing-unit-role="assessingUnitRole"></student-project>
</div>
