<ul class="breadcrumb">
  	<li><a href="#/home">Home</a></li>
  	<li class="active">{{unit.name}}</li>
</ul>
<div class="feedback-float-toolbar well" ng-if="assessingUnitRole && unitLoaded">
  <label>Actions</label>
  <button ng-click="transitionWeekEnd()" class="btn btn-info">
    <i class="fa fa-comment fa-2x"></i><br/>
    Discussed
  </button>
  <a href="#/units?unitRole={{assessingUnitRole.id}}" class="btn btn-default">
    <i class="fa fa-list fa-2x"></i><br/>
    Student List
  </a>
</div><!--/feedback-float-toolbar-->
<div class="col-md-offset-2 col-md-8" ng-if="unitLoaded">
  <h2>{{unit.name}} <small>{{unit.code}}</small><p class="lead"> {{project.student_name}} <small>{{project.student_id}}</small></p></h2>
  <tabset justified="true">
    <tab active="activeTab[0]">
      <tab-heading>
        <div class="text-center">
          <i style="padding-bottom: 5px" class="fa fa-bar-chart fa-2x"></i> <br> Progress
        </div>
      </tab-heading>
      <progress-info></progress-info>
    </tab>
    <tab select="showTaskView()" active="activeTab[1]">
      <tab-heading>
        <div class="text-center">
          <i style="padding-bottom: 5px" class="fa fa-tasks fa-2x"></i> <br> Task List
        </div>
      </tab-heading>
      <task-feedback active-task="selectedTask" project="project" submitted-tasks="submittedTasks" assessing-unit-role="assessingUnitRole" ng-if="unitLoaded"></task-feedback>
    </tab>
    <tab active="activeTab[2]" ng-if="unit.group_sets.length > 0">
      <tab-heading>
        <div class="text-center">
          <i style="padding-bottom: 5px" class="fa fa-group fa-2x"></i> <br> Groups
        </div>
      </tab-heading>
      <student-group-tab></student-group-tab>
    </tab>
    <tab active="activeTab[3]">
      <tab-heading>
        <div class="text-center">
          <i style="padding-bottom: 5px" class="fa fa-pencil fa-2x"></i> <br> Tutorial
        </div>
      </tab-heading>
      <lab-list></lab-list>
    </tab>
    <tab active="activeTab[4]">
      <tab-heading>
        <div class="text-center">
          <i style="padding-bottom: 5px" class="fa fa-book fa-2x"></i> <br> Portfolio
        </div>
      </tab-heading>
      <project-portfolio></project-portfolio>
    </tab>
  </tabset>
</div>