<div id="home" class="w-full h-screen px-20 justify-center items-center">
  <div class="flex flex-col gap-5 w-full max-w-lg mx-auto justify-center h-screen">
    <div class="flex justify-center items-center">
      <mat-icon
        svgIcon="formatif-logo"
        class="formatif-icon"
        aria-label="Formatif logo"
        class="w-[100px] h-[100px]"
      ></mat-icon>
      <h1 class="m-0 ml-5 text-6xl">OnTrack</h1>
    </div>
    <p>
      Students will be automatically enrolled in this unit when they launch the OnTrack tool from
      this course.
    </p>
    <mat-form-field>
      <mat-label>Select a unit to link</mat-label>
      <mat-select [(value)]="selectedUnit">
        <mat-option value="FIT1045">FIT1045 - Introduction to Programming</mat-option>
        <mat-option value="FIT1045">FIT1045 - Introduction to Programming</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="submit()">Confirm</button>
  </div>
</div>
