.institution-settings-container {
  padding: 0 5rem 0 5rem;
}
.learning-outcomes-container {
  padding: 0 1rem 1rem 1rem;
}
table {
  width: 100%;
}
.header {
  display: flex;
  .interactions {
    margin-left: auto;
    margin-top: auto;
  }
}
