<div>
  <div class="header">
    <div>
      <h3>Unit Tutorials</h3>
      <p>Add new tutorials to the unit or modify existing ones</p>
    </div>
    <!-- If you need to filter -->
    <!-- <div class="interactions">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div> -->
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Abbreviation Column -->
    <ng-container matColumnDef="abbreviation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Abbreviation </th>
      <td mat-cell *matCellDef="let tutorial">
        <div *ngIf="!editing(tutorial.id) else edit">
          {{tutorial.abbreviation}}
        </div>
        <ng-template #edit>
          <mat-form-field class="data-entry">
            <input matInput [value]="tutorial.abbreviation">
          </mat-form-field>
        </ng-template>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field class="data-entry">
          <input matInput placeholder="Abbreviation">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Campus Column -->
    <ng-container matColumnDef="campus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Campus </th>
      <td mat-cell *matCellDef="let tutorial">
        <div *ngIf="!editing(tutorial.id) else edit">
          A Campus
        </div>
        <ng-template #edit>
          <mat-form-field class="data-entry">
            <input matInput [value]="tutorial.campus">
          </mat-form-field>
        </ng-template>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field class="data-entry">
          <input matInput placeholder="Campus">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
      <td mat-cell *matCellDef="let tutorial">
        <div *ngIf="!editing(tutorial.id) else edit">
          {{tutorial.meeting_location}}
        </div>
        <ng-template #edit>
          <mat-form-field class="data-entry">
            <input matInput [value]="tutorial.meeting_location">
          </mat-form-field>
        </ng-template>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field class="data-entry">
          <input matInput placeholder="Location">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Day Column -->
    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Day </th>
      <td mat-cell *matCellDef="let tutorial">
        <div *ngIf="!editing(tutorial.id) else edit">
          {{tutorial.meeting_day}}
        </div>
        <ng-template #edit>
          <mat-form-field class="data-entry">
            <input matInput [value]="tutorial.meeting_day">
          </mat-form-field>
        </ng-template>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field class="data-entry">
          <input matInput placeholder="Day">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
      <td mat-cell *matCellDef="let tutorial">
        <div *ngIf="!editing(tutorial.id) else edit">
          {{tutorial.meeting_time | date:'HH:mm'}}
        </div>
        <ng-template #edit>
          <mat-form-field class="data-entry">
            <input matInput [value]="tutorial.meeting_time">
          </mat-form-field>
        </ng-template>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field class="data-entry">
          <input matInput placeholder="Time">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Tutor Column -->
    <ng-container matColumnDef="tutor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tutor </th>
      <td mat-cell *matCellDef="let tutorial">
        <div *ngIf="!editing(tutorial.id) else edit">
          {{tutorial.tutor_name}}
        </div>
        <ng-template #edit>
          <mat-form-field class="data-entry">
            <input matInput [value]="tutorial.tutor_name">
          </mat-form-field>
        </ng-template>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field class="data-entry">
          <input matInput placeholder="Tutor">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Capacity Column -->
    <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacity </th>
      <td mat-cell *matCellDef="let tutorial">
        <div *ngIf="!editing(tutorial.id) else edit">
          Capacity
        </div>
        <ng-template #edit>
          <mat-form-field class="data-entry">
            <input matInput [value]="tutorial.abbreviation">
          </mat-form-field>
        </ng-template>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field class="data-entry">
          <input matInput placeholder="Capacity">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Options Column -->
    <ng-container matColumnDef="options" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let tutorial">
        <div class="right" *ngIf="!editing(tutorial.id) else edit">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="flagEdit(tutorial.id)">
              <mat-icon color="primary">edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="delete(tutorial)">
              <mat-icon color="warn">delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
        <ng-template #edit>
          <div class="edit-actions right">
            <span>
              <button mat-icon-button color="warn" (click)="save(tutorial)">
                <mat-icon>cancel</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="save(tutorial)">
                <mat-icon>save</mat-icon>
              </button>
            </span>
          </div>
        </ng-template>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <div class="edit-actions right">
          <button mat-icon-button (click)="save(tutorial)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>