<div class="portfolio-review-step" ng-class="{expanded: project.portfolio_available}">
  <div class="lsr-missing text-center text-danger" ng-hide="hasLSR">
    <h3><i class="fa fa-graduation-cap"></i> Learning Summary Report Missing</h3>
    <p>Your portfolio <strong>must</strong> include a learning summary report. Upload this before you schedule your portfolio to be compiled.</p>
  </div><!--/lsr-missing-->

  <div class="lsr-missing text-center text-danger" ng-hide="hasTasksSelected">
    <h3><i class="fa fa-tasks"></i> No Tasks Selected</h3>
    <p ng-show="unitHasILOs">
      Your portfolio <strong>must</strong> include tasks aligned to the unit's <strong>{{unit.ilos.length}} intended learning outcomes</strong>.
      Please indicate which tasks you think align to the unit's indended learning outcomes before you schedule your portfolio to be compiled.
    </p>
    <p ng-hide="unitHasILOs">
      Your portfolio <strong>must</strong> include tasks that you have completed this semester.
      Please indicate which tasks you you would like to include in your portfolio before you schedule your portfolio to be compiled.
    </p>
  </div><!--/lsr-missing-->


  <div class="compile-scheduled text-center text-success" ng-show="portfolioIsCompiling">
    <i class="fa fa-check-circle fa-3x"></i>
    <h3>Compile Scheduled</h3>
    <p>Your portfolio compilation is scheduled with Doubtfire. This process will take some time, check back soon to see if your portfolio is available.
  </div><!--/compile-schedule-->

  <div class="create-pdf"  ng-show="canCompilePortfolio">
    <h3>Create Your Portfolio</h3>
    <p>
      Doubtfire will not create your portfolio until you are happy with your
      submissions so far.
    </p>
    <p ng-show="selectedTasks().length > 0">
      You have included <strong>{{selectedTasks().length}} tasks</strong> in your portfolio. If you wish to add or remove some of these tasks,
      please review the <em>Align and Select Tasks</em> step to adjust your alignments of each
      task to the unit's {{unit.ilos.length}} intended learning outcomes. Each task will be attached in the order below:
      <ol>
        <li ng-repeat="task in selectedTasks()">
          <label class="label label-info">{{task.definition.abbreviation}}</label>
          {{task.definition.name}}
        </li>
      </ol>
    </p>
    <p ng-show="extraFiles().length > 0">
      You have attached <strong>{{extraFiles().length}} extra file{{extraFiles().length > 1 ? 's' : ''}}</strong>
      to your portfolio. You may add more files or remove {{extraFiles().length > 1 ? 'these' : 'this'}}
      file{{extraFiles().length > 1 ? 's' : '0'}} in the previous step. Each file is listed
      in order of attachment below:
      <ol>
        <li ng-repeat="file in extraFiles()">
          <i class="fa fa-file-{{file.kind}}-o"></i> {{file.name}}
        </li>
      </ol>
    </p>
    <p>
      Once you click Create Portfolio, the construction of your portfolio will
      be scheduled with Doubtfire. This process will take some time, and you
      will be emailed when your portfolio is ready to review if you have enabled
      portfolio notifications.
    </p>
    <hr>
    <div class="text-center">
      <input type="checkbox" class="pointer" id="agree-create" ng-model="agreedToCreatePortfolio">
      <label class="pointer" for="agree-create">I am happy with my submission and am ready to create my portfolio</label>
      <p ng-show="agreedToCreatePortfolio">
        <button class="btn btn-success btn-lg" ng-click="toggleCompileProject()">
          <i class="fa fa-book"></i> Click to create your Portfolio</span>
        </button>
      </p>
    </div>
  </div><!--/create-pdf-->

  <div class="portfolio-preview" ng-show="project.portfolio_available">
    <div class="text-center">
      <i class="fa fa-book fa-3x"></i>
      <h3>Portfolio Preview</h3>
      This is the <strong>exact same document</strong> your assessor will see
    </div>

    <pdf-panel-viewer
      pdf-url="project.portfolioUrl()"
      hide-footer="true">
    </pdf-panel-viewer>

    <div class="portfolio-tool-buttons text-center">
      <button class="btn btn-danger" ng-click="deletePortfolio()">
        <i class="fa fa-trash-o"></i> Delete Portfolio
      </button>
      <a href="{{project.portfolioUrl()}}" target="_blank" class="btn btn-success">
        <i class="fa fa-download"></i> Download Portfolio
      </a>
    </div>
  </div><!--/portfolio-available-->
</div>
<div class="panel-footer clearfix">
  <button class="btn btn-primary pull-left" ng-click="advanceActivePortfolioTab(-1)"><i class="fa fa-arrow-left"></i> Back</button>
</div>
