<div class="flex flex-col container">
  <h2>Task Planner</h2>
  <p>
    @if (unit.allowFlexibleDates) {
      View and adjust the due dates for your tasks. Remember to leave time to get and respond to
      feedback.
    } @else {
      View the task deadlines for your project, so you can organise your work and ensure you meet
      all submission requirements on time.
    }
  </p>
</div>

<div class="w-full" [style.height.px]="(items.length + 2) * 43">
  <div class="w-full flex justify-center">
    <mat-form-field appearance="outline" class="w-full max-w-3xl">
      <mat-label>Target Grade</mat-label>
      <mat-select
        [(ngModel)]="selectedTargetGrade"
        class="w-full"
        (selectionChange)="onTargetGradeChange($event)"
      >
        @for (grade of gradeValues; track grade) {
          <mat-option [value]="grade">{{ gradeString(grade) }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="flex justify-between items-center py-5">
    <div>
      <mat-slide-toggle [(ngModel)]="showDatesColumn">Show Task Dates</mat-slide-toggle>
    </div>
    @if (unit.allowFlexibleDates) {
      <div class="flex items-center gap-2">
        <button
          mat-raised-button
          (click)="confirmSaveTargetDates()"
          color="primary"
          [disabled]="!anyUnsavedChanges()"
        >
          Save Dates
        </button>
        <button mat-raised-button (click)="confirmResetTargetDates()">Reset To Unit Default</button>
      </div>
    }
  </div>
  <ngx-gantt
    #gantt
    [items]="items"
    [baselineItems]="unit.allowFlexibleDates ? baselineItems : []"
    [viewOptions]="viewOptions"
    [draggable]="project.unit.allowFlexibleDates"
    [viewType]="viewType"
    [start]="earliestStartDate"
    [end]="project.unit.endDate.getTime() / 1000"
    [async]="false"
    [virtualScrollEnabled]="false"
    [disabledLoadOnScroll]="true"
    class="h-full overflow-hidden"
  >
    <ngx-gantt-table>
      <ngx-gantt-column name="Tasks" width="325px">
        <ng-template #cell let-item="item">
          <div
            class="flex items-center gap-5"
            uiSref="projects/dashboard"
            [uiParams]="{
              projectId: project.id,
              taskAbbr: getTaskDefinition(item.id).abbreviation
            }"
          >
            <f-grade-icon
              [grade]="getTaskDefinition(item.id).targetGrade"
              [colorful]="true"
            ></f-grade-icon>
            {{ item.title }}
          </div>
        </ng-template>
      </ngx-gantt-column>

      @if (showDatesColumn) {
        <ngx-gantt-column name="Start Date" width="110px">
          <ng-template #cell let-item="item" class="text-center">
            {{ toDateString(item.start) }}
          </ng-template>
        </ngx-gantt-column>

        <ngx-gantt-column name="Target Date" width="110px">
          <ng-template #cell let-item="item" class="text-center">
            {{ toDateString(item.end) }}
          </ng-template>
        </ngx-gantt-column>

        <ngx-gantt-column name="Deadline" width="110px">
          <ng-template #cell let-item="item" class="text-center">
            {{ toDateString(getTaskDeadline(item.id)) }}
          </ng-template>
        </ngx-gantt-column>
      }

      <ng-template #bar let-item="item">
        <span
          class="w-full text-white flex gap-2 justify-between items-center p-2 h-[35px]"
          [ngClass]="
            isPastFeedbackDeadline(item)
              ? 'bg-[#eb6134] text-white'
              : isCloseToFeedbackDeadline(item)
                ? 'bg-[#ffc53d] text-black'
                : 'bg-[#3333ff] text-white'
          "
          [matTooltip]="getTooltip(item)"
          matTooltipPosition="above"
          ><div class="flex gap-2 items-center">
            @if (unsavedChanges(item)) {
              <mat-icon class="scale-95">change_circle</mat-icon>
            }
            &nbsp;&nbsp;{{ item.title }}
          </div>
          @if (isPastFeedbackDeadline(item)) {
            <mat-icon
              class="scale-90"
              matTooltip="Your planned target date is past the feedback deadline."
              >warning</mat-icon
            >
          } @else if (isCloseToFeedbackDeadline(item)) {
            <mat-icon
              class="scale-90"
              matTooltip="Your planned target date is close to the last date to receive feedback for this task."
              >query_builder</mat-icon
            >
          }
        </span>
      </ng-template>
    </ngx-gantt-table>
  </ngx-gantt>
</div>
