<h3 mat-dialog-title>Extension request</h3>
<div mat-dialog-content [formGroup]="extensionData">
  <p class="w-full">
    Please explain why you require an extension for this task, the teaching team will assess the
    request shortly.
  </p>

  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Reason</mat-label>
    <textarea
      matInput
      placeholder="Reason"
      type="text"
      [errorStateMatcher]="matcher"
      [formControl]="extensionData.controls.extensionReason"
    ></textarea>
    <mat-hint align="end"
      >{{ extensionData.controls.extensionReason.value.length }} / {{ reasonMaxLength }}</mat-hint
    >
    @if (extensionData.controls.extensionReason.hasError('required')) {
      <mat-error>You must enter a reason</mat-error>
    }
    @if (extensionData.controls.extensionReason.hasError('minlength')) {
      <mat-error>The reason must be at least {{ reasonMinLength }} characters long</mat-error>
    }
    @if (extensionData.controls.extensionReason.hasError('maxlength')) {
      <mat-error>The reason must be less than {{ reasonMaxLength }} characters long</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Choose a date</mat-label>
    <input
      matInput
      placeholder="Choose a date"
      [matDatepicker]="extensionDatePicker"
      [max]="maxDate"
      [min]="minDate"
      (dateInput)="addEvent('input', $event)"
    />
    <mat-datepicker-toggle matSuffix [for]="extensionDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #extensionDatePicker></mat-datepicker>
  </mat-form-field>
</div>

<div mat-dialog-actions style="float: right">
  <button color="warn" mat-dialog-close mat-stroked-button>Cancel</button>
  <button
    color="primary"
    mat-button
    mat-dialog-close
    mat-stroked-button
    style="margin-right: 10px"
    [disabled]="!extensionData.valid"
    (click)="submitApplication()"
  >
    Request extension to
    {{
      extensionDate.toLocaleDateString(currentLocale, {
        month: 'long',
        day: 'numeric',
      })
    }}
  </button>
</div>
