<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="filters.searchName" placeholder="Search students...">
      <span class="input-group-btn">
        <button class="btn btn-default btn-search-opts-toggle" type="button" ng-model="showSearchOpts" btn-checkbox>
          <i class="fa fa-chevron-{{showSearchOpts ? 'up' : 'down'}}"></i>
        </button>
      </span><!--/search-options-toggle-->
    </div><!--/search-->
  </div>
  <div class="panel-body search-options" ng-show="showSearchOpts">
    <form>
      <div class="form-group task-status">
        <label>Task Status</label>
        <div class="input-group clearfix">
          <button class="col-xs-6 col-sm-3 btn btn-default" ng-repeat="status in taskStatuses" ng-model="filters.statusesChecked[status]" ng-click="updateStatusCheck(status)" btn-checkbox>
            <status-icon status="status">
          </button>
        </div>
        <p class="help-block">You can choose to display submissions of certain task states here.</p>
      </div><!--/task-status-->
      <div class="form-group task-definition">
        <label>Task Definition</label>
        <div class="input-group">
          <task-definition-selector show-clear="true" unit="unit" button-style="default" ng-model="filters.taskDefinition"></task-definition-selector>
        </div>
        <p class="help-block">You can choose to display submissions of a specific task definition here.</p>
      </div><!--/task-definition-->
      <div class="form-group tutorial">
        <label>Tutorials</label>
        <div class="input-group">
          <select ng-model="filters.tutorialIdSelected" class="form-control input-md">
            <option value="all">All tutorials</option>
            <option value="mine">Just my tutorials</option>
            <option ng-repeat="tutorial in tutorialScopeOptions | orderBy:'abbreviation'" value="{{tutorial.tutorial_id}}">
              {{unit.tutorialDescription(tutorial)}}
            </option>
          </select>
        </div>
        <p class="help-block">You can choose to display submissions from all tutorials or just your tutorials.</p>
      </div><!--/tutorial-->
    </form>
  </div><!--/search-options-->
  <ul class="list-group">
    <li class="list-group-item list-group-item-task"
      ng-repeat="task in tasks |
        tasksWithStudentName:filters.studentName |
        tasksWithStatuses:filters.statuses |
        tasksInTutorials:filters.tutorials |
        tasksOfTaskDefinition:filters.taskDefinition">
      <pre>Name = {{task.project().name}}</pre>
      <pre>Status = {{task.status}}</pre>
      <pre>Tutorial = {{task.project().tutorial.abbreviation}}</pre>
      <pre>Task Def = {{task.definition.abbreviation}}</pre>
    </li><!--/task-->
  </ul>
  <div class="panel-footer">

  </div>
</div>
