<div class="panel panel-primary">
  <div class="panel-heading">
    <input type="text" class="form-control" ng-model="filters.taskSearch" ng-change="taskNameChanged()" placeholder="Search tasks...">
  </div>
  <ul class="list-group">
    <li class="list-group-item list-group-item-task clearfix {{task.statusClass()}}"
      id="{{task.taskKeyToIdString()}}"
      ng-click="setSelectedTask(task)"
      ng-class="{selected: isSelectedTask(task)}"
      ng-repeat="task in filteredTasks">
      <div class="task-data">
        <h4 class="list-group-item-heading">
          {{task.name}}
        </h4>
        <p class="list-group-item-text">
          {{task.abbreviation}} - {{gradeNames[task.target_grade]}} Task
        </p>
      </div><!--/task-data-->
    </li><!--/task-->
    <li ng-show="filteredTasks.length == 0" class="list-group-item text-center text-muted">
      No tasks to display.
    </li>
  </ul>
</div>
