<div
  class="absolute top-1/2 left-1/2 z-40 h-screen w-screen -translate-1/2 transform overflow-hidden bg-gray-500/50 backdrop-blur"
  [hidden]="!scanningQr"
>
  @if (loadingStudentData) {
    <mat-spinner
      class="absolute top-1/2 left-1/2 z-50 -translate-x-1/2 transform"
      color="blue"
    ></mat-spinner>
  }
  <div [ngClass]="{'qr-reader-hide-bloat': hideQrScannerBloat}">
    <div class="absolute top-1/2 w-full -translate-y-1/2 transform" id="qr-reader"></div>
  </div>
  <div
    class="pointer-events-none absolute top-[150px] left-1/2 z-10 w-full -translate-x-1/2 transform px-6 py-3 text-center text-sm font-bold text-white"
  >
    Scan a student's QR code to instantly load their project and mark submissions.
  </div>
  <button
    class="absolute bottom-[150px] left-1/2 my-3 max-w-md -translate-x-1/2 transform"
    color="secondary"
    mat-raised-button
    (click)="closeQrReader()"
  >
    {{ project ? 'Cancel' : 'Exit' }}
  </button>
</div>

<!-- We offset the height by 145px to compensate for the header -->
<div class="mx-auto flex h-[calc(100vh-145px)] w-full max-w-7xl flex-col">
  @if (attendance && unit) {
    <div class="flex items-center gap-2.5">
      <mat-form-field appearance="outline" class="mt-[22px] w-full">
        <mat-select
          placeholder="Select a task"
          [disabled]="!!selectedTaskDefinition"
          [(ngModel)]="selectedTaskDefinition"
        >
          @for (
            td of $safeNavigationMigration(unit?.taskDefinitionCache.values) | async;
            track td
          ) {
            <mat-option [value]="td">{{ td.abbreviation }} - {{ td.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      @if (selectedTaskDefinition) {
        <button color="red" mat-raised-button (click)="selectedTaskDefinition = null">Clear</button>
      }
    </div>
  }

  <div class="task-inbox flex w-full flex-1 flex-col items-center justify-normal">
    <div class="relative mb-5 flex w-full justify-between px-10">
      @if (project && project?.student) {
        <button
          aria-label="Add engagement stamp"
          color="primary"
          mat-icon-button
          matTooltip="Add engagement"
          (click)="openAddEngagementDialog()"
        >
          <mat-icon>approval</mat-icon>
        </button>
        <div class="absolute left-1/2 -translate-x-1/2 transform text-center">
          <div class="text-center">
            {{ project?.student?.firstName }} {{ project?.student?.lastName }}
            @if (project?.student.studentId) {
              ({{ project?.student.studentId }})
            }
          </div>
          <div class="text-center">
            Target Grade: {{ getTargetTradeString($safeNavigationMigration(project?.targetGrade)) }}
          </div>
        </div>
      } @else {
        <div></div>
        <div class="mt-3 text-gray-500 italic">Click the QR code to open the scanner..</div>
      }
      <button class="scale-[2]" color="primary" mat-icon-button (click)="scanQrCode()">
        <mat-icon>qr_code_scanner</mat-icon>
      </button>
    </div>

    @if (project && !filteredTasks.length) {
      <div class="py-6 text-gray-400 italic">No tasks to discuss.</div>
    }
    <mat-selection-list #tasks class="m-0 h-min p-0">
      @for (task of filteredTasks; track task) {
        <mat-list-option
          class="clearfix w-full"
          style="padding: 0; min-height: 60px; height: min-content"
          togglePosition="before"
          [selected]="
            (['discuss', 'rediscuss'].includes(task.status) || attendance) &&
            (!task.definition.lockAssessmentsToTutorialStream ||
              currentUserTutorsInStream(task.definition.tutorialStream))
          "
          [value]="task"
        >
          @if (task) {
            <div class="w-full" id="{{ task.id }}">
              <div
                class="inbox-entry flex items-center"
                [ngClass]="{hover: task.hover}"
                (mouseout)="task.hover = task.optionsOpened"
                (mouseover)="task.hover = allowHover"
              >
                <span
                  class="notification"
                  [ngClass]="{
                    active: task.numNewComments > 0 || task.similaritiesDetected,
                    similarities: task.similaritiesDetected,
                  }"
                ></span>
                <user-icon
                  class="self-center"
                  [size]="30"
                  [user]="$safeNavigationMigration(project?.student)"
                >
                </user-icon>
                <div class="mt-0 flex-1 break-words whitespace-normal" [hidden]="isNarrow">
                  <h4 class="mt-[8px] mb-[2px] text-[15px]">{{ task.definition.name }}</h4>
                  <span class="mb-0 inline text-[12px]">
                    {{ task.definition.abbreviation }} -
                    {{ getTargetTradeString(task.definition.targetGrade) }} Task
                  </span>
                </div>
                @if (task.hasGrade()) {
                  <div matTooltip="The grade assigned to the submission" matTooltipPosition="above">
                    <mat-chip-option style="margin-right: 6px" [hidden]="isNarrow"
                      >{{ task.gradeDesc() }}
                    </mat-chip-option>
                  </div>
                }
                <status-icon
                  class="ml-2"
                  matBadge="{{ task.status === 'attention_required' ? '!' : '' }}"
                  matBadgeColor="warn"
                  matBadgePosition="after"
                  [hidden]="isNarrow"
                  [status]="task.status"
                ></status-icon>

                <button
                  aria-label="task-comments"
                  mat-icon-button
                  [ngClass]="task.id === selectedTask?.id ? 'text-blue-500' : 'text-gray-400'"
                  (click)="loadTaskComments($event, task)"
                >
                  <mat-icon>chat-bubble</mat-icon>
                </button>
              </div>
              <!--/badges-->
            </div>
          }
        </mat-list-option>
      }

      <!--/task-->
    </mat-selection-list>
    @if (project) {
      <div class="mt-2.5 flex w-full justify-center">
        @if (this.allTasks?.length > 0) {
          @if (this.filteredTasks?.length < this.allTasks?.length) {
            <button color="primary" mat-button (click)="viewAllSubmittedTasks()">
              Load all submitted tasks
            </button>
          } @else {
            <button color="primary" mat-button (click)="viewAllFilteredTasks()">
              Hide all submitted tasks
            </button>
          }
        }
      </div>
    }

    <!-- </cdk-virtual-scroll-viewport> -->
  </div>

  @if (project && filteredTasks.length) {
    <div class="mt-1">
      <div class="my-2 flex w-full items-center justify-center gap-5">
        @if (attendance) {
          <button
            class="medium-icon-button bg-gray-100"
            color="secondary"
            mat-fab
            [disabled]="!tasks.selectedOptions.selected.length"
            (click)="markSelectedTasksCheckedIn()"
          >
            <!-- Redo -->
            <mat-icon>how_to_reg</mat-icon>
          </button>
        } @else {
          <button
            class="medium-icon-button bg-gray-100"
            color="secondary"
            mat-fab
            [disabled]="!tasks.selectedOptions.selected.length"
            (click)="setSelectedTasksStatus('fix_and_resubmit')"
          >
            <!-- Redo -->
            <mat-icon>construction</mat-icon>
          </button>
          <button
            class="medium-icon-button bg-green-400"
            mat-fab
            [disabled]="!canMarkSelectedTasksComplete"
            (click)="setSelectedTasksStatus('complete')"
          >
            <!-- Mark as Complete -->
            <mat-icon>done</mat-icon>
          </button>

          <button
            class="medium-icon-button bg-blue-300"
            mat-fab
            [disabled]="!tasks.selectedOptions.selected.length"
            (click)="markSelectedTasksDicussed()"
          >
            <!-- Mark as Discussed -->
            <mat-icon>group</mat-icon>
          </button>
          @if (selectedTasksIncludeDiscuss) {
            <button
              class="medium-icon-button bg-[#126352] text-white"
              mat-fab
              matTooltip="Mark as Rediscuss"
              [disabled]="!tasks.selectedOptions.selected.length"
              (click)="setSelectedTasksStatus('rediscuss')"
            >
              <mat-icon>feedback</mat-icon>
            </button>
          }
        }
      </div>
    </div>
  }

  @if (selectedTask && project) {
    <mat-tab-group dynamicHeight (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Task Comments"></mat-tab>

      <mat-tab
        label="Student Notes{{
          project?.staffNoteCount ? ' (' + project.staffNoteCount + ')' : ''
        }}"
        [matBadge]="$safeNavigationMigration(project?.staffNoteCount)"
      ></mat-tab>
      <mat-tab label="Discussion Prompts"></mat-tab>
    </mat-tab-group>

    @if (footerTabView === TutorDiscussionTabView.SHOW_COMMENTS) {
      <div #commentspanel class="task-comment-panel inbox-panel w-full flex-1">
        <!-- <div class="w-full text-center py-2.5">{{ selectedTask?.definition.name }}</div> -->

        <task-comments-viewer
          class="h-full"
          ng-if="selectedTask"
          refocus-on-task-change="true"
          style="padding: 0 8px 0 12px; background: white; border-radius: 12px"
          [project]="project"
          [task]="selectedTask"
        >
        </task-comments-viewer>
      </div>
    } @else if (footerTabView === TutorDiscussionTabView.SHOW_STAFF_NOTES) {
      <f-staff-notes class="min-h-[350px]" [project]="project"></f-staff-notes>
    } @else if (footerTabView === TutorDiscussionTabView.SHOW_DISCUSSION_PROMPTS) {
      <f-discussion-prompts class="min-h-[350px]" [project]="project"></f-discussion-prompts>
    }
  }
</div>
