<div fxLayout="column" fxFill fxHide fxShow.gt-sm>
  <div fxLayout="row" fxLayoutAlign="center stretch" fxFill>
    <div id="inboxpanel" #inboxpanel class="staff-task-list inbox-panel">
      @if (taskData) {
        <df-staff-task-list
          [isNarrow]="narrowTaskInbox"
          [showSearchOptions]="showSearchOptions"
          [filters]="filters"
          [taskData]="taskData"
          [unit]="unit"
          [unitRole]="unitRole"
        ></df-staff-task-list>
      }
    </div>
    @if (subs$ | async) {
      <div
        id="leftResizerEl"
        #leftResizerEl
        class="resizer"
        cdkDragLockAxis="x"
        cdkDrag
        (cdkDragMoved)="dragging($event, inboxpanel)"
        (cdkDragEnded)="stoppedDragging($event, inboxpanel)"
        (cdkDragStarted)="startedDragging($event, inboxpanel)"
      ></div>
    }

    <div fxFlex class="inbox-panel">
      <f-task-dashboard [task]="taskData.selectedTask" [pdfUrl]="visiblePdfUrl"></f-task-dashboard>
    </div>
    <div
      id="rightResizerEl"
      #rightResizerEl
      class="resizer"
      cdkDragLockAxis="x"
      cdkDrag
      (cdkDragMoved)="dragging($event, commentspanel)"
      (cdkDragEnded)="stoppedDragging($event, commentspanel)"
      (cdkDragStarted)="startedDragging($event, commentspanel)"
    ></div>
    <div #commentspanel class="task-comment-panel inbox-panel">
      <task-comments-viewer [task]="taskData.selectedTask"> </task-comments-viewer>
    </div>
  </div>
  <f-footer></f-footer>
</div>

<div #mobile fxLayout="row" fxFill fxHide fxShow.lt-md>
  <div id="inboxpanel" #inboxpanel class="inbox-panel mobile" [hidden]="taskSelected">
    @if (taskData) {
      <df-staff-task-list
        [isNarrow]="false"
        [showSearchOptions]="showSearchOptions"
        [filters]="filters"
        [taskData]="taskData"
        [unit]="unit"
        [unitRole]="unitRole"
      ></df-staff-task-list>
    }
  </div>
  <div [hidden]="!taskSelected" fxLayout="column" fxFill fxLayoutAlign="space-between stretch">
    <div class="flex items-center">
      <button
        mat-icon-button
        aria-label="Back to inbox"
        matTooltip="Back to inbox"
        (click)="taskSelected = false"
      >
        <mat-icon>arrow_back_ios_new</mat-icon>
      </button>
      <h3 class="mb-0">{{ taskData?.selectedTask?.project.student.nickname }}</h3>
      <div fxFlex></div>
      <button
        [disabled]="!this.taskData?.selectedTask?.hasPdf"
        mat-icon-button
        aria-label="Open Submission"
        (click)="openPdfInNewTab()"
        matTooltip="Open submission"
      >
        <mat-icon>description</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Go to student"
        matTooltip="Go to student"
        (click)="goToStudent()"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>

    <div #commentspanel fxFlex class="inbox-panel task-comment-panel mobile">
      <task-comments-viewer [task]="taskData.selectedTask"> </task-comments-viewer>
    </div>
  </div>
</div>
