<div fxLayout="column" fxFill>
  <div fxLayout="row" fxLayoutAlign="center stretch" fxFill>
    <div id="inboxpanel" #inboxpanel class="staff-task-list inbox-panel">
      <df-staff-task-list
        *ngIf="taskData"
        [showSearchOptions]="showSearchOptions"
        [filters]="filters"
        [taskData]="taskData"
        [unit]="unit"
        [unitRole]="unitRole"
      ></df-staff-task-list>
    </div>
    <div
      *ngIf="subs$ | async"
      id="leftResizerEl"
      #leftResizerEl
      class="resizer"
      cdkDragLockAxis="x"
      cdkDrag
      (cdkDragMoved)="dragging($event, inboxpanel)"
      (cdkDragEnded)="stoppedDragging($event, inboxpanel)"
      (cdkDragStarted)="startedDragging($event, inboxpanel)"
    ></div>

    <div fxFlex class="inbox-panel">
      <f-task-dashboard [task]="taskData.selectedTask" [showSubmission]="true"> </f-task-dashboard>
    </div>
    <div
      id="rightResizerEl"
      #rightResizerEl
      class="resizer"
      cdkDragLockAxis="x"
      cdkDrag
      (cdkDragMoved)="dragging($event, commentspanel)"
      (cdkDragEnded)="stoppedDragging($event, commentspanel)"
      (cdkDragStarted)="startedDragging($event, commentspanel)"
    ></div>
    <div #commentspanel class="task-comment-panel inbox-panel">
      <task-comments-viewer [task]="taskData.selectedTask"> </task-comments-viewer>
    </div>
  </div>
  <f-footer></f-footer>
</div>
