<ng-template #TaskListSkeleton>
  <div class="h-full overflow-hidden">
    <ngx-skeleton-loader
      [theme]="{height: '48px', 'border-radius': '16px', margin: '0 0 14px'}"
    ></ngx-skeleton-loader>
    @for (row of [0, 1, 2, 3, 4, 5, 6, 7]; track row) {
      <div class="flex h-[60px] items-center gap-[10px] px-[6px]">
        <ngx-skeleton-loader
          appearance="circle"
          [theme]="{width: '8px', height: '8px', margin: '0'}"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          appearance="circle"
          [theme]="{width: '30px', height: '30px', margin: '0'}"
        ></ngx-skeleton-loader>
        <div class="min-w-0 flex-1">
          <ngx-skeleton-loader
            [theme]="{height: '10px', width: '78%', 'border-radius': '999px', margin: '6px 0'}"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            [theme]="{height: '10px', width: '56%', 'border-radius': '999px', margin: '6px 0'}"
          ></ngx-skeleton-loader>
        </div>
        <ngx-skeleton-loader
          appearance="circle"
          [theme]="{width: '32px', height: '32px', margin: '0'}"
        ></ngx-skeleton-loader>
      </div>
    }
  </div>
</ng-template>

<ng-template #BlankPanelSkeleton>
  <ngx-skeleton-loader
    class="block size-full"
    [theme]="{height: '100%', width: '100%', 'border-radius': '8px', margin: '0'}"
  ></ngx-skeleton-loader>
</ng-template>

@if (!isMobileView) {
  <div class="min-h-0 px-3" fxFill fxHide fxLayout="column" fxShow.gt-xs>
    <div class="min-h-0" fxFlex fxLayout="row" fxLayoutAlign="center stretch">
      <div #inboxpanel class="staff-task-list inbox-panel overflow-hidden" id="inboxpanel">
        @if (loading) {
          <ng-container *ngTemplateOutlet="TaskListSkeleton"></ng-container>
        } @else if (taskData) {
          <df-staff-task-list
            [filters]="filters"
            [isNarrow]="narrowTaskInbox"
            [showSearchOptions]="showSearchOptions"
            [taskData]="taskData"
            [unit]="unit"
            [unitRole]="unitRole"
            [viewType]="viewType"
          ></df-staff-task-list>
        }
      </div>
      @if (subs$ | async) {
        <div
          #leftResizerEl
          cdkDrag
          cdkDragLockAxis="x"
          class="resizer"
          id="leftResizerEl"
          (cdkDragEnded)="stoppedDragging($event, inboxpanel)"
          (cdkDragMoved)="dragging($event, inboxpanel)"
          (cdkDragStarted)="startedDragging($event, inboxpanel)"
        ></div>
      }

      <div class="inbox-panel overflow-hidden" fxFlex>
        @if (loading) {
          <ng-container *ngTemplateOutlet="BlankPanelSkeleton"></ng-container>
        } @else {
          <f-inbox-dashboard
            [task]="$safeNavigationMigration(taskData?.selectedTask)"
            (visiblePdfUrlChange)="visiblePdfUrl = $event"
          ></f-inbox-dashboard>
        }
      </div>
      @if (isCommentsNarrow && commentsCollapsed && !loading && taskData?.selectedTask) {
        <button
          aria-label="Open task comments"
          class="comments-floating-toggle"
          color="primary"
          mat-mini-fab
          matTooltip="Open comments"
          type="button"
          (click)="toggleCommentsPanel()"
        >
          <mat-icon class="comments-floating-toggle__edge-icon">chevron_left</mat-icon>
          <mat-icon class="comments-floating-toggle__hover-icon">forum</mat-icon>
        </button>
      }
      <div
        #rightResizerEl
        cdkDrag
        cdkDragLockAxis="x"
        class="resizer"
        id="rightResizerEl"
        [class.hidden]="isCommentsNarrow"
        (cdkDragEnded)="stoppedDragging($event, commentspanel)"
        (cdkDragMoved)="dragging($event, commentspanel)"
        (cdkDragStarted)="startedDragging($event, commentspanel)"
      ></div>
      <div
        #commentspanel
        class="task-comment-panel comments-sidebar inbox-panel overflow-hidden"
        [class.comments-sidebar--narrow]="isCommentsNarrow"
        [class.hidden]="commentsPanelCollapsed"
      >
        @if (isCommentsNarrow && !commentsCollapsed) {
          <button
            aria-label="Collapse task comments"
            class="comments-sidebar__collapse"
            mat-icon-button
            matTooltip="Collapse comments"
            type="button"
            (click)="toggleCommentsPanel()"
          >
            <mat-icon>chevron_right</mat-icon>
          </button>
        }
        @if (loading) {
          <ng-container *ngTemplateOutlet="BlankPanelSkeleton"></ng-container>
        } @else {
          <task-comments-viewer [task]="taskData.selectedTask"> </task-comments-viewer>
        }
      </div>
    </div>
    <f-footer class="z-10 shrink-0" [viewType]="viewType"></f-footer>
  </div>
} @else {
  <div #mobile fxFill fxHide fxLayout="row" fxShow.xs>
    <div
      #inboxpanel
      class="inbox-panel mobile overflow-hidden"
      id="inboxpanel"
      [hidden]="taskSelected"
    >
      @if (loading) {
        <ng-container *ngTemplateOutlet="TaskListSkeleton"></ng-container>
      } @else if (taskData) {
        <df-staff-task-list
          [filters]="filters"
          [isNarrow]="false"
          [showSearchOptions]="showSearchOptions"
          [taskData]="taskData"
          [unit]="unit"
          [unitRole]="unitRole"
          [viewType]="viewType"
        ></df-staff-task-list>
      }
    </div>
    <div fxFill fxLayout="column" fxLayoutAlign="space-between stretch" [hidden]="!taskSelected">
      <div class="flex items-center">
        <button
          aria-label="Back to inbox"
          mat-icon-button
          matTooltip="Back to inbox"
          (click)="taskSelected = false"
        >
          <mat-icon>arrow_back_ios_new</mat-icon>
        </button>
        <h3 class="mb-0">{{ taskData?.selectedTask?.project.student.nickname }}</h3>
        <div fxFlex></div>
        <button
          aria-label="Open current document"
          mat-icon-button
          matTooltip="Open current document"
          [disabled]="!visiblePdfUrl"
          (click)="openPdfInNewTab()"
        >
          <mat-icon>description</mat-icon>
        </button>
        <button
          aria-label="Go to student"
          mat-icon-button
          matTooltip="Go to student"
          (click)="goToStudent()"
        >
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>

      <div class="inbox-panel mobile overflow-hidden" fxFlex>
        @if (loading) {
          <ng-container *ngTemplateOutlet="BlankPanelSkeleton"></ng-container>
        } @else {
          <f-inbox-dashboard
            [task]="$safeNavigationMigration(taskData?.selectedTask)"
            (visiblePdfUrlChange)="visiblePdfUrl = $event"
          ></f-inbox-dashboard>
        }
      </div>
      @if (isCommentsNarrow && commentsCollapsed && !loading && taskData?.selectedTask) {
        <button
          aria-label="Open task comments"
          class="comments-floating-toggle"
          color="primary"
          mat-mini-fab
          matTooltip="Open comments"
          type="button"
          (click)="toggleCommentsPanel()"
        >
          <mat-icon class="comments-floating-toggle__edge-icon">chevron_left</mat-icon>
          <mat-icon class="comments-floating-toggle__hover-icon">forum</mat-icon>
        </button>
      }
      <div
        class="task-comment-panel comments-sidebar comments-sidebar--mobile inbox-panel overflow-hidden"
        [class.hidden]="commentsPanelCollapsed || !taskData?.selectedTask"
      >
        @if (isCommentsNarrow && !commentsCollapsed) {
          <button
            aria-label="Collapse task comments"
            class="comments-sidebar__collapse"
            mat-icon-button
            matTooltip="Collapse comments"
            type="button"
            (click)="toggleCommentsPanel()"
          >
            <mat-icon>chevron_right</mat-icon>
          </button>
        }
        @if (!loading && taskData?.selectedTask) {
          <task-comments-viewer [task]="taskData.selectedTask"> </task-comments-viewer>
        }
      </div>
    </div>
  </div>
}
