:host {
  display: block;
}

.unit-code-part {
  animation: unit-code-enter 500ms ease-in-out;
  opacity: 1;
  transform: translateX(0%);
  transition:
    opacity 500ms ease-in-out,
    transform 500ms ease-in-out;
}

.unit-code-part.out {
  opacity: 0;
  transform: translateX(-100%);
}

@keyframes unit-code-enter {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
