<f-chip>
  <div class="flex flex-row items-center justify-center px-2" [style.minWidth.px]="width">
    @if (isDualBadge && shiftBetweenBadges) {
      @for (part of unitCodeParts; track part; let i = $index) {
        @if (i === currentIndex) {
          <span [@flip]="showState">{{ part }}</span>
        }
      }
    } @else {
      {{ unitCodeParts }}
    }

    <ng-container *ngTemplateOutlet="contentProjection"></ng-container>
  </div>
</f-chip>

<ng-template #contentProjection>
  @if (isDropdown) {
    <ng-content></ng-content>
  }
</ng-template>
