<div class="task-sheet-viewer">
  <div class="panel-body task-description">
    <div class="markdown-to-pdf" ng-bind-html="task.definition.description | markdown"></div>
  </div><!--task-description-panel-body-->
  <div class="panel-heading assessment-details-alignment-panel" ng-if="showAssessmentPanel">
    <h3 class="panel-title">
      Task Assessment
    </h3>
    Details about your task assessment are given below
  </div><!--view-alignment-panel-header-->
  <div class="panel-body assessment-details-alignment-panel" ng-if="showAssessmentPanel">
    <div class="assessment-item current-status" ng-if="assessmentPanels.feedback.show">
      <aside>
        <status-icon [status]="task.status"></status-icon>
      </aside>
      <div class="content">
        <h4>{{activeStatusData.help.detail}}</h4>
        <h5>Why do I have this status?</h5>
        <p>{{activeStatusData.help.reason}}</p>
        <h5>What should I do?</h5>
        <p>{{activeStatusData.help.action}}</p>
      </div>
    </div>
    <div class="assessment-item graded-task" ng-if="assessmentPanels.graded.show">
      <aside class="text-right">
        <grade-icon colorful="assessmentPanels.graded.active" grade="task.grade"></grade-icon>
      </aside>
      <div class="content">
        <h4 ng-show="assessmentPanels.graded.active">
          This task {{assessmentPanels.graded.active ? 'has been' : 'will be'}} assigned a grade
        </h4>
        <div ng-hide="assessmentPanels.graded.active">
          <p>
            This task will be graded against a grade standard. Your work will
            be assessed and assigned a grade according to a Pass,
            Credit, Distinction or High Distinction standard.
          </p>
          <p class="callout callout-primary">
            As you are attempting to achieve a {{gradeName[project.target_grade]}} in this unit,
            you should attempt to achieve a <strong>{{gradeName[project.target_grade]}}</strong> grade
            on this task.
          </p>
        </div>
        <div ng-show="assessmentPanels.graded.active">
          Your tutor has marked you on this task to a <strong>{{gradeName[task.grade]}}</strong> standard.
        </div>
      </div>
    </div><!--/graded-task-details-->
    <div class="assessment-item quality-stars" ng-if="assessmentPanels.quality.show">
      <aside ng-class="{'rating-outline': assessmentPanels.quality.active}">
        <i class="fa fa-star"></i>
      </aside>
      <div class="content">
        <h4 ng-show="assessmentPanels.quality.active">
          This task has been assessed for quality
        </h4>
        <h4 ng-hide="assessmentPanels.quality.active">
          This task will be assessed on a scale to {{qualityPoints.max}}
        </h4>
        <p ng-hide="assessmentPanels.quality.active">
          This task will be graded against a quality scale from
          <strong>0 to {{qualityPoints.max}}</strong>. Your work will assessed
          and assigned a star rating based on the quality of your submission.
        </p>
        <p ng-show="assessmentPanels.quality.active">
          <label>Quality Mark: </label>
          <rating
            class="task-quality-rating"
            ng-model="qualityPoints.assigned"
            max="qualityPoints.max"
            state-on="'fa fa-star rating-outline'"
            state-off="'fa fa-star rating-disabled'"
            readonly="true">
          </rating>
        </p>
      </div>
    </div><!--/quality-star-details-->
  </div><!--assessment-details-panel-body-->
  <div class="panel-heading task-view-alignment-panel" ng-hide="showTaskSheet" ng-if="alignments.length > 0">
    <h3 class="panel-title">
      Task Outcome Alignments
    </h3>
    Teaching staff believe that completing this task will help you achieve the outcomes listed below
  </div><!--view-alignment-panel-header-->
  <div class="panel-body task-view-alignment-panel" ng-hide="showTaskSheet" ng-if="alignments.length > 0">
    <task-ilo-alignment-viewer
      project="project"
      task="task"
      unit="unit"
      alignments="alignments"
      summative="false"
      hide-visualisation="true"></task-ilo-alignment-viewer>
  </div><!--view-alignment-panel-body-->
  <div class="panel-heading row-fluid task-download" ng-show="hasPDF || hasResources">
    <h3 class="panel-title">
      Begin task
    </h3>
    Begin task by {{hasPDF ? "viewing the task sheet" : ""}} {{hasPDF && hasResources ? "or" : ""}} {{hasResources ? "downloading task resources" : ""}}
  </div>
  <div class="panel-body task-buttons-download-area" ng-class="{ small: showTaskSheet }" ng-show="hasPDF || hasResources">
    <a ng-class="{ active: showTaskSheet }" ng-click="toggleTaskSheet()" ng-show="hasPDF" class="btn btn-lg btn-default">
      <div>
        <i class="fa fa-2x fa-file-pdf-o"></i>
        <p>View{{showTaskSheet ? "ing" : ''}} PDF</p>
      </div>
    </a>
    <a ng-click="downloadEvent('PDF')" href="{{taskPDFUrl}}&as_attachment=true" ng-show="hasPDF" target="_blank" class="btn btn-lg btn-info">
      <div>
        <i class="fa fa-2x fa-file-pdf-o"></i>
        <i class="fa fa-2x fa-download"></i>
        <p>Download PDF</p>
      </div>
    </a>
    <a ng-click="downloadEvent('Resources')" href="{{resourceUrl}}" ng-show="hasResources" target="_blank" class="btn btn-lg btn-success">
      <div>
        <i class="fa fa-2x fa-download"></i>
        <p>Download Resources</p>
      </div>
    </a>
  </div>
  <div ng-if="showTaskSheet && hasPDF && hasResources">
    <pdf-viewer-panel
      pdf-url="taskPDFUrl"
      resources-url="resourceUrl"
      hide-footer="true">
    </pdf-viewer-panel>
  </div>
  <div ng-if="showTaskSheet && hasPDF && !hasResources">
    <pdf-viewer-panel
      pdf-url="taskPDFUrl"
      hide-footer="true">
    </pdf-viewer-panel>
  </div><!--viewing-task-sheet-->
</div>
