.task-sheet-viewer {
  .panel-body.task-description,
  .panel-body.task-view-alignment-panel,
  .panel-body.task-buttons-download-area {
    height: auto !important; // need to override changes from .task-viewer
  }

  .panel-body.ng-hide {
    transition: all ease-out 0.2s;
  }

  .panel-body.task-description {
    font-size: 1.25em;
    font-weight: lighter;
    margin: 1em auto;
    p:last-child {
      margin-bottom: 0;
    }
  }

  .panel-heading {
    color: #ffffff;
    background-color: $brand-primary;
    border-color: $brand-primary;
  }

  .panel-body.task-view-alignment-panel {
    padding: 0;
  }

  .panel-body.task-buttons-download-area {
    display: flex;
    background: $brand-primary;
    height: $task-viewer-tab-content-height / 4;
    min-height: 130px;
    padding: 0;
    transition: all 0.3s ease-in;
    .btn {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100% - 1px);
      text-align: center;
      border-radius: 0;
      &:first-child {
        border-bottom-left-radius: 3px;
      }
      &:last-child {
        border-bottom-right-radius: 3px;
      }
      i {
        margin-bottom: 0.5ex;
      }
      i + i {
        margin-left: 1ex;
      }
      p {
        margin: 0;
      }
    }
  }

  .panel-body.task-buttons-download-area.small {
    height: $task-viewer-tab-content-height / 6;
    min-height: 50px;
    .btn:first-child {
      flex: 2;
    }
    .btn {
      font-size: 1.4em;
      i {
        margin-bottom: 0;
        margin-right: 1ex;
      }
      i + i {
        margin-left: 0;
      }
      p {
        display: inline-block;
        vertical-align: top;
        padding-top: 0.5em;
      }
    }
  }

  .panel-body.assessment-details-alignment-panel {
    height: auto !important; // override
    .assessment-item {
      padding: 15px;
      display: flex;
    }
    .assessment-item.quality-stars .content {
      i {
        margin: 0 0.25ex;
        font-size: 1.25em;
      }
      label {
        margin-right: 1ex;
      }
    }
    .assessment-item:not(:first-child) {
      border-top: 1px dashed $text-muted;
    }
    aside, .content {
      display: inline-block;
    }
    aside .grade-icon {
      font-size: 1.15em;
    }
    aside > i.fa {
      font-size: 2.3em;
    }
    aside {
      width: 3.5em;
      margin-right: 2.5ex;
      text-align: right;
      padding-top: 1em;
    }
    .content {
      font-size: 1.2em;
      font-weight: lighter;
      max-width: 90%;
      .callout {
        display: inline-block;
      }
    }
  }
}
