<div class="task-sheet-viewer">
  <div class="panel-body task-description">
    <div class="markdown-to-pdf" ng-bind-html="project.selectedTask.definition.description | markdown"></div>
  </div><!--task-description-panel-body-->
  <div class="panel-heading assessment-details-alignment-panel" ng-if="shouldShowAssessmentPanel">
    <h3 class="panel-title">
      Task Assessment
    </h3>
    Details about your task assessment are given below
  </div><!--view-alignment-panel-header-->
  <div class="panel-body assessment-details-alignment-panel" ng-if="shouldShowAssessmentPanel">
    <div class="assessment-item graded-task" ng-if="taskIsGraded">
      <aside>
        <grade-icon></grade-icon>
      </aside>
      <div class="content">
        <h4> This task will be assigned a grade </h4>
        <p>
          This task will be graded against a grade standard. Your work will
          be assessed and assigned a grade according to a Pass,
          Credit, Distinction or High Distinction standard.
        </p>
        <p class="callout callout-primary">
          As you are attempting to achieve a {{targetGrade}} in this unit,
          you should attempt to achieve a <strong>{{targetGrade}}</strong> grade
          on this task.
        </p>
      </div>
    </div><!--/graded-task-details-->
    <div class="assessment-item quality-stars" ng-if="qualityStars">
      <aside>
        <i class="fa fa-star fa-2x"></i>
      </aside>
      <div class="content">
        <h4> This task will be assessed on a scale to {{qualityStars}} </h4>
        <p>
          This task will be graded against a quality scale from
          <strong>0 to {{qualityStars}}</strong>. Your work will assessed
          and assigned a star rating based on the quality of your submission.
        </p>
      </div>
    </div><!--/quality-star-details-->
  </div><!--assessment-details-panel-body-->
  <div class="panel-heading task-view-alignment-panel" ng-hide="showTaskSheet" ng-if="alignments.length > 0">
    <h3 class="panel-title">
      Task Outcome Alignments
    </h3>
    Teaching staff believe that completing this task will help you achieve the outcomes listed below
  </div><!--view-alignment-panel-header-->
  <div class="panel-body task-view-alignment-panel" ng-hide="showTaskSheet" ng-if="alignments.length > 0">
    <task-ilo-alignment-viewer
      project="project"
      task="task"
      unit="unit"
      alignments="alignments"
      summative="false"
      hide-visualisation="true"></task-ilo-alignment-viewer>
  </div><!--view-alignment-panel-body-->
  <div class="panel-heading row-fluid task-download" ng-show="hasPDF || hasResources">
    <h3 class="panel-title">
      Begin task
    </h3>
    Begin task by {{hasPDF ? "viewing the task sheet" : ""}} {{hasPDF && hasResources ? "or" : ""}} {{hasResources ? "downloading task resources" : ""}}
  </div>
  <div class="panel-body task-buttons-download-area" ng-class="{ small: showTaskSheet }" ng-show="hasPDF || hasResources">
    <a ng-class="{ active: showTaskSheet }" ng-click="toggleTaskSheet" ng-show="hasPDF" class="btn btn-lg btn-default">
      <div>
        <i class="fa fa-2x fa-file-pdf-o"></i>
        <p>View{{showTaskSheet ? "ing" : ''}} PDF</p>
      </div>
    </a>
    <a ng-click="downloadEvent('PDF')" href="{{taskPDFUrl}}" ng-show="hasPDF" target="_blank" class="btn btn-lg btn-info">
      <div>
        <i class="fa fa-2x fa-file-pdf-o"></i>
        <i class="fa fa-2x fa-download"></i>
        <p>Download PDF</p>
      </div>
    </a>
    <a ng-click="downloadEvent('Resources')" href="{{resourceUrl}}" ng-show="hasResources" target="_blank" class="btn btn-lg btn-success">
      <div>
        <i class="fa fa-2x fa-download"></i>
        <p>Download Resources</p>
      </div>
    </a>
  </div>
  <div ng-if="showTaskSheet && hasPDF && hasResources">
    <pdf-panel-viewer
      pdf-url="taskPDFUrl"
      resources-url="resourceUrl"
      hide-footer="true">
    </pdf-panel-viewer>
  </div>
  <div ng-if="showTaskSheet && hasPDF && !hasResources">
    <pdf-panel-viewer
      pdf-url="taskPDFUrl"
      hide-footer="true">
    </pdf-panel-viewer>
  </div><!--viewing-task-sheet-->
</div>
