.status-icon {
  display: inline-block;

  @mixin status-icon($status) {
    i {
      $background-color: task-status-color($status);
      $foreground-color: task-status-color($status, fore);
      background-color: $background-color;
      color: $foreground-color;
    }
  }

  &.ready-to-mark     { @include status-icon('ready-to-mark');    }
  &.not-started       { @include status-icon('not-started');      }
  &.working-on-it     { @include status-icon('working-on-it');    }
  &.need-help         { @include status-icon('need-help');        }
  &.fix-and-resubmit  { @include status-icon('fix-and-resubmit'); }
  &.do-not-resubmit   { @include status-icon('do-not-resubmit');  }
  &.redo              { @include status-icon('redo');             }
  &.discuss           { @include status-icon('discuss');          }
  &.demonstrate       { @include status-icon('demonstrate');      }
  &.complete          { @include status-icon('complete');         }
  &.fail              { @include status-icon('fail');             }

  width: 80%;
  text-align: center;
  display: inline-block;

  i {
    font-size: 1.25em;
    padding: 0.55em;
    border-radius: 1.25em;
    cursor: pointer;
    width: 100%;
  }
}
