<ul class="project-tasks-list">
  <div ng-repeat="grouping in groupTasks" class="group-set-tasks clearfix">
    <h5 class="group-set-name" ng-hide="hideGroupSetName">{{grouping.name}}</h5>
    <li class="col-xs-4 col-lg-3" ng-repeat="task in project.tasks | tasksForGroupset: grouping.groupSet | orderBy: ['definition.targetGrade','definition.seq']">
      <button type="button" class="col-xs-12 btn task-status {{statusClass(task.status)}}" ng-click="onSelect(task, 'Task Button List')" tooltip-popup-delay='200' tooltip-placement="bottom" tooltip-html-unsafe="<strong>{{task.definition.name}}:</strong><br>{{task.statusLabel()}}">
        <i class="fa fa-eye" ng-show="task.similarityFlag"></i> {{taskText(task)}}
      </button>
    </li>
  </div>
</ul>
