<div class="w-full max-w-full">
  @if (blobUrl && fileType === 'pdf') {
    @if (!loaded) {
      <mat-progress-bar
        mode="determinate"
        [value]="pdfLoadingProgressPercentage"
      ></mat-progress-bar>
    }
    <pdf-viewer
      class="size-full"
      style="display: block; min-height: 60rem"
      [autoresize]="true"
      [fit-to-page]="true"
      [original-size]="false"
      [render-text]="true"
      [src]="blobUrl"
      (after-load-complete)="onLoaded()"
      (on-progress)="onProgress($event)"
      (page-rendered)="loaded = true"
    ></pdf-viewer>
  }
  @if (fileType === 'html') {
    <div>
      <iframe height="100%" width="100%" [src]="blobUrl | safe"></iframe>
    </div>
  }
</div>
