<div>
  <div class="header">
    <div>
      <h3>Enrolled Students</h3>
      <p>Summary of students enrolled in this unit</p>
    </div>
    <div class="spacer"></div>
    <div class="filter">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" />
      </mat-form-field>
    </div>
  </div>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="sortTableData($event)"
    class="mat-elevation-z8"
  >
    <!-- Username Column -->
    <ng-container matColumnDef="student_id" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
      <td mat-cell *matCellDef="let student">
        {{ student.student_id }}
      </td>
    </ng-container>

    <!-- First name Column -->
    <ng-container matColumnDef="first_name" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let student">
        {{ student.first_name }}
      </td>
    </ng-container>

    <!-- Last name Column -->
    <ng-container matColumnDef="last_name" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let student">
        {{ student.last_name }}
      </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="student_email" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let student">
        {{ student.student_email }}
      </td>
    </ng-container>

    <!-- campus Column -->
    <ng-container matColumnDef="campus" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Campus</th>
      <td mat-cell *matCellDef="let student">
        <student-campus-select [unit]="unit" [student]="student" [update]="true"></student-campus-select>
      </td>
    </ng-container>

    <!-- Tutorial Column -->
    <ng-container matColumnDef="tutorial" sticky>
      <th mat-header-cell *matHeaderCellDef>Tutorial</th>
      <td mat-cell *matCellDef="let student">
        <student-tutorial-select
          [unit]="unit"
          [student]="student"
        ></student-tutorial-select>
      </td>
    </ng-container>

    <!-- Enrolled Column -->
    <ng-container matColumnDef="enrolled" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Enrolled</th>
      <td mat-cell *matCellDef="let student">
        <mat-checkbox
          [(ngModel)]="student.enrolled"
          (click)="student.updateUnitEnrolment()"
        ></mat-checkbox>
      </td>
    </ng-container>

    <!-- Goto Column -->
    <ng-container matColumnDef="goto" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let student">
        <button mat-button target="_blank" (click)="gotoStudent(student)">
          <i class="fa fa-share"></i>
        </button>
      </td>
    </ng-container>

    <!-- Disclaimer column -->
    <ng-container matColumnDef="actions">
      <td mat-footer-cell *matFooterCellDef [colSpan]="columns.length">
        <mat-toolbar>
          <mat-toolbar-row>
            <button mat-button target="_blank" (click)="enrolStudent()">
              <i class="fa fa-user"></i> Enrol
            </button>
            <span class="spacer"></span>
            <button mat-button target="_blank" (click)="downloadEnrolments()">
              <i class="fa fa-download"></i> Download
            </button>
            <button mat-button target="_blank" (click)="uploadEnrolments()">
              <i class="fa fa-upload"></i> Batch Enrol
            </button>
            <button mat-button target="_blank" (click)="uploadWithdrawals()">
              <i class="fa fa-upload"></i> Batch Withdraw
            </button>
            <span class="spacer"></span>
            <mat-paginator
              class="mat-elevation-z0"
              [pageSizeOptions]="[5, 10, 25, 100]"
            ></mat-paginator>
          </mat-toolbar-row>
        </mat-toolbar>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns" class="table-row"></tr>
    <tr mat-footer-row *matFooterRowDef="['actions']"></tr>
  </table>
</div>
