<div>
  <div class="header">
    <div>
      <h3>Enrolled Students</h3>
      <p>Summary of students enrolled in this unit</p>
    </div>
    <div class="spacer"></div>
    <div class="filter">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" />
      </mat-form-field>
    </div>
  </div>
  <table
    class="f-table"
    mat-table
    matSort
    [dataSource]="dataSource"
    (matSortChange)="sortTableData($event)"
  >
    <!-- Username Column -->
    <ng-container matColumnDef="username" sticky>
      <th *matHeaderCellDef class="bg-white" mat-header-cell mat-sort-header>
        Username
      </th>
      <td *matCellDef="let project" class="bg-white" mat-cell>
        {{ project.student.username }}
      </td>
    </ng-container>

    <!-- First name Column -->
    <ng-container matColumnDef="firstName">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>First Name</th>
      <td *matCellDef="let project" mat-cell>
        {{ project.student.firstName }}
      </td>
    </ng-container>

    <!-- Last name Column -->
    <ng-container matColumnDef="lastName">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Last Name</th>
      <td *matCellDef="let project" mat-cell>
        {{ project.student.lastName }}
      </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Email</th>
      <td *matCellDef="let project" mat-cell>
        {{ project.student.email }}
      </td>
    </ng-container>

    <!-- campus Column -->
    <ng-container matColumnDef="campus">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Campus</th>
      <td *matCellDef="let project" class="pt-2.5" mat-cell>
        <student-campus-select
          [student]="project"
          [unit]="unit"
          [update]="true"
        ></student-campus-select>
      </td>
    </ng-container>

    <!-- Tutorial Column -->
    <ng-container matColumnDef="tutorial">
      <th *matHeaderCellDef mat-header-cell>Tutorial</th>
      <td *matCellDef="let project" class="pt-2.5" mat-cell>
        <student-tutorial-select
          [student]="project"
          [unit]="unit"
        ></student-tutorial-select>
      </td>
    </ng-container>

    <!-- Enrolled Column -->
    <ng-container matColumnDef="enrolled">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Enrolled</th>
      <td *matCellDef="let project" mat-cell>
        <mat-checkbox
          color="primary"
          [(ngModel)]="project.enrolled"
          (click)="project.updateUnitEnrolment()"
        ></mat-checkbox>
      </td>
    </ng-container>

    <!-- Goto Column -->
    <ng-container matColumnDef="goto">
      <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
      <td *matCellDef="let project" mat-cell>
        <div class="flex flex-row">
          <button mat-icon-button (click)="updateSpecCon(project)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button (click)="gotoStudent(project)">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- Disclaimer column -->
    <ng-container matColumnDef="actions">
      <td *matFooterCellDef mat-footer-cell [colSpan]="columns.length">
        <mat-toolbar>
          <mat-toolbar-row>
            <button mat-button target="_blank" (click)="enrolStudent()">
              <mat-icon inline>person</mat-icon> Enrol
            </button>
            <span class="spacer"></span>
            <button mat-button target="_blank" (click)="downloadEnrolments()">
              <mat-icon inline>download</mat-icon> Download
            </button>
            <button mat-button target="_blank" (click)="uploadEnrolments()">
              <mat-icon inline>upload</mat-icon> Batch Enrol
            </button>
            <button mat-button target="_blank" (click)="uploadWithdrawals()">
              <mat-icon inline>upload</mat-icon> Batch Withdraw
            </button>
            <span class="spacer"></span>
            <mat-paginator
              class="mat-elevation-z0"
              [pageSizeOptions]="[5, 10, 25, 100]"
            ></mat-paginator>
          </mat-toolbar-row>
        </mat-toolbar>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="columns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columns" class="table-row" mat-row></tr>
    <tr *matFooterRowDef="['actions']" mat-footer-row></tr>
  </table>
</div>
