@if (loading) {
  <div class="flex-start flex size-full items-center justify-center text-gray-400 italic">
    Loading members...
  </div>
} @else if (!selectedGroup || selectedGroup.members.length === 0) {
  <div class="flex size-full flex-col items-center justify-center p-2.5 text-gray-400">
    <mat-icon class="scale-125">group_off</mat-icon>
    <p class="p-2.5">There are no members in this group</p>
  </div>
} @else {
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="student_id">
      <th *matHeaderCellDef mat-header-cell>{{ unitRole ? 'Student ID' : '' }}</th>
      <td *matCellDef="let member" mat-cell>
        @if (unitRole) {
          {{ member.student.username || 'N/A' }}
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td *matCellDef="let member" mat-cell>
        {{ member.student.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="target_grade">
      <th *matHeaderCellDef mat-header-cell>{{ unitRole ? 'Target Grade' : '' }}</th>
      <td *matCellDef="let member" mat-cell>
        @if (unitRole) {
          <f-grade-icon [grade]="member.targetGrade" [unit]="unit"></f-grade-icon>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>{{ canRemoveMembers ? 'Actions' : '' }}</th>
      <td *matCellDef="let member" mat-cell>
        @if (canRemoveMembers) {
          @if (!project && unitRole) {
            <button color="warn" mat-icon-button (click)="removeMember(member)">
              <mat-icon>delete</mat-icon>
            </button>
          } @else if (project && project.id === member.id) {
            <button mat-raised-button (click)="removeMember(member)">Leave</button>
          }
        }
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
}
