<div class="panel-body panel-loading" ng-hide="loaded">
  <i class="fa fa-spinner fa-pulse"></i> Loading Members...
</div><!--/loading-->
<div class="panel-body" ng-show="loaded && selectedGroup.members.length == 0">
  <div class="callout callout-primary">
    <h4>No members in group</h4>
    <p>There are no members in this group</p>
  </div>
</div><!--no-members-->
<table ng-show="loaded && selectedGroup.members.length > 0" class="table table-condensed table-hover table-pointer">
  <thead>
    <tr>
      <th ng-show="unitRole">
        <a ng-click="sortTableBy('student.username')">
          Student ID
          <i ng-show="tableSort.order == 'student.username'" class="fa fa-caret-{{tableSort.reverse ? 'up' : 'down'}}"></i>
        </a>
      </th>
      <th>
        <a ng-click="sortTableBy('student.name')">
          Name
          <i ng-show="tableSort.order == 'student.name'" class="fa fa-caret-{{tableSort.reverse ? 'up' : 'down'}}"></i>
        </a>
      </th>
      <th ng-show="unitRole">
        <a ng-click="sortTableBy('targetGrade')">
          Target Grade
          <i ng-show="tableSort.order == 'targetGrade'" class="fa fa-caret-{{tableSort.reverse ? 'up' : 'down'}}"></i>
        </a>
      </th>
      <th ng-if="canRemoveMembers">
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="member in selectedGroup.members | orderBy:tableSort.order:tableSort.reverse">
      <td class="student-id" ng-show="unitRole">{{member.student.username || "N/A"}}</td>
      <td class="student-name">{{member.student.name}}</td>
      <td ng-show="unitRole" class="student-grade text-left">
        <grade-icon [index]="member.targetGrade"></grade-icon>
      </td>
      <td class="actions" ng-if="canRemoveMembers">
        <button ng-click="removeMember(member)" class="btn btn-sm btn-danger" ng-hide="project">
          <i class="fa fa-minus"></i>
          <span ng-hide="member.id == project.id">Remove</span>
        </button>
        <button ng-click="removeMember(member)" class="btn btn-sm btn-danger" ng-show="member.id == project.id">
          <i class="fa fa-minus"></i>
          <span>Leave</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
