<mat-form-field appearance="outline">
  @if (label) {
  <mat-label>{{ label }}</mat-label>
  }
  <mat-select
    [(value)]="target"
    [placeholder]="placeholder"
    (selectionChange)="selectionChange($event)"
    [compareWith]="compareFn"
  >
    @if (placeholder) {
    <mat-option [value]="null">
      {{ placeholder }}
    </mat-option>
    } @for (element of source; track element) {
    <mat-option [value]="element.value">
      {{ element.text }}
    </mat-option>
    }
  </mat-select>
</mat-form-field>
