<div class="grade-task-modal">
  <div class="modal-header">
    <h3>Assess Task Quality</h3>
  </div>
  <div class="modal-body text-center">
    <div ng-if="task.definition.is_graded">
      <p>Please provide a grade to change the student's status for task <label class="label label-info">{{task.definition.abbreviation}}</label>.</p>
      <p class="btn-group">
        <label ng-repeat="idx in gradeValues" class="btn btn-default col-sm-15 text-center" ng-model="data.desiredGrade" btn-radio="{{idx}}">
          <grade-icon grade="grades[idx]" tooltip="This student completed the task to a {{grades[idx]}} standard" tooltip-append-to-body="true"></grade-icon>
        </label>
      </p>
    </div>
    <div ng-if="task.definition.max_quality_pts > 0">
      <p>Please provide a quality rating for task <label class="label label-info">{{task.definition.abbreviation}}</label>.</p>
      <rating class="task-quality-rating" ng-click="checkClearRating()" ng-model="data.rating" on-hover="hoveringOver(value)" on-leave="hoveringOver(null)" max="numStars" state-on="'fa fa-3x fa-star icon-colorful'" state-off="'fa fa-3x fa-star icon-disable'"></rating>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="dismiss()">
      <i class="fa fa-times"></i>
    </button>
    <button class="btn btn-primary" ng-click="close()" ng-disabled="task.is_graded && data.desiredGrade == null">
      <i class="fa fa-check"></i>
    </button>
  </div>
</div>
