<div class="flex flex-row gap-2.5">
  <mat-form-field appearance="outline" class="basis-1/3">
    <mat-label>Start Date</mat-label>
    <input
      matInput
      placeholder="Start date"
      required
      [matDatepicker]="startdatepicker"
      [(ngModel)]="taskDefinition.startDate"
    />
    <mat-datepicker-toggle matIconSuffix [for]="startdatepicker"></mat-datepicker-toggle>
    <mat-datepicker #startdatepicker></mat-datepicker>
    <mat-hint>Suggested date for students to begin the task.</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" class="basis-1/3">
    <mat-label>Target Date</mat-label>
    <input
      matInput
      placeholder="Target date"
      required
      [matDatepicker]="targetdatepicker"
      [(ngModel)]="taskDefinition.targetDate"
    />
    <mat-datepicker-toggle matIconSuffix [for]="targetdatepicker"></mat-datepicker-toggle>
    <mat-datepicker #targetdatepicker></mat-datepicker>
    <mat-hint>Recommended target date for students to complete the task.</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" class="basis-1/3">
    <mat-label>Final Feedback Date</mat-label>
    <input
      matInput
      placeholder="Final feedback date"
      required
      [matDatepicker]="finaldatepicker"
      [(ngModel)]="taskDefinition.dueDate"
    />
    <mat-datepicker-toggle matIconSuffix [for]="finaldatepicker"></mat-datepicker-toggle>
    <mat-datepicker #finaldatepicker></mat-datepicker>
    <mat-hint>Final deadline for receiving feedback.</mat-hint>
  </mat-form-field>
</div>
