<mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline">
  <!-- <mat-label>Disable student interaction after feedback</mat-label> -->
  <input matInput style="display: none" />
  <mat-checkbox matInput required [(ngModel)]="taskDefinition.restrictStatusUpdates">Restrict updates</mat-checkbox>
  <mat-hint>Disable student interaction after feedback</mat-hint>
</mat-form-field>

<mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline">
  <!-- <mat-label>Disable student interaction after feedback</mat-label> -->
  <input matInput style="display: none" />
  <mat-checkbox matInput required [(ngModel)]="taskDefinition.isGraded">Graded</mat-checkbox>
  <mat-hint>Provide a grade in with feedback</mat-hint>
</mat-form-field>

<mat-form-field>
  <mat-label>Maximum Score</mat-label>
  <input
    matInput
    min="0"
    max="100"
    type="number"
    [(value)]="taskDefinition.maxQualityPts"
    [formControl]="scoreControl"
  />
  <mat-hint>Provide a score with feedback</mat-hint>
</mat-form-field>
