.mat-card{
    padding:0 ;

.mat-card-title{
    display:inline;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px  ;
    margin-bottom: 10px  ;
    
}
.mat-card-actions {
    position: relative;
    padding: 20px ;  
    display: flex;
    margin-bottom: 10px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    .mat-button:first-of-type {
        
        margin-left: 0;
        display:inline;
        color: #fff ;
        background-color: #337ab7 ;
        border-color: #2e6da4 ;
    }

    .mat-button:last-of-type {
        
        color: #333;
        background-color: #fff ;
        right: 0;
        position:relative;
        float: right;
        margin-left: auto;
        border: 1px solid;
        border-color: #ccc ;
    }

}

.mat-card-content{
    padding:16px ;
}
.mat-button{

    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display:inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
 
}

.mat-card-header{
    background-color: #f5f5f5;
    border-bottom: 1px solid hsla(0,0%,62.7%,.2);
    box-sizing: border-box;
    font-family: Roboto,Helvetica;
    font-size: 1.2em;
    line-height: 2;
    font-weight: 400;
    padding:15px 20px ;
  
    
}
h4{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400 ;
    margin: 8px  ;
    
    
}
.card.card-default > .card-heading
{
    background-color: #f5f5f5;
    padding: 15px 20px;
}
.mat-card-header .mat-card-title {
     margin-bottom:0px; 
   }




}
