<div class="panel panel-primary">
  <div class="panel-heading">
    <input type="text" class="form-control" ng-model="filters.taskName" ng-change="taskNameChanged()" placeholder="Search tasks...">
  </div>
  <ul class="list-group">
    <li class="list-group-item list-group-item-task clearfix {{task.statusClass()}}"
      id="{{task.taskKeyToIdString()}}"
      ng-click="setSelectedTask(task)"
      ng-class="{selected: isSelectedTask(task)}"
      ng-repeat="task in filteredTasks">
      <div class="task-data">
        <h4 class="list-group-item-heading">
          {{task.definition.name}}
        </h4>
        <p class="list-group-item-text">
          {{task.definition.abbreviation}} - {{gradeNames[task.definition.target_grade]}} Task
        </p>
      </div><!--/task-data-->
      <div class="task-badges">
        <span class="task-badges-item">
          <status-icon status="task.status"></status-icon>
        </span><!--/task-status-->
        <span class="task-badges-item" ng-show="task.num_new_comments > 0">
          <span class="new-comments-badge" tooltip="You have {{task.num_new_comments}} new comment{{task.num_new_comments > 1 ? 's' : ''}}" tooltip-append-to-body="true">
            {{task.num_new_comments}}
          </span>
        </span><!--/new-comments-badge-->
      </div><!--/badges-->
    </li><!--/task-->
    <li ng-show="filteredTasks.length == 0" class="list-group-item text-center text-muted">
      No tasks to display.
    </li>
  </ul>
</div>
