<div class="panel panel-primary">
  <div class="panel-heading">
    <input type="text" class="form-control" ng-model="filters.taskName" ng-change="taskNameChanged()" placeholder="Search tasks...">
  </div>
  <ul class="list-group">
    <task-list-item ng-repeat="task in filteredTasks | orderBy: 'topWeight'"
      [task]="task"
      [set-selected-task]="setSelectedTask"
      [is-selected-task]="isSelectedTask">
    </task-list-item>
    <li ng-show="filteredTasks.length == 0" class="list-group-item text-center text-muted">
      No tasks to display.
    </li>
  </ul>
</div>
