<div class="left-banner flex flex-col">
  <div class="header">
    <div class="wordmark flex items-center justify-start">
      <img
        alt="Homepage Logo"
        src="../../../assets/images/logo-white.svg"
        style="padding-right: 6px"
        width="40px"
      />
      <p>{{ externalName.value }}</p>
    </div>
    <h1 class="mt-3.5">Manage your learning, with feedback you'll want to receive.</h1>
  </div>

  <div class="flex-1" style="max-height: 10%"></div>
  <div class="pattern flex-grow"></div>
</div>
