<div class="file-upload-area">
  <div ng-repeat="upload in uploadZones">
    <h3 class="file-title">
      {{uploadZones.length == 0 ? '' : $index + 1}} - {{upload.display.name}}
    </h3>
    <div ngf-select ngf-drop
      ng-show="upload.model == null || upload.model.length == 0"
      class="drop well {{upload.display.error ? 'file-rejected' : ''}}"
      ng-model="upload.model"
      ng-model-rejected="upload.rejects"
      ngf-change="checkForError(upload)"
      ngf-accept="{{upload.accept}}"
      ngf-drag-over-class="{accept:'file-over', reject:'file-over', delay:100}"
      ngf-drop-available="dropSupported">
        <p class="fa {{upload.display.icon}} fa-3x"></p>
        <p ng-show="upload.display.error">
          Invalid file provided
          <small> Accepted files: <code>{{upload.accept}}</code> </small>
        </p>
        <p ng-show="dropSupported" ng-hide="upload.display.error">
          Drop a {{upload.display.type}} here
          <small> or click to select one </small>
        </p>
        <p ng-hide="dropSupported || upload.display.error">
          Click to select {{upload.display.type}} file
        </p>
      </div><!--/drop-zone-->
    <div ng-hide="upload.model == null || upload.model.length == 0">
      <p class="file-registered">
        <i class="fa {{upload.display.icon}}"></i>
        {{upload.model[0].name}}
      </p>
      <a class="clear-upload text-muted" ng-click="clearEnqueuedUpload(upload)">
        <i class="fa fa-times"></i>
      </a>
      </p>
    </div><!--/actual-file-->
</div>