<div class="col-sm-3 well nav nav-stacked" id="sidebar">
	<div class="panel panel-default" ng-show="unitRoles.length > 0">
	  <div class="panel-heading">
	    <h4 class="panel-title">Units You Teach</h4>
	  </div>
	  <div class="panel-body">
	  	<div ng-show="convenorRoles.length > 0">
	  		<p>Convenor for</p>
			<div ng-repeat="unitRole in convenorRoles = unitRoles | filter:isConvenor">
				<a href="#/units?unitRole={{unitRole.id}}">{{unitRole.unit_name}}</a>
			</div>
		</div>
		<div ng-show="tutorRoles.length > 0">
			<p>Tutor for</p>
			<div ng-repeat="unitRole in tutorRoles = unitRoles | filter:isTutor">
				<a href="#/units?unitRole={{unitRole.id}}">{{unitRole.unit_name}}</a>
			</div>
		</div>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h4 class="panel-title">Units You Study</h4>
	  </div>
	  <div class="panel-body">
		<div ng-repeat="project in projects">
			<a href="#/projects/{{project.project_id}}">{{project.unit_name}}</a>
		</div>
	  </div>
	</div>


	<div class="panel panel-default" if-role="Admin">
	  <div class="panel-heading">
	    <h4 class="panel-title">Administration</h4>
	  </div>
	  <div class="panel-body">
			<a href="#/admin/units" if-role="Admin">Manage Units</a>
		</div>
	</div>
</div>
