<div fxLayout="column" fxFill fxHide fxShow.gt-sm>
  <div fxLayout="row" fxLayoutAlign="center stretch" fxFill>
    <div id="leftPanel" #leftPanel class="staff-task-list inbox-panel">
      <ng-content select=".leftComponent"></ng-content>
    </div>
    <div
      *ngIf="subs$ | async"
      id="leftResizerEl"
      #leftResizerEl
      class="resizer"
      cdkDragLockAxis="x"
      cdkDrag
      (cdkDragMoved)="dragging($event, leftPanel)"
      (cdkDragEnded)="stoppedDragging($event, leftPanel)"
      (cdkDragStarted)="startedDragging($event, leftPanel)"
    ></div>

    <div fxFlex class="inbox-panel">
      <ng-content select=".centerComponent"></ng-content>
    </div>
    <div
      id="rightResizerEl"
      #rightResizerEl
      class="resizer"
      cdkDragLockAxis="x"
      cdkDrag
      (cdkDragMoved)="dragging($event, rightPanel)"
      (cdkDragEnded)="stoppedDragging($event, rightPanel)"
      (cdkDragStarted)="startedDragging($event, rightPanel)"
    ></div>
    <div #rightPanel class="task-comment-panel inbox-panel">
      <ng-content select=".rightComponent"></ng-content>
    </div>
  </div>
  <!-- <f-footer></f-footer> -->
</div>

<div #mobile fxLayout="row" fxFill fxHide fxShow.lt-md>
  <div id="leftPanel" #leftPanel class="inbox-panel mobile" [hidden]="!showCenter">
    <ng-content select=".leftComponent"></ng-content>
  </div>
  <div [hidden]="!showCenter" fxLayout="column" fxFill fxLayoutAlign="space-between stretch">
    <div fxLayout="row" style="margin-bottom: 5px">
      <button mat-icon-button aria-label="Back to inbox" (click)="showCenter = false">
        <mat-icon>arrow_back_ios_new</mat-icon>
      </button>
    </div>

    <div #rightPanel fxFlex class="inbox-panel task-comment-panel mobile">
      <ng-content select=".centerComponent"></ng-content>
    </div>
  </div>
</div>
