<ul class="breadcrumb">
  <li><a href="#/home">Home</a></li>
  <li ng-if="!assessingUnitRole">
    <a href="#/projects/{{project.project_id}}">{{unit.name}}</a>
  </li>
  <li ng-if="assessingUnitRole">
    <a href="#/units?unitRole={{assessingUnitRole.id}}">{{unit.name}}</a>
  </li>
  <li class="active">{{project.student_name}}</li>
</ul>
<div class="feedback-float-toolbar well" ng-if="assessingUnitRole && project">
  <label>Tutor Actions</label>
  <button ng-click="transitionWeekEnd()" class="btn btn-info">
    <i class="fa fa-comment fa-2x"></i><br/>
    Discussed
  </button>
  <a href="#/units?unitRole={{assessingUnitRole.id}}" class="btn btn-default">
    <i class="fa fa-list fa-2x"></i><br/>
    Student List
  </a>
</div><!--/feedback-float-toolbar-->
<div class="root-view" id="projects-show">
  <project-viewer
    project-id="studentProjectId"
    show-task-id="showTaskId"
    unit-role="unitRole"
    project="project"
    unit="unit"
    assessing-unit-role="assessingUnitRole"></project-viewer>
</div>
