<mat-card appearance="outlined" class="p-[16px]">
  <mat-card-header class="flex justify-between">
    <mat-card-title>
      <h2>Tutor Times Session Summary</h2>
    </mat-card-title>

    <button mat-button (click)="getTutorTimesSummary()">
      <mat-icon>download</mat-icon> Download Summary
    </button>
  </mat-card-header>

  <div class="flex flex-col items-center justify-center">
    <div class="flex flex-row gap-2 m-2">
      <button mat-raised-button color="primary" (click)="goPreviousWeek()" class="w-40">
        Previous
      </button>
      <button mat-raised-button (click)="goTodayWeek()">Today</button>
      <button mat-raised-button color="primary" (click)="goNextWeek()" class="w-40">Next</button>
    </div>
    <div class="flex flex-row gap-2 m-2">
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="startdatepicker"
          [(ngModel)]="tutorTimeSummaryStartDate"
          (dateChange)="onDateChange($event)"
        />
        <mat-hint>All sessions from this day and onwards.</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="startdatepicker"></mat-datepicker-toggle>
        <mat-datepicker #startdatepicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="enddatepicker"
          [(ngModel)]="tutorTimeSummaryEndDate"
          (dateChange)="onDateChange($event)"
        />
        <mat-hint>All sessions from this day and prior.</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="enddatepicker"></mat-datepicker-toggle>
        <mat-datepicker #enddatepicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <ng-template #eventTooltipTemplate let-event="event">
    <div class="z-50 bg-[rgba(25,25,25,0.8)] text-white p-2 rounded">
      <strong>{{ event.name }} ({{ event.duration }} minutes)</strong><br />
      Assessments: {{ event.assessments || 0 }}<br />
      Comments: {{ event.comments_added || 0 }}<br />
      Submissions opened: {{ event.submissions_opened || 0 }}
    </div>
  </ng-template>

  <mwl-calendar-week-view
    [viewDate]="viewDate"
    [events]="filteredEvents"
    (eventClicked)="eventClicked($event)"
    [tooltipTemplate]="eventTooltipTemplate"
    [hourDuration]="60"
    [hourSegments]="1"
    [weekStartsOn]="0"
    [daysInWeek]="daysInWeek"
    (beforeViewRender)="beforeViewRender($event)"
  />
</mat-card>
