<div id="home" class="h-screen w-full items-center justify-center px-12">
  <div class="mx-auto flex h-screen w-full max-w-4xl flex-col items-center justify-center gap-3">
    <div class="flex items-center justify-center">
      <mat-icon
        svgIcon="formatif-logo"
        class="formatif-icon"
        aria-label="Formatif logo"
        class="h-[100px] w-[100px]"
      ></mat-icon>
      <h1 class="m-0 ml-3 text-4xl">OnTrack</h1>
    </div>

    @if (loadingUnits) {
      <p>Loading...</p>
    } @else if (!activeUnits.length) {
      <p class="w-full max-w-2xl text-center text-gray-400">
        You must already be a Convenor or Admin to link a unit. You are not currently assigned to
        any units.
      </p>
    } @else {
      <p class="w-full max-w-2xl text-center">
        Students will be automatically enrolled in this unit when they launch the OnTrack tool from
        this course.
      </p>
      <mat-form-field class="w-full">
        <mat-label>Select a unit to link</mat-label>
        <mat-select [(value)]="selectedUnit">
          @for (unit of activeUnits; track unit) {
            <mat-option [value]="unit"
              >{{ unit.code }} {{ unit.name }} ({{ getTeachingPeriod(unit) }})</mat-option
            >
          }
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        class="w-full max-w-lg"
        color="primary"
        (click)="submit()"
        [disabled]="!selectedUnit"
      >
        Confirm
      </button>
    }
  </div>
</div>
