@if (
  (!task?.inFinalState() || (task?.inTimeExceeded() && !task?.isPastDeadline())) &&
  !task?.inAwaitingFeedbackState()
) {
  <div>
    <!--Only show this if it matters... not in final or waiting for tutor input-->
    @if (task?.isDueSoon() && !task?.isPastDueDate()) {
      <mat-card appearance="outlined">
        <!--Due soon-->
        <mat-card-header>
          <mat-card-title
            >Aim To Complete Soon - Due in {{ task?.timeUntilDueDateDescription() }}</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <!--Due and not in discuss-->
          @if (flexibleDatesEnabled) {
            <p [hidden]="$safeNavigationMigration(task?.inDiscussState())">
              Your target due date for this task is
              <strong>{{ task?.localDueDateString() }}</strong
              >. You should aim to complete this task before then to keep your progress on track.
            </p>
          } @else {
            <p [hidden]="$safeNavigationMigration(task?.inDiscussState())">
              This task's due date is <strong>{{ task?.localDueDateString() }}</strong
              >. You should aim to complete this task before then to keep your progress on track.
            </p>
          }
        </mat-card-content>
        <mat-card-content [hidden]="!task?.inDiscussState()">
          <!--Due but in discuss-->
          @if (flexibleDatesEnabled) {
            <p>
              This target due date for this task is <strong>{{ task?.localDueDateString() }}</strong
              >. Make sure to discuss this task with your tutor as soon as possible.
            </p>
            <p class="mat-caption">
              Tasks are only considered <strong>Completed</strong> once your tutor has
              <strong>Discussed</strong> your work with you.
            </p>
          } @else {
            <p>
              This task's due date is <strong>{{ task?.localDueDateString() }}</strong
              >. Make sure to discuss this task with your tutor as soon as possible.
            </p>
            <p class="mat-caption">
              Tasks are only considered <strong>Completed</strong> once your tutor has
              <strong>Discussed</strong> your work with you.
            </p>
          }
        </mat-card-content>
      </mat-card>
    }

    <!--/is due soon-->
    @if (task?.betweenDueDateAndDeadlineDate()) {
      <mat-card appearance="outlined">
        <mat-card-header class="bg-yellow-600 text-white">
          <mat-card-title class="mb-2.5 flex items-center"
            ><mat-icon>warning</mat-icon>
            @if (flexibleDatesEnabled) {
              <span class="ml-2.5"
                >Past Target Date By {{ task?.timePastDueDateDescription() }}</span
              >
            } @else {
              <span class="ml-2.5">Past Due Date By {{ task?.timePastDueDateDescription() }}</span>
            }
          </mat-card-title>
        </mat-card-header>

        <mat-card-content
          class="bg-yellow-50"
          [hidden]="$safeNavigationMigration(task?.inDiscussState())"
        >
          <!--Not in submitted state and overdue-->
          @if (flexibleDatesEnabled) {
            <p class="mt-1 p-1">
              You should have submitted this task by
              <strong>{{ task?.localDueDateString() }}</strong> to keep your progress on track. Try
              to finish it as soon as possible to avoid delays. You can revise your project plan
              dates, but ensure you submit before the deadline to receive feedback.
            </p>
          } @else {
            <p class="mt-1 p-1">
              You should have completed this task by
              <strong>{{ task?.localDueDateString() }}</strong
              >. Try and finish it as soon as possible to avoid falling behind. You will need to
              request an extension in order to have this task checked and marked as complete by your
              tutor.
            </p>
          }
        </mat-card-content>
        <mat-card-content [hidden]="!task?.inDiscussState()">
          <!--Not discussed-->
          @if (flexibleDatesEnabled) {
            <p>
              You should have completed this task by
              <strong>{{ task?.localDueDateString() }}</strong
              >. Make sure to discuss this task with your tutor as soon as possible.
            </p>
            <p class="mat-caption">
              Tasks are only considered <strong>completed</strong> once your tutor has
              <strong>discussed</strong> your work with you.
            </p>
          } @else {
            <p>
              You should have completed this task by
              <strong>{{ task?.localDueDateString() }}</strong
              >. Make sure to discuss this task with your tutor as soon as possible.
            </p>
            <p class="mat-caption">
              Tasks are only considered <strong>completed</strong> once your tutor has
              <strong>discussed</strong> your work with you.
            </p>
          }
        </mat-card-content>
      </mat-card>
    }

    <!--/between due date and deadline-->
    @if (task?.isPastDeadline()) {
      <mat-card appearance="outlined">
        <mat-card-header class="bg-red-600 text-white">
          <mat-card-title class="mb-2.5 flex items-center"
            ><mat-icon>error</mat-icon>
            <span class="ml-2.5"
              >Passed Due Date By {{ task?.timePastDueDateDescription() }}</span
            ></mat-card-title
          >
        </mat-card-header>
        <mat-card-content
          class="bg-red-50"
          [hidden]="$safeNavigationMigration(task?.inDiscussState())"
        >
          <!--Past deadline and not submitted-->
          <p class="p-1">
            @if (task?.definition?.unit.markLateSubmissionsAsAssessInPortfolio) {
              You should have completed this task by
              <strong>{{ task?.localDueDateString() }}</strong
              >. This task is now past the deadline and can only be submitted directly for your
              portfolio without feedback.
            } @else {
              You should have completed this task by
              <strong>{{ task?.localDueDateString() }}</strong
              >. This task is now past the deadline and will be marked as
              <em>Time Exceeded</em> when submitted. You should consult with the unit assessment
              details to determine the impact of failing to complete this task within the allocated
              time.
            }
          </p>
        </mat-card-content>
        <mat-card-content [hidden]="!task?.inDiscussState()">
          <!--Past deadline but in discuss or awaiting feedback-->
          <p>
            You should have completed this task by <strong>{{ task?.localDueDateString() }}</strong
            >. Make sure to discuss this task with your tutor as soon as possible.
          </p>
          <p class="mat-caption">
            Tasks are only considered <strong>Completed</strong> once it demonstrates the required
            standard, and it is <strong>discussed</strong> with your tutor.
          </p>
        </mat-card-content>
      </mat-card>
    }
  </div>
}
<!--/past deadline-->

<mat-card appearance="outlined" [hidden]="!task?.inAwaitingFeedbackState()">
  <mat-card-header>
    <mat-card-title>Wait for Tutor Feedback</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      You have submitted this task and should now wait for feedback from your tutor.
      <span [hidden]="!task?.isPastDeadline()"
        >Do not re-upload new files at this time as the status will be changed to
        <strong>Time Exceeded</strong>.</span
      >
    </p>
  </mat-card-content>
</mat-card>
