<div class="panel-body task-submission-viewer">
  <div class="large-notice-block" [hidden]="!(notSubmitted(task) || task.processing_pdf || task.needsSubmissionDetails())">
    <mat-card-content [hidden]="!(notSubmitted(task) && ! task.needsSubmissionDetails())">
      <mat-icon>cloud_upload</mat-icon>
      <p>Upload submission before viewing</p>
    </mat-card-content><!--/no-pdf-->
    <mat-card-content [hidden]="!(task.processing_pdf && ! task.needsSubmissionDetails())">
        <mat-icon>access_time</mat-icon>
        <p>Submission is still being processed</p>
        <mat-card-subtitle>Please check again shortly</mat-card-subtitle>
    </mat-card-content><!--/pdf-in-process-->
    <mat-card-content [hidden]="!task.needsSubmissionDetails()">
        <mat-spinner strokeWidth="2" diameter="70"></mat-spinner>
        <p>Fetching Submission Details</p>
    </mat-card-content><!--/loading details-->
  </div>
  <div *ngIf="task.has_pdf">
    <pdf-viewer-panel
      pdf-url="taskUrl"
      resources-url="taskFilesURL"
      footer-text="{{task.status != 'ready_to_mark' ? 'Annotated comments are viewable once PDF is downloaded' : 'Comments will be available once your tutor has assessed your submission'}}"
      [hidden]="notSubmitted(task) || task.processing_pdf">
    </pdf-viewer-panel>
  </div>
</div>