:host ::ng-deep .flexible-dates .gantt-links-overlay svg {
  z-index: 999 !important;
  pointer-events: none;
}

:host ::ng-deep .flexible-dates .gantt-links-overlay-main {
  height: 1px;
  overflow: visible !important;
  pointer-events: none;
}

.gantt-bar {
  background-color: var(--bar-bg);
}

.flash {
  transition: background-color 500ms ease-in-out;
}
