.large-notice-block {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-align-content: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  // position: absolute;
  height: 90%;
  width: 98%;
  font-size: 2em;
  text-align: center;
  font-weight: 200;
  i, p {
    display: block;
    width: 100%;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
}