/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/normalize.less';
@import '../../vendor/bootstrap/less/list-group.less';
@import '../../vendor/bootstrap/less/forms.less';
@import '../../vendor/bootstrap/less/mixins.less';
@import '../../vendor/bootstrap/less/utilities.less';
@import '../../vendor/bootstrap/less/grid.less';
@import '../../vendor/bootstrap/less/scaffolding.less';
@import '../../vendor/bootstrap/less/type.less';
@import '../../vendor/bootstrap/less/navs.less';
@import '../../vendor/bootstrap/less/navbar.less';
@import '../../vendor/bootstrap/less/buttons.less';
@import '../../vendor/bootstrap/less/button-groups.less';
@import '../../vendor/bootstrap/less/dropdowns.less';
@import '../../vendor/bootstrap/less/variables.less';
@icon-font-path: "./fonts/"; /* Tell Bootstrap where to find fonts (for glyphicons) */
@import '../../vendor/bootstrap/less/glyphicons.less';
@import '../../vendor/bootstrap/less/modals.less';
@import '../../vendor/bootstrap/less/tooltip.less';
@import '../../vendor/bootstrap/less/alerts.less';
@import '../../vendor/bootstrap/less/close.less';
@import '../../vendor/bootstrap/less/popovers.less';
@import '../../vendor/bootstrap/less/breadcrumbs.less';
@import '../../vendor/bootstrap/less/panels.less';
@import '../../vendor/bootstrap/less/wells.less';
@import '../../vendor/bootstrap/less/tables.less';
@import '../../vendor/bootstrap/less/progress-bars.less';
@import '../../vendor/bootstrap/less/pagination.less';
@import (less) "../../vendor/nvd3/nv.d3.css";

@import 'functions.less';

body {
  font: 11px/1.7em 'Open Sans', Helvetica;
}
ul.nav.nav-tabs {
  margin-bottom: 20px;
}
.well.drop {
  border: 3px #bbb dotted;
  font-size: larger;
  font-weight: bold;
  color: #aaa;
  text-align: center;
}

.well.drop.ng-file-over {
  border-color: #3276b1;
  color: #3276b1;
}

a { 
  cursor: pointer; 
}

@import 'modules/breadcrumbs.less';
@import 'modules/landing-page.less';
@import 'modules/sign-in-form.less';
@import 'modules/project-task-bar.less';
@import 'modules/task-engagement-input.less';
@import 'modules/header.less';
@import 'modules/project.less';
