<div id="home">
  <div class="text-center" [hidden]="true">
    <h1 class="mat-headline">You are not enrolled in {{ externalName.value }}.</h1>
    <p class="mat-lead">Contact your unit convenor or tutor to enrol you in a subject.</p>
  </div>

  <div fxLayout="column" fxLayoutAlign="space-around start">
    <h1 class="mat-headline">Current Courses</h1>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div *ngFor="let project of projects">
        <a uiSref="projects/dashboard" [uiParams]="{ projectId: project.project_id, taskAbbr: '' }" class="removeStyle">
          <mat-card class="unit-card">
            <h4>{{ project.unit_name }}</h4>
            <mat-card-subtitle>{{ project.unit_code }}</mat-card-subtitle>
            <mat-card-content>
              <p>{{ project.description }} Unit description goes here...</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <mat-chip-list aria-label="Fish selection">
                <mat-chip color="primary" selected>{{ showDate(project.start_date) }}</mat-chip>
              </mat-chip-list>
            </mat-card-actions>
            <mat-card-footer>
              <mat-progress-bar
                matTooltip="Time left in the unit"
                mode="determinate"
                [value]="generateUnitProgress(project)"
              ></mat-progress-bar>
            </mat-card-footer>
          </mat-card>
        </a>
      </div>
    </div>

    <h1 style="margin-top: 30px" class="mat-headline">Courses you teach</h1>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div *ngFor="let project of projects">
        <a uiSref="projects/dashboard" [uiParams]="{ projectId: project.project_id, taskAbbr: '' }" class="removeStyle">
          <mat-card class="unit-card">
            <h4>{{ project.unit_name }}</h4>
            <mat-card-subtitle>{{ project.unit_code }}</mat-card-subtitle>
            <mat-card-content>
              <p>{{ project.description }} Unit description goes here...</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <mat-chip-list aria-label="Fish selection">
                <mat-chip color="primary" selected>{{ showDate(project.start_date) }}</mat-chip>
              </mat-chip-list>
            </mat-card-actions>
            <mat-card-footer>
              <mat-progress-bar
                matTooltip="Time left in the unit"
                mode="determinate"
                [value]="generateUnitProgress(project)"
              ></mat-progress-bar>
            </mat-card-footer>
          </mat-card>
        </a>
      </div>

      <!-- <button mat-fab aria-label="View past courses">
      <mat-icon>inventory_2</mat-icon>
    </button> -->
      <!-- </div> -->
      <!--<div class="spinner" ng-hide="dataLoaded">
          <i class="fa fa-pulse fa-4x fa-spinner" ng-show="showSpinner"></i>
        </div>  -->
    </div>
  </div>
</div>
