@import '../../../../theme.scss';

#home {
  padding-top: 10px;

  .spinner {
    position: fixed;
    // background: #f0f2f5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4999;
    display: flex;
    align-items: center;
    justify-content: center;

    ::ng-deep .mat-mdc-progress-spinner circle,
    .mat-mdc-progress-spinner circle {
      stroke: gray;
    }
  }
}

.removeStyle {
  text-decoration: none;
}

.mat-mdc-card-header {
}

.base-card {
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
  clip: auto;

  // safari only hack
  -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  mask-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);

  .f-card-title {
    font-size: 18px;
    max-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    font-weight: 100;
  }

  mat-chip-option.f-chip {
    background-color: $primary-color;
    color: white;
    opacity: 1;
    border-style: none;
    --mdc-chip-disabled-label-text-color: white;
  }
}

.admin-card {
  @extend .base-card;
  width: 250px;
  max-width: none;
  height: auto;

  .mat-mdc-list-item-icon {
    color: rgb(0, 0, 0);
    margin-right: 6px;
  }
}

.unit-card {
  :hover {
    cursor: pointer;
  }
  @extend .base-card;
  width: 300px;
  max-width: 300px;
  max-height: 200px;

  .mat-mdc-card-actions {
    margin-bottom: 0px;
  }
}
