#home .cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  align-items: flex-start;
  .card {
    width: 30%;
    margin: 0 auto;
    display: inline-block;
  }
}
#home .card header {
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 0.5em;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#home .welcome-to-doubtfire {
  margin-top: 1em;
}
