#home {
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.removeStyle {
  text-decoration: none;
}

.unit-card {
  width: 300px;
  max-width: 300px;
  max-height: 200px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  overflow: clip;

  .mat-progress-bar {
    height: 20px;
  }
}
