group-selector table {
  th.number { width: 15%; }
  th.name { width: 30%; }
  th.tutorial { width: 25%; }
  th.actions { width: 30%; }
}
group-selector .panel-title > group-set-selector {
  display: inline-block;
  max-width: 50%;
  padding-left: 1ex;
}
