group-selector {
  display: block;
}
group-selector table {
  th.name { width: 30%; }
  th.tutorial { width: 30%; }
  th.capacity { width: 10%; }
  th.actions { width: 30%; }
}
group-selector .panel-title > group-set-selector {
  display: inline-block;
  max-width: 50%;
  padding-left: 1ex;
}
@media (max-width: $screen-md) {
  group-selector .input-group.staff-filter {
    margin-bottom: 1em;
    &, .btn-group {
      width: 100%;
    }
    .btn {
      width: 50%;
    }
  }
}
