<div class="panel-heading">
  <h4 class="panel-title">
    Groups in
    <strong ng-hide="showGroupSetSelector">
      {{selectedGroupSet.name}}
    </strong>
    <group-set-selector
      ng-show="showGroupSetSelector"
      unit="unit"
      ng-model="selectedGroupSet"
      on-change="selectGroupSet">
    </group-set-selector>
  </h4>
</div><!--/panel-heading-->
<div class="panel-body panel-toolbar" ng-show="loaded && canCreateGroups && (unitRole || project.tutorials().length > 0)">
  <div class="clearfix">
    <div class="input-group pull-left col-md-6 staff-filter" ng-if="unitRole">
      <div class="btn-group">
        <label class="btn btn-default col-sm-6" ng-model="staffFilter" btn-radio="'all'" ng-click="setStaffFilter('all')">
          <i class="fa fa-university"></i> All Tutorials
        </label>
        <label class="btn btn-default col-sm-6" ng-model="staffFilter" btn-radio="'mine'" ng-click="setStaffFilter('mine')">
          <i class="fa fa-pencil"></i> My Tutorials
        </label>
      </div>
    </div><!--/staff-filter-button-group-->
    <form name="newGroupForm" class="input-group pull-right col-md-6" ng-if="canCreateGroups" ng-submit="addGroup(newGroupName)">
      <input class="form-control" placeholder="Group Name" ng-model="newGroupName">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-plus"></i> Create Group
        </button>
      </span>
    </form><!--/group-name-create-->
  </div>
</div><!--/creation-options-->
<div class="panel-body panel-loading" ng-show="!loaded">
  <i class="fa fa-spinner fa-pulse"></i> Loading Groups...
</div><!--/loading-spinner-->
<div class="panel-body" ng-show="loaded && shownGroups.length == 0">
  <div class="callout callout-primary row">
    <h4>No Groups To Show</h4>
    <p>
      There are no groups available for <strong>{{selectedGroupSet.name}}</strong>{{staffFilter == 'mine' || selectedGroupSet.keep_groups_in_same_class ? " in your tutorials." : "."}}
    </p>
    <p ng-show="selectedGroupSet.keep_groups_in_same_class">
      Please make sure that you are enrolled in the correct tutorial. You can only join a group that is running in your allocated tutorial. Use the <a ui-sref="projects/tutorials({projectId: project.project_id})">Tutorial List</a> to check and update your tutorial enrolment.
    </p>
  </div>
</div><!--/no-groups-->
<table ng-show="loaded && shownGroups.length > 0" class="table table-condensed table-hover table-pointer">
  <thead>
    <tr>
      <th class="name">
        <a ng-click="sortTableBy('name')">
          Name <i ng-show="tableSort.order == 'name'" class="fa fa-caret-{{tableSort.reverse ? 'up' : 'down'}}"></i>
        </a>
      </th>
      <th class="tutorial">
        <a ng-click="sortTableBy('tutorial_id')">
          Tutorial <i ng-show="tableSort.order == 'tutorial_id'" class="fa fa-caret-{{tableSort.reverse ? 'up' : 'down'}}"></i>
        </a>
      </th>
      <th class="capacity_adjustment" ng-show="unitRole">
        <a ng-click="sortTableBy('capacity_adjustment')">
          Capacity Adjustment <i ng-show="tableSort.order == 'capacity_adjustment'" class="fa fa-caret-{{tableSort.reverse ? 'up' : 'down'}}"></i>
        </a>
      </th>
      <th class="capacity">
        <a ng-click="sortTableBy('hasSpace()')">
          Capacity <i ng-show="tableSort.order == 'hasSpace()'" class="fa fa-caret-{{tableSort.reverse ? 'up' : 'down'}}"></i>
        </a>
      </th>
      <th class="actions" ng-show="(project && selectedGroupSet.allow_students_to_manage_groups) || unitRole">
        Actions
      </th>
    </tr>
  </thead><!--/header-->
  <tbody>
    <tr
      ng-class="{info: group == selectedGroup}"
      ng-repeat="group in shownGroups = (filteredGroups | groupsForStudent:project:selectedGroupSet)">
      <th ng-click="selectGroup(group)">
        <span
          editable-text="group.name"
          e-name="name"
          e-form="groupRowForm"
          e-required>
          {{ group.name || 'Not Set' }}
        </span>
      </th><!--/group-name-->
      <td ng-click="selectGroup(group)">
        <span
          editable-select="group.tutorial_id"
          e-name="tutorial_id"
          e-form="groupRowForm"
          e-ng-options="t.id as (t.abbreviation + ' - ' + t.description) for t in unit.tutorials | orderBy: 'abbreviation'">
          <span tooltip="{{group.tutorial().description}}" tooltip-popup-delay="200" tooltip-append-to-body="true">
            {{group.tutorial().abbreviation}}
          </span>
        </span>
      </td><!--/group-tutorial-->
      <td ng-show="unitRole" ng-click="selectGroup(group)">
        <span editable-text="group.capacity_adjustment" e-form="groupRowForm" e-name="capacity_adjustment">
          {{group.capacity_adjustment}}
        </span>
      </td><!--/capacity_adjustment-->
      <td ng-click="selectGroup(group)">
        <span ng-show="group.hasSpace()">Available</span>
        <span ng-hide="group.hasSpace()">Full</span>
      </td><!--/capacity-->
      <td ng-show="(project && selectedGroupSet.allow_students_to_manage_groups) || unitRole">
        <div ng-show="project">
          <button ng-click="joinGroup(group)" ng-disabled="projectInGroup(group)" class="btn btn-success btn-sm" ng-show="group.hasSpace()">
            <i class="fa fa-plus"></i> Join
          </button>
        </div>
        <div ng-show="unitRole">
          <form editable-form name="groupRowForm" onbeforesave="updateGroup($data, group.id)" ng-show="groupRowForm.$visible" shown="inserted == group">
            <button type="submit" ng-disabled="groupRowForm.$waiting" class="btn btn-default btn-sm">
              <i class="fa fa-floppy-o"></i> Save
            </button>
            <button type="button" ng-disabled="groupRowForm.$waiting" ng-click="groupRowForm.$cancel()" class="btn btn-default btn-sm">
              <i class="fa fa-times"></i> Cancel
            </button>
          </form>
          <div ng-hide="groupRowForm.$visible">
            <button ng-click="groupRowForm.$show()" class="btn btn-default btn-sm">
              <i class="fa fa-pencil"></i> Edit
            </button>
            <button ng-click="deleteGroup(group)" class="btn btn-danger btn-sm">
              <i class="fa fa-trash-o"></i> Delete
            </button>
          </div><!--/actions-->
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="panel-footer text-center" ng-show="pagination.show || selectedGroupSet.keep_groups_in_same_class && shownGroups.length > 0 && !unitRole">
  <pagination
    ng-show="pagination.show"
    total-items="pagination.totalSize"
    ng-change="pagination.onChange()"
    ng-model="pagination.currentPage"
    items-per-page="pagination.pageSize"
    max-size="pagination.maxSize"
    class="pagination-sm"
    boundary-links="true"
    rotate="false">
  </pagination>

  <p ng-show="selectedGroupSet.keep_groups_in_same_class && shownGroups.length > 0 && !unitRole">
    Can't see the group you need to join? Groups shown are limited to those in your allocated tutorials. Use the <a ui-sref="projects/tutorials({projectId: project.project_id})">Tutorial List</a> to check and update your tutorial enrolment if needed.
  </p>
</div>
