<mat-card appearance="outlined" class="max-w-[1100px] mx-auto">
  <mat-card-header>
    <mat-card-title>Learning Summary Report</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="pt-3">
      Upload the Learning Summary Report, the primary porfolio document which justifies your desired
      grade.
    </p>
    <p>
      Your Learning Summary Report is a
      <strong>summary of what you have learnt in this unit</strong>. It consists of two sections:
    </p>

    <ol class="list-decimal list-inside space-y-1 ml-2.5 py-3">
      <li>a self-assessment, and</li>
      <li>your reflections on the unit.</li>
    </ol>

    <p>
      The <strong>self-assessment</strong> indicates how your portfolio aligns with the assessment
      criteria, and which grade you are applying for.
    </p>

    <p>
      Your <strong>reflections</strong> are a personal comment on what you have learnt in the unit,
      and how your knowledge and skills have developed.
    </p>

    @if (
      projectHasDraftLearningSummaryReport && !forceLSRSubmit && !acceptUploadNewLearningSummary
    ) {
      <div class="flex flex-col justify-center items-center text-center max-w-4xl mx-auto py-3">
        <div class="submitted flex justify-center items-center gap-3 text-center text-2xl py-3">
          <mat-icon color="primary">check_circle</mat-icon>
          Learning Summary Report Submitted
        </div>
        @if (draftTaskDefinitionWasUsed()) {
          <div class="w-full text-center text-gray-400 text-xs py-1 max-w-2xl">
            Your learning summary report was automatically submitted from your
            {{ unit.draftTaskDefinition.abbreviation }} {{ unit.draftTaskDefinition.name }}
            submission.
          </div>
        }

        <!-- <button mat-button (click)="downloadLearningSummaryReport()" color="primary">
          View Learning Summary Report
        </button> -->
        <button mat-button (click)="forceLSRSubmit = true" color="primary">Upload a new one</button>
      </div>
    }
    <div
      [hidden]="
        projectHasDraftLearningSummaryReport && !(forceLSRSubmit || acceptUploadNewLearningSummary)
      "
    >
      <div
        class="flex justify-center items-center gap-3 bg-yellow-200 border-yellow-500 p-2.5 rounded mx-auto"
      >
        <mat-icon>warning</mat-icon>

        Remember to provide a justification for why you believe you have achieved a
        {{ targetGradeLabel }} in {{ unit.code }} {{ unit.name }}.
      </div>
      <f-file-uploader
        [files]="learningSummaryReportFileUploadData.type"
        [payload]="learningSummaryReportFileUploadData.payload"
        [url]="project.portfolioUrl()"
        [onSuccess]="addNewFile.bind(this)"
      ></f-file-uploader>
    </div>
  </mat-card-content>
  <mat-card-footer class="w-full flex justify-between p-3">
    <button mat-raised-button (click)="advanceActiveTab(-1)">Back</button>
    <div class="flex justify-center items-center gap-3">
      @if (!projectHasDraftLearningSummaryReport) {
        <div class="text-gray-400">
          You're missing a Learning Summary Report. Upload one to continue.
        </div>
      }
      <button
        mat-raised-button
        (click)="advanceActiveTab(1)"
        color="primary"
        [disabled]="!projectHasDraftLearningSummaryReport"
      >
        Next
      </button>
    </div>
  </mat-card-footer>
</mat-card>
