<div if-role="Admin">
  <form class="form-horizontal" ng-submit="submitUpload()">
    <div class="form-group">
      <label class="col-sm-3 control-label">Upload</label>
      <input ng-hide="fileUploader.isHTML5" type="file" class="col-sm-7" uploader="fileUploader" accept="text/csv" ng-required="!fileUploader.isHTML5" nv-file-select />
      <div nv-file-drop uploader="fileUploader">
        <div nv-file-over ng-show="fileUploader.isHTML5 && fileUploader.queue.length == 0" uploader="fileUploader" over-class="file-over-hover" class="drop well col-sm-7" >
        <p class="fa fa-file-excel-o fa-3x"></p>
        <br/>
        Drop CSV here
        </div>
      </div>
	    <p ng-show="fileUploader.queue.length == 1" class="form-control-static">{{fileUploader.queue[0].file.name}} <span class="glyphicon glyphicon-file"></span></p>
    </div>
    <div class="form-group">
      <input ng-hide="fileUploader.isUploading || fileUploader.queue.length == 0" type="submit" class="btn btn-primary form-control col-sm-2 col-sm-offset-3" value="Import" />
      <div class="col-sm-offset-3 col-sm-6" ng-show="fileUploader.isUploading">
        <progressbar class="progress-striped active" value="fileUploader.progress"></progressbar>
        <p class="help-block text-center" ng-show="fileUploader.progress == 100">
          Please wait for the server to insert the users...
        </p>
      </div>
    </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">Download</label>
      <input ng-click="requestExport()" type="submit" class="btn btn-primary form-control col-sm-2" value="Export" />
    </div>
  </form>
  <div class="alert-top">
  	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
  </div>         

</div>