<div ng-file-drop if-role="Admin">
  <form class="form-horizontal" ng-submit="submitUpload()">
    <div class="form-group">
      <label class="col-sm-3 control-label">Upload</label>
      <input ng-hide="fileUploader.isHTML5" type="file" class="col-sm-7" accept="text/csv" required ng-file-select />
      <div   ng-show="fileUploader.isHTML5 && fileUploader.queue.length == 0" class="drop well col-sm-7" ng-file-over>
        Drop CSV here
      </div>
	    <p ng-show="fileUploader.queue.length == 1"class="form-control-static">{{fileUploader.queue[0].file.name}} <span class="glyphicon glyphicon-file"></span></p>
    </div>
    <div class="form-group">
      <input ng-hide="fileUploader.isUploading || fileUploader.queue.length == 0" type="submit" class="btn btn-primary form-control col-sm-2 col-sm-offset-3" value="Import" />
      <div class="col-sm-offset-3 col-sm-6" ng-show="fileUploader.isUploading">
        <progressbar class="progress-striped active" value="fileUploader.progress"></progressbar>
        <p class="help-block text-center" ng-show="fileUploader.progress == 100">
          Please wait for the server to insert the users...
        </p>
      </div>
    </div>
  <form class="form-horizontal" ng-submit="requestExport()">
    <div class="form-group">
      <label class="col-sm-3 control-label">Download</label>
      <input type="submit" class="btn btn-primary form-control col-sm-2" value="Export" />
    </div>
  </form>
  <div class="alert-top">
  	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
  </div>
</div>