<form role="search" class="pull-right form-horizontal">
  <input id="searchbar" class="input-md form-control" placeholder="Search for users..." type="search" ng-model="search.$" typeahead="user.name for user in users | filter:$viewValue | limitTo:8" />
  <p class="help-block" ng-show="filteredUsers.length < students.length && filteredUsers.length != 0">Showing {{filteredUsers.length}} of {{users.length}} users.</p>
  <p class="help-block" ng-show="filteredUsers.length < students.length && filteredUsers.length == 0">No students found.</p>
</form>
<div class="table-responsive">
  <table class="table table-condensed table-hover">
  	<thead>
  		<tr>
    		<th><a href="" ng-click="sortOrder='id'; reverse=!reverse">User ID</a></th>
    		<th><a href="" ng-click="sortOrder='first_name'; reverse=!reverse">First Name</a></th>
    		<th><a href="" ng-click="sortOrder='last_name'; reverse=!reverse">Last Name</a></th>
    		<th>Username</th>
    		<th>Email</th>
    		<th><a href="" ng-click="sortOrder='system_role'; reverse=!reverse">System Role</a></th>
    		<th>Active</th>
    	</tr>
  	</thead>
  	<tbody>
  	  <tr ng-repeat="user in filteredUsers = (users | filter:search) | orderBy:sortOrder:reverse | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize" ng-click="showUserModal(user)" ng-click="showUserModal(user)">
  	    <td>{{user.id}}</td>
  	    <td>{{user.first_name}}</td>
  	    <td>{{user.last_name}}</td>
  	    <td>{{user.username}}</td>
  	    <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
  	    <td>
  	      {{user.system_role}}
        </td>
  	    <td>
  	      <!-- TODO: Add active state once implemented in API 
  	                (implement ng-show and ng-hide for the spans below)-->
  	                N/A
  	      <span ng-show="false" class="glyphicon glyphicon-ok text-success"></span>
  	      <span ng-hide="true" class="glyphicon glyphicon-remove text-danger"></span>
  	    </td>
  	  </tr>
  	</tbody>
  </table><a href class="btn btn-success pull-right" ng-click="showUserModal()">Add New User</a>
  <pagination total-items="filteredUsers.length" ng-model="currentPage" items-per-page="pageSize" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" rotate="false"></pagination>
</div>