.csv-result-modal {

  .modal-header small {
    display: block;
  }

  table {
    table-layout: fixed;
  }

  table th.message { width: 20%; }
  table th.data    { width: 80%; }

  td.csv-row {
    display: block;
    overflow-x: scroll;
    font-family: monospace;
    white-space: nowrap;
  }

}
