@mixin dropdown-selector {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  // first button
  & > button {
    height: 100%;
    width: 100%;
    label, i {
      text-align: center;
    }
    label {
      font-size: 1.5em;
      margin: 0px;
    }
    label.label.label-info {
      font-size: 1em;
      margin-left: 0.5ex;
      cursor: pointer;
    }
    // not a split button group
    span.caret {
      margin-left: 1ex;
    }
  }
  // open button
  &.open > button {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  // menu underneath
  .dropdown-menu {
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    @media (max-width: $screen-sm) {
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
    }
  }
}

.dropdown-selector {
  @include dropdown-selector;
}
