#task-offline-marking-state {
  .panel-footer .well {
    background-color: #fff;
  }
  .panel h3.file-title {
    margin-top: 0;
  }
  .panel .drop.well, .panel .file-uploader {
    margin: 0;
  }
}
