<div>
  <ul class="breadcrumb">
      <li><a href="#/home">Home</a></li>
      <li>Administrator</li>
      <li><a href="#/admin/units">Manage Units</a></li>
      <li class="active">{{newUnit ? 'New Unit' : unit.name}}</li>
  </ul><!--breadcrumbs-->
  <div ng-hide="unit" class="large-notice-block">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
    <p>Loading...</p>
  </div><!--/loading-->
  <div class="root-view" ng-if="unit">
    <div>
      <h2>
        <span ng-hide="newUnit">Edit {{unit.name}}</span> <small ng-hide="newUnit">{{unit.code}}</small>
        <span ng-show="newUnit">Create Unit</span>
        <p class="lead">Convenor View</p>
      </h2>
      <tabset class="tabset-icon" justified="true">
        <tab ng-repeat="tab in tabs | toArray | orderBy: 'seq'" active="tab.active" ng-click="setActiveTab(tab)">
          <tab-heading>
            <i class="fa fa-2x {{tab.icon}}"></i> {{tab.title}}
          </tab-heading>
        </tab>
      </tabset><!--tabs-->
    </div><!--tabs-->
    <div>
      <div ng-if="activeTab === tabs.unitTab">
        <unit-details-editor unit="unit"></unit-details-editor>
      </div>
      <div ng-if="activeTab === tabs.learningOutcomesTab">
        <unit-ilo-editor></unit-ilo-editor>
      </div>
      <div ng-if="activeTab === tabs.staffTab">
        <unit-staff-editor></unit-staff-editor>
      </div>
      <div ng-if="activeTab === tabs.tutorialsTab">
        <unit-tutorials-editor></unit-tutorials-editor>
      </div>
      <div ng-if="activeTab === tabs.studentsTab">
        <unit-students-editor></unit-students-editor>
      </div>
      <div ng-if="activeTab === tabs.tasksTab">
        <unit-tasks-editor></unit-tasks-editor>
      </div>
      <div ng-if="activeTab === tabs.taskAlignmentTab">
        <task-ilo-alignment-editor show-csv="true" unit="unit"></task-ilo-alignment-editor>
      </div>
      <div ng-if="activeTab === tabs.groupsTab">
        <unit-groupset-editor></unit-groupset-editor>
      </div>
    </div><!--content-->
  </div>
</div>
