.alert-success button{
  background-color: lightseagreen;
  color: white;
  font-size: 18px;
}
.alert-warning button{
  background-color: lightsalmon;
  color: white;
  font-size: 18px;
}
.alert-danger button{
  background-color: lightcoral;
  color: white;
  font-size: 18px;
}