//
// Alerts styles
//
.alert-top {
  position: fixed;
  @media (max-width: $screen-sm) {
    top: 0px;
    right: 0px;
    left: 0px;
  }
  @media (min-width: $screen-sm) {
    top: 15px;
    right: 15px;
    left: calc(100% + 15px - 600px);
  }

  z-index: 5000;
  outline: 0;

  display: block;
  box-sizing: border-box;

  .alert {
    @include animation-grow(0.25s);
    @media (max-width: $screen-sm) {
      border-radius: 0;
      &:first-child {
        border-top: none;
      }
      border-left: none;
      border-right: none;
    }

    transition: all 0.25s ease;
    float: none;
    .alert-wrapper {
      display: flex;
    }
    h4 {
      margin-bottom: 4px;
    }
    .alert-content {
      flex: 5;
      padding-left: 1.5em;
    }
  }
  .alert.alert-danger  i.fa:before { content: $fa-var-exclamation-circle; }
  .alert.alert-info    i.fa:before { content: $fa-var-question-circle; }
  .alert.alert-warning i.fa:before { content: $fa-var-exclamation-triangle; }
  .alert.alert-success i.fa:before { content: $fa-var-check-circle; }
}
