.alert-info button{
  background-color: lightblue;
  color: white;
}
.alert-success button{
  background-color: lightseagreen;
  color: white;
}
.alert-warning button{
  background-color: lightsalmon;
  color: white;
}
.alert-danger button{
  background-color: lightcoral;
  color: white;
}