@import "../../../node_modules/@angular/material/theming";

$app-primary: mat-palette($mat-grey);
$app-accent:  mat-palette($mat-light-blue);
$app-warn:    mat-palette($mat-red);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

@mixin doubtfire-card {
    border-radius: 10px;
}

.mat-card.danger-card {

  @include doubtfire-card();
}
