@use 'sass:color';

//
// Colors for associated grades
//
// ********************************************************
// IMPORTANT: Grade colours must also be matched
// in the grade-service.coffee file
// ********************************************************
//

$grade-color-p: color.adjust(#ff0000, $lightness: -10%);
$grade-color-c: color.adjust(#ff8000, $lightness: -5%);
$grade-color-d: color.adjust(#0080ff, $lightness: -10%);
$grade-color-hd: color.adjust(#80ff00, $lightness: -15%);
