@use 'sass:color';

//
// Colours for task statuses
//
// ********************************************************
// IMPORTANT: Task status colours must also be matched
// in the task-status.ts file
// ********************************************************
//

// Light and dark foreground colors
$task-status-foreground-color-light: #fff;
$task-status-foreground-color-dark: #444;

$task-status-colors: (
  ready-for-feedback: (
    base: #0079d8,
    dark: color.adjust(#0079d8, $lightness: -15%),
    light: color.adjust(#0079d8, $lightness: 15%),
    fore: $task-status-foreground-color-light,
  ),
  not-started: (
    base: #cccccc,
    dark: color.adjust(#cccccc, $lightness: -15%),
    light: color.adjust(#cccccc, $lightness: 15%),
    fore: $task-status-foreground-color-dark,
  ),
  working-on-it: (
    base: #eb8f06,
    dark: color.adjust(#eb8f06, $lightness: -15%),
    light: color.adjust(#eb8f06, $lightness: 15%),
    fore: $task-status-foreground-color-light,
  ),
  need-help: (
    base: #a48fce,
    dark: color.adjust(#a48fce, $lightness: -15%),
    light: color.adjust(#a48fce, $lightness: 15%),
    fore: $task-status-foreground-color-light,
  ),
  fix-and-resubmit: (
    base: #f2d85c,
    dark: color.adjust(#f2d85c, $lightness: -15%),
    light: color.adjust(#f2d85c, $lightness: 15%),
    fore: $task-status-foreground-color-dark,
  ),
  feedback-exceeded: (
    base: #d46b54,
    dark: color.adjust(#d46b54, $lightness: -15%),
    light: color.adjust(#d46b54, $lightness: 15%),
    fore: $task-status-foreground-color-light,
  ),
  redo: (
    base: #804000,
    dark: color.adjust(#804000, $lightness: -15%),
    light: color.adjust(#804000, $lightness: 15%),
    fore: $task-status-foreground-color-light,
  ),
  discuss: (
    base: #31b0d5,
    dark: color.adjust(#31b0d5, $lightness: -15%),
    light: color.adjust(#31b0d5, $lightness: 15%),
    fore: $task-status-foreground-color-light,
  ),
  rediscuss: (
    base: #126352,
    dark: color.adjust(#126352, $lightness: -15%),
    light: color.adjust(#126352, $lightness: 15%),
    fore: $task-status-foreground-color-light,
  ),
  demonstrate: (
    base: #428bca,
    dark: color.adjust(#428bca, $lightness: -15%),
    light: color.adjust(#428bca, $lightness: 15%),
    fore: $task-status-foreground-color-light,
  ),
  complete: (
    base: #5bb75b,
    dark: color.adjust(#5bb75b, $lightness: -20%),
    light: color.adjust(#5bb75b, $lightness: 15%),
    fore: $task-status-foreground-color-light,
  ),
  fail: (
    base: #d93713,
    dark: color.adjust(#d93713, $lightness: -15%),
    light: color.adjust(#d93713, $lightness: 15%),
    fore: $task-status-foreground-color-light,
  ),
  time-exceeded: (
    base: #d93713,
    dark: color.adjust(#d93713, $lightness: -15%),
    light: color.adjust(#d93713, $lightness: 15%),
    fore: $task-status-foreground-color-light,
  ),
  assess-in-portfolio: (
    base: #f2d85c,
    dark: color.adjust(#f2d85c, $lightness: -15%),
    light: color.adjust(#f2d85c, $lightness: 15%),
    fore: $task-status-foreground-color-dark,
  ),
  attention-required: (
    base: #f1814d,
    dark: color.adjust(#f1814d, $lightness: -15%),
    light: color.adjust(#f1814d, $lightness: 15%),
    fore: $task-status-foreground-color-light,
  ),
);
