//
// Colours for task statuses
//
// ********************************************************
// IMPORTANT: Task status colours must also be matched
// in the task-service.coffee file
// ********************************************************
//

// Light and dark foreground colors
$task-status-foreground-color-light: #fff;
$task-status-foreground-color-dark: #444;

$task-status-colors: (
  ready-for-feedback: (
    base: #0079d8,
    dark: darken(#0079d8, 15%),
    light: lighten(#0079d8, 15%),
    fore: $task-status-foreground-color-light,
  ),
  not-started: (
    base: #cccccc,
    dark: darken(#cccccc, 15%),
    light: lighten(#cccccc, 15%),
    fore: $task-status-foreground-color-dark,
  ),
  working-on-it: (
    base: #eb8f06,
    dark: darken(#eb8f06, 15%),
    light: lighten(#eb8f06, 15%),
    fore: $task-status-foreground-color-light,
  ),
  need-help: (
    base: #a48fce,
    dark: darken(#a48fce, 15%),
    light: lighten(#a48fce, 15%),
    fore: $task-status-foreground-color-light,
  ),
  fix-and-resubmit: (
    base: #f2d85c,
    dark: darken(#f2d85c, 15%),
    light: lighten(#f2d85c, 15%),
    fore: $task-status-foreground-color-dark,
  ),
  feedback-exceeded: (
    base: #d46b54,
    dark: darken(#d46b54, 15%),
    light: lighten(#d46b54, 15%),
    fore: $task-status-foreground-color-light,
  ),
  redo: (
    base: #804000,
    dark: darken(#804000, 15%),
    light: lighten(#804000, 15%),
    fore: $task-status-foreground-color-light,
  ),
  discuss: (
    base: #31b0d5,
    dark: darken(#31b0d5, 15%),
    light: lighten(#31b0d5, 15%),
    fore: $task-status-foreground-color-light,
  ),
  demonstrate: (
    base: #428bca,
    dark: darken(#428bca, 15%),
    light: lighten(#428bca, 15%),
    fore: $task-status-foreground-color-light,
  ),
  complete: (
    base: #5bb75b,
    dark: darken(#5bb75b, 20%),
    light: lighten(#5bb75b, 15%),
    fore: $task-status-foreground-color-light,
  ),
  fail: (
    base: #d93713,
    dark: darken(#d93713, 15%),
    light: lighten(#d93713, 15%),
    fore: $task-status-foreground-color-light,
  ),
  time-exceeded: (
    base: #d93713,
    dark: darken(#d93713, 15%),
    light: lighten(#d93713, 15%),
    fore: $task-status-foreground-color-light,
  ),
);
