<mat-toolbar div fxLayout="row" fxLayoutAlign="start center">
  <mat-icon
    style="margin-right: 20px"
    svgIcon="formatif-logo"
    class="formatif-icon"
    aria-hidden="false"
    aria-label="Example user verified icon"
  ></mat-icon>
  <div style="color: rgb(216, 216, 216)">/</div>

  <unit-dropdown [unit]="currentUnitOrProject" [unitRoles]="filteredUnitRoles" [projects]="projects"></unit-dropdown>

  <task-dropdown
    [unit]="currentUnitOrProject"
    [currentView]="currentView"
    [data]="data"
    [unitRole]="unitRole"
  ></task-dropdown>

  <span fxFlex></span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
