.navbar {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom:0;
}

a.navbar-brand {
  display: flex;
  align-items: center;
  i.logo {
    height: 1.6em;
    width: 1.6em;
    margin-right: 1ex;
  }
  h1.logo {
    font-size: 1.3em;
    margin: 0;
  }
}
