<mat-toolbar *ngIf="showHeader" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon
      uiSref="home"
      style="margin-right: 20px; margin-left: 20px"
      svgIcon="formatif-logo"
      class="formatif-icon"
      aria-hidden="false"
      aria-label="Example user verified icon"
    ></mat-icon>
  </a>
  <div style="color: rgb(216, 216, 216)">/</div>

  <unit-dropdown [unit]="currentUnitOrProject" [unitRoles]="filteredUnitRoles" [projects]="projects"></unit-dropdown>

  <task-dropdown
    [currentUnitOrProject]="currentUnitOrProject"
    [currentView]="currentView"
    [data]="data"
    [unitRole]="unitRole"
  ></task-dropdown>

  <span fxFlex></span>

  <button #menuState="matMenuTrigger" mat-button [matMenuTriggerFor]="menu">
    <mat-icon>admin_panel_settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item uiSref="admin/teachingperiods">Manage Teaching Periods</button>
    <button mat-menu-item uiSref="institutionsettings">Institution Settings</button>
    <button mat-menu-item uiSref="admin/units">Manage Units</button>
    <button mat-menu-item uiSref="admin/users" *ngIf="CurrentUser.role === 'Admin'">Manage Users</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu2">
    <user-icon [size]="40"></user-icon>
  </button>
  <mat-menu #menu2="matMenu">
    <button mat-menu-item (click)="openUserSettings()">Profile</button>
    <button mat-menu-item (click)="openNotificationSettings()">Notifications</button>
    <button mat-menu-item (click)="openCalendar()">Calendar</button>
    <button mat-menu-item (click)="openAboutModal()">About</button>
    <button mat-menu-item uiSref="sign_out">Sign Out</button>
  </mat-menu>
</mat-toolbar>
