.mat-toolbar {
  height: 72px;
  background-color: white;

  font-family: 'Grotesk';

  .mat-icon {
    color: #6f6f6f;
    transform: scale(1.5);
  }

  box-shadow: inset 0px -1px 0px #f3f3f4;
  margin-bottom: 20px;
}
