# START_CONFIT_GENERATED_CONTENT
extends: defaults/configurations/google

env:
  jasmine: true
  node: true
  browser: true
  commonjs: true    # For Webpack, CommonJS
  protractor: true
  es6: true


confit-globals: &confit-globals
  angular: true

ecmaFeatures:
  modules: true

# END_CONFIT_GENERATED_CONTENT
globals:
  <<: *confit-globals

rules:
  dot-location:
    - 2         # Error
    - property  # dot on property line
  max-len:
    - 1         # Warning
    - 200       # Line Length
