<div class="overseer-image-list-container">
  <div class="header">
    <div>
      <h3>Overseer Images</h3>
      <p>Add new image or modify existing ones used for automated task analysis</p>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortTableData($event)" class="mat-elevation-z3">

    <!-- Name Column -->
    <ng-container [formGroup]="formData" matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let overseerImage">
        <div *ngIf="!editing(overseerImage) else edit">
          {{overseerImage.name}}
        </div>
        <ng-template #edit>
          <mat-form-field class="data-entry">
            <input matInput required formControlName="name" placeholder="Name">
          </mat-form-field>
        </ng-template>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field class="data-entry">
          <input matInput required formControlName="name" placeholder="Name">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Tag Column -->
    <ng-container [formGroup]="formData" matColumnDef="tag">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tag </th>
      <td mat-cell *matCellDef="let overseerImage">
        <div *ngIf="!editing(overseerImage) else edit">
          {{overseerImage.tag}}
        </div>
        <ng-template #edit>
          <mat-form-field class="data-entry">
            <input matInput required formControlName="tag" placeholder="Tag">
          </mat-form-field>
        </ng-template>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field class="data-entry">
          <input matInput required formControlName="tag" placeholder="Tag">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Pull Button Column -->
    <ng-container matColumnDef="pull">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let overseerImage">
        <div class="right" *ngIf="!editing(overseerImage) else edit">
          <button mat-flat-button color="primary" (click)="pullOverseerImage(overseerImage)">
            Pull
          </button>   
        </div>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Last Pulled Column -->
    <ng-container matColumnDef="last-pulled">
      <th mat-header-cell *matHeaderCellDef>Last Pulled</th>
      <td mat-cell *matCellDef="let overseerImage">
        <div class="right" *ngIf="!editing(overseerImage) else edit">
          {{overseerImage.lastPulledDate}}
        </div>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let overseerImage">
        <div class="right" *ngIf="!editing(overseerImage) else edit" 
            [ngStyle]="{'color': (overseerImage.pulledImageStatus === 'success') ? 'green' : 
                                 (overseerImage.pulledImageStatus === 'loading') ? 'orange' : 
                                 (overseerImage.pulledImageStatus === 'failed') ? 'red' : ''}">
            <button class="status-icon" *ngIf="overseerImage.pulledImageStatus === 'success'" [matTooltip]="overseerImage.pulledImageText">
              <mat-icon>check_circle_outline</mat-icon>
            </button>
            <button class="status-icon" *ngIf="overseerImage.pulledImageStatus === 'loading'">
              <mat-icon>access_time_icon</mat-icon>
            </button>
            <button class="status-icon" *ngIf="overseerImage.pulledImageStatus === 'failed'"  [matTooltip]="overseerImage.pulledImageText">
              <mat-icon>error_outline</mat-icon>
            </button>
        </div>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Options Column -->
    <ng-container matColumnDef="options" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let overseerImage">
        <div class="right" *ngIf="!editing(overseerImage) else edit">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="flagEdit(overseerImage)">
              <mat-icon color="primary">edit</mat-icon>
              <span>Edit</span>
            </button>
          </mat-menu>
        </div>
        <ng-template #edit>
          <div class="edit-actions right">
            <span>
              <button mat-icon-button color="warn" (click)="cancelEdit()">
                <mat-icon>cancel</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="submit()">
                <mat-icon>save</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteOverseerImage(overseerImage)">
                <mat-icon>delete</mat-icon>
              </button>
            </span>
          </div>
        </ng-template>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <div class="edit-actions right">
          <button mat-icon-button (click)="submit()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    <tr [hidden]="selected" mat-footer-row *matFooterRowDef="columns"></tr>
  </table>
</div>
