@use '@angular/material' as mat;

@use 'theme' as *;
@use 'styles/mixins/scrollable' as *;
@use 'styles/mixins/task-status-colors-generator' as *;

$my-palette: mat.m2-define-palette($md-formatif);

@mixin collapsed-task-status-color($status) {
  background-color: task-status-color($status) !important;
  color: task-status-color($status, fore) !important;
}

:host {
  --background-gray: rgba(0, 0, 0, 0.04);
  padding-right: 8px;
}

:host(.collapsed) {
  padding-right: 0;

  .mat-mdc-list-item {
    overflow: visible;
  }

  ::ng-deep .mdc-list-item__content {
    overflow: visible;
  }
}

.task-list-item--collapsed {
  &.ready-for-feedback {
    @include collapsed-task-status-color('ready-for-feedback');
  }

  &.not-started {
    @include collapsed-task-status-color('not-started');
  }

  &.working-on-it {
    @include collapsed-task-status-color('working-on-it');
  }

  &.need-help {
    @include collapsed-task-status-color('need-help');
  }

  &.fix-and-resubmit {
    @include collapsed-task-status-color('fix-and-resubmit');
  }

  &.feedback-exceeded {
    @include collapsed-task-status-color('feedback-exceeded');
  }

  &.time-exceeded {
    @include collapsed-task-status-color('time-exceeded');
  }

  &.assess-in-portfolio {
    @include collapsed-task-status-color('assess-in-portfolio');
  }

  &.redo {
    @include collapsed-task-status-color('redo');
  }

  &.discuss {
    @include collapsed-task-status-color('discuss');
  }

  &.demonstrate {
    @include collapsed-task-status-color('demonstrate');
  }

  &.complete {
    @include collapsed-task-status-color('complete');
  }

  &.fail {
    @include collapsed-task-status-color('fail');
  }

  &.attention-required {
    @include collapsed-task-status-color('attention-required');
  }

  ::ng-deep .mdc-list-item__primary-text {
    color: inherit;
  }
}

::ng-deep .cdk-virtual-scroll-content-wrapper {
  width: 100%;
}

.task-list {
  height: 100%;
}

.scrollable {
  height: 100%;
  @include scrollable();
}

.omnisearch {
  font-size: 15px;
  padding-right: 10px;
  text-align: left;

  &.expanded {
    height: 100%;
  }

  .search {
    background-color: transparent;
    border: hidden;
    outline: none;
  }

  .mdc-icon-button {
    display: flex;
  }
}

.full-width {
  width: 100%;
}

.task-list-data {
  margin-top: 0px;
  padding-left: 6px;

  .task-title {
    font-size: 15px;
    margin-bottom: -2px;
    margin-top: 8px;
  }

  .task-details {
    margin-bottom: 0px;
    font-size: 12px;
  }
}

.mat-mdc-list-item .item-content {
  height: 60px;
  border-radius: 6px;
}

.mat-mdc-list-item .item-content:hover {
  cursor: pointer;
}

.mat-mdc-list-item.selected {
  background-color: var(--background-gray);
}

.task-inbox.narrow-width .mat-mdc-list-item .item-content.selected {
  margin-right: 12px;
}

.tasks-viewport {
  height: 100%;
}
