<div class="task-list" div fxLayout="column" fxLayoutAlign="none">
  <!-- Search Box -->
  <div class="omnisearch rounded-t-2xl md:rounded-2xl">
    <div class="flex items-center">
      <button mat-icon-button aria-label="Search Icon" disabled class="flex-none flex items-center">
        <mat-icon class="flex items-center" disabled>search</mat-icon>
      </button>
      <div class="grow">
        <input
          class="search"
          autocomplete="off"
          spellcheck="false"
          type="text"
          placeholder="Search Tasks"
          [(ngModel)]="searchText"
          (ngModelChange)="applyFilters()"
        />
      </div>
    </div>
  </div>

  <!-- Scrollable Unit Task List -->
  <div class="h-screen scrollable" itemSize="60">
    <mat-nav-list #taskDefinitions>
      @for (taskDef of filteredTaskDefinitions; track taskDef) {
        <mat-list-item
          class="flex w-full item-content items-center hover:bg-gray-50 p-2 h-[65px] cursor-pointer border-b border-gray-200"
          [disableRipple]="true"
          (click)="setSelectedTaskDefinition(taskDef)"
          [ngClass]="{
            selected: isSelectedTaskDefinition(taskDef),
          }"
        >
          @if (taskDef) {
            <div class="flex justify-between items-center w-fill">
              <div class="flex items-center gap-5 flex-1 min-w-0">
                <div class="flex items-center gap-5 min-w-0 truncate text-ellipsis">
                  <div class="flex flex-col justify-start truncate text-ellipsis">
                    <div class="truncate text-ellipsis">{{ taskDef.name }}</div>

                    <div class="flex items-center gap-1">
                      @if (taskDef.isGroupTask()) {
                        <mat-icon class="text-gray-600 scale-75">groups</mat-icon>
                      } @else {
                        <mat-icon class="text-gray-600 scale-75">person</mat-icon>
                      }

                      <div class="task-details text-[14px] text-gray-500">
                        {{ taskDef.abbreviation }}
                        -
                        {{ gradeNames[taskDef.targetGrade] }} Task
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              @if (hasTasks && taskForTaskDef(taskDef)) {
                <status-icon [status]="taskForTaskDef(taskDef).status"></status-icon>
              }
            </div>
          }
        </mat-list-item>
      } @empty {
        <div class="text-center text-muted">No tasks to display</div>
      }
    </mat-nav-list>
  </div>
</div>
