<div class="comments-panel h-full" appDragDrop (fileDropped)="uploadFiles($event)" fxLayout="column">
  <div fxFlex class="comments-body" #commentsBody fxLayout="column" style="place-content: stretch !important">
    <div [hidden]="!loading" class="h-full" fxLayout="row" fxLayoutAlign="center center">
      <mat-spinner strokeWidth="2" diameter="100" color="accent"></mat-spinner>
    </div>

    <div
      *ngIf="!task || task.comments.length === 0"
      fxFlexFill
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <mat-icon id="noView">forum</mat-icon>
    </div>

    <div *ngIf="task" class="comments-scroll-content" [hidden]="loading">
      <span>
        <div
          id="comment-{{ comment.id }}"
          *ngFor="let comment of task.comments"
          (mouseover)="comment.hover = true"
          (mouseout)="comment.hover = false"
          class="anchor"
        >
          <p
            id="commentTimestamp"
            *ngIf="comment.shouldShowTimestamp"
            [ngClass]="{own: comment.authorIsMe}"
          >
            {{ comment.author.firstName }} {{ comment.author.lastName }}
            {{ comment.createdAt | humanizedDate }}
          </p>
          <div
            class="comment"
            [ngClass]="{
              'comment-by-other-user': !comment.authorIsMe,
              'new-comment': comment.isNew
            }"
            [fxLayout]="comment.authorIsMe ? 'row-reverse' : 'row'"
            fxLayoutAlign="start end"
          >
            <div
              *ngIf="!comment.authorIsMe && shouldShowAuthorIcon(comment.commentType)"
              class="comment-user-icon-wrapper"
            >
              <user-icon
                *ngIf="comment.shouldShowAvatar && shouldShowAuthorIcon(comment.commentType)"
                [size]="28"
                [user]="comment.author"
                [ngClass]="{'hidden-xs hidden-sm': comment.authorIsMe}"
                matTooltip="{{ comment.author.name }}"
                matTooltipPosition="left"
              >
              </user-icon>
            </div>

            <div
              class="comment-container"
              [fxLayout]="comment.authorIsMe ? 'row-reverse' : 'row'"
              fxLayoutAlign="start center"
              [ngSwitch]="comment.commentType"
            >
              <div *ngSwitchCase="'status'" class="comment-status">
                <hr class="hr-text" [attr.data-content]="comment.text" />
              </div>

              <div *ngSwitchCase="'assessment'" class="comment-assessment">
                <app-task-assessment-comment
                  [task]="task"
                  [comment]="comment"
                  *ngIf="overseerEnabled"
                ></app-task-assessment-comment>
              </div>

              <div *ngSwitchCase="'scorm'" class="comment-scorm">
                <f-scorm-comment
                  [task]="task"
                  [comment]="comment"
                  *ngIf="scormEnabled"
                ></f-scorm-comment>
              </div>

              <div class="bubble" [ngClass]="commentClasses(comment)">
                <a
                  (click)="scrollToComment(comment.originalComment.id)"
                  class="original-comment"
                  *ngIf="!!comment.replyToId"
                >
                  <p class="reply-text">
                    <i class="fa fa-reply"></i>
                    {{ comment.originalComment ? comment.originalComment.text : 'comment removed' }}
                  </p>
                </a>
                <div *ngSwitchCase="'extension'" class="comment-extension">
                  <extension-comment [task]="task" [comment]="comment"> </extension-comment>
                </div>

                <div *ngSwitchCase="'scorm_extension'" class="comment-scorm-extension">
                  <f-scorm-extension-comment [task]="task" [comment]="comment">
                  </f-scorm-extension-comment>
                </div>

                <div *ngSwitchCase="'text'" class="comment-text">
                  <div class="markdown-to-html" [innerHTML]="comment.text | marked"></div>
                </div>

                <div *ngSwitchCase="'audio'" class="comment-audio">
                  <audio-player
                    [task]="task"
                    [project]="project"
                    [comment]="comment"
                  ></audio-player>
                </div>

                <div *ngSwitchCase="'discussion'" class="comment-discussion">
                  <intelligent-discussion-player
                    [task]="task"
                    [discussion]="comment"
                  ></intelligent-discussion-player>
                </div>

                <div *ngSwitchCase="'image'" class="comment-image">
                  <pdf-image-comment
                    [comment]="comment"
                    [project]="project"
                    [task]="task"
                  ></pdf-image-comment>
                </div>

                <div *ngSwitchCase="'pdf'" class="comment-pdf">
                  <pdf-image-comment
                    [comment]="comment"
                    [project]="project"
                    [task]="task"
                  ></pdf-image-comment>
                </div>
              </div>
              <div *ngIf="comment.isBubbleComment" class="comment-overflow">
                <comment-bubble-action
                  [hidden]="!comment.hover"
                  [comment]="comment"
                  [sharedData]="sharedCommentComposerData"
                ></comment-bubble-action>
              </div>
            </div>
          </div>
          <div *ngIf="comment.lastRead && shouldShowReadReceipt()" class="read-receipt">
            <user-icon
              matTooltip="Read {{ comment.recipientReadTime | humanizedDate }} by {{
                comment.recipient.name
              }}"
              matTooltipPosition="above"
              [size]="18"
              [user]="comment.recipient"
            >
            </user-icon>
          </div>
        </div>
      </span>
    </div>
  </div>
  <!--/comment-list-->
  <div class="comments-footer" id="commentComposerFoter">
    <task-comment-composer
      [task]="task"
      [sharedData]="sharedCommentComposerData"
    ></task-comment-composer>
  </div>
</div>
