.task-comments-viewer {
  overflow: scroll;
  height: 300vh;
  .no-comments {
    height: 100%;
  }
}

.panel-header {
  width: 60vh;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
                cursor:default;
}

.task-comments-viewer .comment {
  display: flex;
  margin-bottom: 2em;
  .comment-details {
    position: relative;
    @include flex-center;
    align-items: flex-end;
    align-content: flex-end;
    height: 100%;
    height: auto;
    & > * {
      width: 100%;
      text-align: right;
    }
    .comment-by, .comment-date {
      display: block;
    }
    .comment-by {
      display: block;
      height: 40px;
      min-width: 40px;
      width: 40px;
      line-height: 40px;
      float: right;

      -moz-border-radius: 30px;
      border-radius: 30px;

      background: #1976D2; /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #2196F3 , #1976D2); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #2196F3 , #1976D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      border: 1px solid white;
      box-shadow: 0 0 0 1px #2196F3;

      align-self: bottom;
      color: white;
      text-align: center;
      font-size: 1.1em;
      font-weight: bolder;
    }
  }

  .comment-text
  {
    position: relative;
    padding: 16px;
    background: #ECEFF1;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 1.1em;
    padding: 1em;
    line-height: 10px;

    .markdown-to-html > *:last-child {
      margin-bottom: 0px;
    }

    img {
      border-radius: 1em;
    }
  }

  .comment-text .comment-date {
      margin-top: -5px;
      font-size: 0.8em;
    }
  .delete-comment {
    align-self: center;
    float: right;
    font-style: normal;
    color: #bbb;
    font-size: 1.6em;
    &:hover {
      color: #B71C1C;
      cursor: pointer;
    }
  }
}

.panel-footer {
  padding: 0;
}

.markdown-editor .markdown-editor-inner-context {
  border: 0;
  box-shadow: 0;
  border-radius: 0px 0px 0px 4px;
}

.comment-submitter {
  display: flex;
  .markdown-editor {
    padding: 0;
  }
  .send-button-wrapper {
    padding-right: 0;
    padding-left: 0;
    // padding-bottom: 10px;
    .btn {
      width: 100%;
      height: 100%;
      border-radius: 0px 0px 2px 0px;
    }
  }
}
