<div
  appDragDrop
  class="comments-panel h-full min-h-[350px]"
  fxLayout="column"
  (fileDropped)="uploadFiles($event)"
>
  <div
    #commentsBody
    class="comments-body"
    fxFlex
    fxLayout="column"
    style="place-content: stretch !important"
  >
    <div class="h-full" fxLayout="row" fxLayoutAlign="center center" [hidden]="!loading">
      <mat-spinner color="accent" diameter="100" strokeWidth="2"></mat-spinner>
    </div>

    @if (!task || task.comments.length === 0) {
      <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
        <mat-icon id="noView">forum</mat-icon>
      </div>
    }

    @if (task) {
      <div class="comments-scroll-content" [hidden]="loading">
        <span>
          @for (comment of task.comments; track comment) {
            <div
              class="anchor"
              id="comment-{{ comment.id }}"
              (mouseout)="comment.hover = false"
              (mouseover)="comment.hover = true"
            >
              @if (comment.shouldShowTimestamp) {
                <p
                  id="commentTimestamp"
                  matTooltipPosition="above"
                  [matTooltip]="comment.createdAt | localizedDateTime"
                  [ngClass]="{own: comment.authorIsMe}"
                >
                  {{ comment.author.preferredName }} {{ comment.author.lastName }}
                  {{ comment.createdAt | humanizedDate }}
                </p>
              }
              <div
                class="comment"
                fxLayoutAlign="start end"
                [fxLayout]="comment.authorIsMe ? 'row-reverse' : 'row'"
                [ngClass]="{
                  'comment-by-other-user': !comment.authorIsMe,
                  'new-comment': comment.isNew,
                }"
              >
                @if (!comment.authorIsMe && shouldShowAuthorIcon(comment.commentType)) {
                  <div class="comment-user-icon-wrapper">
                    @if (comment.shouldShowAvatar && shouldShowAuthorIcon(comment.commentType)) {
                      <user-icon
                        matTooltip="{{ comment.author.name }}"
                        matTooltipPosition="left"
                        [ngClass]="{'hidden-xs hidden-sm': comment.authorIsMe}"
                        [size]="28"
                        [user]="comment.author"
                      >
                      </user-icon>
                    }
                  </div>
                }

                <div
                  class="comment-container"
                  fxLayoutAlign="start center"
                  [fxLayout]="comment.authorIsMe ? 'row-reverse' : 'row'"
                >
                  @switch (comment.commentType) {
                    @case ('status') {
                      <div
                        class="comment-status"
                        matTooltipPosition="above"
                        matTooltipShowDelay="1000"
                        [matTooltip]="comment.createdAt | localizedDateTime"
                      >
                        <hr class="hr-text" [attr.data-content]="comment.text" />
                      </div>
                    }

                    @case ('discussed_in_class') {
                      <div
                        class="my-1 flex w-full flex-col items-center"
                        matTooltipPosition="above"
                        matTooltipShowDelay="1000"
                        [matTooltip]="comment.createdAt | localizedDateTime"
                      >
                        <mat-card appearance="outlined" class="w-full self-end">
                          <mat-card-header>
                            <mat-icon class="m-auto" style="color: #9696969d">group</mat-icon>
                          </mat-card-header>

                          <mat-card-content
                            class="flex flex-col items-center justify-center"
                            style="color: #9696969d"
                          >
                            {{ comment.text }}
                          </mat-card-content>
                        </mat-card>
                      </div>
                    }

                    @case ('feedback_review_request') {
                      <div
                        class="my-1 flex w-full flex-col items-center"
                        matTooltipPosition="above"
                        matTooltipShowDelay="1000"
                        [matTooltip]="comment.createdAt | localizedDateTime"
                      >
                        <mat-card appearance="outlined" class="w-full self-end">
                          <mat-card-header>
                            <mat-icon class="m-auto" style="color: #9696969d">comment</mat-icon>
                          </mat-card-header>

                          <mat-card-content
                            class="flex flex-col items-center justify-center"
                            style="color: #9696969d"
                          >
                            {{ comment.text }}
                          </mat-card-content>
                        </mat-card>
                      </div>
                    }

                    @case ('checked_in') {
                      <div
                        class="my-1 flex w-full flex-col items-center"
                        matTooltipPosition="above"
                        matTooltipShowDelay="1000"
                        [matTooltip]="comment.createdAt | localizedDateTime"
                      >
                        <mat-card appearance="outlined" class="w-full self-end">
                          <mat-card-header>
                            <mat-icon class="m-auto" style="color: #9696969d">how_to_reg</mat-icon>
                          </mat-card-header>

                          <mat-card-content
                            class="flex flex-col items-center justify-center"
                            style="color: #9696969d"
                          >
                            {{ comment.text }}
                          </mat-card-content>
                        </mat-card>
                      </div>
                    }

                    @case ('plan') {
                      <div
                        class="comment-status"
                        matTooltipPosition="above"
                        matTooltipShowDelay="1000"
                        [matTooltip]="comment.createdAt | localizedDateTime"
                      >
                        <hr class="hr-text" [attr.data-content]="comment.text" />
                      </div>
                    }

                    @case ('assessment') {
                      <div class="comment-assessment mx-auto max-w-[350px] overflow-x-scroll">
                        @if (
                          overseerEnabled && asAssessmentComment(comment);
                          as assessmentComment
                        ) {
                          <app-task-assessment-comment
                            [comment]="assessmentComment"
                            [task]="task"
                          ></app-task-assessment-comment>
                        }
                      </div>
                    }

                    @case ('scorm') {
                      <div class="comment-scorm my-2">
                        @if (scormEnabled && asScormComment(comment); as scormComment) {
                          <f-scorm-comment [comment]="scormComment" [task]="task"></f-scorm-comment>
                        }
                      </div>
                    }
                  }

                  <div class="bubble" [ngClass]="commentClasses(comment)">
                    @if (!!comment.replyToId) {
                      <a
                        class="original-comment"
                        (click)="scrollToComment(comment.originalComment.id)"
                      >
                        <p class="reply-text">
                          <mat-icon inline>reply</mat-icon>
                          {{
                            comment.originalComment
                              ? comment.originalComment.text
                              : 'comment removed'
                          }}
                        </p>
                      </a>
                    }

                    @switch (comment.commentType) {
                      @case ('extension') {
                        <div class="comment-extension">
                          @if (asExtensionComment(comment); as extensionComment) {
                            <extension-comment [comment]="extensionComment" [task]="task">
                            </extension-comment>
                          }
                        </div>
                      }

                      @case ('scorm_extension') {
                        <div class="comment-scorm-extension">
                          @if (asScormExtensionComment(comment); as scormExtensionComment) {
                            <f-scorm-extension-comment
                              [comment]="scormExtensionComment"
                              [task]="task"
                            >
                            </f-scorm-extension-comment>
                          }
                        </div>
                      }

                      @case ('text') {
                        <div
                          class="comment-text"
                          matTooltipPosition="above"
                          matTooltipShowDelay="1000"
                          [matTooltip]="comment.createdAt | localizedDateTime"
                        >
                          <div class="markdown-to-html" [innerHTML]="comment.text | marked"></div>
                        </div>
                      }

                      @case ('audio') {
                        <div class="comment-audio">
                          <audio-player
                            [comment]="comment"
                            [project]="project"
                            [task]="task"
                          ></audio-player>
                        </div>
                      }

                      @case ('discussion') {
                        <div class="comment-discussion-asdf">
                          @if (asDiscussionComment(comment); as discussionComment) {
                            <intelligent-discussion-player
                              [discussion]="discussionComment"
                              [task]="task"
                            ></intelligent-discussion-player>
                          }
                        </div>
                      }

                      @case ('image') {
                        <div class="comment-image">
                          <pdf-image-comment
                            [comment]="comment"
                            [project]="project"
                            [task]="task"
                          ></pdf-image-comment>
                        </div>
                      }

                      @case ('pdf') {
                        <div class="comment-pdf">
                          <pdf-image-comment
                            [comment]="comment"
                            [project]="project"
                            [task]="task"
                          ></pdf-image-comment>
                        </div>
                      }
                    }
                  </div>
                  @if (comment.isBubbleComment) {
                    <div class="comment-overflow">
                      <comment-bubble-action
                        [comment]="comment"
                        [hidden]="!comment.hover"
                        [sharedData]="sharedCommentComposerData"
                      ></comment-bubble-action>
                    </div>
                  }
                </div>
              </div>
              @if (comment.lastRead && shouldShowReadReceipt()) {
                <div class="read-receipt">
                  <user-icon
                    matTooltip="Read {{ comment.recipientReadTime | humanizedDate }} by {{
                      comment.recipient.name
                    }}"
                    matTooltipPosition="above"
                    [size]="18"
                    [user]="comment.recipient"
                  >
                  </user-icon>
                </div>
              }
            </div>
          }
        </span>
      </div>
    }
  </div>
  <!--/comment-list-->
  <div class="comments-footer" id="commentComposerFoter">
    <task-comment-composer
      [sharedData]="sharedCommentComposerData"
      [task]="task"
    ></task-comment-composer>
  </div>
</div>
