.task-comments-viewer {
  overflow: scroll;
  height: 30vh;
  .no-comments {
    height: 100%;
  }
}

.wrapword {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* for future vendor support */
  cursor:default;
}

.task-comments-viewer .comment {
  display: flex;
  margin-left: 0;
  width: 100%;
  margin-bottom: 1em;
  .comment-details {
    position: relative;
    @include flex-center;
    align-items: flex-end;
    align-content: flex-end;
    height: 100%;
    height: auto;
    & > * {
      width: 100%;
      text-align: right;
    }
    .comment-by, .comment-date {
      display: block;
    }
    .comment-by {
      display: block;
      height: 38px;
      min-width: 38px;
      width: 38px;
      line-height: 36px;
      float: right;

      -moz-border-radius: 30px;
      border-radius: 30px;

      background: #1976D2; /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #2196F3 , #1976D2); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #2196F3 , #1976D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      border: 1px solid white;
      box-shadow: 0 0 0 1px #2196F3;

      margin-bottom: 2px;
      margin-right: 20px;
      align-self: flex-end;
      color: white;
      text-align: center;
      font-size: 1em;
      font-weight: bolder;
    }
  }

  .comment-text
  {
    position: relative;
    background: #ECEFF1;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 1em;
    padding: 0.5em;
    padding-left: 0;
    line-height: 1em;
    align-items: center;
    display: inherit;
    height: 0%;

    .markdown-to-html > *:last-child {
      margin-bottom: 0px;
    }

    img {
      border-radius: 1em;
    }
  }

  .comment-text .comment-date {
      margin-top: -5px;
      font-size: 0.8em;
    }
  .delete-comment {
    padding-left: 10px;
    align-self: center;
    float: right;
    font-style: normal;
    color: #bbb;
    font-size: 1.6em;
    &:hover {
      color: #B71C1C;
      cursor: pointer;
    }
  }
}

task-comments-viewer .panel-footer {
  padding: 0;
}

.markdown-editor .markdown-editor-inner-context {
  border: 0;
  width: 100%;
  box-shadow: none;
  border-radius: 0px 0px 4px 4px;
}

.comment-submitter {
  display: flex;
  .markdown-editor {
    padding: 0;
    width: 100%;
  }
}
