<div
  class="panel panel-default"
  ngf-drop="uploadFiles($files)"
  ngf-drag-over-class="'dragover'"
  ngf-multiple="true"
  ngf-pattern="'image/*,application/pdf'"
>
  <div class="panel-heading">
    <div class="panel-title">
      Comments on this task
    </div>
  </div>
  <div class="panel-body">
    <div
      id="comment-{{comment.id}}"
      ng-repeat="comment in task.comments | orderBy:'+created_at'"
      ng-mouseover="hover=true"
      ng-mouseleave="hover=false"
      class="anchor"
    >
      <p id="commentTimestamp" ng-if="comment.should_show_timestamp">
        {{comment.author.name}} {{comment.created_at | humanizedDate}}
      </p>
      <div
        class="comment"
        ng-class="{'comment-by-other-user': !comment.author_is_me, 'new-comment': comment.is_new}"
      >
        <user-icon
          ng-if="comment.should_show_avatar && shouldShowAuthorIcon(comment.type)"
          size="50"
          user="comment.author"
          ng-class="{'hidden-xs hidden-sm': comment.author_is_me}"
        >
        </user-icon>

        <div class="comment-container" ng-switch="comment.type">
          <div ng-switch-when="status" class="comment-status">
            <hr class="hr-text" data-content="{{comment.comment}}" />
          </div>

          <div
            ng-class="['bubble', comment.type + '-bubble', {'first-in-series': comment.should_show_timestamp || comment.first_in_series}, {'last-in-series': comment.should_show_avatar}]"
          >
            <a ng-click="scrollToComment(comment.original_comment.id)" class="original-comment" ng-if="!!comment.reply_to_id">
              <p class="reply-text">
                <i class="fa fa-reply"></i>
                {{comment.original_comment ? comment.original_comment.comment : 'comment removed'}}
              </p>
            </a>
            <div ng-switch-when="extension" class="comment-extension">
              <extension-comment [task]="task" [comment]="comment">
              </extension-comment>
            </div>

            <div ng-switch-when="text" class="comment-text">
              <div
                class="markdown-to-html"
                ng-bind-html="comment.comment | markdown"
              ></div>
            </div>

            <div ng-switch-when="audio" class="comment-audio">
              <audio-player></audio-player>
            </div>

            <div ng-switch-when="discussion" class="comment-discussion">
              <intelligent-discussion-player
                [task]="task"
                [discussion]="comment"
              ></intelligent-discussion-player>
            </div>

            <div ng-switch-when="image" class="comment-image">
              <a ng-click="openCommentsModal(comment)">
                <img
                  ng-src="{{getCommentAttachment(comment)}}"
                  width="100%"
                  height="100%"
                />
              </a>
            </div>

            <div ng-switch-when="pdf" class="comment-pdf">
              <a ng-click="openCommentsModal(comment)">
                <p><i class="fa fa-file-pdf-o"></i> view pdf</p>
              </a>
            </div>
          </div>
          <div ng-if="isBubbleComment(comment.type)" class="comment-overflow">
            <comment-bubble-action
              ng-show="hover"
              [task]="task"
              [comment]="comment"
            ></comment-bubble-action>
          </div>
        </div>
      </div>
    </div>

    <div
      class="read-receipt"
      ng-show="lastComment.author_is_me && lastComment.recipient_read_time"
    >
      Read {{lastComment.recipient_read_time | humanizedDate}} by
      {{lastComment.recipient.name}}
    </div>
  </div>
  <!--/comment-list-->
  <div id="commentComposerFoter" class="panel-footer">
    <task-comment-composer [task]="task"></task-comment-composer>
  </div>
</div>
