$comment-bubble-color: #2196F3;
$comment-bubble-color-darker: darken($comment-bubble-color, 10%);
$comment-bubble-color-other-user: #e5e5ea;
$comment-bubble-color-other-user-darker: darken($comment-bubble-color-other-user, 10%);
$comment-author-bubble-size: 38px;
$comment-text-padding: 15px;

task-comments-viewer .panel {
  @include flex-panel;
}

task-comments-viewer .panel-body {
  overflow: scroll;
  height: 100%;
  font-size: 15px;
}

// Primary comment div
task-comments-viewer .comment {
  display: flex;
  width: 100%;
  margin-bottom: 1em;
  flex-wrap: wrap;
  &.new-comment .comment-bubble {
    animation: fade-in-comment-animation;
    animation-duration: 5s;
    @keyframes fade-in-comment-animation {
      0% { background: rgba(33, 150, 243, 0.4); }
      0% { border: rgba(33, 150, 243, 1); }
      0% { box-shadow: 0 0 6px rgba(33, 150, 243, 1); }
      100% { border: rgba(255, 255, 255, 0); }
      100% { box-shadow: 0 0 0px rgba(255, 255, 255, 0); }
    }
  }
  &.comment-by-other-user {
    flex-direction: row-reverse;
  }
}

// Author Bubble
task-comments-viewer .comment .author-bubble {
  display: inline-block;
  align-self: flex-end;
  height: $comment-author-bubble-size;
  width: $comment-author-bubble-size;
  line-height: $comment-author-bubble-size - 2px;
  border-radius: 100%;
  background: $comment-bubble-color-darker;
  background: linear-gradient(to left, $comment-bubble-color, $comment-bubble-color-darker);
  border: 1px solid #fff;
  box-shadow: 0 0 0 1px $comment-bubble-color;
  margin-right: $comment-text-padding;
  color: #fff;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}
task-comments-viewer .comment.comment-by-other-user .author-bubble {
  background: $comment-bubble-color-other-user;
  background: linear-gradient(to left, $comment-bubble-color-other-user , $comment-bubble-color-other-user-darker);
  box-shadow: 0 0 0 1px $comment-bubble-color-other-user-darker;
  color: $text-color;
}
task-comments-viewer .comment.comment-by-other-user .author-bubble {
  margin-left: $comment-text-padding;
  margin-right: 0;
}

// Comment bubble
task-comments-viewer .comment .comment-bubble {
  display: flex;
  flex: 1;
  background: $comment-bubble-color;
  color: #fff;
  border-radius: 6px;
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  line-height: 1.5em;
  .comment-text {
    margin: 0 auto 0 $comment-text-padding;
    padding-right: $comment-text-padding;
  }
  .markdown-to-html > *:last-child {
    margin-bottom: 0px;
  }
  img {
    border-radius: 1em;
  }
  .delete-comment {
    align-self: flex-start;
    font-style: normal;
    font-size: 1.6em;
    margin-right: $comment-text-padding;
  }
}
task-comments-viewer .comment.comment-by-other-user .comment-bubble {
  background: $comment-bubble-color-other-user;
  &, .delete-comment {
    color: $text-color;
  }
}
task-comments-viewer .comment .comment-bubble .delete-comment:hover {
  color: lighten(#B71C1C, 15%);
  cursor: pointer;
}

// Read receipts
task-comments-viewer .comment .read-receipt {
  @extend .small;
  @extend .text-muted;
  @extend .text-right;
  width: 100%;
}

// Footer
task-comments-viewer .panel-footer {
  padding: 0;
  font-size: 15px;
}

// Editor & submitter
task-comments-viewer .markdown-editor .markdown-editor-inner-context {
  border: 0;
  width: 100%;
  box-shadow: none;
  border-radius: 0px 0px 4px 4px;
  min-height: 54px;
}
task-comments-viewer .comment-submitter {
  display: flex;
  word-break: break-all;
  hyphens: auto;
  .markdown-editor {
    padding: 0;
    width: 100%;
  }
}
