$comment-bubble-color: #2196F3;
$comment-bubble-color-other-user: #f1f0f0;

task-comments-viewer .panel {
  @include flex-panel;
}

task-comments-viewer .panel-body {
  overflow: scroll;
  height: 100%;
  font-size: 15px;
}

task-comments-viewer .wrap-word {
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

task-comments-viewer .comment {
  display: flex;
  margin-left: 0;
  width: 100%;
  padding-right: 0;
  margin-bottom: 1em;
  .comment-details {
    position: relative;
    @include flex-center;
    align-items: flex-end;
    align-content: flex-end;
    height: 100%;
    height: auto;
    & > * {
      width: 100%;
      text-align: right;
    }
    .comment-by, .comment-date {
      display: block;
    }
    .comment-by {
      display: block;
      height: 38px;
      min-width: 38px;
      width: 38px;
      line-height: 36px;
      float: right;
      border-radius: 30px;
      background: #1976D2;
      background: linear-gradient(to left, #2196F3 , #1976D2);
      border: 1px solid white;
      box-shadow: 0 0 0 1px #2196F3;
      margin-right: 20px;
      align-self: flex-end;
      color: white;
      text-align: center;
      font-size: 1em;
      font-weight: bolder;
    }
  }
  .comment-text {
    position: relative;
    background: $comment-bubble-color;
    color: #fff;
    border-radius: 6px;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    line-height: 1.5em;
    align-items: center;
    display: inherit;
    height: 0%;

    .markdown-to-html > *:last-child {
      margin-bottom: 0px;
    }

    img {
      border-radius: 1em;
    }

    .comment-text-highlight {
      animation: assetAnim;
      animation-duration: 5s;

      @keyframes assetAnim {
        0% { background: rgba(33, 150, 243, 0.4); }
        0% { border: rgba(33, 150, 243, 1); }
        0% { box-shadow: 0 0 6px rgba(33, 150, 243, 1); }
        100% { background: $comment-bubble-color; }
        100% { border: rgba(33, 150, 243, 0); }
        100% { box-shadow: 0 0 0px rgba(33, 150, 243, 0); }
      }
    }

    .comment-text .comment-date {
      margin-top: -5px;
      font-size: 0.8em;
    }

    .delete-comment {
      padding-left: 10px;
      align-self: flex-end;
      float: right;
      font-style: normal;
      font-size: 1.6em;
      margin-bottom: 8px;
      &:hover {
        color: lighten(#B71C1C, 15%);
        cursor: pointer;
      }
    }
  }
}

task-comments-viewer .comment .comment-by-other-user {
   .comment-details .comment-by {
    background: #78909C;
    background: linear-gradient(to left, #90A4AE , #78909C);
    border: 1px solid white;
    box-shadow: 0 0 0 1px #90A4AE;
  }

  .comment-text {
    background: $comment-bubble-color-other-user;
  }

  .delete-comment {
    color: #bbb;
  }
}

task-comments-viewer .panel-footer {
  padding: 0;
  font-size: 15px;
}

task-comments-viewer .markdown-editor .markdown-editor-inner-context {
  border: 0;
  width: 100%;
  box-shadow: none;
  border-radius: 0px 0px 4px 4px;
  min-height: 54px;
}

task-comments-viewer .comment-submitter {
  display: flex;
  .markdown-editor {
    padding: 0;
    width: 100%;
  }
}
