<emoji-mart
  class="emoji-picker"
  emoji="thumbsup"
  title="Pick your emoji…"
  [darkMode]="false"
  [hidden]="!this.showEmojiPicker"
  [hideRecent]="false"
  [isNative]="true"
  (emojiSelect)="addEmoji($event)"
></emoji-mart>

@if (task) {
  <div id="replyContainer" [hidden]="originalComment === null">
    <div class="replying-wrap" style="width: 100%">
      <button
        aria-label="Close reply"
        id="cancelReplyButton"
        mat-icon-button
        (click)="cancelReply()"
      >
        <mat-icon aria-label="Quit cross icon">close</mat-icon>
      </button>
      Replying to:
      <b>{{ originalComment !== null ? originalComment.author.name : '' }}</b>
    </div>
    <p>{{ originalComment !== null ? originalComment.text : '' }}</p>
  </div>
}

@if (task) {
  <div id="replyContainer" [hidden]="editingComment === null">
    <div class="replying-wrap" style="width: 100%">
      <button
        aria-label="Cancel editing"
        id="cancelEditButton"
        mat-icon-button
        (click)="cancelEdit()"
      >
        <mat-icon aria-label="Quit cross icon">close</mat-icon>
      </button>
      Editing your comment
    </div>
    <p>Changes can only be saved within 10 minutes of posting.</p>
  </div>
}

<mat-action-list
  dense
  id="emojiSearchResults"
  [hidden]="!emojiSearchMode || !(emojiSearchResults?.length > 0)"
>
  @for (emoji of emojiSearchResults; track emoji) {
    <mat-list-item (click)="emojiSelected(emoji.native)">
      <div fxLayout="row" fxLayoutAlign="start center">
        <ngx-emoji set="apple" style="align-items: center" [emoji]="emoji" [size]="20"></ngx-emoji>
        <div class="emoji-details" fxLayout="column" fxLayoutAlign="center start">
          <div style="font-weight: 500; font-size: 12px">{{ emoji.name }}</div>
          <div style="font-size: 10px">{{ emoji.colons }}</div>
        </div>
      </div>
    </mat-list-item>
  }
</mat-action-list>

<form
  class="input-group col-sm-12 comment-submitter flex-col"
  ng-submit="addComment()"
  role="form"
  style="display: flex; width: 100%"
  [hidden]="!this.task"
>
  @if (task) {
    <f-task-feedback-templates
      class="feedback-template-picker pt-2"
      [hidden]="!this.showFeedbackTemplatePicker"
      [task]="task"
      (templateSelected)="addFeedback($event)"
    ></f-task-feedback-templates>
  }
  <div class="composer-container" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="composer-action-group" [@shrinkgrow]="$userIsTyping | async">
      <!-- if active -->
      <div fxLayout="row" fxLayoutAlign="start center">
        @if ($userIsTyping | async) {
          <button
            aria-label="Expand action buttons"
            class="btn-no-outline"
            mat-icon-button
            matTooltip="Expand action buttons"
            matTooltipShowDelay="400"
            style="margin-right: -4px; margin-left: -4px"
            type="button"
            (click)="$userIsTyping.next(false); recording = false"
          >
            <mat-icon>{{ recording ? 'cancel' : 'chevron_right' }}</mat-icon>
          </button>
        }

        <!-- <button
          [hidden]="shrinkGrowToggle"
          *ngIf="isStaff"
          matTooltip="Create a Real Talk discussion"
          matTooltipShowDelay="400"
          mat-icon-button
          class="btn-no-outline"
          type="button"
          aria-label="launch real talk took"
          (click)="openDiscussionComposer()"
        >
          <mat-icon>crisis_alert</mat-icon>
        </button> -->

        @if (isStaff) {
          @if (!isEditing) {
            <button
              aria-label="launch real talk took"
              class="btn-no-outline"
              mat-icon-button
              matTooltip="Create a Real Talk discussion"
              matTooltipShowDelay="400"
              type="button"
              [hidden]="$userIsTyping | async"
              (click)="openDiscussionComposer()"
            >
              <mat-icon class="message-inbox-icon">mark_chat_read</mat-icon>
            </button>
          }
        }

        @if (!isEditing) {
          <button
            aria-label="attach a file icon button"
            class="btn-no-outline"
            mat-icon-button
            matTooltip="Attach a file"
            matTooltipShowDelay="400"
            type="button"
            [hidden]="$userIsTyping | async"
            (click)="openFile()"
          >
            <mat-icon class="message-inbox-icon">attach_file</mat-icon>
            <input
              #uploader
              accept="audio/*,image/*,.pdf"
              multiple="multiple"
              style="display: none"
              type="file"
              (change)="uploadFiles($event.target.files)"
            />
          </button>
        }

        @if (!isEditing) {
          <button
            aria-label="audio recording button"
            class="btn-no-outline"
            mat-icon-button
            matTooltip="Send a recording"
            matTooltipShowDelay="400"
            type="button"
            [hidden]="$userIsTyping | async"
            (click)="recordingMode()"
          >
            <mat-icon class="message-inbox-icon">mic</mat-icon>
          </button>
        }
      </div>
    </div>
    <div
      id="textFieldContainer"
      [class.active]="$userIsTyping | async"
      [ngClass]="{recording: recording, 'draft-loaded': isDraftLoaded}"
    >
      <div
        #commentInput
        enterkeyhint="send"
        id="textField"
        name="commentComposer"
        placeholder="Aa"
        [attr.contenteditable]="contentEditableValue() && !recording"
        [class.active]="($userIsTyping | async) === false"
        [hidden]="recording"
        (beforeinput)="handleBeforeInput($event)"
        (blur)="$userIsTyping.next(false)"
        (focus)="$userIsTyping.next(true)"
        (input)="onInputChange($event)"
        (keydown)="keyTyped()"
        (keydown.enter)="send($event)"
        (paste)="handlePaste($event)"
      ></div>
      @if (recording) {
        <audio-comment-recorder
          style="display: flex; justify-content: center; width: 100%"
          [task]="task"
        ></audio-comment-recorder>
      }
      <div id="innerButtons" [hidden]="recording">
        @if (isEditing) {
          <mat-icon
            aria-label="Save edited comment"
            id="emojiButton"
            matTooltip="Save edited comment"
            matTooltipShowDelay="400"
            (click)="saveEditedComment()"
          >
            check</mat-icon
          >
        }
        <mat-icon
          aria-label="Emoji picker button"
          id="emojiButton"
          matTooltip="Choose an emoji"
          matTooltipShowDelay="400"
          (click)="this.showEmojiPicker = !this.showEmojiPicker"
        >
          emoji_emotions</mat-icon
        >
      </div>
      <div id="innerButtons" [hidden]="recording || !isStaff">
        @if (!isEditing) {
          <mat-icon
            aria-label="Feedback template button"
            id="feedbackTemplateButton"
            matTooltip="Choose feedback templates"
            matTooltipShowDelay="400"
            (click)="showFeedbackPicker()"
          >
            task</mat-icon
          >
        }
      </div>
    </div>
  </div>
</form>
