<emoji-mart
  [hidden]="!this.showEmojiPicker"
  class="emoji-picker"
  title="Pick your emoji…"
  emoji="thumbsup"
  (emojiClick)="addEmoji($event)"
></emoji-mart>

<div id="replyContainer" *ngIf="task" [hidden]="originalComment == null">
  <div>
    <div class="replying-wrap">
      Replying to:
      <b>{{originalComment != null ? originalComment.author.name : ''}}</b>
      <button
        id="cancelReplyButton"
        (click)="cancelReply()"
        mat-button
        mat-icon-button
        aria-label="Close reply"
      >
        <mat-icon inline="true" aria-label="Quit cross icon">close</mat-icon>
      </button>
    </div>
    <p>{{originalComment != null ? originalComment.comment : ''}}</p>
  </div>
</div>

<mat-action-list
  [hidden]="!emojiSearchMode || !(emojiSearchResults?.length > 0)"
  dense
  id="emojiSearchResults"
>
  <mat-list-item
    *ngFor="let emoji of emojiSearchResults"
    (click)="emojiSelected(emoji.native)"
  >
    <div fxLayout="row" fxLayoutAlign="start center">
      <ngx-emoji
        style="align-items: center;"
        [emoji]="emoji"
        set="apple"
        size="20"
      ></ngx-emoji>
      <div class="emoji-details" fxLayout="column" fxLayoutAlign="center start">
        <div style="font-weight: 500; font-size: 12px;">{{emoji.name}}</div>
        <div style="font-size: 10px;">{{emoji.colons}}</div>
      </div>
    </div>
  </mat-list-item>
</mat-action-list>

<form
  [hidden]="!this.task"
  style="display: flex; width: 100%;"
  class="input-group col-sm-12 comment-submitter"
  ng-submit="addComment()"
  role="form"
>
  <button
    class="btn-recorder"
    type="button"
    [popover]="audioDiscussionTemplate"
  >
    <span class="fa fa-microphone"></span>
  </button>
  <div id="textFieldContainer">
    <div
      #commentInput
      id="textField"
      [contenteditable]="contentEditableValue()"
      (keydown.enter)="send($event)"
      (keydown)="keyTyped()"
      placeholder="Type a message..."
      name="commentComposer"
    ></div>
    <div id="innerButtons">
      <mat-icon
        id="emojiButton"
        (click)="this.showEmojiPicker = !this.showEmojiPicker"
        aria-hidden="false"
        aria-label="Emoji picker button"
        >emoji_emotions</mat-icon
      >
    </div>
  </div>
</form>

<!-- The HTML which will be injected -->
<ng-template #audioDiscussionTemplate>
  <div *ngIf="isStaff">
    <p>New! Try out the beta for the new intelligent discussion feature.</p>
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      style="margin-bottom: 20px; padding-top: 10px"
    >
      <button
        style="align-items: flex-end;"
        type="button"
        (click)="openDiscussionComposer()"
        mat-stroked-button
      >
        Create Discussion
      </button>
    </div>
    <mat-divider></mat-divider>
  </div>
  <audio-comment-recorder [task]="task"></audio-comment-recorder>
</ng-template>
