<form class="input-group col-sm-12 comment-submitter" ng-submit="addComment()" role="form">
  <!-- <markdown-editor focus="focus" autofocus="autofocus" class="editor col-sm-12" ng-model="comment.text" on-enter="enterDown"
    placeholder="Make a comment..." height="auto">
  </markdown-editor> -->

  <div class="image-uploader" ngf-drop ng-show="upload.model == null || upload.model.length == 0" ng-model="upload.model" ng-model-rejected="upload.rejects"
    ngf-change="modelChanged($files, upload)" ngf-accept="{{upload.accept}}" ngf-drag-over-class="{accept:'file-over', reject:'file-over', delay:100}"
    ngf-drop-available="dropSupported">

    <!-- <textArea id="textField" rows="1" class="autoheight" ng-keyup="keyUp($event)" ng-model="comment.text" placeholder="Type a comment, or try dragging an image..."></textArea> -->
    <div id="textField" contenteditable ng-keydown="keyDown($event)" ng-keyup="keyUp($event)" ng-model="comment.text" placeholder="Type a comment, or try dragging an image..."></div>
    <!-- <p class="fa fa-file-image-o fa-2x"></p> -->
    <p ng-show="upload.display.error">
      Invalid file type!
    </p>
    <!-- <p ng-show="dropSupported" ng-hide="upload.display.error">
      <small>Drop image file or click to select.</small>
    </p> -->
    <p ng-hide="dropSupported || upload.display.error">
      Click to select image file
    </p>
  </div>
  <div ng-if="!singleDropZone && upload.model.length > 0" class="selected-files">
    <br>
    <span class="selected-file" stype="{font-size: 12px}">
      <i class="file-type fa fa-file-image-o"></i>
      {{formatImageName(upload.model[0].name)}}
    </span>
    <a class="clear-upload text-muted" ng-click="clearEnqueuedUpload(upload)">
      <i class="fa fa-times"></i>
    </a>
    <br>
    <input type="button" ng-click="postImageComment()" class="btn btn-primary btn-upload" value="Post Comment">
    </input>
  </div>

  <!-- Audio -->
  <!-- <div class="markdown-editor-actions"> -->
  <span class="markdown-editor-action fa-stack fa-lg" popover-template="audioPopover">
    <i class="fa fa-microphone commenttype-selector"></i>
  </span>

  <!-- Image -->
  <!-- <span ng-click="currentCommentType = commentType.IMAGE" class="markdown-editor-action fa-stack fa-lg" tooltip="Image comment">
      <i class="fa fa-image commenttype-selector"></i>
    </span> -->
  <!-- </div> -->
</form>

<!-- The HTML which will be injected into the audio popover -->
<script type="text/ng-template" id="audioRecorderPopover.html">
  <div>
    <audio-recorder></audio-recorder>
  </div>
</script>