<div class="pdf-panel-viewer">
    <div class="panel-body">
        <pdf-viewer ng-if="showViewer" pdf-url="pdfUrl"></pdf-viewer>
    </div>
    <!--/panel-body-->
    <div class="panel-footer" ng-if="!hideFooter">
        <div class="pull-left text-muted" ng-show="footerText">
            <strong>Note:</strong> {{footerText}}
        </div>
        <div class="pull-right btn-group">
            <a ng-click="downloadEvent('Resources')" ng-href="{{resourcesUrl}}" class="btn btn-primary" ng-if="resourcesUrl">
            <i class="fa fa-download"></i><span> Resources</span>
        </a>
            <a ng-click="downloadEvent('PDF')" ng-href="{{pdfUrl}}&as_attachment=true" class="btn btn-success">
            <i class="fa fa-download"></i><span ng-show="resourcesUrl"> PDF</span>
        </a>
        </div>
    </div>
    <!--/panel-footer-->
</div>
