.pdf-panel-viewer {
  .panel-body {
    padding: 0;
    position: relative;;
    overflow: inherit !important;
    background-color: #d1d1d1;
    height: 60vh;

    object {
        width: 100%;
        height: 100%;
    }
  }
  .panel-footer {
    height: 60px;
  }
}
