mat-dialog-container.mat-dialog-container {
  padding-top: 0;
  padding: 4;
  max-height: unset;
}

.mat-dialog-title{
  padding-top: 0;
  margin: 1em;
}

.modal-comment {
  padding: 0;
  width: 100%;
  /* display: flex; */
  height: 98%;
}
