<div class="submission-history-modal">
  <h3 class="panel-title" mat-dialog-title>Overseer Assessment</h3>
  <mat-dialog-content style="height: calc(100% - 7em)">
    <f-task-overseer-report [loadOverseerAssessmentId]="overseerAssessmentId" [task]="task">
    </f-task-overseer-report>
  </mat-dialog-content>
  <div mat-dialog-actions style="float: right">
    @if (noDataFlag) {
      <button
        color="primary"
        mat-button
        mat-raised-button
        style="margin-right: 6px"
        (click)="resfreshChildComponent()"
      >
        <mat-icon inline>refresh</mat-icon> Refresh
      </button>
    }
    <button color="warn" mat-dialog-close mat-stroked-button>Cancel</button>
  </div>
</div>
