<div class="modal-complete">
  <mat-card-header>
    <mat-card-title>{{
      isNew ? 'Create Learning Outcome' : 'Edit Learning Outcome: ' + ilo.ilo_number
    }}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="modal-content-container">
      <div class="modal-container">
        <mat-form-field appearance="outline" class="input-form">
          <mat-label>Name</mat-label>
          <input matInput type="text" [(ngModel)]="ilo.name" />
        </mat-form-field>
      </div>
      <div class="modal-container">
        <mat-form-field appearance="outline" class="input-form">
          <mat-label>Abbreviation</mat-label>
          <input matInput type="text" [(ngModel)]="ilo.abbreviation" />
        </mat-form-field>
      </div>
      <div class="modal-container">
        <mat-form-field appearance="outline" class="input-form">
          <mat-label>Description</mat-label>
          <textarea matInput type="text" [(ngModel)]="ilo.description"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="card-actions">
    <input
      type="submit"
      class="btn btn-primary"
      value="{{ isNew ? 'Create' : 'Update' }}"
      [disabled]="ilo.name === null || ilo.abbreviation === null || ilo.description === null"
      (click)="saveILO()"
    />
  </mat-card-actions>
</div>
