<div class="w-full h-full overflow-auto">
  <div class="flex w-full items-center gap-2">
    <mat-tab-group
      class="w-full"
      [(selectedIndex)]="currentIndex"
      dynamicHeight
      (selectedTabChange)="onTabChange($event)"
    >
      <mat-tab label="Task Details"></mat-tab>
      <mat-tab label="Task Sheet" [disabled]="!task.definition.hasTaskSheet"></mat-tab>
      <mat-tab label="Submission" [disabled]="!task.hasPdf"></mat-tab>
    </mat-tab-group>

    <button
      mat-icon-button
      [matMenuTriggerFor]="taskMenu"
      aria-label="Task actions"
      class="shrink-0 text-gray-600"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #taskMenu="matMenu" xPosition="before">
      <button mat-menu-item [disabled]="!task.hasPdf" (click)="downloadSubmission()">
        <mat-icon>download</mat-icon>
        <span>Download submission PDF</span>
      </button>
      <button mat-menu-item [disabled]="!task.hasPdf" (click)="downloadSubmittedFiles()">
        <mat-icon>folder_zip</mat-icon>
        <span>Download submitted files</span>
      </button>
      @if (overseerEnabled) {
        <button mat-menu-item (click)="showSubmissionHistoryModal()">
          <mat-icon>history</mat-icon>
          <span>Execution history</span>
        </button>
      }
    </mat-menu>
  </div>

  <ng-container [ngSwitch]="currentView">
    <ng-template [ngSwitchCase]="DashboardViews.details">
      <div class="flex flex-col gap-5 p-5">
        <f-task-ilos-card
          [taskDef]="task.definition"
          [iloContextType]="'TaskDefinition'"
        ></f-task-ilos-card>
        <f-task-description-card
          [taskDef]="task.definition"
          [task]="task"
          [unit]="task.unit"
        ></f-task-description-card>
        <f-task-prerequisites-card
          [taskDefinition]="task.definition"
          [task]="task"
        ></f-task-prerequisites-card>
        <f-task-scorm-card [task]="task"></f-task-scorm-card>
        <f-task-status-card [task]="task"></f-task-status-card>
        <f-task-due-card [task]="task"></f-task-due-card>

        <f-task-assessment-card [task]="task"></f-task-assessment-card>
        <f-task-submission-card [task]="task"></f-task-submission-card>
      </div>
    </ng-template>

    <!-- <ng-template [ngSwitchCase]="DashboardViews.task">
      <ng-container
        *ngIf="selectedTaskService.hasTaskSheet; then pdfViewer; else noPdfUrl"
      ></ng-container>
    </ng-template>

    <ng-template [ngSwitchCase]="DashboardViews.submission">
      <ng-container
        *ngIf="selectedTaskService.hasSubmissionPdf; then pdfViewer; else noPdfUrl"
      ></ng-container>
    </ng-template> -->

    <ng-template [ngSwitchCase]="DashboardViews.task">
      @if (task && task.blockedByPrerequisiteTasks()) {
        <div
          class="flex items-center text-center px-4 py-3 bg-yellow-100 border-l-4 border-r-4 border-yellow-500 text-yellow-700"
        >
          <i class="fa fa-exclamation-triangle mr-2 fa-lg"></i>
          Warning: This task has
          {{ task.definition.taskPrerequisitesCache.currentValues.length }} prerequisite{{
            task.definition.taskPrerequisitesCache.currentValues.length > 1 ? 's' : ''
          }}
          that you still need to complete. You won’t be able to submit this task until all
          prerequisites are met.
        </div>
      }
      @if (task.definition.hasTaskSheet) {
        <f-pdf-viewer [pdfUrl]="task.definition.getTaskPDFUrl()" [startPage]="1"></f-pdf-viewer>
      } @else {
        <div class="flex flex-col w-full h-full justify-center items-center">
          <mat-icon class="empty-state-icon">subtitles_off</mat-icon>
        </div>
      }
    </ng-template>

    <ng-template [ngSwitchCase]="DashboardViews.submission">
      @if (task.hasPdf) {
        <f-pdf-viewer [pdfUrl]="task.submissionUrl()" [startPage]="2"></f-pdf-viewer>
      } @else {
        <div class="flex flex-col w-full h-full justify-center items-center">
          <mat-icon class="empty-state-icon">subtitles_off</mat-icon>
        </div>
      }
    </ng-template>

    <ng-template [ngSwitchCase]="DashboardViews.similarity">
      <f-task-similarity-view [task]="task"></f-task-similarity-view>
    </ng-template>

    <ng-template [ngSwitchCase]="DashboardViews.overseer">
      <f-task-overseer-report [task]="task"></f-task-overseer-report>
    </ng-template>

    <ng-template [ngSwitchCase]="DashboardViews.staff_notes">
      <f-staff-notes-view [project]="task.project"></f-staff-notes-view>
    </ng-template>

    <ng-template [ngSwitchCase]="DashboardViews.tutor_notes">
      <f-tutor-notes-view [task]="task" [unitRole]="unitRole"></f-tutor-notes-view>
    </ng-template>

    <ng-template [ngSwitchCase]="DashboardViews.discussion_prompts">
      <f-discussion-prompts-view
        [project]="task.project"
        [taskDefinition]="task.definition"
      ></f-discussion-prompts-view>
    </ng-template>
  </ng-container>

  <!-- The PDF Viewer -->
  <!-- <ng-template #pdfViewer>
    <f-pdf-viewer [pdfUrl]="pdfUrl" [startPage]="2"></f-pdf-viewer>
  </ng-template> -->

  <!-- Render if no PDF URL is available for the current view -->
  <ng-template #noPdfUrl>
    <div class="flex flex-col w-full h-full justify-center items-center">
      <mat-icon class="empty-state-icon">subtitles_off</mat-icon>
    </div>
  </ng-template>
</div>
