<div class="action-log-container">
  <div class="my-6 flex items-center">
    <h1>Turnitin Actions</h1>
    <span class="flex-grow"></span>
    <div>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Filter"
          [(ngModel)]="filter"
          (keyup)="applyFilter($event.target.value)"
        />
      </mat-form-field>
    </div>
  </div>

  <table
    class="f-table selectable flex-grow"
    mat-table
    matSort
    [dataSource]="tiiActionsSource"
    (matSortChange)="sortData($event)"
  >
    <ng-container matColumnDef="type" sticky>
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Action Type</th>
      <td *matCellDef="let action" mat-cell>
        {{ action.description }}
      </td>
    </ng-container>
    <ng-container matColumnDef="lastRun" sticky>
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Last Run</th>
      <td *matCellDef="let action" mat-cell>
        {{ action.lastRun ? (action.lastRun | date: 'd LLL y') : '' }}
      </td>
    </ng-container>
    <ng-container matColumnDef="retries" sticky>
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Retries</th>
      <td *matCellDef="let action" mat-cell>
        {{ action.retries }}
      </td>
    </ng-container>
    <ng-container matColumnDef="retry" sticky>
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Retry?</th>
      <td *matCellDef="let action" mat-cell>
        {{ action.retry }}
      </td>
    </ng-container>
    <ng-container matColumnDef="errorCode" sticky>
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Error Code</th>
      <td *matCellDef="let action" mat-cell>
        {{ action.errorCode }}
      </td>
    </ng-container>
    <ng-container matColumnDef="complete" sticky>
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Complete?</th>
      <td *matCellDef="let action" mat-cell>
        {{ action.complete }}
      </td>
    </ng-container>
    <ng-container matColumnDef="errorMessage" sticky>
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Error Message</th>
      <td *matCellDef="let action" mat-cell>
        {{ action.errorMessage }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tiiActionTools" sticky>
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let action" mat-cell>
        @if (!(action.complete || action.retry)) {
          <button aria-label="retry" color="primary" mat-icon-button (click)="retryAction(action)">
            <mat-icon>redo</mat-icon>
          </button>
        }
      </td>
    </ng-container>

    <!-- Action footer row -->
    <ng-container matColumnDef="actions">
      <td *matFooterCellDef mat-footer-cell [colSpan]="columns.length"></td>
    </ng-container>

    <tr *matHeaderRowDef="columns" mat-header-row></tr>
    <tr
      *matRowDef="let row; columns: columns"
      mat-row
      [style.background]="selectedTaskDefinition === row ? 'lightblue' : ''"
    ></tr>
  </table>
</div>
