<div class="btn-group task-definition-selector dropdown" dropdown>
  <button class="btn btn-{{buttonStyle}} dropdown-toggle col-sm-12" type="button" dropdown-toggle>
    <span ng-show="selectedDefinition">
      Task
      <label class="label label-info" ng-show="selectedDefinition" tooltip="{{selectedDefinition.name}}" tooltip-append-to-body="true">
        {{selectedDefinition.abbreviation}}
      </label>
    </span>
    <span ng-hide="selectedDefinition">Select Task</span>
    <div class="pull-right">
      <span class="caret"></span>
    </div>
  </button><!--/dropdown-button-->
  <ul class="dropdown-menu project-tasks-list">
    <div ng-repeat="(groupSetId, relatedTaskDefs) in unit.task_definitions | groupBy: 'group_set_id'" class="col-sm-12">
      <h5 class="group-set-name" ng-hide="hideGroupSetName">
        {{groupSetName(groupSetId)}}
      </h5>
      <li class="col-xs-4 col-sm-3" ng-repeat="taskDef in relatedTaskDefs | orderBy: 'seq'">
        <button type="button" class="col-xs-12 btn btn-default" ng-class="{'active' : taskDef == selectedDefinition}" ng-click="setSelectedDefinition(taskDef)" tooltip-popup-delay='200' tooltip-placement="bottom" tooltip="{{taskDef.name}}">
          {{taskDef.abbreviation}}
        </button>
      </li>
      <li class="col-xs-4 col-sm-3 pull-right" ng-if="showClear">
        <button type="button" class="col-xs-12 btn btn-warning" ng-click="setSelectedDefinition(null)" tooltip="Clear selection" tooltip-popup-delay='200' tooltip-placement="bottom">
          <i class="fa fa-times"></i>
        </button>
      </li>
    </div>
  </ul>
</div>
