.file-uploader {
  display: block;
  // Add some margin like a <p>
  margin: 2.5em 0;

  // Colors to make it easy to understand
  $hover-color:   $brand-primary;
  $accept-color:  $brand-success;
  $reject-color:  $brand-danger;

  // Extra additional icons
  $ban-icon:      $fa-var-ban;
  $download-icon: $fa-var-download;

  .upload-commit-actions {
    margin-top: 1em;
    .btn-upload {
      margin-right: 1.5ex;
    }
  }

  .well.drop {
    border: 2px #bbb dotted;
    font-size: larger;
    font-weight: bold;
    color: #aaa;
    text-align: center;
    &, i {
      @include transition(all 0.25s ease);
    }
    p small {
      display: block;
    }
    &:hover {
      cursor: pointer;
      border-color: $hover-color;
      color: $hover-color;
      p small {
        text-decoration: underline;
      }
    }
  }

  // Wells which have file over
  .well.drop.file-over {
    cursor: copy;
    border-color: $accept-color;
    color: $accept-color;
    // Switch the icon over
    p.fa::before {
      content: $download-icon;
    }
  }
  // Rejected file over
  .well.drop.file-rejected {
    border-color: $reject-color;
    color: $reject-color;
    // Switch the icon over
    p.fa::before {
      content: $ban-icon;
    }
  }

  // File header
  .selected-files {
    &:not(.list-group) {
      display: inline-block;
    }
    .selected-file {
      display: block;
      font-size: 1.2em;
      i.file-type {
        margin-right: 1ex;
        font-size: 1.2em;
      }
      &.highlight {
        animation: highlight-selected-file-animation;
        animation-duration: 0.75s;
        @keyframes highlight-selected-file-animation {
          0% { background: rgba(33, 150, 243, 0.4); }
          0% { box-shadow: 0 0 6px rgba(33, 150, 243, 1); }
          100% { box-shadow: 0 0 0px rgba(255, 255, 255, 0); }
        }
      }
    }
  }
  a.clear-upload {
    margin-left: 1ex;
    &:hover i {
      font-size: 1.15em;
      color: $reject-color;
    }
    display: inline-block;
  }
  // Upload area/result
  .upload-area {
    .progress-area {
      .progress {
        margin-bottom: 0;
      }
      .icons {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      i.fa-arrow-right {
        @include animation-wobble();
      }
      i {
        flex-basis: auto !important;
        margin-right: 1ex;
        font-size: 2em;
        margin-bottom: 0.5em;
      }
    }
    .result-area {
      .result-text {
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 34px;
      }
      i {
        font-size: 2em;
        @include animation-grow;
        margin-right: 1ex;
      }
      .retry-options {
        font-weight: bolder;
        font-size: 1.2em;
        a:first-child {
          display: inline-block;
          margin-right: 2ex;
        }
      }
    }
  }
}
