<mat-card>
  <mat-card-content>
    @if (!showUploader) {
      <button mat-raised-button color="primary" (click)="showUploader = true">
        <mat-icon>upload</mat-icon>
        Begin Upload
      </button>
    }

    <div class="flex gap-2">
      @if (showUploader && uploadingInfo === null && shownUploadZones.length) {
        <div class="w-full">
          @for (upload of shownUploadZones; track upload) {
            @if (!singleDropZone && showName) {
              <h5>
                {{ uploadZones.length === 1 ? '' : $index + 1 + ' - ' }}
                {{ upload.display.name }}
              </h5>
            }

            @if (singleDropZone && showName) {
              <h5>Select {{ upload.display.name }}</h5>
            }

            <file-upload
              [control]="fileUploadControl"
              [multiple]="false"
              [filesLimit]="1"
              [(ngModel)]="upload.model"
              [enable]="!upload.model || !upload.model.length"
              [accept]="upload.accept"
              class="min-h-[250px] w-full"
            >
              <ng-template let-file #placeholder>
                <div class="w-full flex flex-col justify-center items-center p-10">
                  @if (!upload.display.error) {
                    <mat-icon>{{ upload.display.icon }}</mat-icon>
                    @if (dropSupported) {
                      <p class="text-center">
                        Drop {{ upload.display.type }} file here <br /><small
                          >or click to select</small
                        >
                      </p>
                    } @else {
                      <p>Click to select {{ upload.display.type }} file</p>
                    }
                  } @else {
                    <div class="!text-red-500 !w-full flex flex-col justify-center items-center">
                      <mat-icon>block</mat-icon>
                      <p>Invalid file provided</p>
                      <small class="w-full"
                        >Accepted: {{ upload.accept.split(',').join(', ') }}</small
                      >
                    </div>
                  }
                </div>
              </ng-template>

              <ng-template let-control="control" #button> Browse for file </ng-template>
            </file-upload>

            @if (!singleDropZone && upload.model?.length > 0) {
              <div>
                <mat-icon>{{ upload.display.icon }}</mat-icon>
                {{ upload.model[0].name }}
                <button mat-icon-button (click)="clearEnqueuedUpload(upload)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            }
          }
        </div>
      }

      @if (showUploader && singleDropZone && uploadingInfo === null) {
        <div class="w-full">
          <h5>Upload Summary</h5>

          @for (upload of uploadZones; track upload) {
            <div class="flex justify-between items-center">
              <div class="flex items-center gap-2">
                <mat-icon>{{ upload.display.icon }}</mat-icon>
                <strong>{{ upload.display.name }}</strong>
              </div>

              @if (upload.model?.length > 0) {
                <em>{{ upload.model[0].name }}</em>
                <button mat-icon-button (click)="clearEnqueuedUpload(upload)">
                  <mat-icon>close</mat-icon>
                </button>
              } @else {
                <em>File Pending</em>
              }
            </div>
          }
        </div>
      }
    </div>

    @if (showUploader && !isUploading) {
      <div>
        @if (showUploadButton && readyToUpload() && uploadingInfo === null) {
          <button mat-raised-button color="primary" (click)="initiateUpload()">
            <mat-icon>upload</mat-icon>
            Start Upload
          </button>
        }

        @if (asButton) {
          <button mat-raised-button color="warn" (click)="resetUploader()">
            <mat-icon>close</mat-icon>
            Cancel Upload
          </button>
        }
      </div>
    }

    @if (showUploader && readyToUpload() && isUploading) {
      @if (!uploadingInfo?.complete) {
        <div class="uploading w-full">
          <div class="flex justify-center items-center gap-2">
            @for (upload of uploadZones; track upload) {
              <mat-icon>{{ upload.display.icon }}</mat-icon>
            }
            <mat-icon>arrow_right_alt</mat-icon>
            <i class="logo w-[100px] h-[100px]"></i>
          </div>

          <mat-progress-bar mode="determinate" [value]="uploadingInfo?.progress">
          </mat-progress-bar>
        </div>
      }

      @if (uploadingInfo?.complete) {
        <div>
          <mat-icon color="{{ uploadingInfo.success ? 'primary' : 'warn' }}">
            {{ uploadingInfo.success ? 'check_circle' : 'cancel' }}
          </mat-icon>

          <strong> File Upload {{ uploadingInfo.success ? 'Successful' : 'Failed' }} </strong>

          @if (!uploadingInfo.success) {
            <hr />
            <p><strong>Error Message:</strong> {{ uploadingInfo.error }}</p>

            <button mat-raised-button (click)="initiateUpload()">Retry Upload</button>
            <button mat-raised-button (click)="onClickFailureCancel()">Cancel</button>
          }
        </div>
      }
    }
  </mat-card-content>
</mat-card>
