@if (project && unit) {
  <div class="mx-auto flex w-full max-w-screen-xl flex-col gap-3">
    <div>
      <h2>Tutorials</h2>
      <p class="max-w-5xl">
        View available tutorials and manage your enrolment. Note that availability is subject to
        capacity. If you are unable to enrol in a tutorial, please contact your unit coordinator.
      </p>
    </div>
    <table
      mat-table
      matSort
      matSortActive="stream"
      matSortDirection="asc"
      matSortDisableClear
      [dataSource]="dataSource"
      (matSortChange)="sortTableData($event)"
    >
      <ng-container matColumnDef="stream" sticky>
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Stream</th>
        <td *matCellDef="let tutorial" mat-cell>
          @if (unit.tutorialStreamsCache.size > 0) {
            <div>{{ tutorial.tutorialStream?.name || 'All' }}</div>
          } @else {
            <div>N/A</div>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="campus" sticky>
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Campus</th>
        <td *matCellDef="let tutorial" mat-cell>
          {{ tutorial.campus?.name || 'All' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="code" sticky>
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Code</th>
        <td *matCellDef="let tutorial" mat-cell>
          {{ tutorial.abbreviation }}
        </td>
      </ng-container>

      <ng-container matColumnDef="day" sticky>
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Day</th>
        <td *matCellDef="let tutorial" mat-cell>
          {{ tutorial.meetingDay }}
        </td>
      </ng-container>

      <ng-container matColumnDef="time" sticky>
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Time</th>
        <td *matCellDef="let tutorial" mat-cell>
          {{ shortTime(tutorial.meetingTime) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="room" sticky>
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Room</th>
        <td *matCellDef="let tutorial" mat-cell>
          {{ tutorial.meetingLocation }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tutor" sticky>
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Tutor</th>
        <td *matCellDef="let tutorial" mat-cell>
          {{ tutorial.tutorName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions" sticky>
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Actions</th>
        <td *matCellDef="let tutorial" mat-cell>
          @if (project.isEnrolledIn(tutorial)) {
            @if (unit.allowStudentChangeTutorial) {
              <button mat-raised-button (click)="project.switchToTutorial(tutorial)">
                Withdraw
              </button>
            } @else {
              <div
                class="text-green-600"
                matTooltip="You can not manually change tutorials for this unit"
                matTooltipPosition="above"
                matTooltipShowDelay="1000"
              >
                Enrolled
              </div>
            }
          } @else if (unit.allowStudentChangeTutorial) {
            <button
              color="primary"
              mat-raised-button
              [disabled]="!tutorial.hasCapacity()"
              (click)="project.switchToTutorial(tutorial)"
            >
              Enrol
            </button>
          } @else {
            <div></div>
            <!-- <div>N/A</div> -->
          }
        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>
  </div>
}
