#tutorials-state table {
  th.stream    { width: 10%; }
  th.campus    { width: 20%; }
  th.code    { width: 10%; }
  th.day     { width: 10%; }
  th.time    { width: 10%; }
  th.room    { width: 10%; }
  th.tutor   { width: 15%; }
  th.actions { width: 15%; }
}
