<div class="w-full h-full overflow-auto">
  <ng-container [ngSwitch]="taskDef">
    <ng-template [ngSwitchCase]="taskDef">
      <ng-container *ngIf="taskDef; then pdfViewer; else noPdfUrl"></ng-container>
    </ng-template>
  </ng-container>

  <!-- The PDF Viewer -->
  <ng-template #pdfViewer>
    <f-pdf-viewer [pdfUrl]="taskDef.getTaskPDFUrl()"></f-pdf-viewer>
  </ng-template>

  <!-- Render if no PDF URL is available for the current view -->
  <ng-template #noPdfUrl>
    <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
      <mat-icon>subtitles_off</mat-icon>
    </div>
  </ng-template>
</div>
