.task-viewer .task-viewer-toolbar {
  display: flex;
  padding-bottom: 1em;
  &:last-child {
    border-bottom: 1px dashed #ddd;
    margin-bottom: 1.5em;
  }
}

.task-viewer .task-header-info {
  display: flex;
  .task-header-summary {
    display: flex;
    align-items: center;
    float: left;
    h3 {
      margin: 0;
    }
    .task-header-grade-icon {
      float: left;
      margin-right: 1.75ex;
    }
  }
  .task-date-info {
    display: flex;
    justify-content: flex-end;
    .label {
      @include no-select;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      font-weight: normal;
      text-align: center;
      font-size: 1em;
      label {
        margin: 0 1ex 0.25em 0;
        display: block;
      }
      &:not(:last-child) {
        margin-right: 1ex;
      }
      i {
        display: inline-block;
        font-size: 2em;
        float: left;
        margin-right: 0.4ex;
      }
      &.overdue {
        text-transform: uppercase;
      }
    }
  }
}

.task-viewer .task-viewer-tab-panel > .panel-body {
  height: $task-viewer-tab-content-height;
  overflow: scroll;
  .help-block {
    // help block is a large notice block
    @include large-notice-block;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}

.task-viewer {
  .active-task-selector, .active-task-status-selector {
    @include dropdown-selector;
    height: 43px;
  }
}

.task-viewer-tabs {
  li {
    text-align:center;
    width:100%;
  }
}
