@import (reference) "../../../less/main.less";

// Tab contents height is set here
// 50vh == 50% of Vertical Height of display
@task-viewer-tab-content-height: 60vh;

.task-viewer .task-viewer-toolbar {
  border-bottom: 1px dashed #ddd;
  margin-bottom: 2em;
}

.task-viewer .task-header-info {
  margin-bottom: 1em;
  .task-status-summary {
    float: left;
    h3 {
      margin: 0;
    }
    .graded-task-mark {
      font-weight: bold;
      .grade-icon {
        display: inline-block;
        text-align: center;
        line-height: 2.25em;
        margin: 0 0.5ex;
      }
    }
  }
  .overdue.label {
    i {
      display: inline-block;
      font-size: 2em;
      float: left;
      margin-right: 0.25ex;
    }
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
  }
  .date-info {
    text-align: right;
    .due-date {
      margin: 0;
    }
  }
}

.task-viewer .task-viewer-tab-panel .panel-body {
  height: @task-viewer-tab-content-height;
  overflow: scroll;
  .help-block {
    // help block is a large notice block
    .large-notice-block;
    .flex-center();
    margin: 0;
    color: #333;
    width: 100%;
    text-align: center;
    font-size: 2.1em;
    font-weight: lighter;
    i {
      margin: 0.5em 0.5ex;
    }
  }
}

.task-viewer {
  .active-task-selector, .active-task-status-selector {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    // first button
    & > button {
      height: 100%;
      width: 100%;
      label, i {
        text-align: center;
      }
      label {
        font-size: 1.5em;
        margin: 0px;
      }
      label.label.label-info {
        font-size: 1em;
        margin-left: 0.5ex;
        cursor: pointer;
      }
      // not a split button group
      span.caret {
        margin-left: 1ex;
      }
    }
    // open button
    &.open > button {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    // menu underneath
    .dropdown-menu {
      margin-top: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }
}
