user-settings-dialog {
    .mat-dialog-content {
        padding: 0 5rem 0 5rem;
    }
    
    mat-divider {
        margin: 1rem 0 1rem 0;
    }
    mat-radio-group {
        mat-radio-button {
            padding-right: 1rem;
        }
    }
    user-icon {
        padding-right: 2rem;
    }
    
    .row {
        margin: 0.75rem 0 0.75rem 0;
    }

    .mat-dialog-actions {
        padding-bottom: 3rem;
    }
}