<section class="welcome" fxFlex fxLayout="row">
  <!-- angular layout two columns -->
  <f-hero-sidebar fxHide.lt-md fxFlexAlign="start"></f-hero-sidebar>
  <section class="content" fxFlex.gt-sm [ngClass.gt-sm]="'large'" fxLayout.gt-sm="column">
    <section class="welcome-form-host" fxFlex.gt-sm>
      <div fxLayout.gt-md="column" fxLayoutAlign.gt-sm="center center" class="container">
        <div style="overflow-y: auto; height: auto; padding-top: 42px">
          <div class="wordmark" fxLayout="row" fxLayoutAlign="start center" fxHide.gt-sm fxFlexAlign="start">
            <img src="../../../assets/images/logo-bw.svg" width="40px" alt="Homepage Logo" style="padding-right: 6px" />
            <p style="color: black">{{ externalName.value }}</p>
          </div>
          <h1 style="margin-bottom: 30px; color: black" fxFlexAlign="start">Welcome to {{ externalName.value }}</h1>
          <f-edit-profile></f-edit-profile>
        </div>
      </div>
    </section>
  </section>
</section>
