:host {
  height: 100vh;
}

.content {
  width: 100%;
}

.content.large {
  overflow: auto;
}

.welcome-form-host {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  display: flex;
  padding: 0 20px;
}

h1 {
  font-family: 'Grotesk';
  font-size: 32px;
}

.wordmark {
  p {
    margin: 0;
    padding: 0;
    font-family: 'Grotesk';
    font-size: 1.5em;
    color: #fff;
  }
}

.container {
  max-width: 416px;
  width: 100%;
  margin: auto;
}

.welcome {
  width: 100%;
}
