<section class="welcome flex flex-row sm:h-screen">
  <f-hero-sidebar class="sidebar self-start flex-col h-full"></f-hero-sidebar>
  <section class="content flex flex-col sm:h-screen">
    <div class="container">
      <div class="subcontainer">
        <div class="wordmark flex-row place-content-start">
          <img src="../../../assets/images/logo-bw.svg" width="40px" alt="Homepage Logo" />
          <p>{{ externalName.value }}</p>
        </div>
        <h1 class="welcome-heading flex flex-row place-content-start">
          Welcome to {{ externalName.value }}
        </h1>
        <f-edit-profile-form mode="create"></f-edit-profile-form>
      </div>
    </div>
  </section>
</section>
