<div class="portfolio-add-extra-files-step">
  <div class="add-some-more-files">
    <h3>Add some more files</h3>
    <p>
      Now is your chance to upload extra files to include in your portfolio.
    </p>
    <p>
      These files will be added at to your portfolio before your selected tasks from the previous step.
    </p>
    <hr>
    <div class="more-files" ng-show="extraFiles().length == 0">
      <h3>No files to add?</h3>
      <p>If you do not have any files to add you can skip this step.</p>
    </div>
    <div class="more-files" ng-show="extraFiles().length > 0">
      <h3>Extra file{{extraFiles().length > 1 ? 's' : ''}} added</h3>
      <p>{{extraFiles().length > 1 ? 'The files you add will appear in the portfolio in the order shown below.' : ''}} If you want to delete a file, click the cross beside the file's name.</p>
      <ol>
        <li ng-repeat="file in extraFiles()">
          <i class="fa fa-file-{{file.kind}}-o"></i> {{file.name}}
          <a class="clear-upload text-muted" ng-click="deleteFileFromPortfolio(file)">
            <i class="fa fa-times"></i>
          </a>
        </li>
      </ol>
    </div>
  </div><!--/add-some-more-files-->
  <hr>
  <div class="extra-files-uploader text-center">
    <div class="form-group clearfix" ng-hide="isUploading">
      <label class="col-sm-3 text-right">Select type of file:</label>
      <div class="col-sm-7">
        <select ng-model="uploadType" class="form-control input-lg">
          <option value="document">
            <i class="fa fa-file-pdf-o"></i> Document File</option>
          <option value="code">Code File</option>
          <option value="image">Image File</option>
        </select>
      </div>
    </div>
    <file-uploader
      show-name="false"
      files="uploadFileData.type"
      payload="uploadFileData.payload"
      is-uploading="isUploading"
      url="portfolioSubmission.portfolioUrl"
      on-success="addNewFilesToPortfolio"></file-uploader>
  </div><!--/extra-files-uploader-->
</div><!--/content-->
<div class="panel-footer clearfix">
  <button class="btn btn-primary pull-left" ng-click="advanceActivePortfolioTab(-1)"><i class="fa fa-arrow-left"></i> Back</button>
  <button class="btn btn-primary pull-right" ng-click="advanceActivePortfolioTab(1)">Next <i class="fa fa-arrow-right"></i></button>
</div>
