<div>
  <div class="card-container">
    <mat-card-header>
      <div class="heading-container">
        <div class="icon-container">
          <i class="fa fa-question-circle fa-4x pull-left"></i>
        </div>
        <div class="title-container">
          <mat-card-title>{{ title }}</mat-card-title>
          <mat-card-subtitle>Please confirm that you want to perform this action</mat-card-subtitle>
        </div>
      </div>
    </mat-card-header>
  </div>
  <mat-divider></mat-divider>
  <div class="message-container">
    <mat-card-content>
      <div>
        {{ message }}
      </div>
    </mat-card-content>
  </div>
  <mat-divider></mat-divider>
  <div class="label">
    <mat-card-actions class="label-container">
      <label class="btn btn-success" (click)="confirmAction()"> <i class="fa fa-check"></i> Confirm </label>
      <label class="btn btn-danger" (click)="cancelAction()"> <i class="fa fa-times"></i> Cancel </label>
    </mat-card-actions>
  </div>
</div>
