<div class="confirmation-modal">
  <h3 mat-dialog-title>
    <div class="flex flex-row items-center">
      <mat-icon class="pull-left mr-1">help</mat-icon>
      <div class="flex flex-col">
        <div>{{ title }}</div>
        <small>Please confirm that you want to perform this action.</small>
      </div>
    </div>
  </h3>
  <mat-dialog-content>
    {{ message }}
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="confirmAction()">
      <mat-icon inline>check</mat-icon> {{ confirmText }}
    </button>
    <button mat-button color="warn" (click)="cancelAction()">{{ cancelText }}</button>
  </mat-dialog-actions>
</div>
