.upload-submission-modal {
  select.submission-type {
    width: auto !important;
    display: inline-block;
    margin-left: 0.6ex;
    font-size: 22px;
  }
  .modal-body {
    min-height: 500px;
    overflow: hidden;
  }
  .state {
    position: absolute;
    top: $panel-body-padding;
    bottom: $panel-body-padding;
    left: $panel-body-padding;
    right: $panel-body-padding;
    transition: 0.25s ease-in left, 0.25s ease-in right;
    &.state-hidden-left {
      left: -999px;
      right: 999px;
    }
    &.state-hidden-right {
      left: 999px;
      right: 999px;
    }
  }
}
