<div class="upload-submission-modal">
  <div class="modal-header">
    <h3>Submit
      <strong>{{task.definition.abbreviation}}</strong> as
      <select
        class="form-control input-lg submission-type"
        ng-change="submissionTypeChanged()"
        ng-model="submissionType"
        ng-options="type.id as type.label for type in submissionTypes">
      </select>
    </h3>
  </div><!--/modal-header-->
  <div class="modal-body">
    <div
      class="state state-group"
      ng-class="{'state-hidden-left': isHidden('group').left,
                 'state-hidden-right': isHidden('group').right}">
      </header>
        <h4>
          Team Contribution
        </h4>
        <p>
          Please rate each team member's effort on working on {{task.definition.name}}
          by clicking on a <i class="fa fa-child"></i> icon that represents their
          assigned effort.
        </p>
        <p class="text-muted">
          To mark a team member as contributing <strong> no effort </strong> click
          on a <i class="fa fa-child"></i> icon twice.
        </p>
      </header><!--/state-header-->
      <group-member-contribution-assigner
        task="task"
        class="well"
        project="task.project()"
        team="team">
      </group-member-contribution-assigner><!--/group-member-contribution-->
    </div><!--/state-group-->
    <div
      class="state state-files"
      ng-class="{'state-hidden-left': isHidden('files').left,
                 'state-hidden-right': isHidden('files').right}">
      <file-uploader
        files="uploader.files"
        url="uploader.url"
        payload="uploader.payload"
        single-drop-zone="true"
        show-upload-button="false"
        is-ready="uploader.isReady"
        initiate-upload="uploader.initiateUpload"
        on-before-upload="uploader.onBeforeUpload"
        is-uploading="uploader.isUploading"
        on-success="uploader.onSuccess"
        on-complete="uploader.onComplete"></file-uploader>
    </div><!--/state-files-->
    <div
      class="state state-alignment"
      ng-class="{'state-hidden-left': isHidden('alignment').left,
                 'state-hidden-right': isHidden('alignment').right}">
      <header>
        <h4>
          Learning Outcome Alignment
        </h4>
        <p>
          Please rate the relevancy of this task to the specific learning outcome.
          You <strong>must</strong> relate this task to at least one outcome.
        </p>
        <p class="text-muted">
          If you think the task is not related to a specific outcome, click the
          circle twice to remove its relevancy.
        </p>
      </header><!--/state-header-->
      <div class="well">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Outcome</th>
              <th>Relevancy</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ilo in task.unit().ilos | orderBy: 'ilo_number'">
              <td>
                <a ng-click="ilo.collapsed = !ilo.collapsed">
                  <strong>{{ilo.abbreviation}}</strong>
                  {{ilo.name}}
                </a>
                <div class="panel panel-default" collapse="!ilo.collapsed">
                  <div class="panel-body">
                    <div class="markdown-to-html" ng-bind-html="ilo.description | markdown"></div>
                  </div>
                </div>
              </td>
              <td>
                <task-ilo-alignment-rater
                  readonly="false"
                  unit="task.unit()"
                  show-zero-rating="true"
                  ng-model="alignments[ilo.id]">
                </task-ilo-alignment-rater><!--/alignment-rater-->
              </td>
          </tbody>
        </table>
      </div>
    </div><!--/state-alignment-->
    <div
      class="state state-comments"
      ng-class="{'state-hidden-left': isHidden('comments').left,
                 'state-hidden-right': isHidden('comments').right}">
      comments
    </div><!--/state-comments-->
  </div><!--/modal-body-->
  <div class="modal-footer">
    <button
      class="btn btn-danger pull-left"
      ng-click="$dismiss()"
      ng-disabled="shouldDisableBtn.cancel()"
      ng-show="shouldShowBtn.cancel()">
      <i class="fa fa-times"></i> Cancel Submission
    </button><!--/cancel-button-->
    <button
      class="btn btn-default"
      ng-click="goToState.previous()"
      ng-disabled="shouldDisableBtn.back()"
      ng-show="shouldShowBtn.back()">
      <i class="fa fa-arrow-left"></i> Back
    </button><!--/back-button-->
    <button
      class="btn btn-default"
      ng-click="goToState.next()"
      ng-disabled="shouldDisableBtn.next()"
      ng-show="shouldShowBtn.next()">
      Next <i class="fa fa-arrow-right"></i>
    </button><!--/next-button-->
    <button
      class="btn btn-success"
      ng-click="$close()"
      ng-disabled="shouldDisableBtn.submit()"
      ng-show="shouldShowBtn.submit()">
      <i class="fa fa-upload"></i> Upload Submission
    </button><!--/upload-button-->
  </div><!--/modal-footer-->
</div>
