.upload-submission-modal {
  .modal-header {
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  select.submission-type {
    width: auto !important;
    display: inline-block;
    margin-left: 0.6ex;
    font-size: 20px;
  }
  .modal-body {
    min-height: 420px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .state {
    position: absolute;
    left: $panel-body-padding;
    right: $panel-body-padding;
    opacity: 1;
    transition: 0.25s ease-in-out left, 0.25s ease-in-out right, 0.25s linear opacity;
    &.state-hidden-left {
      left: -100%;
      right: 100%;
      opacity: 0;
    }
    &.state-hidden-right {
      left: 100%;
      right: -100%;
      opacity: 0;
    }
  }
  .state.state-files {
    .file-uploader {
      margin: 0;
      .well {
        padding: 10px;
      }
      .error-message-area {
        font-size: $font-size-base;
      }
    }
    &.state-files-uploading {
      top: 40%;
      width: 50%;
      margin: 0 auto;
      font-size: 2em;
    }
    .card-body {
      padding: 8px;
    }
    .card-heading {
      padding: 8px  ;
    }
  }
  .state.state-alignment {
    table th {
      width: 50%;
    }
    table td {
      border-top-style: none;
    }
    table td .panel {
      margin-top: 1em;
    }
    .task-ilo-alignment-rater {
      height: 55px;
    }
  }
}
