<div class="pdf-viewer-panel">
  <div class="pdf-viewer-body">
    <f-pdf-viewer [pdfUrl]="pdfUrl"></f-pdf-viewer>
    <!-- <pdf-viewer *ngIf="pdfUrl" [pdfUrl]="pdfUrl"></pdf-viewer> -->
  </div>
  <!--/panel-body-->
  @if (!hideFooter) {
  <div class="pdf-viewer-footer">
    <div class="pull-left text-muted" [hidden]="!footerText"><strong>Note:</strong> {{ footerText }}</div>
    <div class="pull-right btn-group">
      @if (resourcesUrl) {
      <a (click)="downloadResources()" class="btn btn-primary">
        <i class="fa fa-download"></i><span> Resources</span>
      </a>
      }
      <button (click)="downloadPdf()" class="btn btn-success">
        <i class="fa fa-download"></i><span [hidden]="!resourcesUrl"> PDF</span>
      </button>
    </div>
  </div>
  }
  <!--/panel-footer-->
</div>
