task-submission-assessor {
  .panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .panel-body {
      flex: 1;
      align-content: center;
      &.has-pdf {
        padding: 0;
        position: relative;
      }
      &.no-pdf {
        @include flex-center;
        font-size: 2rem;
        i {
          font-size: 8rem;
          width: 100%;
          text-align: center;
          margin-bottom: 15px;
        }
      }
    }
  }
}
