<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title" ng-hide="task">
      No Task Selected
    </div>
    <div class="panel-title" ng-show="task">
      {{task.definition.name}} by {{task.project().name}}
    </div>
  </div>
  <div class="panel-body text-muted no-pdf" ng-hide="hasPdf">
    <i class="fa fa-file-pdf-o"></i>
    <span ng-show="showLoading">
      Loading Task Details...
    </span>
    <span ng-show="task">
      PDF Still Processing
    </span>
    <span ng-hide="task">
      No Task Selected
    </span>
  </div>
  <div class="panel-body has-pdf" ng-show="hasPdf">
    <pdf-viewer pdf-url="taskPdfUrl"></pdf-viewer>
  </div>
  <div class="panel-footer" ng-if="task">
    <div class="hidden-md hidden-lg hidden-xl">
      <select
        ng-change="triggerTransition(status)"
        ng-model="task.status"
        class="form-control input-lg">
        <option ng-repeat="status in taskStatusData.keys" value="{{taskStatusData.keys[$index]}}">
          {{taskStatusData.labels[status]}}
        </option>
      </select>
    </div>
    <div class="btn-group task-status hidden-sm hidden-xs">
      <label
        ng-repeat="status in taskStatusData.keys"
        ng-model="task.status"
        ng-change="triggerTransition(status)"
        class="btn btn-default {{taskStatusData.class(status)}}"
        tooltip-html-unsafe="<h5>Mark as <strong>{{taskStatusData.labels[status]}}</strong></h5><hr><p>{{taskStatusData.help[status].reason}}</p>"
        tooltip-append-to-body="true"
        btn-radio="'{{status}}'">
        <i class="fa {{taskStatusData.icons[status]}}"></i>
      </label>
    </div>
  </div>
</div>
