@use '@angular/material' as mat;

@import '../../../../../../../theme.scss';

$my-palette: mat.define-palette($md-formatif);

.title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 15px;
}
