.mat-icon {
  color: #9696969d;
  font-size: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  margin-left: 0.3em
}

.mat-icon:hover {
  color: black;
}

#overflowContainer {
  line-height: 1.4em;
}
