
<div>
	<form class="form-horizontal" ng-submit="saveILO()" role="form">
  	<div class="modal-header">
  		<h3>{{isNew ? "Create ILO" : "Edit ILO: " + ilo.ilo_number}}</h3>
  	</div>
  	<div class="modal-body">
      <div class="form-group" required>
        <label class="col-sm-3 control-label">Name</label>
        <input type="text" class="form-control col-sm-7"
        ng-model="ilo.name"/>
      </div>
  	  <div class="form-group" required>
  	    <label class="col-sm-3 control-label">Abbreviation</label>
        <input type="text" class="form-control col-sm-7"
        ng-model="ilo.abbreviation"/>
  	  </div>
      <div class="form-group" required>
        <label class="col-sm-3 control-label">Description</label>
        <markdown-editor class="col-sm-7" height="200" placeholder="Enter markdown description..." ng-model="ilo.description"></markdown-editor>
      </div>
  	</div>
		<div class="modal-footer text-right">
			<input type="submit" class="btn btn-primary" value="{{isNew ? 'Create' : 'Update'}}" />
		</div>
	</form>
</div>
