<div class="outcome-alignment-rating" ng-class="{colorful: colorful}">
  <rating ng-hide="compact" on-leave="setHoverValue(null)" on-hover="setHoverValue(value)" titles="null" ng-model="ngModel.rating" max="max" state-on="'fa fa-2x fa-circle'" state-off="'fa fa-2x fa-circle-o'" tooltip="{{tooltips[hoveringOver-1]}}" tooltip-placement="right" tooltip-class="tooltip-rating-{{hoveringOver}}" tooltip-append-to-body="true" tooltip-popup-delay="200" tooltip-enable="showTooltips" readonly="readonly" class="rating-area"></rating>
  <div ng-show="selectedTooltip && !showTooltips && !compact" class="text-center rating-static-tooltip">
    <span class="rating-{{hoveringOver || ngModel.rating}} badge">{{tooltips[(hoveringOver || ngModel.rating) - 1]}}</span>
  </div>
  <div ng-show="compact && readonly" class="compact-rating rating-{{ngModel.rating}}" tooltip="{{tooltips[ngModel.rating - 1]}}" tooltip-class="tooltip-rating-{{ngModel.rating}}" tooltip-append-to-body="true">
    {{ngModel.rating}}
  </div>
</div>
