<div>
  <div class="col-sm-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">Mark Portfolios</h4>
        Assess student portfolios.
      </div>
      <div class="panel-body text-center">
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Download Portfolios</h4>
        Download all submitted portfolios for grading.
      </div>
      <div class="panel-body text-center">
        <div class="callout callout-warning text-left" style="margin-top: 10px">
          Downloading all submitted portfolios may take several minutes.
        </div>
        <a class="btn btn-primary btn-download" href="{{portfolioDownloadUrl}}" target="_blank" style="margin-bottom: 60px">
          <i class="fa fa-download"></i> Download
        </a>
      </div>
    </div>
  </div>
</div>