<div>
  <div class="col-sm-9">
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <div class="pull-left">
          <h4 class="panel-title">Mark Portfolios</h4>
          Assess student portfolios.
        </div>
        <div class="pull-right">
          <button class="btn btn-default" style="margin-left: 1ex;" ng-model="fullscreen" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
            <i class="fa" ng-class="{'fa-expand' : !fullscreen, 'fa-compress': fullscreen}"></i>
          </button>
        </div>
        <div class="btn-group pull-right" style="margin-left: 1ex">
          <label class="btn btn-default" ng-model="studentFilter" btn-radio="'allStudents'">
            <i class="fa fa-university" tooltip-placement="{{ fullscreen ? 'bottom' : 'top' }}" tooltip="Show all students"></i>
          </label>
          <label class="btn btn-default" ng-model="studentFilter" btn-radio="'myStudents'">
            <i class="fa fa-pencil" tooltip-placement="{{ fullscreen ? 'bottom' : 'top' }}" tooltip="Show only my students"></i>
          </label>
        </div>
        <form role="search" class="col-sm-4 form-horizontal pull-right">
          <input id="searchbar" class="input-md form-control" placeholder="Search..." type="search" ng-model="search" typeahead="text for text in unitService.unitTypeAheadData(unit) | filter:$viewValue | limitTo:8" typeahead-wait-ms="200" autofocus />
          <p ng-show="filteredStudents.length < allStudents.length && filteredStudents.length != 0">Showing {{filteredStudents.length}} of {{unit.students.length}} students enrolled.</p>
        </form>
        <p class="btn-group pull-right">
          <label ng-repeat="grade in grades" ng-click="chooseGrade($index)" class="btn btn-default col-sm-3 text-center" ng-model="filterOptions.selectedGrade" btn-radio="{{$index}}">
            <grade-icon grade="grade" tooltip="Select to show student's aiming for {{grade}}" tooltip-append-to-body="true" class="text-{{$index == filterOptions.selectedGrade ? 'primary' : 'muted'}}"></grade-icon>
          </label>
        </p>
      </div>
      <div class="panel-body student-list">
        <div class="help-block text-center" style="margin: 5em 0;" ng-show="filteredStudents.length == 0">No students found.</div>
        <table ng-hide="filteredStudents.length == 0" class="table table-condensed table-hover table-pointer ">
          <thead>
            <tr>
              <th class="student-id">
                <a ng-click="sortOrder='student_id'; reverse=!reverse">
                  Student ID <i ng-show="sortOrder=='student_id'" class="fa fa-caret-{{reverse ? 'down' : 'up'}}"></i>
                </a>
              </th>
              <th class="name">
                <a ng-click="sortOrder='name'; reverse=!reverse">
                  Name <i ng-show="sortOrder=='name'" class="fa fa-caret-{{reverse ? 'down' : 'up'}}"></i>
                </a>
              </th>
              <th>Tutor</th>
              <th class="tutorial">
                <a ng-click="sortOrder='tutorial.abbreviation'; reverse=!reverse">
                  <i ng-show="sortOrder=='tutorial.abbreviation'" class="fa fa-caret-{{reverse ? 'down' : 'up'}}"></i> Tutorial
                </a>
              </th>
              <th>
                Target Grade
              </th>
              <th>Stats</th>
              <th>Grade</th>
            </tr>
          </thead>
          <tbody>
            <tr class="task-progress-row" ng-repeat="student in filteredStudents = (allStudents = (unit.students | showStudents:studentFilter:tutorName | studentsWithPortfolio | studentsWithTargetGrade:filterOptions.selectedGrade) | filter:search) | orderBy:sortOrder:reverse | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize" ng-class="{'info': selectedStudent == student}" ng-click="selectStudent(student)">
              <td>{{student.student_id}}</td>
              <td>{{student.name}}</td>
              <td>{{student.tutorial ? student.tutorial.tutor_name : 'None'}}</td>
              <td>{{student.tutorial ? student.tutorial.abbreviation : 'None'}}</td>
              <td class="flags-data">
                <grade-icon grade="student.target_grade"></grade-icon>
              </td>
              <td class="task-progress-bar">
                <progress class="task-progress" animate="true">
                  <bar ng-repeat="bar in student.task_stats | filter:barLargerZero track by $index" value="bar.value" type="{{bar.type}}" tooltip="{{bar.value}}% {{statusName(bar.type)}}">
                    <span ng-hide="bar.value < 10">{{bar.value}}%</span>
                  </bar>
                </progress>
              </td>
              <td>{{student.grade}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-default" ng-hide="selectedStudent">
      <div class="panel-heading clearfix">
        <div class="pull-left">
          <h4 class="panel-title" ng-hide="selectedStudent">Portfolio Details</h4>
          Review portfolio and assign grade.
        </div>
      </div>
      <div class="panel-body large-notice-block" ng-hide="selectedStudent">
        <i class="fa fa-book fa-2x"></i>
        <p>Select Student to view portfolio and assign grade.</p>
      </div>
    </div>
    <div ng-if="selectedStudent">
      <div class="panel panel-info">
        <div class="panel-heading clearfix">
          <div class="pull-left">
            <h3 class="panel-title">Review Progress of {{selectedStudent.name}}</h3><!--/title-->
            Review the students progress through the unit's tasks.
          </div>
        </div>
        <div class="panel-body">
          <progress-info ng-if="project"></progress-info>
        </div>
      </div>

      <div class="panel panel-info" ng-if="selectedStudent1">
        <div class="panel-heading clearfix">
          <div class="pull-left">
            <h3 class="panel-title">Review Portfolio of {{selectedStudent.name}}</h3><!--/title-->
            View or download portfolio for assessment.
          </div>
        </div>
        <pdf-panel-viewer
          ng-show="project.portfolio_available"
          pdf-url="project.portfolioUrl()">
        </pdf-panel-viewer>
      </div>

      <div class="panel panel-success" ng-if="selectedStudent">
        <div class="panel-heading clearfix">
          <div class="pull-left">
            <h4 class="panel-title">Grade for {{selectedStudent.name}}</h4>
            Assign Grade for this work.
          </div>
        </div>
        <div class="panel-body alignment-rater">
          <div class="col-sm-12 rationale-wrapper">
            <div tooltip="Click to edit rationale" tooltip-placement="left" tooltip-append-to-body="false" tooltip-popup-delay="300" tooltip-enable="project.grade_rationale != null" ng-click="toggleEditRationale()" class="rationale" ng-class="{'no-rationale': project.grade_rationale == null}" ng-hide="editingRationale">
              <label class="text-muted" ng-show="project.grade_rationale != null">
                Provided Rationale
              </label>
              <div ng-bind-html="(project.grade_rationale || 'No rationale provided') | markdown"></div>
              <div class="small" ng-hide="project.grade_rationale">Click to add one</div>
            </div>
            <div ng-if="editingRationale" class="clearfix">
              <markdown-editor
                height="200"
                ng-model="project.grade_rationale"
                placeholder="Edit rationale..."
                autofocus="true">
              </markdown-editor>
              <a ng-click="toggleEditRationale(alignment)" class="pull-right">Done Editing</a>
            </div>
          </div>

          <div ng-repeat="results in gradeResults">
            <h5 class="col-sm-2">{{results.name}}</h5>
            <p class="btn-group col-sm-10">
              <label ng-repeat="resultScore in results.scores" ng-click="project.assignGrade(resultScore, project.grade_rationale)" class="btn col-sm-2 text-center {{project.grade == resultScore ? 'btn-primary' : 'btn-default'}}">
                {{resultScore}}
              </label>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Download Portfolios</h4>
        Download all submitted portfolios for grading.
      </div>
      <div class="panel-body text-center">
        <div class="callout callout-warning text-left" style="margin-top: 10px">
          Downloading all submitted portfolios may take several minutes.
        </div>
        <a class="btn btn-primary btn-download" href="{{portfolioDownloadUrl}}" target="_blank" style="margin-bottom: 60px">
          <i class="fa fa-download"></i> Download
        </a>
      </div>
    </div>
  </div>
</div>