<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="convenors">Add Staff</label>
    <div class="col-md-10 input-group">
      <input class="form-control" id="convenors" placeholder="Name" ng-model="selectedStaff" typeahead="staff as
      staff.full_name for staff in staff | filter: $viewValue | filter: filterStaff"> 
      
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="addSelectedStaff()">
          <i class="glyphicon glyphicon-plus"></i>
        </button>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="currentConvenors" >Current Staff</label>
    <ul class="col-md-10 input-group" ng-show="unit.staff.length > 0">
      <li class="list-group-item" ng-repeat="staff in unit.staff">
        
        <span class="badge btn btn-default" ng-click="removeStaff(staff)">
            <i class="glyphicon glyphicon-remove"></i>
        </span>
        
        <strong>{{staff.name}}</strong>
        <br/>
      
        <label name="staffRole" class="radio-inline" for="radio-tutor-{{staff.id}}">
          <input type="radio" id="radio-tutor-{{staff.id}}" value="Tutor" ng-model="staff.role" ng-click="changeRole(staff,2)"/>Tutor
        </label>
        
        <label name="staffRole" class="radio-inline" for="radio-convenor-{{staff.id}}">
          <input type="radio" id="radio-convenor-{{staff.id}}" value="Convenor" ng-model="staff.role" ng-click="changeRole(staff,3)" />Convenor      
        </label>
      
      </li>
    </ul>
  </div>
</form>

