<div>
  <div class="form-group">
    <label for="convenors">Add Staff:</label>
    <div class="input-group">
      <input class="form-control" id="convenors" placeholder="Staff
      name" ng-model="selectedStaff" typeahead="staff as
      staff.full_name for staff in availableStaff | filter: $viewValue "> 
      <span class="input-group-btn">
        <button class="btn btn-default"
          ng-click="addSelectedStaff()">
          <i class="glyphicon glyphicon-plus text-success"></i>
        </button>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="currentConvenors" >Current Staff: </label>
    <ul class="list-group" ng-show="unit.staff.length > 0">
      <li class="list-group-item" ng-repeat="staff in unit.staff">
      <a ng-click="removeStaff(staff)"> 
        <span class="col-md-4">
          {{staff.user_name}} 
          <i class="glyphicon glyphicon-remove text-danger"></i>
        </span>
      </a>
      <label name="staffRole" class="radio-inline" for="radio-tutor">Tutor</label>
      <input type="radio" id="radio-tutor" value="Tutor"
      ng-model="staff.role" ng-click="changeRole(staff,2)"></input>
      <label name="staffRole" class="radio-inline" for="radio-convenor">Convenor</label>
      <input type="radio" id="radio-convenor" value="Convenor"
      ng-model="staff.role" ng-click="changeRole(staff,3)"></input>

      </li>
    </ul>
  </div>
</div>

