<div>
  <h4>Batch Import / Export</h4>
  <form class="form-horizontal" ng-submit="submitUpload()">
    <div class="form-group">
      <label class="col-sm-3 control-label">Upload</label>
      <input uploader="fileUploader" ng-hide="fileUploader.isHTML5" type="file" class="col-sm-7" accept="text/csv" ng-required="!fileUploader.isHTML5" nv-file-select />
      <div uploader="fileUploader"  ng-show="fileUploader.isHTML5 && fileUploader.queue.length == 0" class="drop well col-sm-7" nv-file-over nv-file-drop>
        Drop CSV here
      </div>
	    <p ng-show="fileUploader.queue.length == 1"class="form-control-static">{{fileUploader.queue[0].file.name}} <span class="glyphicon glyphicon-file"></span></p>
    </div>
    <div class="form-group">
      <input ng-hide="fileUploader.isUploading || fileUploader.queue.length == 0" type="submit" class="btn btn-primary form-control col-sm-2 col-sm-offset-3" value="Import" />
      <div class="col-sm-offset-3 col-sm-6" ng-show="fileUploader.isUploading">
        <progressbar class="progress-striped active" value="fileUploader.progress"></progressbar>
        <p class="help-block text-center" ng-show="fileUploader.progress == 100">
          Please wait for the server to insert the tasks...
        </p>
      </div>
    </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">Download</label>
      <button ng-click="requestExport()" class="btn btn-primary form-control col-sm-2">Export</button>
    </div>
  </form><!--/csv-batch-->

  <h4>All Tasks</h4>
  <table class="table table-condensed table-hover">
    <thead>
      <tr> 
        <th>Abbr</th>
        <th>Name</th>
        <th>Description</th>
        <th>Target Date</th>
        <th>Weighting</th>
        <th>Required</th>
        <th>File Upload Requirements</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in unit.task_definitions">
        <td>{{task.abbr}}</td>
        <td>{{task.name}}</td>
        <td style="max-width:150px">{{task.desc}}</td>
        <td>{{task.target_date | date:'d MMM yyyy'}}</td>
        <td>{{task.weight}}</td>
        <td>{{task.required}}</td>
        <td>
          <ol style="margin-left: 0; padding-left: 0;"  ng-hide="task.upload_requirements.length == 0">
            <li ng-repeat="upreq in task.upload_requirements">{{upreq.name}} ({{upreq.type}})</li>
          </ol>
          <span ng-show="task.upload_requirements.length == 0">No Files To Upload</span>
        </td>
      </tr>
    </tbody>
  </table><!--/task-table-->

  <div class="alert-top">
  	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
  </div>
</div>