<div ng-if="unit">
  <div class="col-sm-9">
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <div class="pull-left">
          <h3 class="panel-title">
            Task List
          </h3>
          Summary of tasks added as work for this unit
        </div>
        <form role="search" class="col-sm-4 form-horizontal pull-right">
          <input id="searchbar" class="input-md form-control" placeholder="Search..." type="search" ng-model="taskAdminPager.search" autofocus />
          <p ng-show="filteredTaskDefs.length < allTaskDefs.length && filteredTaskDefs.length != 0">Showing {{filteredTaskDefs.length}} of {{unit.task_definitions.length}} tasks.</p>
        </form>
      </div>
      <div class="panel-body tasks-overview">
        <div class="callout callout-info" ng-hide="unit.task_definitions.length > 0">
          This unit has no tasks
        </div>
        <table ng-show="unit.task_definitions.length > 0" class="table table-condensed table-hover table-pointer">
          <thead>
            <tr>
              <th>
                <a ng-click="taskAdminPager.sortOrder='abbreviation'; taskAdminPager.reverse=!taskAdminPager.reverse">
                  Name <i ng-show="taskAdminPager.sortOrder=='abbreviation'" class="fa fa-caret-{{taskAdminPager.reverse ? 'down' : 'up'}}"></i>
                </a>
              </th>
              <th>
                <a ng-click="taskAdminPager.sortOrder='target_grade'; taskAdminPager.reverse=!taskAdminPager.reverse">
                  Grade <i ng-show="taskAdminPager.sortOrder=='target_grade'" class="fa fa-caret-{{taskAdminPager.reverse ? 'down' : 'up'}}"></i>
                </a>
              </th>
              <th>
                <a ng-click="taskAdminPager.sortOrder='start_date'; taskAdminPager.reverse=!taskAdminPager.reverse">
                  Start Date <i ng-show="taskAdminPager.sortOrder=='start_date'" class="fa fa-caret-{{taskAdminPager.reverse ? 'down' : 'up'}}"></i>
                </a>
              </th>
              <th>
                <a ng-click="taskAdminPager.sortOrder='target_date'; taskAdminPager.reverse=!taskAdminPager.reverse">
                  Target Date <i ng-show="taskAdminPager.sortOrder=='target_date'" class="fa fa-caret-{{taskAdminPager.reverse ? 'down' : 'up'}}"></i>
                </a>
              </th>
              <th>
                <a ng-click="taskAdminPager.sortOrder='due_date'; taskAdminPager.reverse=!taskAdminPager.reverse">
                  Due Date <i ng-show="taskAdminPager.sortOrder=='due_date'" class="fa fa-caret-{{taskAdminPager.reverse ? 'down' : 'up'}}"></i>
                </a>
              </th>
              <th ng-show="unit.hasGroupwork()">
                <a ng-click="taskAdminPager.sortOrder='group_set_id'; taskAdminPager.reverse=!taskAdminPager.reverse">
                  Group Set <i ng-show="taskAdminPager.sortOrder=='group_set_id'" class="fa fa-caret-{{taskAdminPager.reverse ? 'down' : 'up'}}"></i>
                </a>
              </th>
              <th>
                <a ng-click="taskAdminPager.sortOrder='upload_requirements.length'; taskAdminPager.reverse=!taskAdminPager.reverse">
                  <i class="fa fa-upload" tooltip="The number of files the student needs to submit."></i> <i ng-show="taskAdminPager.sortOrder=='upload_requirements.length'" class="fa fa-caret-{{taskAdminPager.reverse ? 'down' : 'up'}}"></i>
                </a>
              </th>
              <th>
                <a ng-click="taskAdminPager.sortOrder='hasPlagiarismCheck()'; taskAdminPager.reverse=!taskAdminPager.reverse">
                  <i class="fa fa-eye" tooltip="Is plagiarism checked?"></i> <i ng-show="taskAdminPager.sortOrder=='hasPlagiarismCheck()'" class="fa fa-caret-{{taskAdminPager.reverse ? 'down' : 'up'}}"></i>
                </a>
              </th>
              <th>
                <a ng-click="taskAdminPager.sortOrder='restrict_status_updates'; taskAdminPager.reverse=!taskAdminPager.reverse">
                  <i class="fa fa-lock" tooltip="Are status updated locked to staff only?"></i> <i ng-show="taskAdminPager.sortOrder=='restrict_status_updates'" class="fa fa-caret-{{taskAdminPager.reverse ? 'down' : 'up'}}"></i>
                </a>
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="task in filteredTaskDefs = (allTaskDefs = ( unit.task_definitions ) | filter:taskAdminPager.search) | orderBy:taskAdminPager.sortOrder:taskAdminPager.reverse | startFrom:(taskAdminPager.currentPage - 1) * taskAdminPager.pageSize | limitTo: taskAdminPager.pageSize" ng-click="editTask(task)" ng-class="{'info': taskAdminData.selectedTask == task}">
              <td><strong>{{task.abbreviation}}</strong> - {{task.name}}</td>
              <td>{{grades[task.target_grade]}}</td>
              <td>{{task.start_date | date:'d MMM yyyy'}}</td>
              <td>{{task.target_date | date:'d MMM yyyy'}}</td>
              <td><span ng-show="task.due_date">{{task.due_date | date:'d MMM yyyy'}}</span><span ng-hide="task.due_date">None</span></td>
              <td ng-show="unit.hasGroupwork()">{{groupSetName(task.group_set_id)}}</td>
              <td>{{task.upload_requirements.length}}</td>
              <td><i ng-show="task.hasPlagiarismCheck()" class="fa fa-check"></i><i ng-hide="task.hasPlagiarismCheck()" class="fa fa-times"></i></td>
              <td><i ng-show="task.restrict_status_updates" class="fa fa-check"></i><i ng-hide="task.restrict_status_updates" class="fa fa-times"></i></td>
              <td>
                <button class="btn btn-danger" ng-click="deleteTask(task)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table><!--/task-table-->
      </div>
      <div class="panel-footer clearfix">
        <pagination  ng-show="unit.task_definitions.length > taskAdminPager.pageSize" total-items="unit.task_definitions.length" ng-model="taskAdminPager.currentPage" items-per-page="taskAdminPager.pageSize" max-size="taskAdminPager.maxSize" class="pagination-sm pull-left" boundary-links="true" rotate="false"></pagination>
        <button class="btn btn-success pull-right" ng-click="createTask()">
          <i class="fa fa-file"></i>
          <i class="fa fa-plus"></i> Add Task
        </button>
      </div>
    </div><!--/tasks-overview-->
    <task-admin
      unit="unit"
      task="taskAdminData.selectedTask"
      is-new="taskAdminData.isNew"></task-admin>
  </div>
  <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Batch Upload Task Definitions</h4>
                <p>Batch upload task definitions with a CSV containing: name, abbreviation, description, weighting, target_grade, restrict_status_updates, upload_requirements, target_week, target_day, due_week, due_day.</p><p>Note: Upload_requirements should be an escaped-JSON-formatted string an array of objects containing a "key",  "name" and "type". Target and due weeks should be the number of weeks from the unit start, and the day should be a short text (eg "Tue").</p>
            </div>
            <div class="panel-body">
                <file-uploader
                  files="batchFiles"
                  url="batchTaskUrl()"
                  on-success="onBatchTaskSuccess"></file-uploader>
            </div><!--batch-withdraw-->
            <div class="panel-heading">
                <h4 class="panel-title">Download Tasks</h4>
                Download all tasks for the unit.
            </div>
            <div class="panel-body text-center">
                <a tooltip="Download a CSV with details of all tasks" target="_blank" ng-href="{{batchTaskUrl()}}" class="btn btn-primary btn-download">
                    <i class="fa fa-download"></i> Download CSV
                </a>
                <a tooltip="Download task resources and task sheets for all tasks" target="_blank" ng-href="{{allResourceUrl()}}" class="btn btn-info btn-download">
                    <i class="fa fa-download"></i> Download ZIP
                </a>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">Upload All Task PDFs</h4>
                Upload PDFs of tasks such that they are viewable for students Doubtfire under the relevant task. Upload a ZIP containing PDFs and ZIP file resources. Name each with task abbreviation.
            </div>
            <div class="panel-body">
              <file-uploader
                files="taskFiles"
                url="taskUploadUrl"
                on-success="onTaskPDFSuccess"></file-uploader>
                <table ng-show="filesUploaded" class="table table-condensed table-hover">
                  <thead>
                    <tr>
                      <th>Filename</th>
                      <th>Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="file in filesUploaded.ignored_files">
                      <td>{{file.name}}</td><td>Ignored</td>
                    </tr>
                    <tr ng-repeat="file in filesUploaded.added_files">
                      <td>{{file.name}}</td><td>Added</td>
                    </tr>
                  </tbody>
              </table>
            </div><!--batch-enrol-->
        </div>
    </div>
</div>
