<div>
  <h4>All Tasks</h4>
  <table class="table table-condensed table-hover">
    <thead>
      <tr> 
        <th>Abbr</th>
        <th>Name</th>
        <th>Description</th>
        <th>Target Date</th>
        <th>Weighting</th>
        <th>Grade</th>
        <th>Restricted</th>
        <th>File Upload Requirements</th>
        <th>Plagiarism Checks</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in unit.task_definitions | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize" ng-click="editTask(task)">
        <td>{{task.abbreviation}}</td>
        <td>{{task.name}}</td>
        <td style="max-width:150px">{{task.description}}</td>
        <td>{{task.target_date | date:'d MMM yyyy'}}</td>
        <td>{{task.weight}}</td>
        <td>{{grades[task.target_grade]}}</td>
        <td>
          <span ng-show="task.restrict_status_updates" class="glyphicon glyphicon-ok text-success"></span>
          <span ng-hide="task.restrict_status_updates">No</span>
        </td>
        <td>
          <ol style="margin-left: 0; padding-left: 0;"  ng-hide="task.upload_requirements.length == 0">
            <li ng-repeat="upreq in task.upload_requirements">{{upreq.name}} ({{upreq.type}})</li>
          </ol>
          <span ng-show="task.upload_requirements.length == 0">No Files To Upload</span>
        </td>
        <td>
          <ol style="margin-left: 0; padding-left: 0;"  ng-hide="task.plagiarism_checks.length == 0">
            <li ng-repeat="check in task.plagiarism_checks">{{check.type}} ({{check.pattern}})</li>
          </ol>
          <span ng-show="task.plagiarism_checks.length == 0">No Plagiarism Checks</span>
        </td>
      </tr>
    </tbody>
  </table><!--/task-table-->
    
  <pagination total-items="unit.task_definitions.length" ng-model="currentPage" items-per-page="pageSize" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
  <button class="btn btn-success pull-right" ng-click="createTask()">Create Task</button>

  <h4>Batch Import / Export</h4>
  <form class="form-horizontal" ng-submit="submitTasksUpload()">
    <div class="form-group">
      <label class="col-sm-3 control-label">Upload</label>
      <input uploader="tasksFileUploader" ng-hide="tasksFileUploader.isHTML5" type="file" class="col-sm-7" accept="text/csv" ng-required="!tasksFileUploader.isHTML5" nv-file-select />
      <div uploader="tasksFileUploader"  ng-show="tasksFileUploader.isHTML5 && tasksFileUploader.queue.length == 0" class="drop well col-sm-7" nv-file-over nv-file-drop>
        Drop CSV here
      </div>
	    <p ng-show="tasksFileUploader.queue.length == 1"class="form-control-static">{{tasksFileUploader.queue[0].file.name}} <span class="glyphicon glyphicon-file"></span></p>
    </div>
    <div class="form-group">
      <input ng-hide="tasksFileUploader.isUploading || tasksFileUploader.queue.length == 0" type="submit" class="btn btn-primary form-control col-sm-2 col-sm-offset-3" value="Import" />
      <div class="col-sm-offset-3 col-sm-6" ng-show="tasksFileUploader.isUploading">
        <progressbar class="progress-striped active" value="tasksFileUploader.progress"></progressbar>
        <p class="help-block text-center" ng-show="tasksFileUploader.progress == 100">
          Please wait for the server to insert the tasks...
        </p>
      </div>
    </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">Download</label>
      <button ng-click="requestTasksExport()" class="btn btn-primary form-control col-sm-2">Export</button>
    </div>
  </form><!--/csv-batch-->
</div>