<div>
  <table class="table table-condensed table-hover">
    <thead> 
      <th>Abbr</th>
      <th>Location</th>
      <th>Day</th>
      <th>Time</th>
      <th>Tutor</th>
    </thead>
    <tbody>
    <tr ng-repeat="tutorial in tutorials" ng-click="editTutorial(tutorial)">
      <td >{{tutorial.abbreviation}}</td>
      <td>{{tutorial.meeting_location}}</td>
      <td>{{tutorial.meeting_day}}</td>
      <td>{{tutorial.meeting_time}}</td>
      <td>{{tutorial.tutor.name}}</td>
    </tr>
    </tbody>
  </table>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="createTutorial()">Create Tutorial</button>
  </div>
</div>
