<div>
  <table class="table table-condensed table-hover">
  {{unit.tutorials}}
    <thead>
      <tr> 
        <th>Abbr</th>
        <th>Location</th>
        <th>Day</th>
        <th>Time</th>
        <th>Tutor</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tutorial in unit.tutorials" ng-click="editTutorial(tutorial)">
        <td>{{tutorial.abbreviation}}</td>
        <td>{{tutorial.meeting_location}}</td>
        <td>{{tutorial.meeting_day}}</td>
        <td>{{tutorial.meeting_time | date:'HH:mm'}}</td>
        <td>{{tutorial.tutor.name}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary pull-right" ng-click="createTutorial()">Create Tutorial</button>
</div>
