<div>
  <h2 class="pull-left">{{unit.name}}</h2>
    
  <form role="search" class="pull-right form-horizontal">
      <input id="searchbar" class="input-md form-control" placeholder="Search students, tutors..." type="search" ng-model="search.$" typeahead="student.name for student in students | filter:$viewValue | limitTo:8" />
      <p class="help-block" ng-show="filteredStudents.length < students.length && filteredStudents.length != 0">Showing {{filteredStudents.length}} of {{students.length}} students enrolled.</p>
      <p class="help-block" ng-show="filteredStudents.length < students.length && filteredStudents.length == 0">No students found.</p>
  </form>
    
	<div class="table-responsive">
	    <table class="table table-condensed table-hover">
	    	<thead>
	    		<tr>
		    		<th><a href="" ng-click="sortOrder='student_id'; reverse=!reverse">Student ID</a></th>
		    		<th><a href="" ng-click="sortOrder='name'; reverse=!reverse">Name</a></th>
		    		<th>Stats</th>
		    		<th><a href="" ng-click="sortOrder='tutorial.meeting_day'; reverse=!reverse">Tutorial</a></th>
		    		<th>Actions</th>
		    	</tr>
	    	</thead>
	    	<tbody>
		    	<tr ng-repeat="student in filteredStudents = (students | filter:search) | orderBy:sortOrder:reverse | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize" >
			    	<td ng-click="student.open = !student.open"><a href="#/projects/{{student.project_id}}?unitRole={{assessingUnitRole.id}}">{{student.student_id}}</a></td>
            		<td ng-click="student.open = !student.open">{{student.name}}</td>
			    	<td ng-click="student.open = !student.open" class="task-progress-bar">
			    		<accordion ng-if="accordionReady" class="task-progress-accordion" ng-click="student.open = !student.open">
	    					<accordion-group is-open="student.open">
	    						<accordion-heading>
	    							<progress class="task-progress" max="100" animate="false">
	    								<bar ng-repeat="bar in student.task_stats  track by $index | filter:barLargerZero" value="bar.value" type="{{bar.type}}">
	    								</bar>
	    							</progress>
	    						</accordion-heading>
	    						<div ng-style="{ 'min-height': '{{accordionHeight}}px' }" >
      								<student-unit-tasks ng-if="student.open" student="student" student-project-id="student.project_id" task-def="taskDef" unit="unit" assessing-unit-role="assessingUnitRole" project="student.project"></student-unit-tasks>
	      						</div>
	    					</accordion-group>
						</accordion>
					</td>
			    	<td ng-click="student.open = !student.open"> <span tooltip-html-unsafe="<strong>{{student.tutorial.meeting_day}} {{student.tutorial.meeting_time}}</strong><br/> {{student.tutorial.meeting_location}} - {{student.tutorial.tutor.name}}"> {{student.tutorial.abbreviation}} </span></td>
			    	<td><button type="button" class="btn btn-info" ng-click="transitionWeekEnd(student)">Discussed</button></td>
			    </tr>
		    </tbody>
		</table>
		<a href class="btn btn-success pull-right" ng-click="showEnrolModal()">Enrol Student</a>
		<pagination total-items="filteredStudents.length" ng-model="currentPage" items-per-page="pageSize" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
	</div>
</div>
