<div>
  <div>
    <table class="table table-condensed table-hover">
      <thead>
        <tr> 
          <th>Select</th>
          <th>Name</th>
          <th>Create Groups</th>
          <th>Manage Groups?</th>
          <th>Restrict to Tutorials</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="gs in unit.group_sets">
          <td><a href="" ng-click="selectGroupSet(gs)">Select</a></td>
          <td class="col-sm-3">
            <span editable-text="gs.name" e-name="name" e-form="gsRowform" e-required>
              {{ gs.name || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-select="gs.allow_students_to_create_groups" e-name="allow_students_to_create_groups" e-form="gsRowform" e-ng-options="opt.value as opt.text for opt in studentStaffOptions">
              {{ ( (gs && gs.allow_students_to_create_groups) ? 'Staff and Students' : 'Staff Only' ) }}
            </span>
          </td>
          <td>
            <span editable-select="gs.allow_students_to_manage_groups" e-name="allow_students_to_manage_groups" e-form="gsRowform" e-ng-options="opt.value as opt.text for opt in studentStaffOptions">
              {{ ( (gs && gs.allow_students_to_manage_groups) ? 'Staff and Students' : 'Staff Only' ) }}
            </span>
          </td>
          <td>
            <span editable-select="gs.keep_groups_in_same_class" e-name="keep_groups_in_same_class" e-form="gsRowform" e-ng-options="opt.value as opt.text for opt in tutorialOptions">
              {{ ( (gs && gs.keep_groups_in_same_class) ? 'Same Tutorial' : 'Any Tutorial' ) }}
            </span>
          </td>
          <td style="white-space: nowrap">
            <form editable-form name="gsRowform" onbeforesave="saveGroupSet($data, gs.id)" ng-show="gsRowform.$visible" class="form-buttons form-inline" shown="inserted == gs">
              <button type="submit" ng-disabled="gsRowform.$waiting" class="btn btn-primary">
                save
              </button>
              <button type="button" ng-disabled="gsRowform.$waiting" ng-click="gsRowform.$cancel()" class="btn btn-default">
                cancel
              </button>
            </form>
            <div class="buttons" ng-show="!gsRowform.$visible">
              <a href="" ng-click="gsRowform.$show()">edit</a> | <a href="" ng-click="removeGroupSet(gs)">delete</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button ng-click="addGroupSet()">Add New Student Groupwork</button>
  </div>
  <groupset-manage></groupset-manage>
</div>