<form class="form-horizontal" role="form" ng-submit="saveUnit()">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="code">Code</label>
    <input class="form-control col-sm-10" id="code" type="text" placeholder="Enter unit code" ng-model="unit.code">
  </div><!--/code-date-->

  <div class="form-group">
    <label class="col-sm-2 control-label" for="name">Name</label>
    <input id="name" type="text" class="form-control col-sm-10" ng-model="unit.name">
  </div><!--/name-date-->
  
  <div class="form-group">
    <label class="col-sm-2 control-label" for="description">Description</label>
    <textarea id="description" class="form-control col-sm-10" ng-model="unit.description"></textarea>
  </div><!--/description-date-->

  <div class="form-group">
    <label class="col-sm-2 control-label" for="startdate">Start Date</label>
    <div class="col-md-10 input-group">
      <input type="text" class="form-control" id="startdate" datepicker-popup="{{format}}" ng-model="unit.start_date"   is-open="startOpened" ng-required="true" close-text="Close" />
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="open($event,'start')"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
  </div><!--/start-date-->

  <div class="form-group">
    <label class="col-sm-2 control-label" for="enddate">End Date</label>
    <div class="col-md-10 input-group">
      <input datepicker-popup="{{format}}" id="enddate" type="text" class="form-control" ng-model="unit.end_date" is-open="endOpened"ng-required="true" close-text="Close" />
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="open($event,'end')"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div> 
  </div><!--/end-date-->
  
  <div class="form-group pull-right">
    <input type="submit" value="{{ unit.id == -1 ? 'Create Unit' : 'Update Unit' }}" class="btn btn-primary" />
  </div>
  
</form>