@if (learningOutcomes.length) {
  <mat-card appearance="outlined" class="p-[16px]">
    <mat-card-title class="f-card-title"
      >{{ getIloContextLabel() }} Learning Outcomes</mat-card-title
    >
    <mat-card-subtitle class="mb-2.5"
      >These outcomes describe the key skills and knowledge you are aiming to achieve by completing
      this {{ getIloContextLabel().toLowerCase() }}.</mat-card-subtitle
    >
    <table class="overflow-hidden rounded-lg">
      <tbody>
        @for (ilo of learningOutcomes; track ilo) {
          <tr class="border-b border-gray-200 odd:bg-gray-100 even:bg-white">
            <td class="px-3.5 py-2.5 text-black uppercase">{{ ilo.abbreviation }}</td>
            <td class="px-3.5 py-2.5 text-gray-500">{{ ilo.fullOutcomeDescription }}</td>
            <td class="flex justify-end px-3.5 py-2.5 text-gray-500">
              @for (outcome of getLinkedOutcomes(ilo); track outcome.abbreviation) {
                <mat-chip-row class="m-0.5" matTooltip="{{ outcome.shortDescription }}">{{
                  outcome.abbreviation
                }}</mat-chip-row>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </mat-card>
}
