.feedback-float-toolbar {
  position: fixed;
  top: 100px;
  right: 5%;
  z-index: 2;
  label {
    text-transform: uppercase;
    display: block;
    width: 100%;
    text-align: center;
  }
  button, a {
    display: block;
    width: 100%;
    margin: 10px auto;
  }
}