grade-icon.text-muted span {
  background-color: @text-muted;
}
grade-icon.text-primary span {
  background-color: @brand-primary;
}
grade-icon.text-success span {
  background-color: @brand-success;
}
grade-icon.text-danger span {
  background-color: @brand-danger;
}
grade-icon.text-info span {
  background-color: @brand-info;
}
grade-icon.text-warning span {
  background-color: @brand-warning;
}
a grade-icon:hover span {
  background-color: @link-hover-color;
}
grade-icon span {
  color: #fff;
  font-size: 1em;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background: @text-color;
  border-radius: 100%;
  width: 2.25em;
  height: 2.25em;
  font-weight: 100;
  font-size: 1em;
  cursor: pointer;
}