html {
  height:  calc(~"100% - " (@navbar-height));
}
body,
body > .container-fluid,
body > .container-fluid > .row,
body > .container-fluid > .row > div[ui-view="main"],
body > .container-fluid > .row > div[ui-view="main"], .landing-page {
  height: 100%;
}

.landing-page {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: center;
          align-content: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.landing-page > main {
	width: 330px;
  .slide-down(1s);
  h1.logo {
    .fade-in(1s);
    text-align: center;
    margin-bottom: 0.5em;
    i {
      margin: 0 auto 0.5em auto;
      width: 3em;
      height: 3em;
      display: block;
    }
  }
  form input:focus {
    box-shadow: none;
    outline-color: transparent;
    outline-style: none;
  }
  form, footer {
    .fade-in(3s);
  }
}

footer.about-doubtfire {
  width: 100%;
  a {
    color: #ccc;
  }
}