.panel-footer .pagination, .modal-footer .pagination {
  margin: 0;
}

.panel-body + .panel-heading {
  border-top: 1px solid #ddd !important;
  border-radius: 0 !important;
}

.panel-heading > .pull-left {
  padding-left: 0 !important; // Override for col-sm-*
}
.panel-heading > .pull-right {
  padding-right: 0 !important; // Override for col-sm-*
}

.panel-marking-context {
  padding: 0;
  .panel {
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
  }
  .panel-submission-marking-context .panel-body {
    padding: 60px;
  }
}