.project-task-bar
{
  white-space: normal;
  padding: 5px;
  ul {
    display: block;
    width: 100%;
    text-align: center;
    padding-left: 0px;
    -webkit-padding-start: 0px;
  }

  .groupset-name {
    color: #777;
    text-align: center;
    font-weight: medium;
    font-size: 0.9em;
  }

  li
  {
    display: inline;
    padding: 2px;
  }
}

.dropdown-menu.project-task-bar {
  padding-bottom: 15px;
}

.task-progress
{
  tr
  {
    vertical-align: middle;
  }

  margin-bottom: 0px;
  // height: 10px;
}

.progress-bar
{
  span
  {
    // font-size: 8pt;
    font: 12px/1.7em 'Open Sans', Helvetica;
  }

  &[aria-valuenow="1"],
  &[aria-valuenow="2"]
  {
    min-width: 0px;
  }

  &[aria-valuenow="0"]
  {
    min-width: 0px;
  }
}

.task-progress-bar
{
  min-width: 128px;
  width: 360px;

  .panel-group
  {
    margin-bottom: 0px;
  }
}

.task-progress-accordion, .progress-progress-bar
{
  .panel-heading
  {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.progress-bar-ready-to-mark     { background-color: #0079D8; color: white; }
.progress-bar-not-submitted     { background-color: #CCCCCC; color: white; }
.progress-bar-working-on-it     { background-color: #EB8F06; color: white; }
.progress-bar-need-help         { background-color: #a48fce; color: white; }
.progress-bar-fix-and-resubmit  { background-color: #f2d85c; color: white; }
.progress-bar-fix-and-include   { background-color: #d93713; color: white; }
.progress-bar-redo              { background-color: #804000; color: white; }
.progress-bar-discuss           { background-color: #31b0d5; color: white; }
.progress-bar-complete  {
    background-color: #5BB75B;
    background-image: linear-gradient(rgb(98, 196, 98), rgb(81, 163, 81));
    color: white;
  }


.progress-progress-bar {
  height: 30px;
  margin-bottom: 0px;
}

.progress-bar-not-started       { background-color: #CCCCCC; color: white; }
.progress-bar-one-week-late     { background-color: #CCCCCC; color: white; }
.progress-bar-two-weeks-late   { background-color: #CCCCCC; color: white; }
.progress-bar-on-time  {
    background-color: #5BB75B;
    background-image: linear-gradient(rgb(98, 196, 98), rgb(81, 163, 81));
    color: white;
  }

