.tutor-student-list.fullscreen {
  border-radius: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 4;
  border-bottom: none;

  // Flex stuff
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;

  .panel-body.student-list {
    height: 20vh;
    resize: vertical;
    max-height: 40vh;
    overflow: scroll;
    border-bottom: 2px solid #428bca;
    box-shadow: 1px 1px 3px;
  }
  .panel-body.project-show {
    overflow: scroll;
    -webkit-flex: 1;
            flex: 1;
    position: relative;
    .no-student {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
              align-items: center;
      -webkit-align-content: center;
              align-content: center;
      -webkit-flex-wrap: wrap;
              flex-wrap: wrap;
      position: absolute;
      height: 100%;
      width: 100%;
      font-size: 3em;
      text-align: center;
      font-weight: 200;
      i, p {
        display: block;
        width: 100%;
        margin-bottom: 0.75em;
      }
    }
  }
  .panel-footer {
    display: none;
  }
}
.tutor-student-list:not(.fullscreen) .panel-body {
  height: auto !important; // Needs to be important to override resize
}