.unit-outcome-alignment {
  .alignment-panels .panel-body {
    overflow: scroll;
  }

  table.table-task-alignment {
    td.task-abbreviation    { width: 5ex;  }
    td.task-status-icon     { width: 6em;  }
    td.task-name            { width: 10ex; }
    td.include-in-portfolio { width: 10ex; }
    td.task-abbreviation label {
      display: inline-block;
      width: 100%;
    }
    td.include-in-portfolio {
      button, .button-wrapper {
        width: 100%;
        height: 3em;
      }
    }
    td.ilo-alignment {
      .alignment-circle {
        width: 6em;
        padding: 0.25em;
        margin: 0 auto;
        border: 1px solid transparent;
        &:hover {
          border: 1px dashed #5b8ce6;
          border-radius: 1em;
        }
      }
    }
  }

  .visualisation {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    opacity: 0.6;
    margin: 0;
    border-radius: 0;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

.alignment-rater {
  .rationale-wrapper {
    display: table;
    margin-top: 2em;
  }
  .rationale {
    display: table-cell;
    height: 200px;
    overflow: scroll;
    padding: 30px;
    border-radius: 6px;
    font-size: 1.5em;
    cursor: pointer;
    label {
      font-size: 0.75em;
      text-transform: uppercase;
    }
    &.no-rationale {
      border: 1px dashed #aaa;
      vertical-align: middle;
      text-align: center;
      color: #aaa;
    }
    &:hover {
      border-color: #428bca;
      color: #428bca;
    }
  }
}
