
<mat-icon svgIcon="warning" aria-hidden="false" aria-label="Warning icon">warning</mat-icon>
<mat-card class="danger-card" [hidden]="task.plagiarismDetected()">
  <mat-card-header>
    <mat-icon svgIcon="warning" aria-hidden="false" aria-label="Warning icon">warning</mat-icon>
    <mat-card-title>
      <mat-icon svgIcon="warning" aria-hidden="false" aria-label="Warning icon">warning</mat-icon>
      Similarities Detected
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Similarities with other student work has been detected on your submission.
      View the report by clicking the button below.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="warn" (click)="viewReport()">
      View Similarity Report
    </button>
  </mat-card-actions>
</mat-card>
