<mat-dialog-content class="mat-typography">
  <div class="modal-header">
    <h1>D2L Unit Details</h1>
  </div>
  <div class="modal-body">
    <p>Enter the D2L identifier to allow grades to be transfered once entered.</p>
    <mat-form-field appearance="outline">
      <input
        matInput
        name="orgUnitId"
        placeholder="Org Unit Id"
        required
        type="text"
        [(ngModel)]="d2lDataMapping.orgUnitId"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        matInput
        name="orgUnitId"
        placeholder="Grade Object Id"
        type="text"
        [(ngModel)]="d2lDataMapping.gradeObjectId"
      />
      <mat-hint align="start">Created during grades transfer if not set</mat-hint>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  @if (d2lDataMapping.id) {
    <button color="warn" mat-stroked-button (click)="delete()">Delete</button>
  }
  <button class="pull-right" mat-stroked-button (click)="saveAndClose()">
    @if (d2lDataMapping.hasChanges(d2lAssessmentMappingService.mapping)) {
      <span>Save and </span>
    }
    Close
  </button>
</mat-dialog-actions>
