.task-ilo-alignment-viewer {
  .related-outcome-tasks {
    max-height: 200px;
    overflow: scroll;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    .list-group li {
      border-left: none;
      border-right: none;
      &:first-child {
        border-top: none;
      }
      &:last-child {
        border-bottom: none;
      }
    }
    .task-def-alignment-item {
      font-size: 1.5em;
      label {
        margin-top: 10px;
      }
    }
  }
  .alignment-list {
    margin: 0;
    & > li {
      border-radius: 0;
      border: 0;
      padding: 3em 1.5em;
      cursor: pointer;
      &:hover {
        background-color: #eee;
      }
      &.expanded {
        background-color: #f9f9f9;
      }
      header {
        display: flex;
        .header-item {
          display: flex;
          align-items: center;
        }
        .header-item.pull-right {
          justify-content: flex-end;
        }
        .expand-icon {
          margin-left: 2em;
        }
      }
      .alignment-content {
        h5 {
          margin-top: 2em;
          color: #666;
          font-size: 1.2em;
          font-weight: bold;
          text-transform: uppercase;
        }
        .markdown-to-html {
          font-size: 1.5em;
        }
      }
    }
    svg.nvd3-svg {
      margin: initial;
    }
    & > li:not(:first-child) {
      border-top: 1px solid #dddddd;
    }
  }
}
