.vertical-panel {
  border-radius: 10px;
  background-color: white;
  padding: 8px;
  min-width: 60px;
  width: 450px;
  height: 100%;

  &.mobile {
      max-width: 100%;
      width: 100%;
      padding: 0px;
  }
}

.vertical-spacer {
  background-color: #f5f5f5;
  z-index: 200;
  width: 10px
}
