<!-- we don't want that class -->
<!-- that's a bootstrap class, get rid of it -->

<div class="flex w-full">
    <f-unit-task-list [unitTasks]="taskDefs">
    </f-unit-task-list>
    <!--/panel-1-->
    <!-- <task-sheet-view task-def="selectedTaskDef" unit="unit" class="col-xs-12 col-md-6"> </task-sheet-view -->
    <!--/panel-2-->
    <!-- <f-task-details-view [taskDef]="selectedTaskDef" [unit]="unit"> </f-task-details-view -->
    <f-task-details-view > </f-task-details-view
    ><!--/panel-3-->
  </div>
