<div id="pdfContainer">
  <div id="actionBar">
    <div id="pdfViewActions" [hidden]="!pdfBlobUrl">
      <button aria-label="Switch viewer" mat-icon-button (click)="toggleNativePdfViewer()">
        @if (useNativePdfViewer) {
          <mat-icon>toggle_on</mat-icon>
        } @else {
          <mat-icon>toggle_off</mat-icon>
        }
      </button>
      <button aria-label="Download pdf" mat-icon-button (click)="downloadPdf()">
        <mat-icon>download</mat-icon>
      </button>
    </div>
    <div id="pdfActions" [hidden]="!loaded || useNativePdfViewer">
      <form #loginForm="ngForm">
        <mat-form-field appearance="outline" class="pdf-form-field" floatLabel="auto" ngSubmit>
          <mat-icon matPrefix>search</mat-icon>
          <input
            matInput
            name="pdfSearchString"
            placeholder="Search PDF"
            type="text"
            [(ngModel)]="pdfSearchString"
            (ngModelChange)="searchPdf(pdfSearchString)"
          />

          <button
            aria-label="Zoom in PDF button"
            mat-icon-button
            matSuffix
            type="button"
            (click)="zoomOut()"
          >
            <mat-icon>zoom_out</mat-icon>
          </button>
          <button
            aria-label="Zoom in PDF button"
            mat-icon-button
            matSuffix
            type="button"
            (click)="zoomIn()"
          >
            <mat-icon>zoom_in</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
  </div>

  @if (pdfBlobUrl) {
    @if (useNativePdfViewer) {
      @if (pdfBlobUrl) {
        <object type="application/pdf" [data]="pdfBlobUrl | safe">PDF Preview</object>
      }
    } @else {
      <pdf-viewer
        [original-size]="false"
        [render-text]="true"
        [show-all]="true"
        [src]="pdfBlobUrl"
        [zoom]="zoomValue"
        [(page)]="pageNumber"
        (after-load-complete)="onLoaded($event)"
        (text-layer-rendered)="onTextLayerRendered()"
      ></pdf-viewer>
    }
  } @else {
    <mat-spinner color="accent" diameter="100" strokeWidth="2"></mat-spinner>
  }
</div>
