<table #upreqTable mat-table [dataSource]="taskDefinition.uploadRequirements" class="table-fixed">
  <!-- File name Column -->
  <ng-container matColumnDef="file-name" sticky>
    <th style="width: 30%" mat-header-cell *matHeaderCellDef>Filename</th>
    <td style="width: 30%" mat-cell *matCellDef="let upreq">
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="upreq.name" required />
      </mat-form-field>
    </td>
  </ng-container>

  <!-- File Type Column -->
  <ng-container matColumnDef="file-type" sticky>
    <th style="width: 20%" mat-header-cell *matHeaderCellDef>Type</th>
    <td style="width: 20%" mat-cell *matCellDef="let upreq">
      <mat-select placeholder="File Type" [(ngModel)]="upreq.type">
        <mat-option value="code">Code</mat-option>
        <mat-option value="document">Document</mat-option>
        <mat-option value="image">Image</mat-option>
      </mat-select>
    </td>
  </ng-container>

  <!-- TurnItIn Check Column -->
  <ng-container matColumnDef="tii-check" sticky>
    <th style="width: 20%" mat-header-cell *matHeaderCellDef>Check Similarity</th>
    <td style="width: 20%" mat-cell *matCellDef="let upreq">
      @if (upreq.type === 'document' && tiiEnabled()) {
        <mat-checkbox [(ngModel)]="upreq.tiiCheck">TurnItIn</mat-checkbox>
      }
      @if (upreq.type === 'code') {
        <mat-checkbox [(ngModel)]="upreq.tiiCheck">Moss</mat-checkbox>
      }
    </td>
  </ng-container>

  <!-- Flag Pct -->
  <ng-container matColumnDef="flag-pct" sticky>
    <th style="width: 20%" mat-header-cell *matHeaderCellDef>Flag At</th>
    <td style="width: 20%" mat-cell *matCellDef="let upreq">
      @if (upreq.type === 'document' && upreq.tiiCheck) {
        <mat-form-field appearance="outline" style="width: 7em">
          <input matInput [(ngModel)]="upreq.tiiPct" type="number" />
          <span matTextSuffix>&nbsp;%</span>
        </mat-form-field>
      }
    </td>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="row-actions" sticky>
    <th style="width: 10%" mat-header-cell *matHeaderCellDef></th>
    <td style="width: 10%" mat-cell *matCellDef="let upreq">
      <button
        mat-icon-button
        aria-label="delete upload requirement"
        color="warn"
        (click)="removeUpReq(upreq)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Disclaimer column -->
  <ng-container matColumnDef="actions">
    <td mat-footer-cell *matFooterCellDef [colSpan]="columns.length">
      <mat-toolbar>
        <mat-toolbar-row>
          <span class="flex flex-grow"></span>
          <button mat-flat-button color="primary" (click)="addUpReq()">
            <mat-icon>add</mat-icon> Add
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns" class="table-row"></tr>
  <tr mat-footer-row *matFooterRowDef="['actions']"></tr>
</table>

@if (taskDefinition.needsMoss) {
  <div class="flex-grow flex flex-row gap-4">
    <mat-form-field appearance="outline" class="basis-1/2">
      <mat-label>Language used for Moss checks</mat-label>
      <mat-select [(ngModel)]="taskDefinition.mossLanguage">
        <mat-option value="moss c">C</mat-option>
        <mat-option value="moss csharp">C#</mat-option>
        <mat-option value="moss cc">C++</mat-option>
        <mat-option value="moss python">Python</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="basis-1/2">
      <mat-label>Similarity percent to flag for Moss checks</mat-label>
      <input matInput [(ngModel)]="taskDefinition.plagiarismWarnPct" type="number" />
    </mat-form-field>
  </div>
}
