<table #upreqTable class="table-fixed" mat-table [dataSource]="taskDefinition.uploadRequirements">
  <!-- File name Column -->
  <ng-container matColumnDef="file-name" sticky>
    <th *matHeaderCellDef mat-header-cell style="width: 30%">Filename</th>
    <td *matCellDef="let upreq" mat-cell style="width: 30%">
      <mat-form-field appearance="outline">
        <input matInput required [(ngModel)]="upreq.name" />
      </mat-form-field>
    </td>
  </ng-container>

  <!-- File Type Column -->
  <ng-container matColumnDef="file-type" sticky>
    <th *matHeaderCellDef mat-header-cell style="width: 20%">Type</th>
    <td *matCellDef="let upreq" mat-cell style="width: 20%">
      <mat-select placeholder="File Type" [(ngModel)]="upreq.type">
        <mat-option value="code">Code</mat-option>
        <mat-option value="document">Document</mat-option>
        <mat-option value="image">Image</mat-option>
        <mat-option value="zip">ZIP</mat-option>
      </mat-select>
    </td>
  </ng-container>

  <ng-container matColumnDef="submission-history" sticky>
    <th *matHeaderCellDef mat-header-cell style="width: 15%">Submission History</th>
    <td *matCellDef="let upreq" mat-cell style="width: 15%">
      <mat-checkbox
        matTooltip="Retain this file in the task's submission history"
        [(ngModel)]="upreq.submissionHistory"
      ></mat-checkbox>
    </td>
  </ng-container>

  <!-- TurnItIn Check Column -->
  <ng-container matColumnDef="tii-check" sticky>
    <th *matHeaderCellDef mat-header-cell style="width: 20%">Check Similarity</th>
    <td *matCellDef="let upreq" mat-cell style="width: 20%">
      @if (upreq.type === 'document' && tiiEnabled()) {
        <mat-checkbox [(ngModel)]="upreq.tiiCheck">TurnItIn</mat-checkbox>
      }
      @if (upreq.type === 'code') {
        <mat-checkbox [(ngModel)]="upreq.tiiCheck">Jplag</mat-checkbox>
      }
    </td>
  </ng-container>

  <!-- Flag Pct -->
  <ng-container matColumnDef="flag-pct" sticky>
    <th *matHeaderCellDef mat-header-cell style="width: 20%">Flag At</th>
    <td *matCellDef="let upreq" mat-cell style="width: 20%">
      @if (upreq.type === 'document' && upreq.tiiCheck && tiiEnabled()) {
        <mat-form-field appearance="outline" style="width: 7em">
          <input matInput type="number" [(ngModel)]="upreq.tiiPct" />
          <span matTextSuffix>&nbsp;%</span>
        </mat-form-field>
      }
    </td>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="row-actions" sticky>
    <th *matHeaderCellDef mat-header-cell style="width: 10%"></th>
    <td *matCellDef="let upreq" mat-cell style="width: 10%">
      <button
        aria-label="delete upload requirement"
        color="warn"
        mat-icon-button
        (click)="removeUpReq(upreq)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Disclaimer column -->
  <ng-container matColumnDef="actions">
    <td *matFooterCellDef mat-footer-cell [colSpan]="columns.length">
      <mat-toolbar>
        <mat-toolbar-row>
          <span class="flex flex-grow"></span>
          <button color="primary" mat-flat-button (click)="addUpReq()">
            <mat-icon>add</mat-icon> Add
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="columns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: columns" class="table-row" mat-row></tr>
  <tr *matFooterRowDef="['actions']" mat-footer-row></tr>
</table>

@if (missingOverseerSubmissionHistory) {
  <div class="mt-2 text-sm text-red-700">
    Overseer requires at least one upload requirement to be retained in submission history.
  </div>
}

@if (taskDefinition.needsJplag) {
  <div class="flex flex-grow flex-row gap-2.5">
    <mat-form-field appearance="outline" class="basis-1/2">
      <mat-label>Language used for JPLAG checks</mat-label>
      <mat-select [(ngModel)]="taskDefinition.similarityLanguage">
        <mat-option value="java">Java</mat-option>
        <mat-option value="c">C</mat-option>
        <mat-option value="cpp">C++</mat-option>
        <mat-option value="csharp">C#</mat-option>
        <mat-option value="python3">Python</mat-option>
        <mat-option value="javascript">JavaScript</mat-option>
        <mat-option value="typescript">TypeScript</mat-option>
        <mat-option value="golang">Go</mat-option>
        <mat-option value="kotlin">Kotlin</mat-option>
        <mat-option value="rlang">R</mat-option>
        <mat-option value="rust">Rust</mat-option>
        <mat-option value="swift">Swift</mat-option>
        <mat-option value="scala">Scala</mat-option>
        <mat-option value="llvmir">LLVM IR</mat-option>
        <mat-option value="scheme">Scheme</mat-option>
        <mat-option value="emf">EMF Metamodel</mat-option>
        <mat-option value="emf-model">EMF Model</mat-option>
        <mat-option value="scxml">SCXML</mat-option>
        <mat-option value="text">Text</mat-option>
        <mat-option value="multi">Multi-language</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="basis-1/2">
      <mat-label>Similarity percent to flag for JPLAG checks</mat-label>
      <input matInput type="number" [(ngModel)]="taskDefinition.plagiarismWarnPct" />
    </mat-form-field>
  </div>
  <div class="flex flex-grow">
    <div class="basis-1/2">
      <mat-slide-toggle [(ngModel)]="taskDefinition.useResourcesForJplagBaseCode">
        Use Task Resources for JPlag Base Code</mat-slide-toggle
      >
      <p>
        Base code is a common framework included in all submissions. When enabled, student code
        matching this base code will be ignored during JPlag similarity checks. The base code will
        be automatically extracted from the task resources.
      </p>
    </div>
    <div class="basis-1/2"></div>
  </div>
}
