<div class="project-viewer">
  <div ng-hide="unitLoaded" class="large-notice-block">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
    <p>Loading...</p>
  </div><!--/loading-->
  <div ng-if="unitLoaded">
    <h2 ng-hide="fullscreen">
      {{unit.name}}
      <small>{{unit.code}}</small>
      <p class="lead">
        {{project.student_name}} <small>{{project.student_id}}</small>
      </p>
    </h2>
    <h2 ng-show="fullscreen">
      {{project.student_name}}
      <small>{{project.student_id}}</small>
    </h2><!--header-->
    <tabset class="tabset-icon" justified="true">
      <tab ng-repeat="tab in tabs | toArray | orderBy: 'seq'" active="tab.active" ng-click="setActiveTab(tab)">
        <tab-heading>
          <i class="fa fa-2x {{tab.icon}}"></i> {{tab.title}}
        </tab-heading>
      </tab>
    </tabset><!--tabs-->
    <div class="row">
      <project-progress-dashboard ng-if="activeTab === tabs.progressTab"></project-progress-dashboard>
      <task-viewer ng-if="activeTab === tabs.tasksTab" unit="unit" project="project" assessing-unit-role="assessingUnitRole"></task-viewer>
      <student-group-manager ng-if="activeTab === tabs.groupTab"></student-group-manager>
      <project-lab-list ng-if="activeTab === tabs.tutorialTab"></project-lab-list>
      <project-outcome-alignment ng-if="activeTab === tabs.learningOutcomeTab"></project-outcome-alignment>
      <project-portfolio-wizard ng-if="activeTab === tabs.portfolioTab" project="project"></project-portfolio-wizard>
    </div>
  </div><!--/content-->
</div>
