<mat-toolbar class="footer flex-col w-full h-full justify-center p-0">
  @if (selectedTask?.similaritiesDetected) {
    <div class="bg-red-500 grow w-full rounded-xl h-8 mb-5 mt-4 text-white text-lg font-bold">
      <p
        style="position: relative"
        #warningText
        class="mat-caption inline-block select-none text-center w-full"
      >
        Similarities flagged for {{ selectedTask?.project?.student.name }}
      </p>
    </div>
  }

  <div class="flex w-full">
    <f-user-badge fxFlex fxFlexAlign="start start" [selectedTask]="selectedTask"></f-user-badge>
    <div class="flex justify-between items-center">
      <span class="center-buttons flex justify-around gap-5">
        <div>
          <button
            [disabled]="!actionButtonEnabled"
            mat-icon-button
            matTooltip="Mark as Redo"
            matTooltipPosition="above"
            aria-label=""
            class="button"
            (click)="selectedTask?.updateTaskStatus('redo')"
          >
            <mat-icon>undo</mat-icon>
          </button>

          <button
            [disabled]="!actionButtonEnabled"
            mat-icon-button
            matTooltip="Mark as Attention Required"
            matTooltipPosition="above"
            aria-label=""
            class="button"
            (click)="selectedTask?.updateTaskStatus('attention_required')"
          >
            <mat-icon>sms_failed</mat-icon>
          </button>
        </div>
        <button
          [disabled]="!actionButtonEnabled"
          mat-icon-button
          matTooltip="Mark as Resubmit"
          matTooltipPosition="above"
          aria-label=""
          class="button large-button"
          (click)="selectedTask?.updateTaskStatus('fix')"
        >
          <mat-icon>construction</mat-icon>
        </button>

        @if (selectedTask && selectedTask.suggestedTaskStatus) {
          <button
            mat-icon-button
            matTooltip="Recommended: Mark as {{
              taskService.statusData(selectedTask.suggestedTaskStatus).label
            }}"
            matTooltipPosition="above"
            aria-label=""
            class="button extra-large-button status-chip"
            (click)="selectedTask?.updateTaskStatus(selectedTask.suggestedTaskStatus)"
            [ngClass]="taskService.statusData(selectedTask.suggestedTaskStatus).class"
            [disabled]="
              !actionButtonEnabled ||
              (selectedTask?.suggestedTaskStatus === 'complete' && !selectedTask?.canMarkComplete)
            "
          >
            <i class="fa {{ taskService.statusData(selectedTask.suggestedTaskStatus).icon }}"></i>
          </button>
        }
        @if (selectedTask?.definition?.assessInPortfolioOnly) {
          <button
            [disabled]="!actionButtonEnabled"
            mat-icon-button
            matTooltip="Mark as Working On It"
            matTooltipPosition="above"
            aria-label="Mark as Working On It"
            class="button large-button"
            (click)="markTaskWorkingOnIt(selectedTask)"
          >
            <mat-icon>bolt</mat-icon>
          </button>
        } @else {
          <div
            [matTooltip]="
              !selectedTask?.canMarkComplete
                ? 'This task must be discussed in class before it can marked completed'
                : ''
            "
          >
            <button
              [disabled]="!completeButtonEnabled"
              mat-icon-button
              matTooltip="Mark as Complete"
              matTooltipPosition="above"
              aria-label="Mark as Complete"
              class="button large-button"
              (click)="selectedTask?.updateTaskStatus('complete')"
            >
              <mat-icon>done</mat-icon>
            </button>
          </div>
        }

        <button
          [disabled]="!actionButtonEnabled"
          mat-icon-button
          matTooltip="Mark as Discuss"
          matTooltipPosition="above"
          aria-label=""
          class="button"
          (click)="selectedTask?.updateTaskStatus('discuss')"
        >
          <mat-icon>question_answer</mat-icon>
        </button>

        <mat-divider [vertical]="true"></mat-divider>

        <div class="flex justify-start">
          <button
            [disabled]="!actionButtonEnabled"
            mat-icon-button
            matTooltip="Discussed in class"
            matTooltipPosition="above"
            aria-label=""
            class="button ml-5"
            (click)="selectedTask?.markAsDiscussed()"
          >
            <mat-icon>group</mat-icon>
          </button>
        </div>
      </span>

      @if (selectedTask && !selectedTask.loadingSubmissionDetails) {
        @if (viewType === 'moderation') {
          <mat-divider class="ml-10" [vertical]="true"></mat-divider>
          <f-moderation [task]="selectedTask"></f-moderation>
          <!-- <mat-divider class="mr-10" [vertical]="true"></mat-divider> -->
        }
        @if (viewType === 'overflow' || selectedTask.claimedByUnitRoleId) {
          <f-task-claim [selectedTask]="selectedTask"></f-task-claim>
        }
      }
    </div>

    <div fxFlex fxFlexAlign="end start" fxLayout="row" fxLayoutAlign="end center">
      @if (selectedTask?.similaritiesDetected) {
        <div class="relative inline-block">
          <div
            class="absolute -top-[1.3rem] left-1/2 -translate-x-1/2 w-0 h-0 border-x-[15px] border-x-transparent border-t-[20px] border-t-red-500"
          ></div>

          <button
            #similaritiesButton
            mat-icon-button
            matTooltip="High confidence of similarities detected for this task"
            matTooltipPosition="above"
            aria-label="View detected similarities"
            class="button small-button"
            (click)="viewSimilarity()"
          >
            <mat-icon class="small-icon">crisis_alert</mat-icon>
          </button>
        </div>
      }
      @if (selectedTask?.project) {
        @if (selectedTask?.definition.discussionPromptsCount) {
          <button
            mat-icon-button
            matTooltip="Discussion Prompts"
            matTooltipPosition="above"
            aria-label="View discussion prompts"
            class="button small-button"
            (click)="viewDiscussionPrompts()"
          >
            <mat-icon class="small-icon">forum</mat-icon>
          </button>
        }

        @if (canAccessTutorNotes) {
          <div class="relative inline-block">
            <button
              mat-icon-button
              matTooltip="Open Tutor Notes"
              matTooltipPosition="above"
              class="button small-button"
              [disabled]="!selectedTask.tutor"
              (click)="viewTutorNotes()"
            >
              <mat-icon class="small-icon">local_library</mat-icon>
            </button>
          </div>
        }

        <div class="relative inline-block">
          @if (selectedTask.project.staffNoteCount > 0) {
            <div [matBadge]="selectedTask.project.staffNoteCount"></div>
          }
          <button
            #similaritiesButton
            mat-icon-button
            [matTooltip]="
              'Student has ' +
              (selectedTask.project.staffNoteCount || 'no') +
              ' staff note' +
              (selectedTask.project.staffNoteCount !== 1 ? 's' : '')
            "
            matTooltipPosition="above"
            aria-label="View detected similarities"
            class="button small-button"
            (click)="viewStaffNotes()"
          >
            <mat-icon class="small-icon">comment</mat-icon>
          </button>
        </div>
      }

      <button
        [disabled]="selectedTask === undefined"
        mat-icon-button
        matTooltip="Submission Options"
        matTooltipPosition="above"
        aria-label=""
        class="button small-button"
        [matMenuTriggerFor]="aboveMenu"
      >
        <mat-icon class="small-icon">more_vert</mat-icon>
      </button>

      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button
          mat-menu-item
          (click)="viewTaskSheet()"
          [disabled]="!selectedTaskService.hasTaskSheet"
        >
          <mat-icon matListItemIcon aria-label="View Task Sheet">description</mat-icon>
          View task sheet
        </button>
        <button
          mat-menu-item
          (click)="viewSubmission()"
          [disabled]="!selectedTaskService.hasSubmissionPdf"
        >
          <mat-icon
            matListItemIcon
            aria-label="View student submission"
            fontIcon="contact_page"
          ></mat-icon
          >View student submission
        </button>
        <button mat-menu-item (click)="viewSimilarity()">
          <mat-icon matListItemIcon aria-label="View Similarities">crisis_alert</mat-icon>
          View similarities
        </button>
        <button mat-menu-item (click)="viewOverseer()">
          <mat-icon matListItemIcon aria-label="View Overseer">preview</mat-icon>
          View overseer
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="selectedTask?.updateTaskStatus('assess_in_portfolio')">
          <mat-icon matListItemIcon aria-label="Switch to Assess in Portfolio"
            >folder_open</mat-icon
          >
          Mark as Assess in Portfolio
        </button>
        @if (!selectedTask?.hasPdf && selectedTask?.status === 'ready_for_feedback') {
          <button mat-menu-item (click)="selectedTask?.updateTaskStatus('not_started')">
            <mat-icon matListItemIcon aria-label="Return to Not Started">pause</mat-icon>
            Return to Not Started
          </button>
        }
        <button mat-menu-item (click)="selectedTask?.updateTaskStatus('feedback_exceeded')">
          <mat-icon matListItemIcon aria-label="Switch to Feedback Exceeded"
            >running_with_errors</mat-icon
          >
          Mark as feedback exceeded
        </button>
        <button
          mat-menu-item
          (click)="selectedTask?.updateTaskStatus('fail')"
          [disabled]="!actionButtonEnabled"
        >
          <mat-icon matListItemIcon aria-label="Fail icon" fontIcon="cancel"></mat-icon>
          Mark as fail
        </button>
      </mat-menu>
      <button
        [disabled]="selectedTask === undefined"
        mat-icon-button
        matTooltip="Download submitted files"
        matTooltipPosition="above"
        aria-label=""
        class="button small-button"
        (click)="downloadFiles()"
      >
        <mat-icon class="small-icon">sim_card_download</mat-icon>
      </button>
      <button
        [disabled]="selectedTask === undefined"
        mat-icon-button
        matTooltip="Download Submission"
        matTooltipPosition="above"
        aria-label=""
        class="button small-button"
        (click)="downloadSubmissionPdf()"
      >
        <mat-icon class="small-icon">file_download</mat-icon>
      </button>
      <f-project-progress-bar
        [matTooltip]="
          selectedTask?.project?.taskStats?.length > 4
            ? selectedTask.project.taskStats[4].value +
              '% progress towards ' +
              selectedTask.project.targetGradeWord
            : 'Progress unavailable'
        "
        [matTooltipDisabled]="selectedTask === undefined"
        [progress]="selectedTask?.project?.taskStats ?? 0"
      ></f-project-progress-bar>
      <mat-chip-listbox aria-label="Target Grade Symbol" class="pointer-events-none">
        <mat-chip-option style="min-width: 33px">{{
          selectedTask?.project?.targetGradeAcronym
        }}</mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>
</mat-toolbar>
