<mat-card>
  <mat-card-header>
    <div class="mb-2.5 flex">
      <f-task-badge class="mr-2.5" [taskDef]="taskDef"></f-task-badge>
      <mat-card-title>{{ taskDef?.name }}</mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div
      class="markdown-to-pdf"
      [innerHTML]="$safeNavigationMigration(taskDef?.description) | marked"
    ></div>
    @if (task) {
      <f-task-date-slider [task]="task" />
    }
    <ul>
      <li>{{ grades.names[taskDef?.targetGrade] }} Task</li>

      @if (unit?.allowFlexibleDates ?? taskDef?.unit?.allowFlexibleDates) {
        <li>I'm planning to <b>start</b> this task by {{ startDate() | date: 'EEE d MMM' }}.</li>
        <li [hidden]="!task?.extensions || task?.extensions <= 0">
          The due date has been <b>extended</b> by {{ task?.extensions }} week{{
            task?.extensions > 1 ? 's' : ''
          }}.
        </li>
        <li>I'm aiming to <b>submit</b> this task by {{ dueDate() | date: 'EEE d MMM' }}.</li>
        <li>
          To receive <b>feedback</b>, I must submit this task by
          {{ feedbackDate() | date: 'EEE d MMM' }}.
        </li>
      } @else {
        <li>
          Start Date &mdash; I'm aiming to <b>start</b> this task by
          {{ startDate() | date: 'EEE d MMM' }}.
        </li>
        <li [hidden]="!task?.extensions || task?.extensions <= 0">
          Extension &mdash; The due date has been extended by
          {{ task?.extensions }} week{{ task?.extensions > 1 ? 's' : '' }}.
        </li>
        <li>
          Due Date &mdash; I'm aiming to <b>submit</b> this task by
          {{ dueDate() | date: 'EEE d MMM' }}.
        </li>
      }
    </ul>
  </mat-card-content>
  <mat-card-actions
    class="space-x-1"
    [hidden]="!(taskDef?.hasTaskSheet || taskDef?.hasTaskResources)"
  >
    <!-- <button mat-stroked-button [hidden]="!taskDef?.hasTaskSheet" (click)="viewTaskSheet()">
      <mat-icon style="width: 20px; height: 20px; font-size: 20px" aria-label="View icon"
        >description</mat-icon
      >
      Task Sheet
    </button> -->
    <button mat-stroked-button [hidden]="!taskDef?.hasTaskSheet" (click)="downloadTaskSheet()">
      <mat-icon aria-label="Download icon" style="width: 20px; height: 20px; font-size: 20px"
        >download</mat-icon
      >
      Task Sheet
    </button>
    <button mat-stroked-button [hidden]="!taskDef?.hasTaskResources" (click)="downloadResources()">
      <mat-icon aria-label="Download icon" inline style="width: 20px; height: 20px; font-size: 20px"
        >download</mat-icon
      ><span>Resources</span>
    </button>
  </mat-card-actions>
</mat-card>
