<div class="card card-sm card-task-description">
  <div class="card-heading">
    <h4>Description</h4>
  </div><!--/description-heading-->
  <div class="card-body">
    <div class="markdown-to-pdf" ng-bind-html="task.definition.description | markdown"></div>
    <hr>
    <dl class="dl-horizontal">
      <dt>
        {{grades.acronyms[task.definition.target_grade]}} Task
      </dt>
      <dd>
        This task is a <strong>{{grade.names[task.definition.target_grade]}}</strong> task, and will be
        required to achieve a {{grade.names[task.definition.target_grade]}} grade in the unit.
      </dd>
      <dt>
        Target Date
      </dt>
      <dd>
        You should aim to have this task completed by {{task.definition.target_date | date:'EEE MMM d'}}.
      </dd>
    </dl>
  </div><!--/description-body-->
  <div class="card-footer" ng-show="task.definition.has_task_pdf || task.definition.has_task_resources">
    <a
      ng-click="downloadEvent('PDF')"
      href="{{urls.taskSheet}}"
      ng-show="task.definition.has_task_pdf"
      target="_blank"
      class="btn btn-primary">
      <i class="fa fa-file-pdf-o"></i>
      <i class="fa fa-download"></i>
      Download Task Sheet
    </a>
    <a
      ng-click="downloadEvent('Resources')"
      href="{{urls.resources}}"
      ng-show="task.definition.has_task_resources"
      target="_blank"
      class="btn btn-primary">
      <i class="fa fa-file-zip-o"></i>
      <i class="fa fa-download"></i>
      Download Task Resources
    </a>
  </div><!--/description-footer-->
</div>
