<div class="card card-default card-sm">
  <div class="card-heading">
    <h4>Description</h4>
  </div><!--/description-heading-->
  <div class="card-body">
    <div class="markdown-to-pdf" ng-bind-html="taskDef.description | markdown"></div>
  </div><!--/description-body-->
  <div class="card-footer">
    <h5>Key Information</h5>
    <ul>
      <li>
        <strong>{{grades.names[taskDef.target_grade]}} Task</strong>
        &mdash;
        This task is a <strong>{{grades.names[taskDef.target_grade] | lcfirst}}</strong> task.
      </li>
      <li>
        <strong>Due Date</strong>
        &mdash;
        Aim to have this task completed by <strong>{{dueDate() | humanizedDate}}</strong>.
      </li>
      <li ng-show="task && task.extensions > 0">
          <strong>Number of extensions</strong>
          &mdash;
          you have requested <strong>{{task.extensions}}</strong> one week extension{{task.extensions > 1 ? "s" : ""}} for this task.
        </li>
      <li ng-show="should_show_deadline()">
        <strong>Deadline</strong>
        &mdash;
        Tutors will not give feedback on work submitted after <strong>{{taskDef.due_date | humanizedDate}}</strong>. Your work will be checked in your portfolio.
      </li>
    </ul>
  </div><!--/key-info-footer-->
  <div class="card-footer" ng-show=" (!task.inTerminalState() && !task.isOverdue()) || taskDef.has_task_sheet || taskDef.has_task_resources">
    <a
      ng-click="downloadEvent('PDF')"
      href="{{urls.taskSheet}}"
      ng-show="taskDef.has_task_sheet"
      target="_blank"
      class="btn btn-primary">
      <i class="fa fa-download"></i>
      Download Task Sheet
    </a>
    <a
      ng-click="downloadEvent('Resources')"
      href="{{urls.resources}}"
      ng-show="taskDef.has_task_resources"
      target="_blank"
      class="btn btn-primary">
      <i class="fa fa-download"></i>
      Download Resources
    </a>
    <a
      ng-click="applyForExtension()"
      ng-hide="task.inTerminalState() || task.isOverdue()"
      class="btn btn-success">
      <i class="fa fa-medkit"></i>
      Request Extension
    </a>
  </div><!--/description-footer-->
</div>
