<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ taskDef?.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="markdown-to-pdf" [innerHTML]="taskDef?.description | marked"></div>
    <ul>
      <li>{{ grades.names[taskDef?.targetGrade] }} Task</li>
      <li>Start Date &mdash; Aim to start this task by {{ startDate() | date: 'EEE d MMM' }}.</li>
      <li [hidden]="!task?.extensions || task?.extensions <= 0">
        Extension &mdash; You have an extension for
        {{ task?.extensions }} week{{ task?.extensions > 1 ? 's' : '' }}.
      </li>
      <li>Due Date &mdash; Aim to complete by {{ dueDate() | date: 'EEE d MMM' }}.</li>
    </ul>
  </mat-card-content>
  <mat-card-actions class="space-x-2" [hidden]="!(taskDef?.hasTaskSheet || taskDef?.hasTaskResources)">
    <button mat-stroked-button [hidden]="!taskDef?.hasTaskSheet" (click)="downloadTaskSheet()">
      <mat-icon style="width: 20px; height: 20px; font-size: 20px" aria-label="Download icon">download</mat-icon>
      Task Sheet
    </button>
    <button mat-stroked-button [hidden]="!taskDef?.hasTaskResources" (click)="downloadResources()">
      <mat-icon style="width: 20px; height: 20px; font-size: 20px" inline aria-label="Download icon">download</mat-icon
      ><span>Resources</span>
    </button>
  </mat-card-actions>
</mat-card>
