<div class="container">
  <div class="large-notice-block" ng-hide="dataLoaded">
    <i class="fa fa-pulse fa-2x fa-spinner"></i>
    <p>Loading unit details...</p>
  </div>
  <div class="panel panel-primary" ng-show="dataLoaded">
    <div class="panel-heading clearfix">
      <div class="pull-left">
        <h4 class="panel-title">Units</h4>
        Modify units registered with {{externalName.value}}
      </div>
      <form role="search" class="pull-right form-horizontal">
        <input
          id="searchbar"
          class="input-md form-control"
          placeholder="Search for units..."
          type="search"
          ng-model="search"
          autocomplete="off"
          typeahead="text for text in typeAhead(units) | filter:$viewValue | limitTo:8"
        />
        <p ng-show="filteredUnits.length < students.length && filteredUnits.length != 0">
          Showing {{filteredUnits.length}} of {{users.length}} users.
        </p>
        <p ng-show="filteredUnits.length < students.length && filteredUnits.length == 0">No students found.</p>
      </form>
    </div>
    <div class="panel-body">
      <div class="callout callout-info" ng-hide="units.length > 0">
        No units have been registered with {{externalName.value}} yet
      </div>
      <div style="overflow: auto; position: relative">
        <table ng-show="units.length > 0" class="table table-hover table-pointer" style="min-width: 720px">
          <thead>
            <tr>
              <th>
                <a ng-click="sortOrder='code'; reverse=!reverse"
                  >Unit Code <i ng-show="sortOrder=='code'" class="fa fa-caret-{{reverse ? 'down' : 'up'}}"></i
                ></a>
              </th>
              <th>
                <a ng-click="sortOrder='name'; reverse=!reverse"
                  >Name <i ng-show="sortOrder=='name'" class="fa fa-caret-{{reverse ? 'down' : 'up'}}"></i
                ></a>
              </th>
              <th>
                <a ng-click="sortOrder='unitRole'; reverse=!reverse"
                  >Unit Role <i ng-show="sortOrder=='unitRole'" class="fa fa-caret-{{reverse ? 'down' : 'up'}}"></i
                ></a>
              </th>
              <th>
                <a ng-click="sortOrder='teachingPeriod.name()'; reverse=!reverse"
                  >Teaching Period<i
                    ng-show="sortOrder=='teachingPeriod.name()'"
                    class="fa fa-caret-{{reverse ? 'down' : 'up'}}"
                  ></i
                ></a>
              </th>
              <th>
                <a ng-click="sortOrder='startDate'; reverse=!reverse"
                  >Start Date <i ng-show="sortOrder=='startDate'" class="fa fa-caret-{{reverse ? 'down' : 'up'}}"></i
                ></a>
              </th>
              <th>
                <a ng-click="sortOrder='endDate'; reverse=!reverse"
                  >End Date <i ng-show="sortOrder=='endDate'" class="fa fa-caret-{{reverse ? 'down' : 'up'}}"></i
                ></a>
              </th>
              <th>
                <a ng-click="sortOrder='active'; reverse=!reverse"
                  >Active <i ng-show="sortOrder=='active'" class="fa fa-caret-{{reverse ? 'down' : 'up'}}"></i
                ></a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              ng-repeat="unit in filteredUnits = (units | filter:search) | orderBy:sortOrder:reverse | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize"
              ui-sref="units/admin({unitId: unit.id})"
            >
              <td>
                <label class="label label-info"> {{unit.code}} </label>
              </td>
              <td>{{unit.name}}</td>
              <td>{{(unit.myRole | ucfirst) || "N/A"}}</td>
              <td ng-if="unit.teachingPeriod">{{unit.teachingPeriod.name()}}</td>
              <td ng-if="!unit.teachingPeriod">Custom</td>
              <td>{{unit.startDate | date : 'EEE d MMM y'}}</td>
              <td>{{unit.endDate | date : 'EEE d MMM y'}}</td>
              <td ng-if="unit.teachingPeriod">
                <i ng-if="unit.teachingPeriod.active && unit.active" class="fa fa-check"></i>
                <i ng-if="!unit.teachingPeriod.active || !unit.active" class="fa fa-times"></i>
              </td>
              <td ng-if="!unit.teachingPeriod">
                <i ng-if="unit.active" class="fa fa-check"></i>
                <i ng-if="!unit.active" class="fa fa-times"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer clearfix">
      <pagination
        ng-show="filteredUnits.length > pageSize"
        total-items="filteredUnits.length"
        ng-model="currentPage"
        items-per-page="pageSize"
        max-size="maxSize"
        class="pagination-sm pull-left"
        boundary-links="true"
        rotate="false"
      ></pagination>
      <button class="btn btn-success pull-right" ng-click="createUnit()">
        <i class="fa fa-university"></i>
        <i class="fa fa-plus"></i>
        Create Unit
      </button>
    </div>
  </div>
</div>
