<div class="flex flex-col">
  <div class="flex flex-grow flex-row">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="task-definition">
        <th *matHeaderCellDef mat-header-cell>Task</th>
        <td
          *matCellDef="let link"
          mat-cell
          [class.line-through]="link.hasMetRequiredState($safeNavigationMigration(task?.project))"
        >
          {{ link.prerequisite?.abbreviation }} {{ link.prerequisite?.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="minimum-required-state">
        <th *matHeaderCellDef mat-header-cell>
          @if (staffView) {
            Minimum Required Status
          } @else {
            Current Status
          }
        </th>
        <td
          *matCellDef="let link"
          mat-cell
          [class.line-through]="link.hasMetRequiredState($safeNavigationMigration(task?.project))"
        >
          @if (!staffView) {
            <status-icon
              matBadgePosition="before"
              [status]="
                link.prerequisite?.projectTask($safeNavigationMigration(task?.project))?.status ??
                'not_started'
              "
            ></status-icon>
          } @else {
            @if (link.taskStatus) {
              <mat-select
                matTooltip="Task must reach this state before students can submit"
                matTooltipShowDelay="1000"
                placeholder="Select required status"
                [(value)]="link.taskStatus"
                (selectionChange)="updateTaskPrerequisite(link)"
              >
                @for (state of stateOptions; track state) {
                  <mat-option [value]="state.value">
                    {{ state.label }}
                  </mat-option>
                }
              </mat-select>
            }
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef class="whitespace-nowrap" mat-header-cell>
          @if (staffView) {
            Actions
          } @else {
            Required Status
          }
        </th>
        <td *matCellDef="let link" mat-cell>
          @if (staffView) {
            <td class="px-2 py-1 text-right">
              <button
                aria-label="Remove prerequisite"
                color="warn"
                mat-icon-button
                (click)="removePrerequisite(link)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          } @else {
            <status-icon
              matBadgePosition="before"
              [status]="link.taskStatus ?? 'complete'"
            ></status-icon>
          }
        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>
  </div>

  @if (staffView) {
    <div class="flex flex-grow flex-row items-center">
      <mat-form-field appearance="outline" class="mt-[22px] w-full">
        <input
          matInput
          placeholder="Select a task prerequisite"
          type="text"
          [formControl]="searchCtrl"
          [matAutocomplete]="auto"
          [(ngModel)]="selectedTaskPrerequisite"
        />
        <button
          class="mr-2.5"
          color="primary"
          mat-raised-button
          matSuffix
          [disabled]="!selectedTaskPrerequisite"
          (click)="addTaskPrerequisite($event)"
        >
          <mat-icon class="icon_display">add</mat-icon>
          Add
        </button>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          @for (td of filteredTaskDefs; track td) {
            <mat-option [value]="td"> {{ td.abbreviation }} - {{ td.name }} </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
  }
</div>
