<div class="flex flex-col">
  <div class="flex-grow flex flex-row">
    <table class="w-full">
      <tbody>
        @for (prereq of prerequisites | async; track prereq) {
          @if (prereq.id !== taskDefinition.id) {
            <tr class="border-b">
              @if (!editingMode) {
                <td class="py-2 px-3 w-[75px]">
                  <status-icon
                    [hidden]="isNarrow"
                    matBadgePosition="before"
                    [status]="prereq.projectTask(task?.project)?.status ?? 'not_started'"
                  ></status-icon>
                </td>
              }

              <td
                class="py-2 px-3 w-[50px] text-center"
                [class.line-through]="prereq.projectTask(task?.project)?.inSubmittedState()"
              >
                {{ prereq.abbreviation }}
              </td>
              <td
                class="py-2 px-3"
                [class.line-through]="prereq.projectTask(task?.project)?.inSubmittedState()"
              >
                {{ prereq.name }}
              </td>
              @if (!editingMode) {
                <td>{{ prereq.projectTask(task?.project)?.statusLabel() ?? 'Not Started' }}</td>
              }
              @if (editingMode) {
                <td class="py-2 px-3 text-right">
                  <button
                    mat-icon-button
                    aria-label="Remove prerequisite"
                    color="warn"
                    (click)="removePrerequisite(prereq)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              }
            </tr>
          }
        }
      </tbody>
    </table>
  </div>

  @if (editingMode) {
    <div class="flex-grow flex flex-row items-center">
      <mat-form-field appearance="outline" class="w-full mt-[22px]">
        <input
          placeholder="Select a task prerequisite"
          type="text"
          matInput
          [matAutocomplete]="auto"
          [(ngModel)]="selectedTaskPrerequisite"
          [formControl]="searchCtrl"
        />
        <button
          mat-raised-button
          color="primary"
          class="min-w-xl mr-4"
          (click)="addTaskPrerequisite()"
          [disabled]="!selectedTaskPrerequisite"
          matSuffix
        >
          <mat-icon class="icon_display">add</mat-icon>
          Add
        </button>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          @for (td of filteredTaskDefs; track td) {
            <mat-option [value]="td"> {{ td.abbreviation }} - {{ td.name }} </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
  }
</div>
