<div class="activity-type-list-container">
  <div class="header">
    <div class="mt-6">
      <h1 class="mb-0.5">Activities</h1>
      <p>Add new activities or modify existing ones</p>
    </div>
  </div>
  <table
    class="f-table"
    mat-table
    matSort
    [dataSource]="dataSource"
    (matSortChange)="sortTableData($event)"
  >
    <!-- Name Column -->
    <ng-container matColumnDef="name" [formGroup]="formData">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
      <td *matCellDef="let activityType" mat-cell>
        @if (!editing(activityType)) {
          <div>
            {{ activityType.name }}
          </div>
        } @else {
          <mat-form-field appearance="outline" class="data-entry">
            <input formControlName="name" matInput placeholder="Name" required />
          </mat-form-field>
        }
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <mat-form-field appearance="outline" class="data-entry">
          <input formControlName="name" matInput placeholder="Name" required />
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Abbreviation Column -->
    <ng-container matColumnDef="abbreviation" [formGroup]="formData">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Abbreviation</th>
      <td *matCellDef="let activityType" mat-cell>
        @if (!editing(activityType)) {
          <div>
            {{ activityType.abbreviation }}
          </div>
        } @else {
          <mat-form-field appearance="outline" class="data-entry">
            <input formControlName="abbreviation" matInput placeholder="Abbreviation" required />
          </mat-form-field>
        }
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <mat-form-field appearance="outline" class="data-entry">
          <input formControlName="abbreviation" matInput placeholder="Abbreviation" required />
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Options Column -->
    <ng-container matColumnDef="options" stickyEnd>
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let activityType" mat-cell>
        @if (!editing(activityType)) {
          <div class="right">
            <button
              aria-label="edit activity type"
              mat-icon-button
              (click)="flagEdit(activityType)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        } @else {
          <div class="edit-actions right">
            <span>
              <button aria-label="cancel edit" color="warn" mat-icon-button (click)="cancelEdit()">
                <mat-icon>cancel</mat-icon>
              </button>
              <button
                aria-label="submit changes"
                color="primary"
                mat-icon-button
                (click)="submit()"
              >
                <mat-icon>save</mat-icon>
              </button>
              <button
                aria-label="delete activity type"
                mat-icon-button
                (click)="deleteActivity(activityType)"
              >
                <mat-icon color="primary">delete</mat-icon>
              </button>
            </span>
          </div>
        }
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <div class="edit-actions right">
          <button mat-icon-button (click)="submit()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="columns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columns" mat-row></tr>
    <tr *matFooterRowDef="columns" mat-footer-row [hidden]="selected"></tr>
  </table>
</div>
