table {
  width: 100%;
  th {
    color: #337ab7;
    font-weight: 900;
  }
  .unit_code_box {
    width: 60%;
    padding: 2px;
    text-align: center;
    font-weight: 900;
    background-color: #5cc0de;
    color: #fff;
    border-radius: 5px;
  }
}
