<div>
  <div class="mat-elevation-z8">
    <div class="header">
      <div >
        <h3>Units</h3>
        <p>Modify units registered with OnTrack</p>
      </div>
      <div class="spacer"></div>
      <div class="filter">
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" />
        </mat-form-field>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortTableData($event)">

      <!-- Unit Code Column -->
      <ng-container matColumnDef="unit_code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit Code </th>
        <td mat-cell *matCellDef="let element">
          <div class="unit_code_box">{{element.code}}</div>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Unit Role Column -->
      <ng-container matColumnDef="unit_role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit Role </th>
        <td mat-cell *matCellDef="let element"> {{element.myRole}} </td>
      </ng-container>

      <!-- Teaching Period Column -->
      <ng-container matColumnDef="teaching_period">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Teaching Period </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.teachingPeriod; else customTeachingPeriod">
            {{element.teachingPeriod.name}}
          </ng-container>

          <ng-template #customTeachingPeriod>
            Custom
          </ng-template>
        </td>
      </ng-container>


      <!-- Start Date Column -->
      <ng-container matColumnDef="start_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </th>
        <td mat-cell *matCellDef="let element"> {{element.startDate | date : 'EEE d MMM y'}} </td>
      </ng-container>

      <!-- End Date Column -->
      <ng-container matColumnDef="end_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> End Time </th>
        <td mat-cell *matCellDef="let element"> {{element.endDate | date : 'EEE d MMM y'}} </td>
      </ng-container>

      <!-- Active Column -->
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
        <td mat-cell *matCellDef="let element">
          <!-- If element.teachingPeriod exists -->
          <ng-container *ngIf="element.teachingPeriod; else noTeachingPeriod">
            <i *ngIf="element.teachingPeriod.active && element.active" class="fa fa-check"></i>
            <i *ngIf="!element.teachingPeriod.active || !element.active" class="fa fa-times"></i>
          </ng-container>

          <!-- If element.teachingPeriod does not exist -->
          <ng-template #noTeachingPeriod>
            <i *ngIf="element.active" class="fa fa-check"></i>
            <i *ngIf="!element.active" class="fa fa-times"></i>
          </ng-template>
        </td>
      </ng-container>




      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" uiSref="units/admin" [uiParams]="{ unitId: row.id }">
      </tr>

    </table>

    <div class="unit_table_footer">
      <button mat-raised-button color="primary" (click)="createUnit()"><mat-icon aria-hidden="false"
          aria-label="Example home icon" fontIcon="add"></mat-icon>
        Create Unit</button>
    </div>

  </div>
</div>
