table {
  width: 100%;
}
.header {
  display: flex;
}
.spacer {
  flex-grow: 1;
}
.filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

table {
  width: 100%;
  th {
    color: #337ab7;
    font-weight: 900;
  }
  .unit_code_box {
    width: 60%;
    padding: 2px;
    text-align: center;
    font-weight: 900;
    background-color: #5cc0de;
    color: #fff;
    border-radius: 5px;
  }
}

.unit_table_footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  button {
    font-weight: 900;
    mat-icon {
      font-weight: 900;
    }
  }
}

.add_unit_btn {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgba(0, 0, 0, 0.1);
}

.demo-row-is-clicked {
  font-weight: bold;
}

