<div class="container" id="portfolio-state">
  <tabset class="tabset-icon">
    <tab ng-repeat="tab in tabs | toArray | orderBy: 'seq'" active="tab.active" disabled="true">
      <tab-heading>
        <strong>Step {{tab.seq}}:</strong> {{tab.title}}
      </tab-heading>
    </tab>
  </tabset><!--/tabs-->
  <portfolio-welcome-step ng-if="activeTab == tabs.welcomeStep"></portfolio-welcome-step>
  <portfolio-grade-select-step ng-if="activeTab == tabs.gradeStep"></portfolio-grade-select-step>
  <portfolio-learning-summary-report-step ng-if="activeTab == tabs.summaryStep"></portfolio-learning-summary-report-step>
  <portfolio-tasks-step ng-if="activeTab == tabs.taskStep"></portfolio-tasks-step>
  <portfolio-add-extra-files-step ng-if="activeTab == tabs.otherFilesStep"></portfolio-add-extra-files-step>
  <portfolio-review-step ng-if="activeTab == tabs.reviewStep"></portfolio-review-step>
</div>
