<div class="w-full" id="portfolio-state" *ngIf="project">
  <mat-tab-group
    [selectedIndex]="selectedTabIndex"
    (selectedIndexChange)="onSelectedTabIndexChange($event)"
    class="mb-5"
    [dynamicHeight]="true"
  >
    @for (tab of orderedTabs; track tab.seq) {
      <mat-tab
        [label]="'Step ' + tab.seq + ': ' + tab.title"
        [disabled]="isTabDisabled(tab)"
      ></mat-tab>
    }
  </mat-tab-group>

  @if (activeTab === tabs.welcomeStep) {
    <f-portfolio-welcome-step
      [onAdvanceActiveTab]="advanceActiveTab.bind(this)"
    ></f-portfolio-welcome-step>
  }

  @if (activeTab === tabs.gradeStep) {
    <f-portfolio-grade-select-step
      [project]="project"
      [unit]="project.unit"
      [onAdvanceActiveTab]="advanceActiveTab.bind(this)"
    ></f-portfolio-grade-select-step>
  }

  @if (activeTab === tabs.summaryStep) {
    <f-portfolio-learning-summary-report-step
      [unit]="project.unit"
      [project]="project"
      [onAdvanceActiveTab]="advanceActiveTab.bind(this)"
    ></f-portfolio-learning-summary-report-step>
  }

  @if (activeTab === tabs.otherFilesStep) {
    <f-portfolio-add-extra-files-step
      [project]="project"
      [onAdvanceActiveTab]="advanceActiveTab.bind(this)"
    ></f-portfolio-add-extra-files-step>
  }

  @if (activeTab === tabs.reviewStep) {
    <f-portfolio-review-step
      [project]="project"
      [unit]="project.unit"
      [onAdvanceActiveTab]="advanceActiveTab.bind(this)"
    ></f-portfolio-review-step>
  }
</div>
