//
// Overrides for the body (i.e., global overrdies)
//
$main-view-top-padding: 30px;
$main-view-bottom-padding: $main-view-top-padding;

$main-view-max-height: calc((var(--vh, 1vh) * (100)) - 85px);

/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
  // background-color: #f5f5f5;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  height: $main-view-max-height;
  width: 100vw;
  font-family: 'Roboto', Helvetica;
  font-size: 1.2em;
  line-height: 2;
  font-weight: normal;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

// body>[ui-view="header"]:not(:empty)+[ui-view="main"] {
//   padding-top: $main-view-top-padding;
//   padding-bottom: $main-view-bottom-padding;
// }
