//
// Global overrides for panels
//
.panel-footer .pagination, .modal-footer .pagination {
  margin: 0;
}

.panel-body + .panel-heading, .panel-body + * > .panel-heading {
  border-top: 1px solid #ddd !important;
  border-radius: 0 !important;
}

.panel-heading > .pull-left {
  padding-left: 0 !important; // Override for col-sm-*
}
.panel-heading > .pull-right {
  padding-right: 0 !important; // Override for col-sm-*
}

.panel-row {
  display: flex;
  .panel {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .panel-body {
    flex: 1;
  }
  .panel-heading, .panel-body, .panel-footer {
    width: 100%;
  }
  .panel + .panel {
    margin-left: $panel-body-padding;
  }
}

.panel-marking-context {
  padding: 0;
  .panel {
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
  }
  .panel-submission-marking-context .panel-body {
    padding: 60px;
  }
}
