@use 'sass:color';

// The generated <rating> from ui-bootstrap becomes this
span[role='slider'] {
  outline: none;
}
.rating-outline {
  color: color.adjust($brand-warning, $lightness: 30%);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $brand-warning;
}
.rating-disabled {
  color: color.adjust($text-muted, $lightness: 30%);
}
.rating-star::before {
  content: 'star';
}
