.campus-list-container {
  padding: 0 1rem 1rem 1rem;
}
table {
  width: 100%;
}
.header {
  display: flex;
  .interactions {
    margin-left: auto;
    margin-top: auto;
  }
}
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 4px;
}
td.mat-column-options {
  width: 84px;
  button {
    float: right;
  }
  span {
    display: inline;
  }
}
.actions {
  display: flex;
  padding: 2rem 0 1rem 0;
  button {
    margin-left: auto;
  }
}
.divider {
  width: 8px;
  height: auto;
  display: inline-block;
}
.data-entry {
  padding: 1rem 1rem 1rem 0;
  width: 95%;
}
.mat-checkbox-inner-container {
  width: 20px;
  height: 20px;
}
