<div class="task-status-stats drilldown-visualiser">
  <div class="panel-body" ng-if="data">
    <div class="clearfix">
      <div class="btn-group col-sm-6 pull-left">
        <label class="btn btn-default" ng-model="dataModel.selectedType" btn-radio="'unit'">
          <i tooltip="View task statuses over entire unit" class="fa fa-university"></i>
        </label>
        <label class="btn btn-default" ng-model="dataModel.selectedType" btn-radio="'tutorial'">
          <i tooltip="View task statuses by tutorial" class="fa fa-pencil"></i>
        </label>
        <label class="btn btn-default" ng-model="dataModel.selectedType" btn-radio="'task'">
          <i tooltip="View task statuses by task" class="fa fa-tasks"></i>
        </label>
      </div>
      <div class="col-sm-6 pull-right" ng-if="dataModel.selectedType == 'tutorial'">
        <select
          class="form-control"
          ng-options="tutorial as (tutorial.text) for tutorial in (tutorialsForSelector | orderBy: 'tutorial.abbreviation' | reverse) track by tutorial.id"
          ng-model="dataModel.selectedTutorial"></select>
      </div>
      <div class="col-sm-6 pull-right" ng-if="dataModel.selectedType == 'task'">
        <select
          class="form-control"
          ng-options="task as (task.text) for task in (tasksForSelector | orderBy: 'seq') track by task.id"
          ng-model="dataModel.selectedTask"></select>
      </div>
    </div><!--/toolbar-->
    <hr>
    <div ng-show="depth == 0">
      <h4 class="col-xs-12 text-center" ng-show="dataModel.selectedType == 'unit'">
        Task status distribution in <strong>{{unit.code}}</strong>
      </h4>
      <h4 class="col-xs-12 text-center" ng-show="dataModel.selectedType == 'task'">
        <p>Task status distribution of <strong>{{dataModel.selectedTask.abbreviation}}</strong> in <strong>{{unit.code}}</strong></p>
        <p class='small text-muted'>{{dataModel.selectedTask.name}}</p>
      </h4>
      <h4 class="col-xs-12 text-center" ng-show="dataModel.selectedType == 'tutorial'">
        <p>Status by Task for Tutorial <strong>{{dataModel.selectedTutorial.abbreviation}}</strong></p>
        <p class='small text-muted'>{{dataModel.selectedTutorial.tutor.name}} at {{dataModel.selectedTutorial.meeting_time | date: shortTime}}</p>
      </h4>
    </div><!--/headers-for-depth-0-->
    <div ng-show="depth == 1">
      <h4 class="col-xs-12 text-center" ng-show="dataModel.selectedType == 'tutorial'">
        Task status distribution over all tutorials in <strong>{{unit.code}}</strong>
      </h4>
      <h4 class="col-xs-12 text-center" ng-show="dataModel.selectedType == 'task'">
        Task status distribution over all tasks in <strong>{{unit.code}}</strong>
      </h4>
    </div><!--/headers-for-depth-1-->
    <div ng-show="depth == 2">
      <h4 class="col-xs-12 text-center" ng-show="dataModel.selectedType == 'tutorial'">
        <p>Status by Task for Tutorial <strong>{{dataModel.selectedTutorial.abbreviation}}</strong></p>
        <p class='small text-muted'>{{dataModel.selectedTutorial.tutor.name}} at {{dataModel.selectedTutorial.meeting_time | date: shortTime}}</p>
      </h4>
      <h4 class="col-xs-12 text-center" ng-show="dataModel.selectedType == 'task'">
        <p>Status by Tutorial for Task <strong>{{dataModel.selectedTask.abbreviation}}</strong></p>
        <p class='small text-muted'>{{dataModel.selectedTask.name}}</p>
      </h4>
    </div><!--/headers-for-depth-2-->
    <p class="col-sm-12 help-block text-center">
      Click chart to explore details
    </p><!--/click-chart-help-block-->
    <div ng-if="depth == 0" ng-click="drillDown()" class="overview-chart">
      <task-status-pie-chart data="data" show-legend="true" height="600"></task-status-pie-chart>
    </div><!--/depth-0-chart-->
    <div ng-if="(dataModel.selectedTask.id < 0) || (depth >= 1 && dataModel.selectedTutorial.id > 0)" class="overview-charts">
      <div ng-repeat="chart in overviewKeys" class="col-xs-6 col-sm-4 col-md-3 overview-chart" ng-click="drillToTask(chart.task)">
        <task-status-pie-chart ng-if="chart.show" data="chart.data" show-legend="false" height="200"></task-status-pie-chart>
        <div class="no-data-to-display" ng-hide="chart.show">
          No data
        </div>
        <div class="col-xs-12 caption text-center">
          <strong class="col-xs-12">{{chart.title}}</strong>
          <div class="col-xs-12 small text-muted">{{chart.subtitle}}</div>
        </div>
      </div>
    </div><!--/overview-chart-charts-of-tutorials-or-tasks-->
    <div ng-if="(dataModel.selectedTutorial.id < 0) || (depth >= 1 && dataModel.selectedTask.id > 0)" class="overview-charts">
      <div ng-repeat="chart in (overviewKeys | orderBy: 'title' )" class="col-xs-6 col-sm-4 col-md-3 overview-chart" ng-click="drillToTutorial(chart.tutorial)">
        <task-status-pie-chart ng-if="chart.show" data="chart.data" show-legend="false" height="200"></task-status-pie-chart>
        <div class="no-data-to-display" ng-hide="chart.show">
          No data
        </div>
        <div class="col-xs-12 caption text-center">
          <strong>{{chart.title}}</strong>
          <div class="small text-muted">{{chart.subtitle}}</div>
        </div>
      </div>
    </div><!--/overview-chart-charts-of-tutorials-or-tasks-->
  </div>
  <div class="large-notice-block" ng-hide="data">
    <i class="fa fa-spinner fa-pulse fa-3x"></i>
    <p>Loading...</p>
  </div>
  <div class="panel-footer text-center" ng-show="data && depth == 0">
    <strong>{{completeStats.completed}}%</strong> of student tasks are marked as complete, while <strong>{{completeStats.left}}%</strong> are not
  </div><!--/footer-->
</div>
