<mat-form-field>
  <mat-label>Flag Percent</mat-label>
  <input matInput [(ngModel)]="taskDefinition.plagiarismWarnPct" required />
  <mat-hint>Flag all above this percentage similarity</mat-hint>
</mat-form-field>

<p><button mat-button (click)="addCheck()">Add</button></p>

<mat-card *ngFor="let check of taskDefinition.plagiarismChecks" class="upload-card">
  <mat-card-content>
    <mat-form-field>
      <mat-label>Language</mat-label>
      <mat-select [(value)]="check.type">
        <mat-option [value]="'moss c'">C</mat-option>
        <mat-option [value]="'moss csharp'">C#</mat-option>
        <mat-option [value]="'moss cc'">C++</mat-option>
        <mat-option [value]="'moss python'">Python</mat-option>
      </mat-select>
      <mat-hint>Language used for checks</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="*.c|*.h" [(ngModel)]="check.pattern" />
      <mat-hint>The kind of file required</mat-hint>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button color="warn" (click)="removeUpReq(upreq)"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>
