.audio-button{
    width: 30px;
    border-radius: 70%;
    background-color: #f03d25;
  }
.audio-button:hover {
  }

.audio-button:disabled {
    opacity: 0.3;
    filter: alpha(opacity=30); /* msie */
    background-color: #000;
  }

.audio-visualiser {
    height: 26px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    background: rgb(241, 241, 241);
    border-radius: 0.8em;

}

.audio-comment-container {
  vertical-align:middle;
  padding: 0%;
  width: 100%;
}