.audio-comment-container {

  button:focus {
    outline:0;
  }

  button.play-button {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    i {
      font-size: 25px;
      margin-left: -10px;
    }
  }

  display: flex;
  vertical-align: middle;
  padding: 0%;
  width: 100%;

  i {
    color: white;
  }

  p#duration {
    float: right;
    white-space: nowrap;
    font-size: 12px;
    transform: translateY(16%);
    padding-left: 10px;
  }

  .progress {
    margin-bottom: 0px;
  }

  .progress-bar-container {
    background-color: white;
    width: 90%;
    height: 2px;
    align-self: center;
  }

  .progress-bar {
    background-color: #03dac5;
    width: 90%;
    transition : width 0.5s linear;
    height: 2px;
  }
}