<h1 mat-dialog-title>Import Units Into {{ data.teachingPeriod.name }}</h1>
<div mat-dialog-content>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="unitCode">
      <th *matHeaderCellDef mat-header-cell>Unit Code</th>
      <td *matCellDef="let unitToImport" mat-cell>
        <mat-form-field appearance="outline">
          <input
            matInput
            [(ngModel)]="unitToImport.unitCode"
            (input)="codeChange($event.target.value, unitToImport)"
          />
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="sourceUnit">
      <th *matHeaderCellDef mat-header-cell>Source Unit</th>
      <td *matCellDef="let unitToImport" mat-cell>
        <object-select
          placeholder="New Unit"
          [source]="unitToImport.relatedUnits"
          [target]="unitToImport.sourceUnit"
          (targetChange)="changeSourceUnit(unitToImport, $event)"
        ></object-select>
      </td>
    </ng-container>

    <ng-container matColumnDef="unitName">
      <th *matHeaderCellDef mat-header-cell>Unit Name</th>
      <td *matCellDef="let unitToImport" mat-cell>
        @if (unitToImport.sourceUnit) {
        <span>{{ unitToImport.sourceUnit.name }}</span>
        } @if (!unitToImport.sourceUnit) {
        <mat-form-field appearance="outline">
          <mat-label>Unit Name</mat-label>
          <input matInput [(ngModel)]="unitToImport.unitName" />
        </mat-form-field>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="convenor">
      <th *matHeaderCellDef mat-header-cell>Main Convenor</th>
      <td *matCellDef="let unitToImport" mat-cell>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="text"
            [formControl]="unitToImport.convenorFormControl"
            [matAutocomplete]="auto"
            [(ngModel)]="unitToImport.convenor"
          />
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            @for (staff of filteredStaffFor(unitToImport) | async; track staff) {
            <mat-option [value]="staff"> {{staff.name}} </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell>Status</th>
      <td *matCellDef="let unitToImport" mat-cell>
        <span>{{ statusForUnit(unitToImport) }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let unitToImport" mat-cell>
        <button mat-button (click)="removeUnitToAdd(unitToImport)">Remove</button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>
<div class="flex-column flex" mat-dialog-actions>
  <div class="flex flex-row">
    <mat-form-field appearance="outline">
      <mat-label>Unit Code(s)</mat-label>
      <input matInput [(ngModel)]="codesToAdd" />
    </mat-form-field>
    <button color="secondary" mat-button (click)="addUnitsByCode()">Add</button>
    <span class="flex-grow"></span>
    <button color="primary" mat-button (click)="doImport()">Import</button>
    <button mat-button (click)="onCloseClick()">Close</button>
  </div>
</div>
