<div class="flex items-center">
  <ng-container *ngIf="unit; else selectUnitButton">
    <div class="float-right ml-10 mr-10" matTooltip="{{ unit.name }}">
      <mat-chip
        style="cursor: pointer"
        [matMenuTriggerFor]="menu"
        #menuState="matMenuTrigger"
        selected="true"
        class="mat-primary"
      >
        {{ unit?.code }}
        <mat-icon>{{ menuState.menuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
      </mat-chip>
    </div>
  </ng-container>
  <ng-template #selectUnitButton>
    <button mat-button [matMenuTriggerFor]="menu" #menuState="matMenuTrigger">
      Select Unit
      <mat-icon>{{ menuState.menuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
    </button>
  </ng-template>
</div>

<mat-menu #menu="matMenu" class="unit-dropdown-menu">
  <button *ngIf="media.isActive('xs')" uiSref="home" class="flex items-center" mat-menu-item>
    <mat-icon uiSref="home" class="mr-20" svgIcon="formatif-logo" aria-hidden="false" aria-label="Home Icon"></mat-icon>
    <div class="unitName">Home</div>
    <span class="flex-grow"></span>
  </button>
  <mat-divider *ngIf="media.isActive('xs')"></mat-divider>

  <div class="mb-2" mat-subheader [hidden]="unitRoles?.length === 0">Units you teach</div>
  <div *ngFor="let unitRole of unitRoles">
    <button
      *ngIf="!unitRole.unit.teachingPeriod || unitRole.unit.teachingPeriod?.active"
      uiSref="units/tasks/inbox"
      [uiParams]="{ unitId: unitRole.unit.id }"
      class="flex items-center mb-2"
      mat-menu-item
    >
      <div class="unitCode">{{ unitRole.unit.code }} - {{ unitRole.unit.name }}</div>
    </button>
  </div>

  <mat-divider class="mb-2" [hidden]="unitRoles?.length === 0 || projects?.length === 0"></mat-divider>
  <div class="mb-2" mat-subheader [hidden]="projects?.length === 0">Units You Study</div>
  <div *ngFor="let project of projects">
    <button
      *ngIf="!project.unit.teachingPeriod || project.unit.teachingPeriod.active"
      uiSref="projects/dashboard"
      [uiParams]="{ projectId: project.id, taskAbbr: '' }"
      class="flex items-center mb-2"
      mat-menu-item
    >
      <div class="unitCode" style="display: flex; justify-content: space-between; align-items: center">
        <div>{{ project.unit.name }}</div>
        <mat-chip selected color="primary">{{ project.unit.code }}</mat-chip>
      </div>
    </button>
  </div>
</mat-menu>
