<div fxLayout="row" fxLayoutAlign="start center">
  <mat-chip-set
    matTooltip="{{ unit.name }}"
    *ngIf="unit"
    style="float: right"
    aria-label="Unit selection"
    style="margin-left: 10px; margin-right: 10px"
  >
    <mat-chip-option
      disabled
      class="f-chip"
      style="cursor: pointer"
      [matMenuTriggerFor]="menu"
      #menuState="matMenuTrigger"
      color="primary"
    >
      {{ unit?.code }}
      <mat-icon>{{ menuState.menuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }} </mat-icon>
    </mat-chip-option>
  </mat-chip-set>
  <ng-container *ngIf="!unit">
    <button mat-button extended [matMenuTriggerFor]="menu" #menuState="matMenuTrigger">
      <span fxLayout="row" fxLayoutAlign="start center">
        <span>Select Unit</span>
        <mat-icon>{{ menuState.menuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }} </mat-icon>
      </span>
    </button>
  </ng-container>
</div>

<mat-menu #menu="matMenu" class="unit-dropdown-menu">
  <button *ngIf="media.isActive('xs')" uiSref="home" fxLayout="row" fxLayoutAlign="start center" mat-menu-item>
    <mat-icon
      uiSref="home"
      style="margin-right: 20px"
      svgIcon="formatif-logo"
      class="formatif-icon"
      aria-hidden="false"
      aria-label="Home Icon"
    ></mat-icon>
    <div class="unitName">Home</div>
    <span fxFlex></span>
  </button>
  <mat-divider *ngIf="media.isActive('xs')"></mat-divider>

  <p mat-subheader [hidden]="unitRoles?.length === 0">Units you teach</p>
  <ng-container *ngFor="let unitRole of unitRoles">
    <div
      *ngIf="!unitRole.unit.teachingPeriod || unitRole.unit.teachingPeriod?.active"
      uiSref="units/tasks/inbox"
      [uiParams]="{ unitId: unitRole.unit.id }"
      mat-menu-item
      class="w-full"
    >
      <div class="flex items-center w-full">
        <div class="flex-none unitName">{{ unitRole.unit.name }}</div>
        <div class="grow"></div>
        <div class="flex-none">
          <mat-chip-set style="float: right" aria-label="Unit selection" style="margin-left: 10px">
            <mat-chip-option disabled class="f-chip">{{ unitRole.unit.code }}</mat-chip-option>
          </mat-chip-set>
        </div>
      </div>
    </div>
  </ng-container>

  <mat-divider [hidden]="unitRoles?.length === 0 || projects?.length === 0"></mat-divider>
  <div mat-subheader [hidden]="projects?.length === 0">Units You Study</div>
  <ng-container *ngFor="let project of projects">
    <button
      *ngIf="!project.unit.teachingPeriod || project.unit.teachingPeriod.active"
      uiSref="projects/dashboard"
      [uiParams]="{ projectId: project.id, taskAbbr: '' }"
      fxLayout="row"
      fxLayoutAlign="start center"
      mat-menu-item
    >
      <div class="unitName">{{ project.unit.name }}</div>
      <span fxFlex style="flex-grow: 1"></span>
      <mat-chip-set aria-label="Unit selection" style="margin-left: 10px">
        <mat-chip-option disabled class="f-chip">{{ project.unit.code }}</mat-chip-option>
      </mat-chip-set>
    </button>
  </ng-container>
</mat-menu>
