<!DOCTYPE html>
<html lang="en" ng-app="doubtfire" ng-controller="AppCtrl">

<head>
  <title>Doubtfire</title>

  <!-- Metadata -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="A modern, lightweight learning management system." name="description">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style type="text/css"></style><style id="holderjs-style" type="text/css"></style>

  <!-- Nice favicons for all devices -->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png">
  <link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/images/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/assets/images/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/assets/images/manifest.json">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link color="#da532c" href="/assets/images/mask-icon.svg" rel="mask-icon">

  <!-- Die frame! DIE! http://en.wikipedia.org/wiki/Framekiller -->
  <style>html{display:none}</style>
  <% htmlWebpackPlugin.files.css.forEach(function(cssFile) { %>
  <link href="<%= cssFile %>" rel="stylesheet" type="text/css">
  <% }); %>

  <% htmlWebpackPlugin.files.css.forEach(function(file) { %>
    <script>
      console.log(file)
    </script>
  <% }); %>

  <script>
    if (window.self !== window.top) {
      window.top.location.href = window.location.href;
    } else {
      document.documentElement.style.display = 'block';
    }
  </script>

</head>

<body>
  <div ui-view="header"></div>
  <div class="breadcrumb-container-wrapper">
    <div ui-view="main" class="container-fluid container-fixed-lg"></div>
  </div>

  <alert-list> </alert-list>

  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>

</body>
</html>
