<!DOCTYPE html>
<html lang="en" ng-app="doubtfire" ng-controller="AppCtrl">

<head>
  <title>Doubtfire</title>

  <!-- Metadata -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="A modern, lightweight learning management system." name="description">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style type="text/css"></style><style id="holderjs-style" type="text/css"></style>

  <!-- Die frame! DIE! http://en.wikipedia.org/wiki/Framekiller -->
  <style>html{display:none}</style>
  <% htmlWebpackPlugin.files.css.forEach(function(cssFile) { %>
  <link href="<%= cssFile %>" rel="stylesheet" type="text/css">
  <% }); %>

  <script>
    if (window.self !== window.top) {
      window.top.location.href = window.location.href;
    } else {
      document.documentElement.style.display = 'block';
    }
  </script>

</head>

<body>
  <div ui-view="header"></div>
  <div class="breadcrumb-container-wrapper">
    <div ui-view="main" class="container-fluid container-fixed-lg"></div>
  </div>

  <alert-list> </alert-list>

  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>

</body>
</html>
