// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@include mat.core();

@import './theme.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden;
}

.f-table {
  @include mat.elevation(1);
  border-radius: 0.8rem;
  margin-bottom: 1rem;

  background-color: transparent !important;

  .mat-sort-header-content,
  .mat-mdc-header-cell {
    font-weight: 900;
  }

  &.selectable {
    .mat-mdc-row:hover .mat-mdc-cell {
      background-color: rgb(243, 243, 243);
    }
    .mat-mdc-row .mat-mdc-cell {
      cursor: pointer;
    }
  }
}
