<div class="portfolio-tasks-step">
  <div ng-show="unitHasILOs">
    <h3> Relate ILOs to Tasks </h3>
    For each task, please indicate whether you think this task is related to one
    or more of the unit's <strong>{{unit.ilos.length}} indended learning outcomes</strong>.
    You may provide an optional rationale for each task selected, which will be noted in
    your portfolio.
  </div>
  <div ng-hide="unitHasILOs">
    <h3> Select tasks to include </h3>
    Please indicate which tasks you would like to include in your portfolio.
  </div>
  <task-ilo-alignment-editor
    unit="unit"
    project="project"
    hide-panel="true"
    hide-graph="true"
    show-include-tasks="true"></task-ilo-alignment-editor>
</div>
<div class="panel-footer clearfix">
  <button class="btn btn-primary pull-left" ng-click="advanceActivePortfolioTab(-1)"><i class="fa fa-arrow-left"></i> Back</button>
  <button class="btn btn-primary pull-right" ng-disabled="noTasksSelected()" ng-click="advanceActivePortfolioTab(1)">Next <i class="fa fa-arrow-right"></i></button>
  <div class="help-block pull-right col-sm-4" ng-show="noTasksSelected()">
    You need to select at least one task {{unitHasILOs ? 'that is aligned to an ILO above' : 'above'}}, otherwise your portfolio will be consist of no tasks.
  </div>
</div>
