<div class="flex flex-col gap-5">
  <table
    #outcomeTable
    class="f-table selectable flex-grow"
    mat-table
    matSort
    [dataSource]="outcomeSource"
    (matSortChange)="sortOutcomeData($event)"
  >
    <ng-container matColumnDef="abbreviation" sticky>
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Abbreviation</th>
      <td
        *matCellDef="let learningOutcome"
        mat-cell
        (click)="selectLearningOutcome(learningOutcome)"
      >
        {{ learningOutcome.abbreviation }}
      </td>
    </ng-container>
    <ng-container matColumnDef="shortDescription" sticky>
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Short Description</th>
      <td
        *matCellDef="let learningOutcome"
        mat-cell
        (click)="selectLearningOutcome(learningOutcome)"
      >
        {{ learningOutcome.shortDescription }}
      </td>
    </ng-container>
    <ng-container matColumnDef="fullOutcomeDescription" sticky>
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Full Outcome Description</th>
      <td
        *matCellDef="let learningOutcome"
        mat-cell
        (click)="selectLearningOutcome(learningOutcome)"
      >
        {{ learningOutcome.fullOutcomeDescription }}
      </td>
    </ng-container>
    <ng-container matColumnDef="connectedOutcomes" sticky>
      <th *matHeaderCellDef mat-header-cell>Connected Learning Outcomes</th>
      <td
        *matCellDef="let learningOutcome"
        mat-cell
        (click)="selectLearningOutcome(learningOutcome)"
      >
        @for (outcome of getLinkedOutcomes(learningOutcome); track outcome.abbreviation) {
          <mat-chip-row matTooltip="{{ outcome.shortDescription }}">{{
            outcome.abbreviation
          }}</mat-chip-row>
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="learningOutcomeAction" sticky>
      <th *matHeaderCellDef mat-header-cell></th>
      <td
        *matCellDef="let learningOutcome"
        mat-cell
        (click)="selectLearningOutcome(learningOutcome)"
      >
        @if (learningOutcomeHasChanges(learningOutcome)) {
          <button
            aria-label="save learning outcome"
            color="primary"
            mat-icon-button
            (click)="saveLearningOutcome(learningOutcome)"
          >
            <mat-icon>save</mat-icon>
          </button>
        }
        <button
          aria-label="delete learning outcome"
          color="warn"
          mat-icon-button
          (click)="deleteLearningOutcome(learningOutcome)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="outcomeColumns" mat-header-row></tr>
    <tr
      *matRowDef="let row; columns: outcomeColumns"
      mat-row
      [style.background]="selectedOutcome === row ? 'lightblue' : ''"
    ></tr>
  </table>

  <span class="flex items-center">
    <div class="h-12">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Filter" (keyup)="applyFilter($event.target.value)" />
      </mat-form-field>
    </div>
    <mat-paginator class="mat-elevation-z0" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    <span class="flex-grow"></span>
    @if (abbreviationPrefix !== 'GLO') {
      <label>Outcomes CSV</label>
      <button mat-icon-button (click)="downloadCsv('Learning Outcomes')">
        <mat-icon>download</mat-icon>
      </button>
      <button mat-icon-button (click)="uploadCsv('Learning Outcomes')">
        <mat-icon>upload_file</mat-icon>
      </button>
      <span class="flex-grow"></span>
    }
    <label>Feedback CSV</label>
    <button mat-icon-button (click)="downloadCsv('Feedback Templates')">
      <mat-icon>download</mat-icon>
    </button>
    <button mat-icon-button (click)="uploadCsv('Feedback Templates')">
      <mat-icon>upload_file</mat-icon>
    </button>
    <span class="flex-grow"></span>
    <button color="primary" mat-raised-button (click)="createLearningOutcome()">Add Outcome</button>
  </span>

  @if (selectedOutcome) {
    <div class="rounded-xl border border-gray-200 bg-white p-3.5 shadow">
      <div>
        <h4 class="mt-0.5 text-base font-bold text-gray-900">Edit Outcome</h4>

        <div class="flex flex-row gap-2.5">
          <mat-form-field appearance="outline" class="basis-1/3">
            <mat-label>Abbreviation</mat-label>
            <input
              matInput
              maxlength="5"
              pattern=".*\S.*"
              required
              [(ngModel)]="selectedOutcome.abbreviation"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="flex-grow">
            <mat-label>Short Description</mat-label>
            <input
              matInput
              pattern=".*\S.*"
              required
              [(ngModel)]="selectedOutcome.shortDescription"
            />
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="flex flex-grow">
          <mat-label>Full Outcome Description</mat-label>
          <textarea
            matInput
            pattern=".*\S.*"
            required
            [(ngModel)]="selectedOutcome.fullOutcomeDescription"
          >
          </textarea>
        </mat-form-field>

        @if (abbreviationPrefix !== 'GLO') {
          <mat-form-field appearance="outline" class="flex flex-grow">
            <mat-label>Connected Learning Outcomes</mat-label>
            <mat-chip-grid #chipGrid aria-label="Outcome selection">
              @for (outcome of selectedConnectedOutcomes(); track outcome.abbreviation) {
                <mat-chip-row (removed)="remove(outcome)">
                  {{ outcome.abbreviation }}
                  <button matChipRemove [attr.aria-label]="'remove ' + outcome.abbreviation">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              }
            </mat-chip-grid>
            <input
              #connectedOutcomeInput
              name="typedConnectedOutcome"
              placeholder="Connect an outcome..."
              [disabled]="!this.context"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [(ngModel)]="typedConnectedOutcome"
              (matChipInputTokenEnd)="add($event)"
            />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event)">
              @for (outcome of filteredOutcomes(); track outcome) {
                <mat-option [value]="outcome.abbreviation"
                  >{{ outcome.abbreviation }} - {{ outcome.shortDescription }}</mat-option
                >
              }
            </mat-autocomplete>
          </mat-form-field>
        }

        <div class="flex">
          <span class="flex-grow"></span>
          <button color="primary" mat-raised-button (click)="saveLearningOutcome(selectedOutcome)">
            Save Outcome
          </button>
        </div>
      </div>
    </div>

    <f-feedback-template-editor
      [context]="context"
      [selectedOutcome]="selectedOutcome"
    ></f-feedback-template-editor>
  }
</div>
