<form>
	<div class="modal-header">
		<h3>
			Assess Task
		</h3>
		<h4>{{task.task_name}}</h4>
		<p>{{task.task_desc}}</p>
	</div>
	<div class="modal-body">

		<div class="btn-group btn-group-justified task-status">
			<label ng-repeat="action in taskEngagementConfig.all" 
				class="btn {{action.taskClass}} {{activeClass(action.status)}}" 
				ng-model="task.status" 
				btn-radio="action.status" 
				ng-click="triggerTransition(action.status)">{{action.label}} <i class="{{action.iconClass}}"></i>
			</label>
		</div>
		<div>
			<br />
			<div ng-switch="role">
				<div ng-switch-when="Tutor" class="btn-group btn-group-justified task-status">
					<label ng-repeat="action in taskEngagementConfig.tutorTriggers" 
						class="btn {{action.taskClass}} {{activeClass(action.status)}}" 
						ng-model="task.status" 
						btn-radio="action.status" 
						ng-click="triggerTransition(action.status)">{{action.label}} <i class="{{action.iconClass}}"></i>
					</label>
				</div>
				<div ng-switch-when="Student" class="btn-group btn-group-justified task-status">
					<label ng-repeat="action in taskEngagementConfig.tutorTriggers" 
						class="btn {{action.taskClass}} {{activeClass(action.status)}}" 
						ng-model="task.status" 
						btn-radio="action.status"
						disabled="disabled">{{action.label}} <i class="{{action.iconClass}}"></i>
					</label>
				</div>
			</div>
		</div>
		<br />
		<div class="btn-group btn-group-justified task-status">
			<label ng-repeat="action in taskEngagementConfig.complete"
				class="btn {{action.taskClass}} {{activeClass(action.status)}}" 
				ng-model="task.status" 
				btn-radio="action.status" 
				disabled="disabled">{{action.label}} <i class="{{action.iconClass}}"></i>
			</label>
		</div>


<!-- 		<div class="task-engagement-dropdown btn-group">
			<button type="button" class="btn btn-default dropdown-toggle task-status {{taskClass}}" data-toggle="dropdown">
				{{taskStatusLabel}} <span class="caret"></span>
			</button>
			<ul class="task-engagement-options dropdown-menu" role="menu">
				<li ng-repeat="assessOption in taskEngagementConfig.readyToAssess">
					<a href ng-click="engageWithTask(assessOption.status)">
						{{assessOption.label}}
						<i class="{{assessOption.iconClass}}"></i>
					</a>
				</li>
				<li class="divider"></li>
				<li ng-repeat="engagementOption in taskEngagementConfig.engagement">
					<a href ng-click="engageWithTask(engagementOption.status)">
						{{engagementOption.label}}
						<i class="{{engagementOption.iconClass}}"></i>
					</a>
				</li>
			</ul>
		</div> -->
	</div>
	<div class="modal-footer">
	</div>
</form>