<form>
	<div class="modal-header">
		<h3>
			Assess Task
		</h3>
		<h4>{{task.task_name}}</h4>
		<p>{{task.task_desc}}</p>
	</div>
	<div class="modal-body">

		<div class="btn-group btn-group-justified task-status">
			<label ng-repeat="action in taskEngagementConfig.all" 
				class="btn {{action.taskClass}} {{activeClass(action.status)}}" 
				ng-model="task.status" 
				btn-radio="action.status" 
				ng-click="triggerTransition(action.status)">{{action.label}} <i class="{{action.iconClass}}"></i>
			</label>
		</div>
		<br />
		<div class="btn-group btn-group-justified task-status">
			<label ng-repeat="action in taskEngagementConfig.tutorTriggers" 
				class="btn {{action.taskClass}} {{activeClass(action.status)}}" 
				ng-model="task.status" 
				btn-radio="action.status"
				ng-class="role == 'Student' ? 'disabled' : ''"
				ng-click="triggerTransition(action.status)">{{action.label}} <i class="{{action.iconClass}}"></i>
			</label>
		</div>
		<br />
		<div class="btn-group btn-group-justified task-status">
			<label ng-repeat="action in taskEngagementConfig.complete"
				class="btn {{action.taskClass}} {{activeClass(action.status)}}" 
				ng-model="task.status" 
				btn-radio="action.status" 
				disabled="disabled">{{action.label}} <i class="{{action.iconClass}}"></i>
			</label>
		</div>
	</div>
	<div class="modal-footer">
	</div>
</form>