<form ng-submit="submitUpload()">
	<div class="modal-header">
		<h3>
			{{numberOfFiles}} File{{numberOfFiles > 1 ? "s" : ""}} Required <span class="fa fa-cloud-upload fa-2x pull-right"></span>
		</h3>
		<h4>{{task.definition.name}}</h4>
		<p> To mark this task as <strong>Ready To Mark</strong>, you must provide the following files to generate your submission document. </p>
	</div>
	<div class="modal-body">
    <file-uploader
      files="files"
      url="{{url}}"
      on-complete="onComplete"
      on-success="onSuccess">
    </file-uploader>
	</div>
	<div class="modal-footer">
	</div>
</form>