<div class="pull-left list-group col-md-2 task-status">
  <a class="list-group-item text-center" ng-click="fetchCSV()">Fetch CSV</a>
  <a class="list-group-item text-center" ng-click="fetchStats()">Fetch Stats</a>
</div>

<div class="col-md-10 pull-right">
  <nvd3-scatter-chart
    data="scatterData"
    id="taskScatter"
    width="800"
    height="600"
    yAxisTickFormat="yAxisTickFormatFunction()"
    xAxisTickFormat="xAxisTickFormatFunction()"
    showLegend="true"
    noData="Fetch Data to View"
    interactive="true"
    tooltips="true"
    tooltipContent="tooltipContentFunction()"
    showDistX="true"
    showDistY="true"
    transitionDuration="350">
    <svg></svg>
  </nvd3-scatter-chart>
</div>