<div class="task-sheet">
  <div class="panel-body task-description">
    <div class="markdown-to-pdf" ng-bind-html="project.selectedTask.definition.description | markdown"></div>
  </div><!--task-description-panel-body-->
  <div class="panel-heading task-view-alignment-panel" ng-hide="showTaskSheet" ng-if="alignments.length > 0">
    <h3 class="panel-title">
      Task Outcome Alignments
    </h3>
    Teaching staff believe that completing this task will help you the outcomes listed below
  </div><!--view-alignment-panel-header-->
  <div class="panel-body task-view-alignment-panel" ng-hide="showTaskSheet" ng-if="alignments.length > 0">
    <view-alignment
      project="project"
      task="task"
      unit="unit"
      alignments="alignments"></view-alignment>
  </div><!--view-alignment-panel-body-->
  <div class="panel-heading row-fluid task-download" ng-show="hasPDF() || hasResources()">
    <h3 class="panel-title">
      Begin task
    </h3>
    Begin task by {{hasPDF() ? "viewing the task sheet" : ""}} {{hasPDF() && hasResources() ? "or" : ""}} {{hasResources() ? "downloading task resources" : ""}}
  </div>
  <div class="panel-body task-buttons-download-area" ng-class="{ small: showTaskSheet }" ng-show="hasPDF() || hasResources()">
    <a ng-class="{ active: showTaskSheet }" ng-click="toggleTaskSheet()" ng-show="hasPDF()" class="btn btn-lg btn-default">
      <div>
        <i class="fa fa-2x fa-file-pdf-o"></i>
        <p>View{{showTaskSheet ? "ing" : ''}} PDF</p>
      </div>
    </a>
    <a href="{{taskPDFUrl()}}" ng-show="hasPDF()" target="_blank" class="btn btn-lg btn-info">
      <div>
        <i class="fa fa-2x fa-file-pdf-o"></i>
        <i class="fa fa-2x fa-download"></i>
        <p>Download PDF</p>
      </div>
    </a>
    <a href="{{resourceUrl()}}" ng-show="hasResources()" target="_blank" class="btn btn-lg btn-success">
      <div>
        <i class="fa fa-2x fa-download"></i>
        <p>Download Resources</p>
      </div>
    </a>
  </div>
  <div ng-if="showTaskSheet && hasPDF() && hasResources()">
    <pdf-panel-viewer
      pdf-url="taskPDFUrl()"
      resources-url="resourceUrl()"
      hide-footer="true">
    </pdf-panel-viewer>
  </div>
  <div ng-if="showTaskSheet && hasPDF() && !hasResources()">
    <pdf-panel-viewer
      pdf-url="taskPDFUrl()"
      hide-footer="true">
    </pdf-panel-viewer>
  </div><!--viewing-task-sheet-->
</div>