<div>
  <button ng-hide="scatterData.length > 0" class="button btn btn-primary pull-right" ng-click="fetchStats()">Fetch Stats</button>
  
  <nvd3-scatter-chart
    data="scatterData"
    id="taskScatter"
    width="800"
    height="600"
    yAxisTickFormat="yAxisTickFormatFunction()"
    xAxisTickFormat="xAxisTickFormatFunction()"
    showLegend="true"
    noData="Fetch Data to View"
    interactive="true"
    tooltips="true"
    tooltipContent="tooltipContentFunction()"
    showDistX="true"
    showDistY="true"
    transitionDuration="350">
    <svg></svg>
  </nvd3-scatter-chart>
</div>