<div class="task-feedback" ng-if="project.selectedTask">
  <div class="task-feedback-toolbar clearfix">
    <div class="btn-group dropdown status-switcher col-sm-1" dropdown>
      <button class="btn task-status {{activeStatusData().class}} dropdown-toggle" dropdown-toggle>
        <label>{{project.selectedTask.definition.abbreviation}}</label>
        <span class="caret"></span>
      </button><!--/dropdown-button-->
        <ul class="dropdown-menu project-task-bar">
          <div ng-repeat="(groupSetId, relatedTasks) in project.tasks | groupBy: 'definition.group_set_id'" class="col-sm-12 groupset-tasks">
            <h5 class="groupset-name" ng-hide="hideGroupSetName()">
            {{groupSetName(groupSetId)}}</h5>
            <li class="col-xs-4 col-sm-3 col-md-2 col-lg-4" ng-repeat="task in relatedTasks | byGrade:project.target_grade | orderBy: 'definition.seq'">
              <button type="button" class="col-xs-12 btn task-status {{statusClass(task.status)}}" ng-class="{'active' : task == project.selectedTask}" ng-click="setSelectedTask(task)" tooltip-popup-delay='200' tooltip-placement="bottom" tooltip-html-unsafe="<strong>{{task.definition.name}}:</strong><br>{{task.status_txt}}">
                {{task.definition.abbreviation}} <i class="fa fa-eye" ng-show="task.similar_to_count > 0"></i>
              </button>
            </li>
          </div>
        </ul>
    </div><!--/active-task-switcher-->

    <div class="task-header-info col-sm-10">
      <div class="col-sm-7 task-description">
        <h4>{{project.selectedTask.definition.name}}</h4>
        <p class="text-justify">
          {{project.selectedTask.definition.description}}
        </p>
      </div>
      <div class="col-sm-3 date-info">
        <p class="due-date">
          <label>Due Date:</label> {{project.selectedTask.definition.target_date | date:'EEE MMM d'}}
        </p>
        <div class="overdue label label-{{activeStatusData().daysOverdue > 5 ? 'danger' : 'warning'}}" ng-hide="activeStatusData().daysOverdue === false" tooltip="Tasks are overdue until they are discussed with your tutor." tooltip-placement="right">
          <i class="fa fa-exclamation-triangle"></i>
          Overdue By <br/> {{activeStatusData().daysOverdue}} day{{activeStatusData().daysOverdue > 1 ? 's' : ''}}</div>
      </div>
    </div><!--/task-header-info-->

    <div tooltip-placement="right" tooltip="{{activeStatusData().label}}" class="btn-group dropdown status-switcher col-sm-1 pull-right" dropdown>
      <button type="button" class="btn task-status {{statusClass(project.selectedTask.status)}} dropdown-toggle" dropdown-toggle>
        <i class="{{activeStatusData().icon}} fa-2x"></i>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu project-task-bar">
        <li ng-show="assessingUnitRole" class="col-xs-4 col-sm-3 col-md-2 col-lg-4" ng-repeat="action in taskEngagementConfig.tutorTriggers" >
          <button class="col-xs-12 btn task-status {{action.taskClass}}" ng-class="{'active' : project.selectedTask.status == action.status}" ng-click="triggerTransition(action.status)" ng-model="project.selectedTask.status" btn-radio="action.status" uncheckable>
            <i class="{{action.iconClass}} fa-2x task-engagement-icon"></i>
            <strong>{{action.label}}</strong>
          </button>
        </li><!--/tutor-statuses-->
        <li class="col-xs-4 col-sm-3 col-md-2 col-lg-4" ng-repeat="action in taskEngagementConfig.studentTriggers" >
          <button class="col-xs-12 btn task-status {{action.taskClass}}" ng-class="{'active' : project.selectedTask.status == action.status}" ng-click="triggerTransition(action.status)" ng-model="project.selectedTask.status" btn-radio="action.status" >
            <i class="{{action.iconClass}} fa-2x task-engagement-icon"></i>
            <strong>{{action.label}}</strong>
          </button>
        </li><!--/student-statuses-->
      </ul>
    </div><!--/active-task-status-switcher-->
  </div><!--/task-toolbar-->

  <div class="task-feedback-tabs">
    <tabset class="task-feedback-tab-selector pull-left col-md-2" vertical="true" type="pills">
      <tab ng-repeat="(tabKey, tab) in tabsData | orderObjectBy: 'seq'" active="tab.active" ng-click="setActiveTab(tab)">
        <tab-heading tooltip="{{tab.title}}" tooltip-placement="right" tooltip-popup-delay="200">
          <div class="text-center">
            <i class="fa fa-2x {{tab.icon}}" style="margin-right: 1ex"></i>
            <i class="fa fa-2x fa-warning" ng-class="{ 'text-warning': !isActiveTab(tab) }" ng-show="tab == tabsData.plagiarismReport && project.selectedTask.similar_to_count > 0"></i>
          </div>
        </tab-heading>
      </tab>
    </tabset><!--/tab-selector-->

    <div class="col-md-10 pull-right task-feedback-tab-contents">
      <div class="panel panel-default">
        <div class="panel-heading row-fluid">
          <h3 class="panel-title">
            {{activeTab.title}}
            <br>
            <small>{{activeTab.subtitle}}</small>
          </h3>
        </div>
        <div class="task-feedback-tab-panel">
          <task-sheet task="project.selectedTask" unit="unit" ng-if="activeTab == tabsData.taskSheet"></task-sheet>
          <submit-task-form task="project.selectedTask" project="project" unit="unit" ng-if="activeTab == tabsData.fileUpload"></submit-task-form>
          <view-submission ng-if="activeTab == tabsData.viewSubmission"></view-submission>
          <view-comments ng-if="activeTab == tabsData.viewComments"></view-comments>
          <task-plagiarism-report task="project.selectedTask" ng-if="activeTab == tabsData.plagiarismReport"></task-plagiarism-report>
        </div><!--/panel-body-area-->
      </div><!--/tab-contents-panel-->
    </div><!--/tab-contents-->
  </div><!--/tab-feedback-tabs-->
</div>