<table
  mat-table
  [dataSource]="dataSource"
  matSort
  matSortActive="stream"
  matSortDirection="asc"
  matSortDisableClear
  (matSortChange)="sortTableData($event)"
>
  <ng-container matColumnDef="name" sticky>
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Team Member</th>
    <td mat-cell *matCellDef="let member">
      {{ member.project.student.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="target-grade" sticky>
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Target Grade</th>
    <td mat-cell *matCellDef="let member">
      <grade-icon [index]="member.project.targetGrade"></grade-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="contribution" sticky>
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Contribution</th>
    <td mat-cell *matCellDef="let member">
      <span class="group-member-contribution-rating">
        <ng-container
          *ngFor="let icon of [].constructor(numStars); let i = index"
          [matTooltip]="member.percent + '% effort'"
        >
          <mat-icon
            (click)="selectRating(member, i + 1)"
            (mouseenter)="hoveringOver(member, i + 1)"
            (mouseleave)="hoveringOver(member, null)"
            [ngClass]="{
              'text-amber-400':
                member.overStar !== null ? i + 1 <= member.overStar : i + 1 <= member.rating,
              'text-gray-300':
                member.overStar !== null ? i + 1 > member.overStar : i + 1 > member.rating,
            }"
            class="text-4xl px-1 align-middle cursor-pointer"
          >
            person
          </mat-icon>
        </ng-container>
      </span>
      <!-- <span class="label" [ngClass]="percentClass(member.percent)" *ngIf="member.overStar > 0">
          <span *ngIf="member.percent > 0"> {{ member.percent }} % effort </span>
          <span *ngIf="member.percent <= 0"> No effort </span>
        </span> -->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
