<div class="markdown-editor">
  <!-- Text comment editor --> 
  <div class="markdown-editor-inner-context-text" ng-show="currentCommentType == commentType.TEXT">
    <div ng-show="isEditing" ui-codemirror="{ onLoad : codemirrorLoaded }" ui-codemirror-opts="editorOpts" ui-refresh="true"
      ng-model="markdownText"></div>    
    <div style="{{heightStyle()}}" class="markdown-editor-preview markdown-to-html" ng-hide="isEditing">
      <div ng-bind-html="markdownText | markdown"></div>
    </div>
  </div>
 <!-- Audio comment editor -->
  <div class="markdown-editor-inner-context-audio" ng-show="currentCommentType == commentType.AUDIO">
    <div>
       <!-- POC comes here -->
    </div>   
  </div>
  
  <div class="markdown-editor-actions">
    <!-- PREVIEW COMMENT -->
    <span ng-click="isEditing = !isEditing" class="markdown-editor-action fa-stack fa-lg" tooltip="{{isEditing ? 'View preview' : 'Continue editing'}}">
      <i class="fa fa-{{isEditing ? 'eye' : 'pencil'}} fa-stack-1x"></i>
    </span>
    <!-- MARKDOWN GUIDE -->
    <a href="https://en.support.wordpress.com/markdown-quick-reference/" target="_blank" class="markdown-editor-action fa-stack fa-lg"
      tooltip="Markdown guide">
      <i class="fa fa-question fa-stack-1x"></i>
    </a>  
    <!-- COMMENT TYPE SELECTOR ICONS --> 
    <font color="#cecece">|</font>
    <!-- Text -->
    <!-- Clicking on the span changes the value of the comment type enum -->
    <span ng-click="currentCommentType = commentType.TEXT" class="markdown-editor-action fa-stack fa-lg" tooltip="Text comment">
      <i class="fa fa-font commenttype-selector"></i>
    </span>
    <!-- Audio -->
    <span ng-click="currentCommentType = commentType.AUDIO" class="markdown-editor-action fa-stack fa-lg" tooltip="Audio comment">
      <i class="fa fa-microphone commenttype-selector"></i>
    </span>    
  </div>

</div>
