$markdown-editor-height: 15px;

.markdown-editor {
  &[class^="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

.markdown-editor, .markdown-editor-inner-context-text {
  position: relative;
  // padding: 6px 12px;
  height: auto;
  min-height: 60px;
  // border: 1px solid #cccccc;
  // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  font-size: 1em;
  background-color: #fff;

  // Additional style for audio comment editor
  .markdown-editor-inner-context-audio {
    cursor: auto;
    padding: 0px;
    //background-color: #f5f5f5;
    width: 100%;
    height: 52px;
  }

  // Style for Image comment drop zone - add a dotted border to show the 
  // image drop zone
  // .markdown-editor-inner-context-image {
  //   height:150px;
  //   border: 2px #bbb dotted;
  //   font-size: larger;
  //   font-weight: bold;
  //   color: #aaa;
  //   text-align: center;
  //   &, i {
  //     @include transition(all 0.25s ease);
  //   }
  //   p small {
  //     display: block;
  //   }
  //   &:hover {
  //     cursor: pointer;
  //     border-color: rgb(65, 65, 65);
  //     color: rgb(148, 148, 148);
  //     p small {
  //       text-decoration: underline;
  //     }
  //   }
  // }

  // .markdown-editor-preview {
  //   display: relative;
  //   overflow-y: hidden;
  //   overflow-x: hidden;
  //   z-index: 1;
  //   min-height: $markdown-editor-height;
  // }

  // .CodeMirror {
  //   font-family: Roboto, Monaco, monospace;
  //   display: relative;
  //   z-index: 1;
  //   .CodeMirror-placeholder {
  //     color: grey;
  //     opacity: 0.3;
  //   }
  //   width: 80%;
  // }

  // .CodeMirror-scroll {
  //   height: auto;
  //   max-height: 400px;
  //   min-height: $markdown-editor-height;
  // }

  // .CodeMirror-vscrollbar {
  //   display: none;
  // }
}

// Text that has been converted from markdown to html
.markdown-to-html {
  &.dashed {
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    margin: 30px;
    padding: 10px;
  }

  &.bordered {
    border: 1px solid #ddd;
    padding: 10px 15px;
  }

  &.smaller {
    h1, h2, h3, h4, h5, h6 {
      font-size: 1.2em;
      font-weight: bold;
    }
  }

  pre, code {
    font-family: Menlo, Monaco, monospace;
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 0.9em;
    line-height: 1.333;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
  }

  code {
    padding: 2px 4px;
    font-size: 0.9em;
    height: auto;
    color: #c7254e;
    background-color: #f9f2f4;
  }

  pre code {
    padding: initial;
    font-size: 1em;
    color: initial;
    background-color: initial;
  }

  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.333;
    background-color: #fff;
    border: 1px solid #ddd;
  }
}

// Style for comment type selector icons
// .commenttype-selector {
//   line-height: inherit;
//   font-size: 85%;
//   position: absolute;
//   left: 0;
//   width: 100%;
//   text-align: center;
// }

/*
.audio-button{
  padding: 0%;
  height: auto;
  width: 10%;
  max-width: 40px;
  border-radius: 70%;
  vertical-align: middle;
}
.audio-button:hover { 
  background-color: rgb(255, 94, 0);
}

.audio-button:disabled {
  opacity: 0.3;
  filter: alpha(opacity=30);
  background-color: #000;
}


#audio-visualiser {
  //position: absolute;
  padding: 0%;
  height: 75%;
  width: 70%;
  background: rgb(206, 206, 206);
  //vertical-align: middle;
}
*/