@mixin scrollable {
  &::-webkit-scrollbar {
    height: 10px;
    width: 8px;
    border-radius: 4px;
    background: transparent;
    transition: all 0.3s ease;
  }
  &::-webkit-scrollbar:hover {
    background: #c6c7ca;
  }
  &::-webkit-scrollbar-thumb {
    background: #969699;
    border-radius: 4px;
  }
}
