@use 'sass:color';
@use 'styles/mixins/task-status-colors-generator' as *;
@use 'styles/common/variables' as *;

@mixin custom-box-shadow($color) {
  box-shadow: -15px 0 $color inset;
}

@mixin task-list {
  .panel {
    display: flex;
    flex-direction: column;
  }
  .panel-heading .form-control {
    height: 34px;
  }
  .search-options .task-definition select:not([size='0']) {
    // border-radius: $input-border-radius !important;
  }
  .list-group {
    overflow: scroll;
    height: 100%;
  }
  .list-group .list-group-item-task {
    transition: all 200ms ease-out;
    transition-property: box-shadow, padding-right;
    display: flex;
    &:hover,
    &:focus,
    &.selected {
      padding-right: 30px;
      @include custom-box-shadow(task-status-color('ready-for-feedback'));
    }

    .due-time {
      margin-left: 6px;
      font-size: 10px;
      font-weight: lighter;
    }

    &:hover,
    &:focus {
      cursor: pointer;
      text-decoration: none;
      // background-color: $list-group-hover-bg;
      &.ready-for-feedback {
        @include custom-box-shadow(
          color.adjust(task-status-color('ready-for-feedback'), $lightness: 15%)
        );
      }
      &.not-started {
        @include custom-box-shadow(color.adjust(task-status-color('not-started'), $lightness: 5%));
      }
      &.working-on-it {
        @include custom-box-shadow(
          color.adjust(task-status-color('working-on-it'), $lightness: 15%)
        );
      }
      &.need-help {
        @include custom-box-shadow(color.adjust(task-status-color('need-help'), $lightness: 15%));
      }
      &.fix-and-resubmit {
        @include custom-box-shadow(
          color.adjust(task-status-color('fix-and-resubmit'), $lightness: 15%)
        );
      }
      &.feedback-exceeded {
        @include custom-box-shadow(
          color.adjust(task-status-color('feedback-exceeded'), $lightness: 15%)
        );
      }
      &.fail {
        @include custom-box-shadow(color.adjust(task-status-color('fail'), $lightness: 15%));
      }
      &.redo {
        @include custom-box-shadow(color.adjust(task-status-color('redo'), $lightness: 15%));
      }
      &.discuss {
        @include custom-box-shadow(color.adjust(task-status-color('discuss'), $lightness: 15%));
      }
      &.demonstrate {
        @include custom-box-shadow(color.adjust(task-status-color('demonstrate'), $lightness: 15%));
      }
      &.complete {
        @include custom-box-shadow(color.adjust(task-status-color('complete'), $lightness: 15%));
      }
      &.time-exceeded {
        @include custom-box-shadow(
          color.adjust(task-status-color('time-exceeded'), $lightness: 15%)
        );
      }
      &.assess-in-portfolio {
        @include custom-box-shadow(
          color.adjust(task-status-color('assess-in-portfolio'), $lightness: 15%)
        );
      }
      &.attention-required {
        @include custom-box-shadow(
          color.adjust(task-status-color('attention-required'), $lightness: 15%)
        );
      }
    }
    &.selected {
      &.ready-for-feedback {
        @include custom-box-shadow(task-status-color('ready-for-feedback'));
      }
      &.not-started {
        @include custom-box-shadow(task-status-color('not-started'));
      }
      &.working-on-it {
        @include custom-box-shadow(task-status-color('working-on-it'));
      }
      &.need-help {
        @include custom-box-shadow(task-status-color('need-help'));
      }
      &.fix-and-resubmit {
        @include custom-box-shadow(task-status-color('fix-and-resubmit'));
      }
      &.feedback-exceeded {
        @include custom-box-shadow(task-status-color('feedback-exceeded'));
      }
      &.fail {
        @include custom-box-shadow(task-status-color('fail'));
      }
      &.redo {
        @include custom-box-shadow(task-status-color('redo'));
      }
      &.discuss {
        @include custom-box-shadow(task-status-color('discuss'));
      }
      &.demonstrate {
        @include custom-box-shadow(task-status-color('demonstrate'));
      }
      &.complete {
        @include custom-box-shadow(task-status-color('complete'));
      }
      &.time-exceeded {
        @include custom-box-shadow(task-status-color('time-exceeded'));
      }
      &.assess-in-portfolio {
        @include custom-box-shadow(task-status-color('assess-in-portfolio'));
      }
      &.attention-required {
        @include custom-box-shadow(task-status-color('attention-required'));
      }
    }
    .task-badges {
      width: 50px;
      display: inline-block;
      position: relative;
      status-icon {
        width: 100%;
      }
      .task-subscript-badges {
        position: absolute;
        top: 1.5em;
        right: -12px;
        & > .task-subscript-badge {
          border-radius: 100%;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          color: white;
          float: right;
          font-weight: bold;
          & + .task-subscript-badge {
            margin-right: -3px;
          }
          .material-icons,
          mat-icon {
            font-size: 12px;
            height: 12px;
            line-height: 12px;
            width: 12px;
          }
          &.grade-badge {
            background-color: #000000;
            font-size: 9px;
          }
          &.quality-badge {
            background-color: #000000;
            font-size: 9px;
          }
          &.soon-badge {
            background-color: color.adjust(#eb8f06, $lightness: 15%);
            color: black;
          }
          &.due-badge {
            background-color: $doubtfire-color;
          }
          // Only shown child? Push down a bit as it looks a bit weird
          &:only-child {
            margin-right: 6px;
            margin-top: 3px;
          }
        }
      }
      .task-superscript-badges {
        position: absolute;
        top: -7px;
        right: -12px;
        & > .task-superscript-badge {
          border-radius: 100%;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          color: white;
          float: right;
          font-weight: bold;
          & + .task-superscript-badge {
            margin-right: -3px;
          }
          &.new-comments-badge {
            background-color: $doubtfire-color;
          }
          &.plagiarism-detected-badge {
            background-color: $doubtfire-color;
          }
          // Only shown child? Push down a bit as it looks a bit weird
          &:only-child {
            margin-right: 6px;
            margin-top: 3px;
          }
        }
      }
    }
    user-icon {
      font-size: 1.5em;
      margin-right: 1.5ex;
    }
    .task-badges {
      margin-left: 1.5ex;
    }
    .task-data {
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
    }
    .task-badges,
    user-icon {
      align-self: center;
    }
    .task-data > * {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
