@mixin custom-box-shadow($color) {
      box-shadow: -15px 0 $color inset;
    }

@mixin task-list {
  .panel {
    display: flex;
    flex-direction: column;
  }
  .panel-heading .form-control {
    height: 33px;
  }
  .search-options .task-definition select:not([size="0"]) {
    border-radius: $input-border-radius !important;
  }
  .list-group {
    overflow: scroll;
    height: 100%;
  }
  .list-group .list-group-item-task {
    transition: all 200ms ease-out;
    transition-property: box-shadow, padding-right;
    display: flex;
    &:hover, &:focus, &.selected {
      padding-right: 30px;
      @include custom-box-shadow(#444);
    }

    &:hover, &:focus {
      cursor: pointer;
      text-decoration: none;
      background-color: $list-group-hover-bg;
      &.ready-to-mark     { @include custom-box-shadow(lighten(task-status-color('ready-to-mark'), 15%)); }
      &.not-started       { @include custom-box-shadow(lighten(task-status-color('not-started'), 5%)); }
      &.working-on-it     { @include custom-box-shadow(lighten(task-status-color('working-on-it'), 15%)); }
      &.need-help         { @include custom-box-shadow(lighten(task-status-color('need-help'), 15%)); }
      &.fix-and-resubmit  { @include custom-box-shadow(lighten(task-status-color('fix-and-resubmit'), 15%)); }
      &.do-not-resubmit   { @include custom-box-shadow(lighten(task-status-color('do-not-resubmit'), 15%)); }
      &.fail              { @include custom-box-shadow(lighten(task-status-color('fail'), 15%)); }
      &.redo              { @include custom-box-shadow(lighten(task-status-color('redo'), 15%)); }
      &.discuss           { @include custom-box-shadow(lighten(task-status-color('discuss'), 15%)); }
      &.demonstrate       { @include custom-box-shadow(lighten(task-status-color('demonstrate'), 15%)); }
      &.complete          { @include custom-box-shadow(lighten(task-status-color('complete'), 15%)); }
    }
    &.selected {
      &.ready-to-mark     { @include custom-box-shadow(task-status-color('ready-to-mark')); }
      &.not-started       { @include custom-box-shadow(task-status-color('not-started')); }
      &.working-on-it     { @include custom-box-shadow(task-status-color('working-on-it')); }
      &.need-help         { @include custom-box-shadow(task-status-color('need-help')); }
      &.fix-and-resubmit  { @include custom-box-shadow(task-status-color('fix-and-resubmit')); }
      &.do-not-resubmit   { @include custom-box-shadow(task-status-color('do-not-resubmit')); }
      &.fail              { @include custom-box-shadow(task-status-color('fail')); }
      &.redo              { @include custom-box-shadow(task-status-color('redo')); }
      &.discuss           { @include custom-box-shadow(task-status-color('discuss')); }
      &.demonstrate       { @include custom-box-shadow(task-status-color('demonstrate')); }
      &.complete          { @include custom-box-shadow(task-status-color('complete')); }
    }
    .task-badges {
      width: 50px;
      display: inline-block;
      position: relative;
      status-icon {
        width: 100%;
      }
      .task-superscript-badges {
        position: absolute;
        top: -7px;
        right: -12px;
        & > .task-superscript-badge {
          border-radius: 100%;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          color: white;
          float: right;
          font-weight: bold;
          & + .task-superscript-badge {
            margin-right: -3px;
          }
          &.new-comments-badge {
            background-color: $doubtfire-color;
          }
          &.plagiarism-detected-badge {
            background-color: darken($brand-danger, 15%);
          }
          // Only shown child? Push down a bit as it looks a bit weird
          &:only-child {
            margin-right: 6px;
            margin-top: 3px;
          }
        }
      }
    }
    .user-icon {
      font-size: 1.5em;
      margin-right: 1.5ex;
    }
    .task-badges {
      margin-left: 1.5ex;
    }
    .task-data {
      flex: 1;
    }
    .task-badges, .user-icon {
      align-self: center;
    }
    .task-data {
      overflow: hidden;
      white-space: nowrap;
    }
    .task-data > * {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
