<div mat-dialog-content>
  <h4 mat-dialog-title>Download the {{ data.type }} CSV</h4>
  <div class="px-6">
    <p>This action will download all {{ data.type.toLowerCase() }} associated with this unit.</p>
    <mat-slide-toggle [(ngModel)]="includeNested"
      >Include task {{ data.type.toLowerCase() }}</mat-slide-toggle
    >
  </div>
</div>

<div align="end" class="pr-6 pb-4" mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button color="primary" mat-raised-button (click)="downloadCsv()">Download</button>
</div>
