<div>
  <mat-card-header class="header-container">
    <div>
      <i class="fa fa-4x fa-spinner fa-pulse"></i>
    </div>
    <div class="title-container">
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-subtitle>{{ message }}</mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="content-container">
    <div class="info-container">
      <i class="fa fa-3x fa-spinner fa-pulse"></i>
      <p class="processing-text">Processing...</p>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="actions-container">
    <p class="close-text">You can close this modal and you will be alerted when processing has finished</p>
    <button class="btn btn-primary close-button" (click)="close()">
      <i class="fa fa-check"></i>
    </button>
  </mat-card-actions>
</div>
