.project-portfolio-wizard .panel-body {
  padding: 30px 0 100px 0;
  position: relative;
  *[class^="portfolio-"][class$="-step"] {
    // Use mixins to create "col-sm-12 col-md-6 col-md-offset-3" for all inner
    // content divs (i.e., portfolio-x-step)
    @include make-sm-column(12);
    @include make-md-column(8);
    @include make-md-column-offset(2);
    font-size: 11pt;
    & + .panel-footer {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}
