<div class="flex h-full flex-col">
  <!-- @if (!loadingStaffNotes && project?.staffNoteCount === 0) {
    <div class="flex justify-center items-center w-full h-full text-gray-300">
      No staff notes for {{ project.student.preferredName }} {{ project.student.lastName }}
    </div>
  } -->
  <div #tutorNotesContainer class="flex-1 overflow-auto p-2.5">
    @if (!loadingTutorNotes) {
      @for (note of filteredNotes; track note) {
        @if (note.replyToId) {
          <div
            class="flex items-center justify-between rounded-t-md border border-gray-300 p-1 text-sm select-none"
          >
            <div
              class="flex items-center"
              [ngClass]="note.replyTo && 'cursor-pointer hover:text-blue-500 hover:underline'"
              (click)="scrollToNote(note.replyTo)"
            >
              <mat-icon class="mr-2">reply</mat-icon>
              <div class="flex flex-col">
                @if (note.replyTo) {
                  <span class="font-medium">
                    Replying to {{ note.replyTo.user.preferredName }}
                    {{ note.replyTo.user.lastName }} ({{ note.replyTo.user.nickname }})
                  </span>
                  <span class="text-xs text-gray-600">{{ note.replyTo.note }}</span>
                } @else {
                  <span class="text-xs text-gray-400 italic">Replying to: Deleted note</span>
                }
              </div>
            </div>
          </div>
        }
        <mat-card
          class="mb-2.5 p-3 pb-7"
          [id]="'note-' + note.id"
          (mouseout)="hoveredNoteId = null"
          (mouseover)="hoveredNoteId = note.id"
        >
          <div class="absolute right-3 bottom-3 flex items-center gap-3">
            <div class="flex items-center" [hidden]="hoveredNoteId !== note.id">
              @if (note.authorIsMe) {
                <mat-icon type="button" (click)="editNote(note)">edit</mat-icon>
              }
              <mat-icon type="button" (click)="replyToNote(note)">reply</mat-icon>
              <mat-icon type="button" (click)="deleteNote(note)">delete</mat-icon>
            </div>
            @if (!note.readByUnitRole) {
              @if (note.noteIsForMe) {
                <button color="primary" mat-stroked-button (click)="markAsRead(note)">
                  Mark as read
                </button>
              }
            } @else {
              <div class="px-3 text-gray-400 italic">Read by tutor</div>
            }
          </div>

          <div class="flex justify-between">
            <mat-card-title class="flex items-center">
              <user-icon style="margin-right: 8px" [size]="25" [user]="note.user"></user-icon>
              {{ note.user?.firstName }} {{ note.user?.lastName }}</mat-card-title
            >
            <div class="flex items-center">
              <mat-card-subtitle
                matTooltipPosition="above"
                matTooltipShowDelay="1000"
                [matTooltip]="note.createdAt | localizedDateTime"
                >{{ note.createdAt | humanizedDate }}</mat-card-subtitle
              >
            </div>
          </div>

          <div class="flex gap-3 py-1">
            @if (note.taskDefinition) {
              <mat-chip class="w-fit"
                >{{ note.taskDefinition?.abbreviation }} {{ note.taskDefinition.name }}</mat-chip
              >
            }
            @if (note.project) {
              <mat-chip
                chipListSelectable
                class="w-fit cursor-pointer"
                matTooltip="Click to view student"
                matTooltipPosition="above"
                (click)="openProject($event, note)"
                >{{ note.project?.student.name }}</mat-chip
              >
            }
          </div>

          <mat-card-content class="py-2.5">
            @if (editingNote && editingNote.id === note.id) {
              <mat-form-field appearance="outline" class="flex w-full items-center">
                <mat-label>Update Note</mat-label>
                <textarea
                  #tutorNoteEditor
                  class="w-full resize-none overflow-hidden px-1 py-0.5 placeholder:px-1 placeholder:py-0.5"
                  matInput
                  [(ngModel)]="editingNoteText"
                  (input)="autoResizeTutorNoteEditor()"
                ></textarea>
                <div class="flex justify-end gap-1">
                  <button color="" mat-raised-button (click)="cancelEditingNote()">Cancel</button>
                  <button color="primary" mat-raised-button (click)="updateNote()">
                    Update Note
                  </button>
                </div>
              </mat-form-field>
            } @else {
              <div class="markdown-to-html" [innerHTML]="note.note | marked"></div>
            }
          </mat-card-content>
        </mat-card>
      }
    } @else {
      <!-- <div id="spinner">
          <mat-spinner
            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50"
          ></mat-spinner>
        </div> -->
    }
  </div>

  <div class="h-[150px] border-t border-gray-300 p-2.5">
    <mat-chip-listbox class="mb-2.5" multiple selectable>
      <mat-chip-option
        value="all"
        [selected]="selectedTaskDefinitions.get('all')"
        (click)="toggleSelection('all')"
        >All Tasks</mat-chip-option
      >
      @for (option of taskDefinitionFilters; track option) {
        <mat-chip-option
          [selected]="selectedTaskDefinitions.get(option)"
          [value]="option"
          (click)="toggleSelection(option)"
        >
          {{ option }}
        </mat-chip-option>
      }
    </mat-chip-listbox>

    @if (replyingToNote) {
      <div
        class="flex items-center justify-between rounded-t-md border border-b-0 border-gray-300 p-1 text-sm select-none"
      >
        <div class="flex items-center">
          <mat-icon class="mt-0.5 mr-2">reply</mat-icon>
          <div class="flex flex-col">
            <span class="font-medium">
              Replying to {{ replyingToNote.user.firstName }} {{ replyingToNote.user.lastName }} ({{
                replyingToNote.user.nickname
              }})
            </span>
            <span class="text-xs text-gray-600">{{ replyingToNote.note }}</span>
          </div>
        </div>
        <mat-icon class="cursor-pointer" (click)="cancelReplyingToNote()">close</mat-icon>
      </div>
    }

    <mat-form-field appearance="outline" class="flex w-full items-center">
      <mat-label>Tutor note</mat-label>
      <textarea
        class="w-full resize-none px-1 py-0.5 placeholder:px-1 placeholder:py-0.5"
        matInput
        [(ngModel)]="noteText"
      ></textarea>
      <div class="flex justify-end">
        <button color="primary" mat-raised-button (click)="submitNote()">Submit</button>
      </div>
    </mat-form-field>
  </div>
</div>
