<div class="px-4 pt-8 text-slate-600">
  <p>
    View the task completion statuses across all tasks over time, filtered by campus and/or
    tutorial.
  </p>
</div>
@if (snapshots.length) {
  <div class="min-h-125">
    <ng-charts-area-chart-stacked
      class="reverse-legend-order"
      [animations]="false"
      [gradient]="false"
      [legend]="true"
      [results]="weeklyData"
      [scheme]="$any(colorScheme)"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [tooltipDisabled]="false"
      [xAxis]="true"
      [xAxisLabel]="XAxisLabel"
      [yAxis]="true"
      [yAxisLabel]="YAxisLabel"
    >
    </ng-charts-area-chart-stacked>
  </div>
} @else {
  <div class="flex h-full items-center justify-center">
    <mat-progress-spinner mode="indeterminate" [diameter]="48"></mat-progress-spinner>
  </div>
}
