<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Plan Your Tasks</mat-card-title>
    <mat-card-subtitle class="mb-2.5">
      <p>
        The Task Planner shows a timeline of your tasks, their due dates, and prerequisite
        relationships. Use it to plan when to start and submit tasks, ensuring prerequisites are
        completed early so you have time for feedback.
      </p>
      @if (unit.allowFlexibleDates) {
        <p>
          You can set your own start and target dates. Be mindful of each task’s
          <strong>Feedback Deadline</strong> — submissions after this date will not be checked. Aim
          to finish at least one week before the deadline, especially if you are targeting a higher
          grade.
        </p>
      }
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <button mat-stroked-button [routerLink]="['/projects', project.id, 'plan']">
      <mat-icon aria-label="Launch icon" style="width: 20px; height: 20px; font-size: 20px">
        launch
      </mat-icon>
      View Task Planner
    </button>
  </mat-card-content>
</mat-card>
