@import '../../../../styles/common/hero-sidebar-layout.scss';

.welcome {
  display: flex;
}

.content {
  flex-grow: 1;
  padding-top: 100px;
}

.sign-in-form {
  section {
    padding: 8px;
  }
  .form-field {
    margin: 5px;
  }

  /* checkbox */
  ::ng-deep .mat-checkbox-label {
    font-weight: normal;
  }
}
