<div>
  <h3 mat-dialog-title>Active jobs in progress</h3>
  <mat-dialog-content>
    <div>
      @for (jobEntry of sidekiqJobs; track jobEntry) {
        <div class="flex justify-between items-center p-1">
          <div>{{ jobEntry.title }}</div>
          <div class="flex items-center">
            <div class="mr-6 text-center">{{ jobEntry.job?.status?.toUpperCase() }}</div>
            <div class="flex gap-2.5">
              <button mat-raised-button color="primary" (click)="viewJob(jobEntry)">View</button>
              <button mat-raised-button color="red" (click)="removeJob(jobEntry)">Clear</button>
            </div>
          </div>
        </div>
      }
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="flex justify-between">
    <button mat-raised-button (click)="dismissModal()">Close</button>
  </mat-dialog-actions>
</div>
