.btn-circle-xl {
    background-color: #f03d25;
    border-radius: 72px;
    color: #fff;
    height: 72px;
    transition: width .1s, height .1s;
    width: 72px;
    border: none;
    p {
      font-family: "Helvetica Neue", "Segoe UI", "Helvetica", "Arial", "sans-serif";
      text-rendering: optimizeLegibility;
      line-height: 1.3;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
      text-align: center;
      transform: translate(20%, -50%);
      position: absolute;
    }
    i {
      font-size: 30px;
    }
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}