<div *ngIf="test">
    <h2>Test</h2>
    <div *ngFor="let question of test.questions">
      <h3>{{ question.text }}</h3>
      <ul>
        <li *ngFor="let option of question.options">
          <label>
            <input
              type="radio"
              name="{{ question.text }}"
              [value]="option.text"
              [disabled]="!scorm.isActive()"
              (change)="updateScore()"
            />
            {{ option.text }}
          </label>
        </li>
      </ul>
    </div>
    <h2>Score</h2>
    <p>{{ getScore() }}</p>
  </div>
  <div *ngIf="!test">
    <p>Loading test...</p>
  </div>
  