.mat-card {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
task-ilo-alignment-rater {
    margin-left: auto;
}
p.alignment-rationale {
    margin-top: 4%;
}
.alignment-info p {
    font-size: 1.2em;
}
strong, small {
    margin: auto 0;
}
.mat-expansion-panel {
    margin-bottom: 0.2%;
}