<div class="card card-default card-sm" ng-show="alignments.length > 0">
  <div class="card-heading">
    <h4>Intended Learning Outcomes</h4>
    <div class="text-muted">
      Teaching staff believe that completing this task will help you achieve
      the outcomes listed below.
    </div>
  </div>
  <div class="list-group">
    <button
      class="clearfix list-group-item"
      ng-repeat="alignment in alignments"
      ng-click="alignment.collapsed = !alignment.collapsed">
      <heading>
        <div>
          <h4>
            <strong>{{alignment.ilo.abbreviation}}</strong>
            <small>{{alignment.ilo.name}}</small>
          </h4>
          <p>{{alignment.label}} Click to expand</p>
        </div><!--/alignment-label-->
        <task-ilo-alignment-rater
          readonly="true"
          hide-labels="true"
          unit="taskDef.unit()"
          ng-model="alignment">
        </task-ilo-alignment-rater><!--/alignment-rater-->
      </heading>
      <div class="panel panel-default" collapse="!alignment.collapsed">
        <div class="panel-body">
          <p>
            <h5>Outcome Description</h5>
            <div class="markdown-to-html" ng-bind-html="alignment.ilo.description | markdown"></div>
          </p>
          <p>
            <h5>Rationale</h5>
            <div class="markdown-to-html" ng-bind-html="alignment.description | markdown"></div>
          </p>
        </div>
      </div>
    </button>
  </div>
</div>
